{"swagger":"2.0","info":{"description":"Get account details","version":"v1.0.0","title":"Accounts APIs"},"host":"api.temenos.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/accounts/{accountId}":{"get":{"operationId":"getAccountDetails","parameters":[{"name":"accountId","in":"path","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"AccountDetailsResponse","schema":{"$ref":"#/definitions/AccountDetailsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"AccountDetailsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/AccountDetailsResponseBody"}},"description":"AccountDetailsResponse"},"AccountDetailsResponseBody":{"type":"array","items":{"type":"object","properties":{"sharedLimitAccounts":{"type":"array","description":"","items":{"type":"object","properties":{"sharedLimitAccount":{"type":"string","description":""},"sharedLimitAccountType":{"type":"string","description":""}}}},"taxRates":{"type":"array","description":"The applicable rate of tax","items":{"type":"object","properties":{"taxRate":{"type":"string","description":"The applicable rate of tax"}}}},"interests":{"type":"array","items":{"type":"object","properties":{"interestPropertyName":{"type":"string","description":"The name that is displayed for the interest property"},"interestCompoundType":{"type":"string","description":"The indicator used to specify the method of calculation of compound interest"},"interestCompoundTypeValue":{"type":"string","description":"The calculated interest amount using the associated compound interest type"},"consolidateInterests":{"type":"array","items":{"type":"object","properties":{"consolidateInterest":{"type":"string","description":"The calculated interest amount using the associated compound interest type"}}}}}}},"sharedInterestAccounts":{"type":"array","description":"","items":{"type":"object","properties":{"sharedInterestAccount":{"type":"string","description":""},"sharedInterestAccountType":{"type":"string","description":""}}}},"charges":{"type":"array","description":"","items":{"type":"object","properties":{"paymentFrequency":{"type":"string","description":"The frequency at which a payment is required to be generated"},"paymentTypeName":{"type":"string","description":"The name that is displayed for the paymentType"},"propertyName":{"type":"string","description":"The name that is displayed for the property"},"paymentMethod":{"type":"string","description":"The type of method used for the payment"},"chargeSchedulePaymentValue":{"type":"string","description":"The amount of the scheduled charge"}}}},"openActualBalance":{"type":"number","description":"The actual balance of the account as at the start of the current business day. "},"availableOverdraftLimit":{"type":"number","description":"The amount of the unused overdraft limit"},"openingDate":{"type":"string","format":"date","description":""},"approvedOverdraftLimit":{"type":"number","description":"The ammount of the approved overdraft"},"limitExpiryDate":{"type":"string","format":"date","description":"This field specifies the validity of the Limit, i.e. how long is it to remain in force"},"availableFunds":{"type":"number","description":""},"outstandingOverdraftLimit":{"type":"number","description":"The outstanding amount of the overdraft limit"},"onlineClearedBalance":{"type":"number","description":"The total of cleared funds booked against the account. Same as onlineActualBalance with the exception of credit or reversed debit entries with the exposure date in the future."},"openClearedBalance":{"type":"number","description":"The cleared balance of the account as at the start of the current business day"},"accountWithBankBIC":{"type":"string","description":"BIC of Account with Bank being the bank where the beneficiary maintains his account."}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}},"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}}}}