{"swagger":"2.0","info":{"description":"Get and Management of Adverts","version":"v1.0.0","title":"Adverts APIs"},"host":"api.temenos.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/adverts/customers/{customerId}/adverts":{"get":{"operationId":"getCustomerAdverts","parameters":[{"name":"customerId","in":"path","required":true,"type":"string"},{"name":"languageId","in":"query","description":"The identifier of the language","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"CustomerAdvertsResponse","schema":{"$ref":"#/definitions/CustomerAdvertsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/adverts/{advertId}":{"put":{"operationId":"updateAdvert","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/updateAdvert"}},{"name":"advertId","in":"path","required":true,"type":"string"},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"AdvertResponse","schema":{"$ref":"#/definitions/AdvertResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"CustomerAdvertsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/CustomerAdvertsResponseBody"}},"description":"CustomerAdvertsResponse"},"CustomerAdvertsResponseBody":{"type":"array","items":{"type":"object","properties":{"opportunities":{"type":"array","description":"","items":{"type":"object","properties":{"opportunityProductId":{"type":"string","description":""},"opportunityDirection":{"type":"string","description":""},"opportunityGeneratorId":{"type":"string","description":""},"opportunityTemplateId":{"type":"string","description":""},"opportunityTemplateDisplayName":{"type":"string","description":""},"opportunityStatus":{"type":"string","description":""},"opportunityProbabilitySuccess":{"type":"string","description":""},"opportunityDisplayName":{"type":"string","description":"The name that is displayed for the oppportunity, opportunityName"}}}},"advertDocs":{"type":"array","items":{"type":"object","properties":{"advertDocImageId":{"type":"string","description":""},"advertDocImageType":{"type":"string","description":""},"advertDocImageMediaType":{"type":"string","description":""},"advertDocImageName":{"type":"string","description":""}}}},"advertDetails":{"type":"array","items":{"type":"object","properties":{"advertDetailDocImageId":{"type":"string","description":""},"advertDetailDocImageType":{"type":"string","description":""},"advertDetailDocImageMediaType":{"type":"string","description":""},"advertDetailDocImageName":{"type":"string","description":""}}}},"products":{"type":"array","description":"","items":{"type":"object","properties":{"productGroupId":{"type":"string","description":"The identifier of the product group"},"productLineId":{"type":"string","description":"The identifier of the product line"}}}},"opportunityId":{"type":"string","description":"The identifier of the opportunity"},"campaignId":{"type":"string","description":"The identifier of the campaign"},"versionNumber":{"type":"string","description":""}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}},"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}},"audit":{"type":"object","properties":{"versionNumber":{"type":"string","description":"The CURR.NO. of the record"}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"updateAdvert":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/updateAdvertBody"}},"description":"Advert"},"updateAdvertBody":{"type":"object","properties":{"customerId":{"type":"string","description":"The identifier of the customer"},"opportunityProductId":{"type":"string","description":""},"opportunityDirection":{"type":"string","description":""},"opportunityTemplateId":{"type":"string","description":""},"startDate":{"type":"string","format":"date","description":"The start date"},"opportunityStatus":{"type":"string","description":""},"transactionApplication":{"type":"string","description":""},"transactionId":{"type":"string","description":"The unique transaction identifier"}}},"AdvertResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/AdvertResponseBody"}},"description":"AdvertResponse"},"AdvertResponseBody":{"type":"object","properties":{"customerId":{"type":"string","description":"The identifier of the customer"},"opportunityProductId":{"type":"string","description":""},"opportunityDirection":{"type":"string","description":""},"opportunityTemplateId":{"type":"string","description":""},"startDate":{"type":"string","format":"date","description":"The start date"},"opportunityStatus":{"type":"string","description":""},"transactionApplication":{"type":"string","description":""},"transactionId":{"type":"string","description":"The unique transaction identifier"}}},"ScreenErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/ScreenErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"ScreenErrorResponse"},"ScreenErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}}}}