{"swagger":"2.0","info":{"description":"Get and management of alerts","version":"v1.0.0","title":"Alerts APIs"},"host":"api.temenos.com","basePath":"/api/v1.0.0/","schemes":["http"],"security":[{"basicAuth":[]}],"paths":{"/alerts/customers/{customerId}/deliveryPreferences":{"get":{"operationId":"getCustomerDeliveryPreferences","parameters":[{"name":"customerId","in":"path","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"CustomerDeliveryPreferencesResponse","schema":{"$ref":"#/definitions/CustomerDeliveryPreferencesResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}},"post":{"operationId":"createCustomerDeliveryPreference","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/createCustomerDeliveryPreference"}},{"name":"customerId","in":"path","required":true,"type":"string"},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"CustomerDeliveryPreferenceResponse","schema":{"$ref":"#/definitions/CustomerDeliveryPreferenceResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}},"put":{"operationId":"updateCustomerDeliveryPreference","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/updateCustomerDeliveryPreference"}},{"name":"customerId","in":"path","required":true,"type":"string"},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"CustomerDeliveryPreferenceResponse","schema":{"$ref":"#/definitions/CustomerDeliveryPreferenceResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/alerts/arrangements/{arrangementId}/alerts":{"get":{"operationId":"getSubscribedAlerts","parameters":[{"name":"arrangementId","in":"path","required":true,"type":"string"},{"name":"customerId","in":"query","description":"The identifier of the customer","required":false,"type":"string"},{"name":"subscribe","in":"query","required":false,"type":"string"},{"name":"alertRequestId","in":"query","description":"The identifier of the alert request","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"SubscribedAlertsResponse","schema":{"$ref":"#/definitions/SubscribedAlertsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/alerts/accounts/{accountId}/alertEvents":{"get":{"operationId":"getEligibleEvents","parameters":[{"name":"accountId","in":"path","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"EligibleEventsResponse","schema":{"$ref":"#/definitions/EligibleEventsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/alerts/alertRequests/{alertRequestId}":{"put":{"operationId":"updateAlertSubscription","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/updateAlertSubscription"}},{"name":"alertRequestId","in":"path","required":true,"type":"string"},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"AlertSubscriptionResponse","schema":{"$ref":"#/definitions/AlertSubscriptionResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/alerts/alertRequests":{"post":{"operationId":"createAlertSubscription","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/createAlertSubscription"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"AlertSubscriptionResponse","schema":{"$ref":"#/definitions/AlertSubscriptionResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"CustomerDeliveryPreferencesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/CustomerDeliveryPreferencesResponseBody"}},"description":"CustomerDeliveryPreferencesResponse"},"CustomerDeliveryPreferencesResponseBody":{"type":"array","items":{"type":"object","properties":{"groups":{"type":"array","description":"Carrier to be used for sending messages.","items":{"type":"object","properties":{"messageGroupId":{"type":"string","description":"","maxLength":35},"carriers":{"type":"array","items":{"type":"object","properties":{"carrierId":{"type":"string","description":"","maxLength":35},"required":{"type":"string","description":"","maxLength":35},"carrierPosition":{"type":"string","description":"","maxLength":35}}}}}}},"customerId":{"type":"string","description":"The identifier of the customer","maxLength":35},"versionNumber":{"type":"string","description":"","maxLength":4}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}},"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}},"audit":{"type":"object","properties":{"versionNumber":{"type":"string","description":"The CURR.NO. of the record"}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"SubscribedAlertsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/SubscribedAlertsResponseBody"}},"description":"SubscribedAlertsResponse"},"SubscribedAlertsResponseBody":{"type":"array","items":{"type":"object","properties":{"fields":{"type":"array","description":"","items":{"type":"object","properties":{"fieldDisplayName":{"type":"string","description":"","maxLength":50},"operand":{"type":"string","description":"Defines the operand","maxLength":35},"fieldValue":{"type":"string","description":"","maxLength":35}}}},"alertRequestId":{"type":"string","description":"The identifier of the alert request","maxLength":35},"contractReference":{"type":"string","description":"","maxLength":35},"eventId":{"type":"string","description":"The identifier of the event","maxLength":35},"displayName":{"type":"string","description":"The name used for display purposes","maxLength":35},"messageGroupId":{"type":"string","description":"","maxLength":35},"versionNumber":{"type":"string","description":"","maxLength":4}}}},"EligibleEventsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/EligibleEventsResponseBody"}},"description":"EligibleEventsResponse"},"EligibleEventsResponseBody":{"type":"array","items":{"type":"object","properties":{"fields":{"type":"array","description":"","items":{"type":"object","properties":{"fieldDisplayName":{"type":"string","description":""},"operand":{"type":"string","description":"Defines the operand"},"fieldValue":{"type":"string","description":""}}}},"eventId":{"type":"string","description":"The identifier of the event"},"displayName":{"type":"string","description":"The name used for display purposes"},"displayCondition":{"type":"string","description":""},"messageGroupId":{"type":"string","description":""},"subscriptionLevel":{"type":"string","description":""}}}},"updateAlertSubscription":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/updateAlertSubscriptionBody"}},"description":"AlertSubscription"},"updateAlertSubscriptionBody":{"type":"object","properties":{"fields":{"type":"array","description":"","items":{"type":"object","properties":{"fieldDisplayName":{"type":"string","description":""},"operand":{"type":"string","description":"Defines the operand"},"fieldValue":{"type":"string","description":""}}}},"eventId":{"type":"string","description":"The identifier of the event"},"contractReference":{"type":"string","description":""},"customerId":{"type":"string","description":"The identifier of the customer"},"subscribe":{"type":"string","description":""}}},"AlertSubscriptionResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/AlertSubscriptionResponseBody"}},"description":"AlertSubscriptionResponse"},"AlertSubscriptionResponseBody":{"type":"object","properties":{"fields":{"type":"array","description":"","items":{"type":"object","properties":{"fieldDisplayName":{"type":"string","description":""},"operand":{"type":"string","description":"Defines the operand"},"fieldValue":{"type":"string","description":""}}}},"eventId":{"type":"string","description":"The identifier of the event"},"contractReference":{"type":"string","description":""},"customerId":{"type":"string","description":"The identifier of the customer"},"subscribe":{"type":"string","description":""}}},"ScreenErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/ScreenErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"ScreenErrorResponse"},"ScreenErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}},"createAlertSubscription":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/createAlertSubscriptionBody"}},"description":"AlertSubscription"},"createAlertSubscriptionBody":{"type":"object","properties":{"fields":{"type":"array","description":"","items":{"type":"object","properties":{"fieldDisplayName":{"type":"string","description":""},"operand":{"type":"string","description":"Defines the operand"},"fieldValue":{"type":"string","description":""}}}},"eventId":{"type":"string","description":"The identifier of the event"},"contractReference":{"type":"string","description":""},"customerId":{"type":"string","description":"The identifier of the customer"},"subscribe":{"type":"string","description":""}}},"updateCustomerDeliveryPreference":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/updateCustomerDeliveryPreferenceBody"}},"description":"CustomerDeliveryPreference"},"updateCustomerDeliveryPreferenceBody":{"type":"object","properties":{"groups":{"type":"array","description":"Carrier to be used for sending messages.","items":{"type":"object","properties":{"messageGroupId":{"type":"string","description":""},"carriers":{"type":"array","items":{"type":"object","properties":{"carrierId":{"type":"string","description":""},"required":{"type":"string","description":""},"carrierPosition":{"type":"string","description":""}}}}}}}}},"CustomerDeliveryPreferenceResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/CustomerDeliveryPreferenceResponseBody"}},"description":"CustomerDeliveryPreferenceResponse"},"CustomerDeliveryPreferenceResponseBody":{"type":"object","properties":{"groups":{"type":"array","description":"Carrier to be used for sending messages.","items":{"type":"object","properties":{"messageGroupId":{"type":"string","description":""},"carriers":{"type":"array","items":{"type":"object","properties":{"carrierId":{"type":"string","description":""},"required":{"type":"string","description":""},"carrierPosition":{"type":"string","description":""}}}}}}}}},"createCustomerDeliveryPreference":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/createCustomerDeliveryPreferenceBody"}},"description":"CustomerDeliveryPreference"},"createCustomerDeliveryPreferenceBody":{"type":"object","properties":{"groups":{"type":"array","description":"Carrier to be used for sending messages.","items":{"type":"object","properties":{"messageGroupId":{"type":"string","description":""},"carriers":{"type":"array","items":{"type":"object","properties":{"carrierId":{"type":"string","description":""},"required":{"type":"string","description":""},"carrierPosition":{"type":"string","description":""}}}}}}}}}}}