{"swagger":"2.0","info":{"description":"Get and Management of Beneficiaries","version":"v1.0.0","title":"Beneficiaries APIs"},"host":"api.temenos.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/beneficiaries/utilityBeneficiaries":{"get":{"operationId":"getUtilityBeneficiaries","parameters":[{"name":"companyName","in":"query","description":"The name that is displayed for the company","required":false,"type":"string"},{"name":"companyNameCT","in":"query","required":false,"type":"string"},{"name":"beneficiaryId","in":"query","description":"The identifier of the beneficiary","required":false,"type":"string"},{"name":"beneficiaryAccountId","in":"query","description":"The identifier of the beneficiary account","required":false,"type":"string"},{"name":"bankSortCode","in":"query","description":"Defines the bank sorting code of the bank and branch. The code entered must exist as a sort code. 6 numeric characters.","required":false,"type":"string"},{"name":"transactionType","in":"query","description":"","required":false,"type":"string"},{"name":"preferredPaymentProductId","in":"query","required":false,"type":"string"},{"name":"beneficiaryIBAN","in":"query","description":"The IBAN of the beneficiary's account","required":false,"type":"string"},{"name":"customerId","in":"query","description":"The identifier of the customer","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"UtilityBeneficiariesResponse","schema":{"$ref":"#/definitions/UtilityBeneficiariesResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}},"post":{"operationId":"createCustomerUtilityBeneficiary","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/createCustomerUtilityBeneficiary"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"BeneficiaryResponse","schema":{"$ref":"#/definitions/BeneficiaryResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/beneficiaries/{beneficiaryId}":{"put":{"operationId":"updateBeneficiary","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/updateBeneficiary"}},{"name":"beneficiaryId","in":"path","required":true,"type":"string"},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"BeneficiaryResponse","schema":{"$ref":"#/definitions/BeneficiaryResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}},"delete":{"operationId":"deleteBeneficiary","parameters":[{"name":"beneficiaryId","in":"path","required":true,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"BeneficiaryResponse","schema":{"$ref":"#/definitions/BeneficiaryResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/beneficiaries":{"post":{"operationId":"createBeneficiary","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/createBeneficiary"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"BeneficiaryResponse","schema":{"$ref":"#/definitions/BeneficiaryResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/beneficiaries/domesticBeneficiaries":{"post":{"operationId":"createDomesticBeneficiary","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/createDomesticBeneficiary"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"BeneficiaryResponse","schema":{"$ref":"#/definitions/BeneficiaryResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/beneficiaries/internationalBeneficiaries":{"post":{"operationId":"createInternationalBeneficiary","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/createInternationalBeneficiary"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"BeneficiaryResponse","schema":{"$ref":"#/definitions/BeneficiaryResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/beneficiaries/customers/{customerId}/beneficiaries":{"get":{"operationId":"getCustomerBeneficiaries","parameters":[{"name":"customerId","in":"path","required":true,"type":"string"},{"name":"externalBeneficiaryFlag","in":"query","required":false,"type":"string"},{"name":"paymentScheme","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"CustomerBeneficiariesResponse","schema":{"$ref":"#/definitions/CustomerBeneficiariesResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"UtilityBeneficiariesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/UtilityBeneficiariesResponseBody"}},"description":"UtilityBeneficiariesResponse"},"UtilityBeneficiariesResponseBody":{"type":"array","items":{"type":"object","properties":{"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary","maxLength":17},"companyName":{"type":"string","description":"The name that is displayed for the company","maxLength":35},"categoryId":{"type":"string","description":"The identifier of the category","maxLength":35},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account","maxLength":34},"bankSortCode":{"type":"string","description":"Defines the bank sorting code of the bank and branch. The code entered must exist as a sort code. 6 numeric characters.","maxLength":20},"preferredPaymentProductId":{"type":"string","description":"","maxLength":10}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}},"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"updateBeneficiary":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/updateBeneficiaryBody"}},"description":"Beneficiary"},"updateBeneficiaryBody":{"type":"object","properties":{"beneficiaryNickNames":{"type":"array","description":"The nick name of the beneficiary","items":{"type":"object","properties":{"beneficiaryNickName":{"type":"string","description":"The nick name of the beneficiary"}}}},"beneficiaryBICIBANNames":{"type":"array","items":{"type":"object","properties":{"beneficiaryBICIBANName":{"type":"string","description":""}}}},"paymentDetails":{"type":"array","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment.","items":{"type":"object","properties":{"paymentDetail":{"type":"string","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment."}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"transactionType":{"type":"string","description":""},"beneficiaryCustomerId":{"type":"string","description":"The customer identifier where the beneficiary is a customer of the bank"},"customerId":{"type":"string","description":"The identifier of the customer"},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account"},"bankSortCode":{"type":"string","description":"Defines the bank sorting code of the bank and branch. The code entered must exist as a sort code. 6 numeric characters."},"customerReference":{"type":"string","description":"The reference quoted by customer of the ordering account in a payment that is to be communicated to the beneficiary when a payment takes place"},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer "},"defaultNarrative":{"type":"string","description":""},"linkToBeneficiaryId":{"type":"string","description":""},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"beneficiaryBICIBAN":{"type":"string","description":""},"beneficiaryBICIBANCity":{"type":"string","description":""},"preferredPaymentAmount":{"type":"number","description":"The payment amount to be populated in the FT (Fund Transfer) or Payment Order when the Beneficiary will be used is displayed in this field "},"preferredPaymentProduct":{"type":"string","description":"The preferred payment order product which allows payment through the beneficiary"},"accountWithBank":{"type":"string","description":"Identifies the bank where the beneficiary maintains his account."},"paymentCurrencyId":{"type":"string","description":"The identifier of the payment currency"},"beneficiaryOurCharges":{"type":"string","description":"Determines who will be responsible for charges."},"paymentCountry":{"type":"string","description":"The country to which a payment is sent, usually where the beneficiary resides"},"accountWithBankSortCode":{"type":"string","description":""},"recordStatus":{"type":"string","description":"The status of the record processed"}}},"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}},"audit":{"type":"object","properties":{"versionNumber":{"type":"string","description":"The CURR.NO. of the record"}}}}},"BeneficiaryResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/BeneficiaryResponseBody"}},"description":"BeneficiaryResponse"},"BeneficiaryResponseBody":{"type":"object","properties":{"beneficiaryNickNames":{"type":"array","description":"The nick name of the beneficiary","items":{"type":"object","properties":{"beneficiaryNickName":{"type":"string","description":"The nick name of the beneficiary"}}}},"beneficiaryBICIBANNames":{"type":"array","items":{"type":"object","properties":{"beneficiaryBICIBANName":{"type":"string","description":""}}}},"paymentDetails":{"type":"array","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment.","items":{"type":"object","properties":{"paymentDetail":{"type":"string","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment."}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"transactionType":{"type":"string","description":""},"beneficiaryCustomerId":{"type":"string","description":"The customer identifier where the beneficiary is a customer of the bank"},"customerId":{"type":"string","description":"The identifier of the customer"},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account"},"bankSortCode":{"type":"string","description":"Defines the bank sorting code of the bank and branch. The code entered must exist as a sort code. 6 numeric characters."},"customerReference":{"type":"string","description":"The reference quoted by customer of the ordering account in a payment that is to be communicated to the beneficiary when a payment takes place"},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer "},"defaultNarrative":{"type":"string","description":""},"linkToBeneficiaryId":{"type":"string","description":""},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"beneficiaryBICIBAN":{"type":"string","description":""},"beneficiaryBICIBANCity":{"type":"string","description":""},"preferredPaymentAmount":{"type":"number","description":"The payment amount to be populated in the FT (Fund Transfer) or Payment Order when the Beneficiary will be used is displayed in this field "},"preferredPaymentProduct":{"type":"string","description":"The preferred payment order product which allows payment through the beneficiary"},"accountWithBank":{"type":"string","description":"Identifies the bank where the beneficiary maintains his account."},"paymentCurrencyId":{"type":"string","description":"The identifier of the payment currency"},"beneficiaryOurCharges":{"type":"string","description":"Determines who will be responsible for charges."},"paymentCountry":{"type":"string","description":"The country to which a payment is sent, usually where the beneficiary resides"},"accountWithBankSortCode":{"type":"string","description":""},"recordStatus":{"type":"string","description":"The status of the record processed"}}},"ScreenErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/ScreenErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"ScreenErrorResponse"},"ScreenErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"createBeneficiary":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/createBeneficiaryBody"}},"description":"Beneficiary"},"createBeneficiaryBody":{"type":"object","properties":{"beneficiaryNickNames":{"type":"array","description":"The nick name of the beneficiary","items":{"type":"object","properties":{"beneficiaryNickName":{"type":"string","description":"The nick name of the beneficiary"}}}},"beneficiaryBICIBANNames":{"type":"array","items":{"type":"object","properties":{"beneficiaryBICIBANName":{"type":"string","description":""}}}},"paymentDetails":{"type":"array","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment.","items":{"type":"object","properties":{"paymentDetail":{"type":"string","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment."}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"transactionType":{"type":"string","description":""},"beneficiaryCustomerId":{"type":"string","description":"The customer identifier where the beneficiary is a customer of the bank"},"customerId":{"type":"string","description":"The identifier of the customer"},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account"},"bankSortCode":{"type":"string","description":"Defines the bank sorting code of the bank and branch. The code entered must exist as a sort code. 6 numeric characters."},"customerReference":{"type":"string","description":"The reference quoted by customer of the ordering account in a payment that is to be communicated to the beneficiary when a payment takes place"},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer "},"defaultNarrative":{"type":"string","description":""},"linkToBeneficiaryId":{"type":"string","description":""},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"beneficiaryBICIBAN":{"type":"string","description":""},"beneficiaryBICIBANCity":{"type":"string","description":""},"preferredPaymentAmount":{"type":"number","description":"The payment amount to be populated in the FT (Fund Transfer) or Payment Order when the Beneficiary will be used is displayed in this field "},"preferredPaymentProduct":{"type":"string","description":"The preferred payment order product which allows payment through the beneficiary"},"accountWithBank":{"type":"string","description":"Identifies the bank where the beneficiary maintains his account."},"paymentCurrencyId":{"type":"string","description":"The identifier of the payment currency"},"beneficiaryOurCharges":{"type":"string","description":"Determines who will be responsible for charges."},"paymentCountry":{"type":"string","description":"The country to which a payment is sent, usually where the beneficiary resides"},"accountWithBankSortCode":{"type":"string","description":""},"recordStatus":{"type":"string","description":"The status of the record processed"}}},"createDomesticBeneficiary":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/createDomesticBeneficiaryBody"}},"description":"Beneficiary"},"createDomesticBeneficiaryBody":{"type":"object","properties":{"beneficiaryNickNames":{"type":"array","description":"The nick name of the beneficiary","items":{"type":"object","properties":{"beneficiaryNickName":{"type":"string","description":"The nick name of the beneficiary"}}}},"beneficiaryBICIBANNames":{"type":"array","items":{"type":"object","properties":{"beneficiaryBICIBANName":{"type":"string","description":""}}}},"paymentDetails":{"type":"array","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment.","items":{"type":"object","properties":{"paymentDetail":{"type":"string","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment."}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"transactionType":{"type":"string","description":""},"beneficiaryCustomerId":{"type":"string","description":"The customer identifier where the beneficiary is a customer of the bank"},"customerId":{"type":"string","description":"The identifier of the customer"},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account"},"bankSortCode":{"type":"string","description":"Defines the bank sorting code of the bank and branch. The code entered must exist as a sort code. 6 numeric characters."},"customerReference":{"type":"string","description":"The reference quoted by customer of the ordering account in a payment that is to be communicated to the beneficiary when a payment takes place"},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer "},"defaultNarrative":{"type":"string","description":""},"linkToBeneficiaryId":{"type":"string","description":""},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"beneficiaryBICIBAN":{"type":"string","description":""},"beneficiaryBICIBANCity":{"type":"string","description":""},"preferredPaymentAmount":{"type":"number","description":"The payment amount to be populated in the FT (Fund Transfer) or Payment Order when the Beneficiary will be used is displayed in this field "},"preferredPaymentProduct":{"type":"string","description":"The preferred payment order product which allows payment through the beneficiary"},"accountWithBank":{"type":"string","description":"Identifies the bank where the beneficiary maintains his account."},"paymentCurrencyId":{"type":"string","description":"The identifier of the payment currency"},"beneficiaryOurCharges":{"type":"string","description":"Determines who will be responsible for charges."},"paymentCountry":{"type":"string","description":"The country to which a payment is sent, usually where the beneficiary resides"},"accountWithBankSortCode":{"type":"string","description":""},"recordStatus":{"type":"string","description":"The status of the record processed"}}},"createInternationalBeneficiary":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/createInternationalBeneficiaryBody"}},"description":"Beneficiary"},"createInternationalBeneficiaryBody":{"type":"object","properties":{"beneficiaryNickNames":{"type":"array","description":"The nick name of the beneficiary","items":{"type":"object","properties":{"beneficiaryNickName":{"type":"string","description":"The nick name of the beneficiary"}}}},"beneficiaryBICIBANNames":{"type":"array","items":{"type":"object","properties":{"beneficiaryBICIBANName":{"type":"string","description":""}}}},"paymentDetails":{"type":"array","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment.","items":{"type":"object","properties":{"paymentDetail":{"type":"string","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment."}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"transactionType":{"type":"string","description":""},"beneficiaryCustomerId":{"type":"string","description":"The customer identifier where the beneficiary is a customer of the bank"},"customerId":{"type":"string","description":"The identifier of the customer"},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account"},"bankSortCode":{"type":"string","description":"Defines the bank sorting code of the bank and branch. The code entered must exist as a sort code. 6 numeric characters."},"customerReference":{"type":"string","description":"The reference quoted by customer of the ordering account in a payment that is to be communicated to the beneficiary when a payment takes place"},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer "},"defaultNarrative":{"type":"string","description":""},"linkToBeneficiaryId":{"type":"string","description":""},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"beneficiaryBICIBAN":{"type":"string","description":""},"beneficiaryBICIBANCity":{"type":"string","description":""},"preferredPaymentAmount":{"type":"number","description":"The payment amount to be populated in the FT (Fund Transfer) or Payment Order when the Beneficiary will be used is displayed in this field "},"preferredPaymentProduct":{"type":"string","description":"The preferred payment order product which allows payment through the beneficiary"},"accountWithBank":{"type":"string","description":"Identifies the bank where the beneficiary maintains his account."},"paymentCurrencyId":{"type":"string","description":"The identifier of the payment currency"},"beneficiaryOurCharges":{"type":"string","description":"Determines who will be responsible for charges."},"paymentCountry":{"type":"string","description":"The country to which a payment is sent, usually where the beneficiary resides"},"accountWithBankSortCode":{"type":"string","description":""},"recordStatus":{"type":"string","description":"The status of the record processed"}}},"createCustomerUtilityBeneficiary":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/createCustomerUtilityBeneficiaryBody"}},"description":"Beneficiary"},"createCustomerUtilityBeneficiaryBody":{"type":"object","properties":{"beneficiaryNickNames":{"type":"array","description":"The nick name of the beneficiary","items":{"type":"object","properties":{"beneficiaryNickName":{"type":"string","description":"The nick name of the beneficiary"}}}},"beneficiaryBICIBANNames":{"type":"array","items":{"type":"object","properties":{"beneficiaryBICIBANName":{"type":"string","description":""}}}},"paymentDetails":{"type":"array","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment.","items":{"type":"object","properties":{"paymentDetail":{"type":"string","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment."}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"transactionType":{"type":"string","description":""},"beneficiaryCustomerId":{"type":"string","description":"The customer identifier where the beneficiary is a customer of the bank"},"customerId":{"type":"string","description":"The identifier of the customer"},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account"},"bankSortCode":{"type":"string","description":"Defines the bank sorting code of the bank and branch. The code entered must exist as a sort code. 6 numeric characters."},"customerReference":{"type":"string","description":"The reference quoted by customer of the ordering account in a payment that is to be communicated to the beneficiary when a payment takes place"},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer "},"defaultNarrative":{"type":"string","description":""},"linkToBeneficiaryId":{"type":"string","description":""},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"beneficiaryBICIBAN":{"type":"string","description":""},"beneficiaryBICIBANCity":{"type":"string","description":""},"preferredPaymentAmount":{"type":"number","description":"The payment amount to be populated in the FT (Fund Transfer) or Payment Order when the Beneficiary will be used is displayed in this field "},"preferredPaymentProduct":{"type":"string","description":"The preferred payment order product which allows payment through the beneficiary"},"accountWithBank":{"type":"string","description":"Identifies the bank where the beneficiary maintains his account."},"paymentCurrencyId":{"type":"string","description":"The identifier of the payment currency"},"beneficiaryOurCharges":{"type":"string","description":"Determines who will be responsible for charges."},"paymentCountry":{"type":"string","description":"The country to which a payment is sent, usually where the beneficiary resides"},"accountWithBankSortCode":{"type":"string","description":""},"recordStatus":{"type":"string","description":"The status of the record processed"}}},"CustomerBeneficiariesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/CustomerBeneficiariesResponseBody"}},"description":"CustomerBeneficiariesResponse"},"CustomerBeneficiariesResponseBody":{"type":"array","items":{"type":"object","properties":{"beneficiaries":{"type":"array","description":"","items":{"type":"object","properties":{"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account"},"beneficiaryCustomerId":{"type":"string","description":"The customer identifier where the beneficiary is a customer of the bank"},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer "},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"beneficiaryNickName":{"type":"string","description":"The nick name of the beneficiary"},"beneficiaryCustomerNickName":{"type":"string","description":"The nick name assigned to a benefeciary by the customer"},"beneficiaryOurCharges":{"type":"string","description":"Determines who will be responsible for charges."}}}},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary"},"companyName":{"type":"string","description":"The name that is displayed for the company"},"categoryId":{"type":"string","description":"The identifier of the category"},"transactionName":{"type":"string","description":"The name of the transaction"},"transactionType":{"type":"string","description":""},"bankSortCode":{"type":"string","description":"Defines the bank sorting code of the bank and branch. The code entered must exist as a sort code. 6 numeric characters."},"linkToBeneficiaryId":{"type":"string","description":""},"customerReference":{"type":"string","description":"The reference quoted by customer of the ordering account in a payment that is to be communicated to the beneficiary when a payment takes place"},"comment":{"type":"string","description":"Relevant comments"},"accountWithBank":{"type":"string","description":"Identifies the bank where the beneficiary maintains his account."},"paymentCurrencyId":{"type":"string","description":"The identifier of the payment currency"},"preferredPaymentAmount":{"type":"number","description":"The payment amount to be populated in the FT (Fund Transfer) or Payment Order when the Beneficiary will be used is displayed in this field "},"paymentCountry":{"type":"string","description":"The country to which a payment is sent, usually where the beneficiary resides"},"preferredPaymentProductId":{"type":"string","description":""},"accountWithBankSortCode":{"type":"string","description":""},"versionNumber":{"type":"string","description":""}}}}}}