{"swagger":"2.0","info":{"description":"Get and management of cheques","version":"v1.0.0","title":"Cheques APIs"},"host":"api.temenos.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/cheques/chequeTypes":{"get":{"operationId":"getChequeTypes","parameters":[{"name":"category","in":"query","description":"","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ChequeTypesResponse","schema":{"$ref":"#/definitions/ChequeTypesResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/cheques/chequeIssues/":{"get":{"operationId":"getChequeIssues","parameters":[{"name":"chequeIssueId","in":"query","required":false,"type":"string"},{"name":"accountId","in":"query","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ChequeIssuesResponse","schema":{"$ref":"#/definitions/ChequeIssuesResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/cheques/paymentStops/{paymentStopId}":{"post":{"operationId":"createPaymentStop","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/createPaymentStop"}},{"name":"paymentStopId","in":"path","required":true,"type":"string"},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PaymentStopResponse","schema":{"$ref":"#/definitions/PaymentStopResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}},"put":{"operationId":"updatePaymentStop","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/updatePaymentStop"}},{"name":"paymentStopId","in":"path","required":true,"type":"string"},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PaymentStopResponse","schema":{"$ref":"#/definitions/PaymentStopResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/cheques/chequeIssues/{chequeIssueId}":{"post":{"operationId":"createChequeIssue","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/createChequeIssue"}},{"name":"chequeIssueId","in":"path","required":true,"type":"string"},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ChequeIssueResponse","schema":{"$ref":"#/definitions/ChequeIssueResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/cheques/paymentStops":{"get":{"operationId":"getPaymentStop","parameters":[{"name":"accountId","in":"query","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","required":false,"type":"string"},{"name":"customerId","in":"query","description":"The identifier of the customer","required":false,"type":"string"},{"name":"stopTypeId","in":"query","description":"The payment stop identifier code","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PaymentStopsResponse","schema":{"$ref":"#/definitions/PaymentStopsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/cheques":{"get":{"operationId":"getCheques","parameters":[{"name":"chequeId","in":"query","description":"The identifier of the cheque. Formed as chequeType.accountId.chequeOrDraftNumber","required":false,"type":"string"},{"name":"accountId","in":"query","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ChequesResponse","schema":{"$ref":"#/definitions/ChequesResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"ChequeTypesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/ChequeTypesResponseBody"}},"description":"ChequeTypesResponse"},"ChequeTypesResponseBody":{"type":"array","items":{"type":"object","properties":{"chequeId":{"type":"string","description":"The identifier of the cheque. Formed as chequeType.accountId.chequeOrDraftNumber","maxLength":4},"displayName":{"type":"string","description":"The name used for display purposes","maxLength":35}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}},"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"ErrorHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"ChequeIssuesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/ChequeIssuesResponseBody"}},"description":"ChequeIssuesResponse"},"ChequeIssuesResponseBody":{"type":"array","items":{"type":"object","properties":{"chequeIssueId":{"type":"string","description":"","maxLength":49},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","maxLength":19},"chequeNumberStart":{"type":"string","description":"","maxLength":35},"chequeStatus":{"type":"string","description":"","maxLength":2},"displayName":{"type":"string","description":"The name used for display purposes"},"requestDate":{"type":"string","format":"date","description":"Indicates the date on which the client’s request to be classified as professional has been received."},"versionNumber":{"type":"string","description":"","maxLength":4}}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}},"audit":{"type":"object","properties":{"versionNumber":{"type":"string","description":"The CURR.NO. of the record"}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"updatePaymentStop":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/updatePaymentStopBody"}},"description":"PaymentStop"},"updatePaymentStopBody":{"type":"object","properties":{"stops":{"type":"array","description":"","items":{"type":"object","properties":{"stopTypeId":{"type":"string","description":"The payment stop identifier code"},"firstChequeId":{"type":"string","description":"Identifies the first chequeId in a range or, if lastChequeId is not entered, then only chequeId which is being stopped. "},"lastChequeId":{"type":"string","description":"Identifies the last chequeId in a range that is being stopped. "},"chequeTypeId":{"type":"string","description":"The identifier of the cheque type"},"stopDate":{"type":"string","format":"date","description":"The date on which the Payment Stop is placed"},"amountFrom":{"type":"number","description":"Specifies the amount from used in selection"},"amountTo":{"type":"number","description":"Specific the amount to used in selection"},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary"},"waiveCharge":{"type":"string","description":"Defines whether charges are to be collected or waived"},"charges":{"type":"array","items":{"type":"object","properties":{"chargeId":{"type":"string","description":"The identifier of the charge"},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"amount":{"type":"number","description":""}}}}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"recordStatus":{"type":"string","description":"The status of the record processed"}}},"PaymentStopResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/PaymentStopResponseBody"}},"description":"PaymentStopResponse"},"PaymentStopResponseBody":{"type":"object","properties":{"stops":{"type":"array","description":"","items":{"type":"object","properties":{"stopTypeId":{"type":"string","description":"The payment stop identifier code"},"firstChequeId":{"type":"string","description":"Identifies the first chequeId in a range or, if lastChequeId is not entered, then only chequeId which is being stopped. "},"lastChequeId":{"type":"string","description":"Identifies the last chequeId in a range that is being stopped. "},"chequeTypeId":{"type":"string","description":"The identifier of the cheque type"},"stopDate":{"type":"string","format":"date","description":"The date on which the Payment Stop is placed"},"amountFrom":{"type":"number","description":"Specifies the amount from used in selection"},"amountTo":{"type":"number","description":"Specific the amount to used in selection"},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary"},"waiveCharge":{"type":"string","description":"Defines whether charges are to be collected or waived"},"charges":{"type":"array","items":{"type":"object","properties":{"chargeId":{"type":"string","description":"The identifier of the charge"},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"amount":{"type":"number","description":""}}}}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"recordStatus":{"type":"string","description":"The status of the record processed"}}},"ScreenErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/ScreenErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"ScreenErrorResponse"},"ScreenErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}},"createPaymentStop":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/createPaymentStopBody"}},"description":"PaymentStop"},"createPaymentStopBody":{"type":"object","properties":{"stops":{"type":"array","description":"","items":{"type":"object","properties":{"stopTypeId":{"type":"string","description":"The payment stop identifier code"},"firstChequeId":{"type":"string","description":"Identifies the first chequeId in a range or, if lastChequeId is not entered, then only chequeId which is being stopped. "},"lastChequeId":{"type":"string","description":"Identifies the last chequeId in a range that is being stopped. "},"chequeTypeId":{"type":"string","description":"The identifier of the cheque type"},"stopDate":{"type":"string","format":"date","description":"The date on which the Payment Stop is placed"},"amountFrom":{"type":"number","description":"Specifies the amount from used in selection"},"amountTo":{"type":"number","description":"Specific the amount to used in selection"},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary"},"waiveCharge":{"type":"string","description":"Defines whether charges are to be collected or waived"},"charges":{"type":"array","items":{"type":"object","properties":{"chargeId":{"type":"string","description":"The identifier of the charge"},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"amount":{"type":"number","description":""}}}}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"recordStatus":{"type":"string","description":"The status of the record processed"}}},"createChequeIssue":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/createChequeIssueBody"}},"description":"ChequeIssue"},"createChequeIssueBody":{"type":"object","properties":{"notes":{"type":"array","items":{"type":"object","properties":{"note":{"type":"string","description":""}}}},"chequeStatus":{"type":"string","description":""},"issueDate":{"type":"string","format":"date","description":"The date the item was issued."},"numberIssued":{"type":"string","description":""},"stockRegister":{"type":"string","description":""},"seriesId":{"type":"string","description":""},"chequeNumberStart":{"type":"string","description":""},"charges":{"type":"string","description":""}}},"ChequeIssueResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/ChequeIssueResponseBody"}},"description":"ChequeIssueResponse"},"ChequeIssueResponseBody":{"type":"object","properties":{"notes":{"type":"array","items":{"type":"object","properties":{"note":{"type":"string","description":""}}}},"chequeStatus":{"type":"string","description":""},"issueDate":{"type":"string","format":"date","description":"The date the item was issued."},"numberIssued":{"type":"string","description":""},"stockRegister":{"type":"string","description":""},"seriesId":{"type":"string","description":""},"chequeNumberStart":{"type":"string","description":""},"charges":{"type":"string","description":""}}},"PaymentStopsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/PaymentStopsResponseBody"}},"description":"PaymentStopsResponse"},"PaymentStopsResponseBody":{"type":"array","items":{"type":"object","properties":{"stops":{"type":"array","items":{"type":"object","properties":{"stopTypeId":{"type":"string","description":"The payment stop identifier code","maxLength":30},"firstChequeId":{"type":"string","description":"Identifies the first chequeId in a range or, if lastChequeId is not entered, then only chequeId which is being stopped. ","maxLength":35},"lastChequeId":{"type":"string","description":"Identifies the last chequeId in a range that is being stopped. ","maxLength":35},"chequeTypeId":{"type":"string","description":"The identifier of the cheque type","maxLength":4},"stopDate":{"type":"string","format":"date","description":"The date on which the Payment Stop is placed"},"amountFrom":{"type":"number","description":"Specifies the amount from used in selection"},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary","maxLength":35}}}},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","maxLength":36},"customerId":{"type":"string","description":"The identifier of the customer","maxLength":10},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","maxLength":3},"versionNumber":{"type":"string","description":"","maxLength":4}}}},"ChequesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/ChequesResponseBody"}},"description":"ChequesResponse"},"ChequesResponseBody":{"type":"array","items":{"type":"object","properties":{"chequeNumber":{"type":"string","description":"The cheque number. Formed as chequeType.accountId.chequeOrDraftNumber. See chequeId","maxLength":35},"chequeAmount":{"type":"number","description":"The amount of the cheque"},"date":{"type":"string","format":"date","description":""},"chequeStatus":{"type":"string","description":"","maxLength":35}}}}}}