{"swagger":"2.0","info":{"description":"Get and Management of Common references","version":"v1.0.0","title":"Common APIs"},"host":"api.temenos.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/common/dates":{"get":{"operationId":"getDates","parameters":[{"name":"companyId","in":"query","description":"The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001","required":false,"type":"string"},{"name":"today","in":"query","description":"Identifies the date of business being processed in the financial Instituion.","required":false,"type":"string","format":"date"},{"name":"lastWorkingDay","in":"query","description":"The last working day","required":false,"type":"string","format":"date"},{"name":"nextWorkingDay","in":"query","description":"This is the state of the next business day which will be processed in this Company.","required":false,"type":"string","format":"date"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"DatesResponse","schema":{"$ref":"#/definitions/DatesResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/common/countries":{"get":{"operationId":"getCountries","parameters":[{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"CountriesResponse","schema":{"$ref":"#/definitions/CountriesResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/common/currencies":{"get":{"operationId":"getCurrencies","parameters":[{"name":"currencyId","in":"query","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","required":false,"type":"string"},{"name":"currencyIdNE","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"CurrenciesResponse","schema":{"$ref":"#/definitions/CurrenciesResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/common/lookups":{"get":{"operationId":"getLookups","parameters":[{"name":"virtualTableName","in":"query","required":false,"type":"string"},{"name":"otherInfo","in":"query","required":false,"type":"string"},{"name":"otherInfoNE","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"EbLookupsResponse","schema":{"$ref":"#/definitions/EbLookupsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"DatesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/DatesResponseBody"}},"description":"DatesResponse"},"DatesResponseBody":{"type":"array","items":{"type":"object","properties":{"companyId":{"type":"string","description":"The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001","maxLength":15},"currentWorkingDate":{"type":"string","format":"date","description":"Identifies the date of business being processed in the financial Instituion."},"lastWorkingDate":{"type":"string","format":"date","description":"Date of the last business day processed for the financial institution"},"nextWorkingDate":{"type":"string","format":"date","description":"This is the state of the next business day which will be processed in this Company."}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}},"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"CountriesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/CountriesResponseBody"}},"description":"CountriesResponse"},"CountriesResponseBody":{"type":"array","items":{"type":"object","properties":{"countryId":{"type":"string","description":"The identifier of the country, normally the SWIFT code of the country.","maxLength":9},"displayName":{"type":"string","description":"The name used for display purposes","maxLength":35},"countryShortName":{"type":"string","description":"","maxLength":15}}}},"CurrenciesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/CurrenciesResponseBody"}},"description":"CurrenciesResponse"},"CurrenciesResponseBody":{"type":"array","items":{"type":"object","properties":{"markets":{"type":"array","description":"","items":{"type":"object","properties":{"market":{"type":"string","description":"","maxLength":2},"buyRate":{"type":"string","description":"The rate of the purchase","maxLength":16},"sellRate":{"type":"string","description":"The market sell rate of the transaction","maxLength":16}}}},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","maxLength":3},"displayName":{"type":"string","description":"The name used for display purposes","maxLength":35}}}},"EbLookupsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/EbLookupsResponseBody"}},"description":"EbLookupsResponse"},"EbLookupsResponseBody":{"type":"array","items":{"type":"object","properties":{"lookupName":{"type":"string","description":"The name that is displayed for the lookup","maxLength":75},"displayName":{"type":"string","description":"The name used for display purposes","maxLength":35},"lookupId":{"type":"string","description":"The identifier of the lookup. Used to specify lookup requests on virtual tables. See lookups","maxLength":35}}}}}}