{
    "swagger": "2.0",
    "info":
    {
        "description": "Retrieves consent status",
        "version": "v1.0.0",
        "title": "PSD II API to retrieve consent record status"
    },
    "host": "api.server.com",
    "basePath": "/api/v1.0.0/",
    "schemes": [ "http", "https" ],
    "security": [
    {
        "basicAuth": [ ]
    } ],
    "paths":
    {
        "/product/consents/{consentId}/consentStatus":
        {
            "get":
            {
                "summary": "Retrieves consent status",
                "description": "Retrieves status of the consent record. For PSD2, this API can be linked to 'get consent status request' published API in accordance to open banking standards.",
                "operationId": "getConsentStatus",
                "produces": [ "application/json" ],
                "parameters": [
                {
                    "name": "consentId",
                    "in": "path",
                    "description": "Identifier of the corresponding consent object as retrieved by an account Information consent Request.",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "header",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "header",
                    "required": false,
                    "type": "string"
                } ],
                "responses":
                {
                    "200":
                    {
                        "description": "ConsentStatusResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ConsentStatusResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    },
                    "400":
                    {
                        "description": "BusinessQueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/BusinessQueryErrorResponse"
                        }
                    },
                    "500":
                    {
                        "description": "SystemQueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SystemQueryErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions":
    {
        "basicAuth":
        {
            "type": "basic"
        }
    },
    "definitions":
    {
        "QueryHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                },
                "page_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records per page"
                },
                "page_start":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The record from which the response should be displayed"
                },
                "total_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records present"
                },
                "page_token":
                {
                    "type": "string",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request"
                }
            }
        },
        "ConsentStatusResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/ConsentStatusResponseBody"
                }
            },
            "description": "ConsentStatusResponse"
        },
        "ConsentStatusResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "consentStatus":
                    {
                        "type": "string",
                        "description": "Status of the consent. This can be of received, valid, expired, terminatedByTpp or revokedByPsu."
                    }
                }
            }
        },
        "ErrorHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "QueryErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/QueryErrorResponseBody"
                }
            },
            "description": "QueryErrorResponse"
        },
        "QueryErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "code":
                {
                    "type": "string",
                    "description": "The identifier of the error message "
                },
                "message":
                {
                    "type": "string",
                    "description": "The actual t24 error message "
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type: "
                }
            }
        },
        "BusinessQueryErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/BusinessQueryErrorResponseBody"
                }
            },
            "description": "BusinessQueryErrorResponse"
        },
        "BusinessQueryErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "code":
                {
                    "type": "string",
                    "description": "The identifier of the error message "
                },
                "message":
                {
                    "type": "string",
                    "description": "The actual t24 error message for bad requests"
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type: Business"
                }
            }
        },
        "SystemQueryErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/SystemQueryErrorResponseBody"
                }
            },
            "description": "SystemQueryErrorResponse"
        },
        "SystemQueryErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "code":
                {
                    "type": "string",
                    "description": "The identifier of the error message "
                },
                "message":
                {
                    "type": "string",
                    "description": "The actual t24 error message caused by server"
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type: System"
                }
            }
        }
    }
}