{"swagger":"2.0","info":{"description":"Get and management of customer details","version":"v1.0.0","title":"CustomerProfile APIs"},"host":"api.temenos.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/customerProfile/accountServicingProviders":{"get":{"operationId":"getOtherBanksToConnectTo","parameters":[{"name":"openBankingId","in":"query","required":false,"type":"string"},{"name":"countryId","in":"query","description":"The identifier of the country, normally the SWIFT code of the country.","required":false,"type":"string"},{"name":"setActive","in":"query","required":false,"type":"string"},{"name":"status","in":"query","description":"Get a detail status of the specified service/services","required":false,"type":"string"},{"name":"extSrcProvider","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OtherBanksToConnectToResponse","schema":{"$ref":"#/definitions/OtherBanksToConnectToResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/customerProfile/consents/thirdPartyProviderConsents/{connectionId}":{"get":{"operationId":"getTPPConsents","parameters":[{"name":"connectionId","in":"path","required":true,"type":"string"},{"name":"customerId","in":"query","description":"The identifier of the customer","required":false,"type":"string"},{"name":"currentState","in":"query","required":false,"type":"string"},{"name":"connectionStatus","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ThirdPartyProviderConsentsResponse","schema":{"$ref":"#/definitions/ThirdPartyProviderConsentsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/customerProfile/consents/thirdPartyProviderCustomerConsents/{customerId}":{"get":{"operationId":"getTPPCustomerConsents","parameters":[{"name":"customerId","in":"path","required":true,"type":"string"},{"name":"connectionId","in":"query","required":false,"type":"string"},{"name":"currentState","in":"query","required":false,"type":"string"},{"name":"connectionStatus","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ThirdPartyProviderConsentsResponse","schema":{"$ref":"#/definitions/ThirdPartyProviderConsentsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/customerProfile/connectionRefreshes/{connectionId}":{"put":{"operationId":"refreshOpenBankingConnection","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/refreshOpenBankingConnection"}},{"name":"connectionId","in":"path","required":true,"type":"string"},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OpenBankingConnectionResponse","schema":{"$ref":"#/definitions/OpenBankingConnectionResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/customerProfile/connectionReconnections/{connectionId}":{"put":{"operationId":"reconnectOpenBankingConnection","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/reconnectOpenBankingConnection"}},{"name":"connectionId","in":"path","required":true,"type":"string"},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OpenBankingConnectionResponse","schema":{"$ref":"#/definitions/OpenBankingConnectionResponse2"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/customerProfile/connections/{connectionId}":{"post":{"operationId":"createOpenBankingConnection","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/createOpenBankingConnection"}},{"name":"connectionId","in":"path","required":true,"type":"string"},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OpenBankingConnectionResponse","schema":{"$ref":"#/definitions/OpenBankingConnectionResponse2"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}},"put":{"operationId":"removeOpenBankingConnection","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/removeOpenBankingConnection"}},{"name":"connectionId","in":"path","required":true,"type":"string"},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OpenBankingConnectionResponse","schema":{"$ref":"#/definitions/OpenBankingConnectionResponse1"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/customerProfile/customers/{customerId}/consents":{"get":{"operationId":"getCustomerConsents","parameters":[{"name":"customerId","in":"path","required":true,"type":"string"},{"name":"propertyClassId","in":"query","description":"The identifier of the property class","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"CustomerConsentsResponse","schema":{"$ref":"#/definitions/CustomerConsentsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/customerProfile/externalUsers/userProfiles":{"get":{"operationId":"getExternalUserProfile","parameters":[{"name":"channelId","in":"query","description":"The identifier of the channel","required":false,"type":"string"},{"name":"arrangementId","in":"query","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ExternalUserProfileResponse","schema":{"$ref":"#/definitions/ExternalUserProfileResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/customerProfile/customers/{customerId}/travelNotifications":{"get":{"operationId":"getCustomerTravelNotifications","parameters":[{"name":"customerId","in":"path","required":true,"type":"string"},{"name":"overallStatus","in":"query","required":false,"type":"string"},{"name":"overallStatusNE","in":"query","required":false,"type":"string"},{"name":"travelNotificationId","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"CustomerTravelNotificationsResponse","schema":{"$ref":"#/definitions/CustomerTravelNotificationsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/customerProfile/customers/{customerId}/contactDetails":{"get":{"operationId":"getCustomerContactDetails","parameters":[{"name":"customerId","in":"path","required":true,"type":"string"},{"name":"customerName","in":"query","description":"The name that is displayed for the customer","required":false,"type":"string"},{"name":"street","in":"query","description":"The first line of Customer's base address","required":false,"type":"string"},{"name":"town","in":"query","required":false,"type":"string"},{"name":"countryId","in":"query","description":"The identifier of the country, normally the SWIFT code of the country.","required":false,"type":"string"},{"name":"postcode","in":"query","description":"Identifies the postal code for customer.","required":false,"type":"string"},{"name":"dateOfBirth","in":"query","description":"An individual's date of birth. ","required":false,"type":"string","format":"date"},{"name":"customerStatus","in":"query","description":"The internal bank status of a customer","required":false,"type":"string"},{"name":"customerType","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"CustomerContactDetailsResponse","schema":{"$ref":"#/definitions/CustomerContactDetailsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}},"put":{"operationId":"updateCustomerContactDetails","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/updateCustomerContactDetails"}},{"name":"customerId","in":"path","required":true,"type":"string"},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"CustomerContactDetailResponse","schema":{"$ref":"#/definitions/CustomerContactDetailResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/customerProfile/travelNotifications/{travelNotificationId}":{"put":{"operationId":"updateTravelNotification","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/updateTravelNotification"}},{"name":"travelNotificationId","in":"path","required":true,"type":"string"},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"TravelNotificationResponse","schema":{"$ref":"#/definitions/TravelNotificationResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}},"delete":{"operationId":"deleteTravelNotification","parameters":[{"name":"travelNotificationId","in":"path","required":true,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"TravelNotificationResponse","schema":{"$ref":"#/definitions/TravelNotificationResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/customerProfile/travelNotifications":{"post":{"operationId":"createTravelNotification","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/createTravelNotification"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"TravelNotificationResponse","schema":{"$ref":"#/definitions/TravelNotificationResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/customerProfile/externalUsers/{externalUserId}":{"put":{"operationId":"updateExternalUser","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/updateExternalUser"}},{"name":"externalUserId","in":"path","required":true,"type":"string"},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ExternalUserResponse","schema":{"$ref":"#/definitions/ExternalUserResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/customerProfile/externalUsers/externalUserPreferences/{externalUserPreferencesId}":{"get":{"operationId":"getExternalUserPreferences","parameters":[{"name":"externalUserPreferencesId","in":"path","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ExternalUserPreferencesResponse","schema":{"$ref":"#/definitions/ExternalUserPreferencesResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}},"post":{"operationId":"createExternalUserPreferences","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/createExternalUserPreferences"}},{"name":"externalUserPreferencesId","in":"path","required":true,"type":"string"},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ExternalUserPreferenceResponse","schema":{"$ref":"#/definitions/ExternalUserPreferenceResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}},"put":{"operationId":"updateExternalUserPreferences","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/updateExternalUserPreferences"}},{"name":"externalUserPreferencesId","in":"path","required":true,"type":"string"},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ExternalUserPreferenceResponse","schema":{"$ref":"#/definitions/ExternalUserPreferenceResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"OtherBanksToConnectToResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/OtherBanksToConnectToResponseBody"}},"description":"OtherBanksToConnectToResponse"},"OtherBanksToConnectToResponseBody":{"type":"array","items":{"type":"object","properties":{"paymentTemplates":{"type":"array","items":{"type":"object","properties":{"paymentTemplate":{"type":"string","description":"","maxLength":35}}}},"globalUrn":{"type":"string","description":"","maxLength":35},"bankId":{"type":"string","description":""},"bankCode":{"type":"string","description":""},"bankName":{"type":"string","description":"","maxLength":150},"logoURL":{"type":"string","description":"","maxLength":200},"countryId":{"type":"string","description":"The identifier of the country, normally the SWIFT code of the country.","maxLength":35},"extSourceProvider":{"type":"string","description":"","maxLength":35}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}},"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}},"audit":{"type":"object","properties":{"versionNumber":{"type":"string","description":"The CURR.NO. of the record"}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"ThirdPartyProviderConsentsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/ThirdPartyProviderConsentsResponseBody"}},"description":"ThirdPartyProviderConsentsResponse"},"ThirdPartyProviderConsentsResponseBody":{"type":"array","items":{"type":"object","properties":{"OtherBankConsentTypes":{"type":"array","items":{"type":"object","properties":{"OtherBankConsentType":{"type":"string","description":"","maxLength":65}}}},"consents":{"type":"array","description":"","items":{"type":"object","properties":{"consentType":{"type":"string","description":"Conset Type for which the consent is given.The pre-defined consent types are set at Product level and will default on to the arrangement.","maxLength":65},"consentGivenAt":{"type":"string","description":"","maxLength":65},"consentStartsAt":{"type":"string","description":"","maxLength":65},"consentExpiryAt":{"type":"string","description":"","maxLength":65}}}},"obcp":{"type":"array","items":{"type":"object","properties":{"arrangementId":{"type":"string","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.","maxLength":65},"obcpAccountId":{"type":"string","description":"","maxLength":65},"consentId":{"type":"string","description":"The identifier of the consent item","maxLength":65},"obcpStatus":{"type":"string","description":"","maxLength":35},"balancesLastUpdated":{"type":"string","description":"","maxLength":65},"transactionsLastUpdated":{"type":"string","description":"","maxLength":65}}}},"connectionId":{"type":"string","description":"","maxLength":35},"customerId":{"type":"string","description":"The identifier of the customer","maxLength":65},"bankId":{"type":"string","description":"","maxLength":65},"bankName":{"type":"string","description":"","maxLength":65},"countryId":{"type":"string","description":"The identifier of the country, normally the SWIFT code of the country.","maxLength":65},"obcpId":{"type":"string","description":"","maxLength":65},"obcpConnectionId":{"type":"string","description":"","maxLength":65},"obcpBankId":{"type":"string","description":"","maxLength":65},"obcpCustomerId":{"type":"string","description":"","maxLength":65},"connectionStatus":{"type":"string","description":"","maxLength":35},"subStatus":{"type":"string","description":"","maxLength":35},"currentState":{"type":"string","description":"","maxLength":65},"createdAt":{"type":"string","description":"","maxLength":65},"latestToken":{"type":"string","description":"","maxLength":65},"latestRedirectUrl":{"type":"string","description":"","maxLength":65},"defaultConsentArrangementId":{"type":"string","description":"","maxLength":65},"obcpToken":{"type":"string","description":"","maxLength":65},"obcpRedirectUrl":{"type":"string","description":"","maxLength":65},"OtherBankConsentPeriodDays":{"type":"string","description":"","maxLength":65},"OtherBankConsentGivenAt":{"type":"string","description":"","maxLength":65},"OtherBankConsentExpiresAt":{"type":"string","description":"","maxLength":65},"channelId":{"type":"string","description":"The identifier of the channel","maxLength":70},"bankCode":{"type":"string","description":"","maxLength":65},"transactionNextPageId":{"type":"string","description":"","maxLength":65},"allTransactionsReceived":{"type":"string","description":"","maxLength":65},"versionNumber":{"type":"string","description":"","maxLength":4}}}},"refreshOpenBankingConnection":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/refreshOpenBankingConnectionBody"}},"description":"OpenBankingConnection"},"refreshOpenBankingConnectionBody":{"type":"object","properties":{"customerId":{"type":"string","description":"The identifier of the customer"},"defaultConsentArrangementId":{"type":"string","description":""},"connectionStatus":{"type":"string","description":""},"subStatus":{"type":"string","description":""},"currentState":{"type":"string","description":""},"updatedAt":{"type":"string","description":""}}},"OpenBankingConnectionResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/OpenBankingConnectionResponseBody"}},"description":"OpenBankingConnectionResponse"},"OpenBankingConnectionResponseBody":{"type":"object","properties":{"customerId":{"type":"string","description":"The identifier of the customer"},"defaultConsentArrangementId":{"type":"string","description":""},"connectionStatus":{"type":"string","description":""},"subStatus":{"type":"string","description":""},"currentState":{"type":"string","description":""},"updatedAt":{"type":"string","description":""}}},"ScreenErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/ScreenErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"ScreenErrorResponse"},"ScreenErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}},"reconnectOpenBankingConnection":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/reconnectOpenBankingConnectionBody"}},"description":"OpenBankingConnection2"},"reconnectOpenBankingConnectionBody":{"type":"object","properties":{"OtherBankConsentTypes":{"type":"array","items":{"type":"object","properties":{"OtherBankConsentType":{"type":"string","description":""}}}},"consents":{"type":"array","description":"","items":{"type":"object","properties":{"consentType":{"type":"string","description":"Conset Type for which the consent is given.The pre-defined consent types are set at Product level and will default on to the arrangement."},"consentStartAt":{"type":"string","description":""},"consentExpiryAt":{"type":"string","description":""}}}},"customerId":{"type":"string","description":"The identifier of the customer"},"bankId":{"type":"string","description":""},"bankName":{"type":"string","description":""},"countryId":{"type":"string","description":"The identifier of the country, normally the SWIFT code of the country."},"obcpId":{"type":"string","description":""},"obcpConnectionId":{"type":"string","description":""},"connectionStatus":{"type":"string","description":""},"subStatus":{"type":"string","description":""},"currentState":{"type":"string","description":""},"latestToken":{"type":"string","description":""},"latestRedirectUrl":{"type":"string","description":""},"defaultConsentArrangementId":{"type":"string","description":""},"obcpToken":{"type":"string","description":""},"obcpRedirectUrl":{"type":"string","description":""},"OtherBankConsentPeriodDays":{"type":"string","description":""},"OtherBankConsentGivenAt":{"type":"string","description":""},"OtherBankConsentExpiresAt":{"type":"string","description":""},"consentGivenAt":{"type":"string","description":""},"termsAccepted":{"type":"string","description":"Defines whether the user has accepted the Terms and Conditions first displayed when the user logs in to the system for the very first time."}}},"OpenBankingConnectionResponse2":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/OpenBankingConnectionResponse2Body"}},"description":"OpenBankingConnectionResponse2"},"OpenBankingConnectionResponse2Body":{"type":"object","properties":{"OtherBankConsentTypes":{"type":"array","items":{"type":"object","properties":{"OtherBankConsentType":{"type":"string","description":""}}}},"consents":{"type":"array","description":"","items":{"type":"object","properties":{"consentType":{"type":"string","description":"Conset Type for which the consent is given.The pre-defined consent types are set at Product level and will default on to the arrangement."},"consentStartAt":{"type":"string","description":""},"consentExpiryAt":{"type":"string","description":""}}}},"customerId":{"type":"string","description":"The identifier of the customer"},"bankId":{"type":"string","description":""},"bankName":{"type":"string","description":""},"countryId":{"type":"string","description":"The identifier of the country, normally the SWIFT code of the country."},"obcpId":{"type":"string","description":""},"obcpConnectionId":{"type":"string","description":""},"connectionStatus":{"type":"string","description":""},"subStatus":{"type":"string","description":""},"currentState":{"type":"string","description":""},"latestToken":{"type":"string","description":""},"latestRedirectUrl":{"type":"string","description":""},"defaultConsentArrangementId":{"type":"string","description":""},"obcpToken":{"type":"string","description":""},"obcpRedirectUrl":{"type":"string","description":""},"OtherBankConsentPeriodDays":{"type":"string","description":""},"OtherBankConsentGivenAt":{"type":"string","description":""},"OtherBankConsentExpiresAt":{"type":"string","description":""},"consentGivenAt":{"type":"string","description":""},"termsAccepted":{"type":"string","description":"Defines whether the user has accepted the Terms and Conditions first displayed when the user logs in to the system for the very first time."}}},"removeOpenBankingConnection":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/removeOpenBankingConnectionBody"}},"description":"OpenBankingConnection1"},"removeOpenBankingConnectionBody":{"type":"object","properties":{"OtherBankConsentTypes":{"type":"array","items":{"type":"object","properties":{"OtherBankConsentType":{"type":"string","description":""}}}},"consents":{"type":"array","description":"","items":{"type":"object","properties":{"consentType":{"type":"string","description":"Conset Type for which the consent is given.The pre-defined consent types are set at Product level and will default on to the arrangement."},"consentStartAt":{"type":"string","description":""},"consentExpiryAt":{"type":"string","description":""}}}},"obcp":{"type":"array","items":{"type":"object","properties":{"arrangementId":{"type":"string","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string."},"obcpAccountId":{"type":"string","description":""},"obcpStatus":{"type":"string","description":""},"balancesLastUpdated":{"type":"string","description":""},"transactionsLastUpdated":{"type":"string","description":""}}}},"customerId":{"type":"string","description":"The identifier of the customer"},"bankId":{"type":"string","description":""},"bankCode":{"type":"string","description":""},"bankName":{"type":"string","description":""},"countryId":{"type":"string","description":"The identifier of the country, normally the SWIFT code of the country."},"obcpId":{"type":"string","description":""},"obcpConnectionId":{"type":"string","description":""},"obcpBankId":{"type":"string","description":""},"obcpCustomerId":{"type":"string","description":""},"connectionStatus":{"type":"string","description":""},"subStatus":{"type":"string","description":""},"currentState":{"type":"string","description":""},"latestToken":{"type":"string","description":""},"latestRedirectUrl":{"type":"string","description":""},"defaultConsentArrangementId":{"type":"string","description":""},"obcpToken":{"type":"string","description":""},"obcpRedirectUrl":{"type":"string","description":""},"createdAt":{"type":"string","description":""},"updatedAt":{"type":"string","description":""},"lastSuccessAt":{"type":"string","description":""},"OtherBankConsentPeriodDays":{"type":"string","description":""},"OtherBankConsentGivenAt":{"type":"string","description":""},"OtherBankConsentExpiresAt":{"type":"string","description":""},"consentGivenAt":{"type":"string","description":""},"channelId":{"type":"string","description":"The identifier of the channel"},"termsAccepted":{"type":"string","description":"Defines whether the user has accepted the Terms and Conditions first displayed when the user logs in to the system for the very first time."}}},"OpenBankingConnectionResponse1":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/OpenBankingConnectionResponse1Body"}},"description":"OpenBankingConnectionResponse1"},"OpenBankingConnectionResponse1Body":{"type":"object","properties":{"OtherBankConsentTypes":{"type":"array","items":{"type":"object","properties":{"OtherBankConsentType":{"type":"string","description":""}}}},"consents":{"type":"array","description":"","items":{"type":"object","properties":{"consentType":{"type":"string","description":"Conset Type for which the consent is given.The pre-defined consent types are set at Product level and will default on to the arrangement."},"consentStartAt":{"type":"string","description":""},"consentExpiryAt":{"type":"string","description":""}}}},"obcp":{"type":"array","items":{"type":"object","properties":{"arrangementId":{"type":"string","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string."},"obcpAccountId":{"type":"string","description":""},"obcpStatus":{"type":"string","description":""},"balancesLastUpdated":{"type":"string","description":""},"transactionsLastUpdated":{"type":"string","description":""}}}},"customerId":{"type":"string","description":"The identifier of the customer"},"bankId":{"type":"string","description":""},"bankCode":{"type":"string","description":""},"bankName":{"type":"string","description":""},"countryId":{"type":"string","description":"The identifier of the country, normally the SWIFT code of the country."},"obcpId":{"type":"string","description":""},"obcpConnectionId":{"type":"string","description":""},"obcpBankId":{"type":"string","description":""},"obcpCustomerId":{"type":"string","description":""},"connectionStatus":{"type":"string","description":""},"subStatus":{"type":"string","description":""},"currentState":{"type":"string","description":""},"latestToken":{"type":"string","description":""},"latestRedirectUrl":{"type":"string","description":""},"defaultConsentArrangementId":{"type":"string","description":""},"obcpToken":{"type":"string","description":""},"obcpRedirectUrl":{"type":"string","description":""},"createdAt":{"type":"string","description":""},"updatedAt":{"type":"string","description":""},"lastSuccessAt":{"type":"string","description":""},"OtherBankConsentPeriodDays":{"type":"string","description":""},"OtherBankConsentGivenAt":{"type":"string","description":""},"OtherBankConsentExpiresAt":{"type":"string","description":""},"consentGivenAt":{"type":"string","description":""},"channelId":{"type":"string","description":"The identifier of the channel"},"termsAccepted":{"type":"string","description":"Defines whether the user has accepted the Terms and Conditions first displayed when the user logs in to the system for the very first time."}}},"createOpenBankingConnection":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/createOpenBankingConnectionBody"}},"description":"OpenBankingConnection2"},"createOpenBankingConnectionBody":{"type":"object","properties":{"OtherBankConsentTypes":{"type":"array","items":{"type":"object","properties":{"OtherBankConsentType":{"type":"string","description":""}}}},"consents":{"type":"array","description":"","items":{"type":"object","properties":{"consentType":{"type":"string","description":"Conset Type for which the consent is given.The pre-defined consent types are set at Product level and will default on to the arrangement."},"consentStartAt":{"type":"string","description":""},"consentExpiryAt":{"type":"string","description":""}}}},"customerId":{"type":"string","description":"The identifier of the customer"},"bankId":{"type":"string","description":""},"bankName":{"type":"string","description":""},"countryId":{"type":"string","description":"The identifier of the country, normally the SWIFT code of the country."},"obcpId":{"type":"string","description":""},"obcpConnectionId":{"type":"string","description":""},"connectionStatus":{"type":"string","description":""},"subStatus":{"type":"string","description":""},"currentState":{"type":"string","description":""},"latestToken":{"type":"string","description":""},"latestRedirectUrl":{"type":"string","description":""},"defaultConsentArrangementId":{"type":"string","description":""},"obcpToken":{"type":"string","description":""},"obcpRedirectUrl":{"type":"string","description":""},"OtherBankConsentPeriodDays":{"type":"string","description":""},"OtherBankConsentGivenAt":{"type":"string","description":""},"OtherBankConsentExpiresAt":{"type":"string","description":""},"consentGivenAt":{"type":"string","description":""},"termsAccepted":{"type":"string","description":"Defines whether the user has accepted the Terms and Conditions first displayed when the user logs in to the system for the very first time."}}},"CustomerConsentsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/CustomerConsentsResponseBody"}},"description":"CustomerConsentsResponse"},"CustomerConsentsResponseBody":{"type":"array","items":{"type":"object","properties":{"consentTypes":{"type":"array","description":"Conset Type for which the consent is given.The pre-defined consent types are set at Product level and will default on to the arrangement.","items":{"type":"object","properties":{"consentType":{"type":"string","description":"Conset Type for which the consent is given.The pre-defined consent types are set at Product level and will default on to the arrangement."},"consentGiven":{"type":"string","description":""},"consentBlock":{"type":"string","description":""},"blockNotes":{"type":"string","description":""},"consentWithdraw":{"type":"string","description":""},"withdrawNotes":{"type":"string","description":""},"consentTypeName":{"type":"string","description":""},"subTypes":{"type":"array","items":{"type":"object","properties":{"consentSubType":{"type":"string","description":""},"consentSubTypeGiven":{"type":"string","description":""}}}}}}},"arrangementId":{"type":"string","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string."},"effectiveDate":{"type":"string","format":"date","description":"The date on which the principal movement is effected"},"productId":{"type":"string","description":"The identifier of the product"},"expiryDate":{"type":"string","format":"date","description":"The date an agreement such as a credit facility or limit is due to expire"}}}},"ExternalUserProfileResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/ExternalUserProfileResponseBody"}},"description":"ExternalUserProfileResponse"},"ExternalUserProfileResponseBody":{"type":"array","items":{"type":"object","properties":{"supportedModules":{"type":"array","items":{"type":"object","properties":{"supportedModule":{"type":"string","description":""}}}},"extSmsServices":{"type":"array","items":{"type":"object","properties":{"extSmsService":{"type":"string","description":""},"extSmsOperations":{"type":"array","items":{"type":"object","properties":{"extSmsOperation":{"type":"string","description":""}}}}}}},"channels":{"type":"array","description":"","items":{"type":"object","properties":{"channelId":{"type":"string","description":"The identifier of the channel"},"channelPosition":{"type":"string","description":""},"channelStartDate":{"type":"string","format":"date","description":""},"channelArrangementType":{"type":"string","description":""},"arrangementId":{"type":"string","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string."},"productId":{"type":"string","description":"The identifier of the product"},"productName":{"type":"string","description":"The name that is displayed for the product"},"arrangementCustomerId":{"type":"string","description":""},"arrangementCustomerName":{"type":"string","description":""},"subArrangementId":{"type":"string","description":""},"subArrangementName":{"type":"string","description":""},"channelStatus":{"type":"string","description":""},"termsAccepted":{"type":"string","description":"Defines whether the user has accepted the Terms and Conditions first displayed when the user logs in to the system for the very first time."},"loginMethod":{"type":"string","description":"The type of login method e.g. password, PIN, OTP"},"dateUsed":{"type":"array","items":{"type":"object","properties":{"dateLastUsed":{"type":"string","description":"The type of login method e.g. password, PIN, OTP"}}}},"timeUsed":{"type":"array","items":{"type":"object","properties":{"timeLastUsed":{"type":"string","description":"The type of login method e.g. password, PIN, OTP"}}}}}}},"contactDetails":{"type":"array","items":{"type":"object","properties":{"email":{"type":"string","description":""},"smsNumber":{"type":"string","description":"The mobile telephone SMS number of the customer"},"phoneNumber":{"type":"string","description":"This field can contain the phone numbers of the customer."}}}},"homeScreen":{"type":"string","description":""},"extSmsCustomers":{"type":"string","description":""},"privilegesCheckEnabled":{"type":"string","description":""},"localCurrencyId":{"type":"string","description":"The identifier of the local currency of the institution"},"countryId":{"type":"string","description":"The identifier of the country, normally the SWIFT code of the country."},"currentWorkingDate":{"type":"string","format":"date","description":"Identifies the date of business being processed in the financial Instituion."},"companyId":{"type":"string","description":"The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001"},"noOfArrangements":{"type":"string","description":""},"externalUserName":{"type":"string","description":"The user's name"},"externalUserSignMethod":{"type":"string","description":""},"languageId":{"type":"string","description":"The identifier of the language"},"customerId":{"type":"string","description":"The identifier of the customer"},"customerName":{"type":"string","description":"The name that is displayed for the customer"},"gender":{"type":"string","description":"The gender of the individual"},"holdingsAvailable":{"type":"string","description":""},"versionNumber":{"type":"string","description":""}}}},"CustomerTravelNotificationsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/CustomerTravelNotificationsResponseBody"}},"description":"CustomerTravelNotificationsResponse"},"CustomerTravelNotificationsResponseBody":{"type":"array","items":{"type":"object","properties":{"travelNotifications":{"type":"array","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","items":{"type":"object","properties":{"countryId":{"type":"string","description":"The identifier of the country, normally the SWIFT code of the country.","maxLength":2},"startDate":{"type":"string","format":"date","description":"The start date"},"endDate":{"type":"string","format":"date","description":"The date an agreement or contract ceases - the opposite of start date"},"startTime":{"type":"string","description":"Indicates start time","maxLength":5},"endTime":{"type":"string","description":"Indicates end time","maxLength":5},"visitPurpose":{"type":"string","description":"","maxLength":15},"scheduleType":{"type":"string","description":"Schedule Type","maxLength":35},"travelStatus":{"type":"string","description":"","maxLength":35},"additionalInformation":{"type":"string","description":"Additional Information provided to add context","maxLength":100},"contactDetails":{"type":"array","items":{"type":"object","properties":{"contactDetail":{"type":"string","description":"Additional Information provided to add context","maxLength":100}}}},"accountIds":{"type":"array","items":{"type":"object","properties":{"accountId":{"type":"string","description":"Additional Information provided to add context","maxLength":100}}}}}}},"travelNotificationId":{"type":"string","description":"","maxLength":15},"customerId":{"type":"string","description":"The identifier of the customer","maxLength":10},"overallStatus":{"type":"string","description":"","maxLength":35},"versionNumber":{"type":"string","description":"","maxLength":4}}}},"CustomerContactDetailsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/CustomerContactDetailsResponseBody"}},"description":"CustomerContactDetailsResponse"},"CustomerContactDetailsResponseBody":{"type":"array","items":{"type":"object","properties":{"addressDetails":{"type":"array","description":"Holds unstructured address information, e.g. Contact Person. Building, Floor, Apartment, Street Number, Street Name, Town, Area, Code","items":{"type":"object","properties":{"street":{"type":"string","description":"The first line of Customer's base address","maxLength":35},"address":{"type":"string","description":"","maxLength":35},"addressCity":{"type":"string","description":"","maxLength":35},"postCode":{"type":"string","description":"Identifies the postal code for customer.","maxLength":35},"country":{"type":"string","description":"","maxLength":35}}}},"contactDetails":{"type":"array","items":{"type":"object","properties":{"phoneNumber":{"type":"string","description":"This field can contain the phone numbers of the customer.","maxLength":17},"officePhoneNumber":{"type":"string","description":"Office phone numbers.","maxLength":17},"smsNumber":{"type":"string","description":"The mobile telephone SMS number of the customer","maxLength":17},"emailId":{"type":"string","description":"","maxLength":50},"faxNumber":{"type":"string","description":"","maxLength":17}}}},"customerId":{"type":"string","description":"The identifier of the customer","maxLength":10},"customerName":{"type":"string","description":"The name that is displayed for the customer","maxLength":35},"dateOfBirth":{"type":"string","format":"date","description":"An individual's date of birth. "},"customerStatus":{"type":"string","description":"The internal bank status of a customer","maxLength":4},"customerStatusName":{"type":"string","description":"","maxLength":4},"customerType":{"type":"string","description":"","maxLength":35},"versionNumber":{"type":"string","description":"","maxLength":4}}}},"updateTravelNotification":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/updateTravelNotificationBody"}},"description":"TravelNotification"},"updateTravelNotificationBody":{"type":"object","properties":{"travelNotifications":{"type":"array","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","items":{"type":"object","properties":{"countryId":{"type":"string","description":"The identifier of the country, normally the SWIFT code of the country."},"startDate":{"type":"string","format":"date","description":"The start date"},"startTime":{"type":"string","description":"Indicates start time"},"endTime":{"type":"string","description":"Indicates end time"},"endDate":{"type":"string","format":"date","description":"The date an agreement or contract ceases - the opposite of start date"},"visitPurpose":{"type":"string","description":""},"scheduleType":{"type":"string","description":"Schedule Type"},"travelStatus":{"type":"string","description":""},"additionalInformation":{"type":"string","description":"Additional Information provided to add context"},"contactDetails":{"type":"array","items":{"type":"object","properties":{"contactDetail":{"type":"string","description":""}}}},"accountIds":{"type":"array","items":{"type":"object","properties":{"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."}}}}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"customerId":{"type":"string","description":"The identifier of the customer"},"overallStatus":{"type":"string","description":""},"cancelRequest":{"type":"string","description":""}}},"TravelNotificationResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/TravelNotificationResponseBody"}},"description":"TravelNotificationResponse"},"TravelNotificationResponseBody":{"type":"object","properties":{"travelNotifications":{"type":"array","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","items":{"type":"object","properties":{"countryId":{"type":"string","description":"The identifier of the country, normally the SWIFT code of the country."},"startDate":{"type":"string","format":"date","description":"The start date"},"startTime":{"type":"string","description":"Indicates start time"},"endTime":{"type":"string","description":"Indicates end time"},"endDate":{"type":"string","format":"date","description":"The date an agreement or contract ceases - the opposite of start date"},"visitPurpose":{"type":"string","description":""},"scheduleType":{"type":"string","description":"Schedule Type"},"travelStatus":{"type":"string","description":""},"additionalInformation":{"type":"string","description":"Additional Information provided to add context"},"contactDetails":{"type":"array","items":{"type":"object","properties":{"contactDetail":{"type":"string","description":""}}}},"accountIds":{"type":"array","items":{"type":"object","properties":{"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."}}}}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"customerId":{"type":"string","description":"The identifier of the customer"},"overallStatus":{"type":"string","description":""},"cancelRequest":{"type":"string","description":""}}},"createTravelNotification":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/createTravelNotificationBody"}},"description":"TravelNotification"},"createTravelNotificationBody":{"type":"object","properties":{"travelNotifications":{"type":"array","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","items":{"type":"object","properties":{"countryId":{"type":"string","description":"The identifier of the country, normally the SWIFT code of the country."},"startDate":{"type":"string","format":"date","description":"The start date"},"startTime":{"type":"string","description":"Indicates start time"},"endTime":{"type":"string","description":"Indicates end time"},"endDate":{"type":"string","format":"date","description":"The date an agreement or contract ceases - the opposite of start date"},"visitPurpose":{"type":"string","description":""},"scheduleType":{"type":"string","description":"Schedule Type"},"travelStatus":{"type":"string","description":""},"additionalInformation":{"type":"string","description":"Additional Information provided to add context"},"contactDetails":{"type":"array","items":{"type":"object","properties":{"contactDetail":{"type":"string","description":""}}}},"accountIds":{"type":"array","items":{"type":"object","properties":{"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."}}}}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"customerId":{"type":"string","description":"The identifier of the customer"},"overallStatus":{"type":"string","description":""},"cancelRequest":{"type":"string","description":""}}},"updateExternalUser":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/updateExternalUserBody"}},"description":"ExternalUser"},"updateExternalUserBody":{"type":"object","properties":{"channels":{"type":"array","description":"","items":{"type":"object","properties":{"externalUserStatus":{"type":"string","description":"The status of the external user"},"termsAccepted":{"type":"string","description":"Defines whether the user has accepted the Terms and Conditions first displayed when the user logs in to the system for the very first time."}}}},"languageId":{"type":"string","description":"The identifier of the language"}}},"ExternalUserResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/ExternalUserResponseBody"}},"description":"ExternalUserResponse"},"ExternalUserResponseBody":{"type":"object","properties":{"channels":{"type":"array","description":"","items":{"type":"object","properties":{"externalUserStatus":{"type":"string","description":"The status of the external user"},"termsAccepted":{"type":"string","description":"Defines whether the user has accepted the Terms and Conditions first displayed when the user logs in to the system for the very first time."}}}},"languageId":{"type":"string","description":"The identifier of the language"}}},"ExternalUserPreferencesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/ExternalUserPreferencesResponseBody"}},"description":"ExternalUserPreferencesResponse"},"ExternalUserPreferencesResponseBody":{"type":"array","items":{"type":"object","properties":{"balanceProductLines":{"type":"array","description":"","items":{"type":"object","properties":{"balanceProductLine":{"type":"string","description":"","maxLength":20}}}},"serviceNames":{"type":"array","description":"The service related to an arrangement","items":{"type":"object","properties":{"serviceName":{"type":"string","description":"The service related to an arrangement","maxLength":35}}}},"externalUserPreferenceId":{"type":"string","description":"The identifier of the external user's preferences","maxLength":110},"groupName":{"type":"string","description":"The name that is displayed for the group","maxLength":25},"groupDisplayName":{"type":"string","description":"","maxLength":40},"groupPosition":{"type":"string","description":"","maxLength":35},"favouriteGroup":{"type":"string","description":"","maxLength":35},"versionNumber":{"type":"string","description":"","maxLength":4}}}},"updateCustomerContactDetails":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/updateCustomerContactDetailsBody"}},"description":"CustomerContactDetail"},"updateCustomerContactDetailsBody":{"type":"object","properties":{"contactDetails":{"type":"array","items":{"type":"object","properties":{"phoneNumber":{"type":"string","description":"This field can contain the phone numbers of the customer."},"smsNumber":{"type":"string","description":"The mobile telephone SMS number of the customer"},"emailId":{"type":"string","description":""}}}},"officePhoneNumbers":{"type":"array","description":"Office phone numbers.","items":{"type":"object","properties":{"officePhoneNumber":{"type":"string","description":"Office phone numbers."}}}},"faxNumbers":{"type":"array","description":"","items":{"type":"object","properties":{"faxNumber":{"type":"string","description":""}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}}}},"CustomerContactDetailResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/CustomerContactDetailResponseBody"}},"description":"CustomerContactDetailResponse"},"CustomerContactDetailResponseBody":{"type":"object","properties":{"contactDetails":{"type":"array","items":{"type":"object","properties":{"phoneNumber":{"type":"string","description":"This field can contain the phone numbers of the customer."},"smsNumber":{"type":"string","description":"The mobile telephone SMS number of the customer"},"emailId":{"type":"string","description":""}}}},"officePhoneNumbers":{"type":"array","description":"Office phone numbers.","items":{"type":"object","properties":{"officePhoneNumber":{"type":"string","description":"Office phone numbers."}}}},"faxNumbers":{"type":"array","description":"","items":{"type":"object","properties":{"faxNumber":{"type":"string","description":""}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}}}},"createExternalUserPreferences":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/createExternalUserPreferencesBody"}},"description":"ExternalUserPreference"},"createExternalUserPreferencesBody":{"type":"object","properties":{"customers":{"type":"array","description":"","items":{"type":"object","properties":{"customerId":{"type":"string","description":"The identifier of the customer"},"products":{"type":"array","items":{"type":"object","properties":{"productLineId":{"type":"string","description":"The identifier of the product line"},"productGroupId":{"type":"string","description":"The identifier of the product group"},"product":{"type":"string","description":""},"productName":{"type":"string","description":"The name that is displayed for the product"},"productPosition":{"type":"string","description":""}}}}}}},"balanceCustomers":{"type":"array","description":"","items":{"type":"object","properties":{"balanceCustomer":{"type":"string","description":""},"products":{"type":"array","items":{"type":"object","properties":{"balanceProductLine":{"type":"string","description":""},"balanceProductGroup":{"type":"string","description":""},"balanceProduct":{"type":"string","description":""}}}}}}},"serviceNames":{"type":"array","description":"The service related to an arrangement","items":{"type":"object","properties":{"serviceName":{"type":"string","description":"The service related to an arrangement"}}}},"groupName":{"type":"string","description":"The name that is displayed for the group"},"groupDisplayName":{"type":"string","description":""},"groupPosition":{"type":"string","description":""},"favouriteGroup":{"type":"string","description":""}}},"ExternalUserPreferenceResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/ExternalUserPreferenceResponseBody"}},"description":"ExternalUserPreferenceResponse"},"ExternalUserPreferenceResponseBody":{"type":"object","properties":{"customers":{"type":"array","description":"","items":{"type":"object","properties":{"customerId":{"type":"string","description":"The identifier of the customer"},"products":{"type":"array","items":{"type":"object","properties":{"productLineId":{"type":"string","description":"The identifier of the product line"},"productGroupId":{"type":"string","description":"The identifier of the product group"},"product":{"type":"string","description":""},"productName":{"type":"string","description":"The name that is displayed for the product"},"productPosition":{"type":"string","description":""}}}}}}},"balanceCustomers":{"type":"array","description":"","items":{"type":"object","properties":{"balanceCustomer":{"type":"string","description":""},"products":{"type":"array","items":{"type":"object","properties":{"balanceProductLine":{"type":"string","description":""},"balanceProductGroup":{"type":"string","description":""},"balanceProduct":{"type":"string","description":""}}}}}}},"serviceNames":{"type":"array","description":"The service related to an arrangement","items":{"type":"object","properties":{"serviceName":{"type":"string","description":"The service related to an arrangement"}}}},"groupName":{"type":"string","description":"The name that is displayed for the group"},"groupDisplayName":{"type":"string","description":""},"groupPosition":{"type":"string","description":""},"favouriteGroup":{"type":"string","description":""}}},"updateExternalUserPreferences":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/updateExternalUserPreferencesBody"}},"description":"ExternalUserPreference"},"updateExternalUserPreferencesBody":{"type":"object","properties":{"customers":{"type":"array","description":"","items":{"type":"object","properties":{"customerId":{"type":"string","description":"The identifier of the customer"},"products":{"type":"array","items":{"type":"object","properties":{"productLineId":{"type":"string","description":"The identifier of the product line"},"productGroupId":{"type":"string","description":"The identifier of the product group"},"product":{"type":"string","description":""},"productName":{"type":"string","description":"The name that is displayed for the product"},"productPosition":{"type":"string","description":""}}}}}}},"balanceCustomers":{"type":"array","description":"","items":{"type":"object","properties":{"balanceCustomer":{"type":"string","description":""},"products":{"type":"array","items":{"type":"object","properties":{"balanceProductLine":{"type":"string","description":""},"balanceProductGroup":{"type":"string","description":""},"balanceProduct":{"type":"string","description":""}}}}}}},"serviceNames":{"type":"array","description":"The service related to an arrangement","items":{"type":"object","properties":{"serviceName":{"type":"string","description":"The service related to an arrangement"}}}},"groupName":{"type":"string","description":"The name that is displayed for the group"},"groupDisplayName":{"type":"string","description":""},"groupPosition":{"type":"string","description":""},"favouriteGroup":{"type":"string","description":""}}}}}