{"swagger":"2.0","info":{"description":"Retrieves balances, cards and transaction information on accounts ","version":"v1.0.0","title":"Holdings Accounts APIs"},"host":"api.temenos.com","basePath":"/api/v1.0.0/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/holdings/accounts":{"get":{"operationId":"getAccounts","produces":["application/json"],"parameters":[{"name":"accountId","in":"query","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","required":false,"type":"string"},{"name":"customerId","in":"query","description":"The identifier of the customer","required":false,"type":"string"},{"name":"productId","in":"query","description":"The identifier of the product","required":false,"type":"string"},{"name":"currencyId","in":"query","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","required":false,"type":"string"},{"name":"limitReference","in":"query","description":"Identifies the type of limit applicable to the Account","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"AccountsResponse","schema":{"$ref":"#/definitions/holdingsAccountsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/holdings/accounts/{accountId}/transactions":{"get":{"operationId":"getAccountTransactions","produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","required":true,"type":"string"},{"name":"bookingDate","in":"query","description":"The date on which the entry was generated. Normally, but not necessarily, the actual date at the time the entry is generated, e.g. if the previous day's business is still being processed after midnight, the actual date changes, but the run date is still the previous day.","required":false,"type":"string"},{"name":"processingDate","in":"query","description":"The bank date that an accounting movement is applied to the bank GL","required":false,"type":"string"},{"name":"valueDate","in":"query","description":"The applicable value date","required":false,"type":"string"},{"name":"description","in":"query","description":"The name used for display purposes","required":false,"type":"string"},{"name":"reversalMarker","in":"query","required":false,"type":"string"},{"name":"includeSubAcct","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"AccountTransactionsResponse","schema":{"$ref":"#/definitions/holdingsAccountTransactionsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/holdings/accounts/{accountId}/cards":{"get":{"operationId":"getAccountCards","produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","required":true,"type":"string"},{"name":"cardIssueId","in":"query","description":"The identifier of the issued card, consisting of three elements. The card type, a full stop and the card number. The card type must be a valid cardType. The card number may be any alphanumeric construction, e.g. VISA.1234567887654321 GC.1111222233334444 AB21.1111111122222222","required":false,"type":"string"},{"name":"selIssueDate","in":"query","required":false,"type":"string"},{"name":"selExpiryDate","in":"query","required":false,"type":"string"},{"name":"selStatus","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"AccountCardsResponse","schema":{"$ref":"#/definitions/holdingsAccountCardsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/holdings/accounts/balances":{"get":{"operationId":"getAccountBalanceToday","produces":["application/json"],"parameters":[{"name":"accountId","in":"query","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","required":false,"type":"string"},{"name":"customerId","in":"query","description":"The identifier of the customer","required":false,"type":"string"},{"name":"productId","in":"query","description":"The identifier of the product","required":false,"type":"string"},{"name":"currencyId","in":"query","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","required":false,"type":"string"},{"name":"limitReferenceId","in":"query","description":"The identifier of the limit reference","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"AccountBalanceTodayResponse","schema":{"$ref":"#/definitions/holdingsAccountBalanceTodayResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/holdings/accounts/{accountId}":{"get":{"operationId":"getAccountDetails","produces":["application/json"],"parameters":[{"name":"accountId","in":"path","required":true,"type":"string"},{"name":"arrangementId","in":"query","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"AccountDetailsResponse","schema":{"$ref":"#/definitions/holdingsAccountDetailsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/holdings/accounts/{accountId}/alertEvents":{"get":{"operationId":"getEligibleEvents","produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"EligibleEventsResponse","schema":{"$ref":"#/definitions/holdingsEligibleEventsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"holdingsAccountsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/holdingsAccountsResponseBody"}},"description":"holdingsAccountsResponse"},"holdingsAccountsResponseBody":{"type":"array","items":{"type":"object","properties":{"productName":{"type":"string","description":"The name that is displayed for the product"},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","maxLength":16},"displayName":{"type":"string","description":"The name used for display purposes","maxLength":35},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","maxLength":3},"lockedAmount":{"type":"number","description":"The amount of funds that have been blocked (reserved) for specific purposes"},"workingBalance":{"type":"number","description":"For Nostro and Internal Accounts, the same as Online Cleared Balance. For all other accounts it is the cleared balance plus the total of all unapproved debits."},"onlineActualBalance":{"type":"number","description":"Balance of the account that represents total of transactions posted against the account excluding any entries with the processing date in the future."},"availableBalance":{"type":"number","description":"Projected net movements of funds against the account. Depending on the setup in the field AVAILABLE.BAL.UPD in the ACCOUNT.PARAMETER record, may or may not include unauthorised debits, credits, both debits and credits."},"sortCode":{"type":"string","description":"The bank identifier code which identifies both the bank and the branch where the account is held"},"customerId":{"type":"string","description":"The identifier of the customer","maxLength":10},"availableLimit":{"type":"string","description":"The amount of an allocated credit limit that is available for the nomniated customer to utilise","maxLength":19},"IBAN":{"type":"string","description":"","maxLength":19},"portfolioId":{"type":"string","description":"The identifier of the portfolio","maxLength":18},"openingDate":{"type":"string","format":"date","description":""},"limitReference":{"type":"string","description":"Identifies the type of limit applicable to the Account","maxLength":10},"clearedBalance":{"type":"number","description":"Total of cleared funds booked against the account. Same as onlineActuaBalance except credit or reversed debit entries with the exposure date in the future."}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}},"holdingsAccountTransactionsResponseQueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"},"data":{"type":"object","properties":{"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"customerId":{"type":"string","description":"The identifier of the customer"},"accountCurrency":{"type":"string","description":"The currency of the account"},"openingBalance":{"type":"string","description":"","maxLength":19}}}}},"holdingsAccountTransactionsResponse":{"properties":{"header":{"$ref":"#/definitions/holdingsAccountTransactionsResponseQueryHeader"},"body":{"$ref":"#/definitions/holdingsAccountTransactionsResponseBody"}},"description":"holdingsAccountTransactionsResponse"},"holdingsAccountTransactionsResponseBody":{"type":"array","items":{"type":"object","properties":{"bookingDate":{"type":"string","format":"date","description":"The date on which the entry was generated. Normally, but not necessarily, the actual date at the time the entry is generated, e.g. if the previous day's business is still being processed after midnight, the actual date changes, but the run date is still the previous day."},"transactionId":{"type":"string","description":"The unique transaction identifier","maxLength":150},"transactionName":{"type":"string","description":"The name of the transaction"},"valueDate":{"type":"string","format":"date","description":"The applicable value date"},"transactionAmount":{"type":"number","description":"The transaction amount"},"debitCreditIndicator":{"type":"string","description":""},"transactionTotal":{"type":"string","description":"The total amount of the transaction"}}}},"AccountTransactionsResponseQueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"},"data":{"type":"object","properties":{"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"customerId":{"type":"string","description":"The identifier of the customer"},"accountCurrency":{"type":"string","description":"The currency of the account"},"openingBalance":{"type":"string","description":"","maxLength":19}}}}},"holdingsAccountCardsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/holdingsAccountCardsResponseBody"}},"description":"holdingsAccountCardsResponse"},"holdingsAccountCardsResponseBody":{"type":"array","items":{"type":"object","properties":{"cardIssueId":{"type":"string","description":"The identifier of the issued card, consisting of three elements. The card type, a full stop and the card number. The card type must be a valid cardType. The card number may be any alphanumeric construction, e.g. VISA.1234567887654321 GC.1111222233334444 AB21.1111111122222222","maxLength":24},"cardNumber":{"type":"string","description":"The cardType and number of the card. Card issues are defined with an ID consisting of three elements. The card type, a full stop and the card number. The card type must be a valid cardType. The card number may be any alphanumeric construction, e.g. VISA.1234567887654321 GC.1111222233334444 AB21.1111111122222222"},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","maxLength":16},"customerName":{"type":"string","description":"The name that is displayed for the customer","maxLength":35},"cardType":{"type":"string","description":"The type of the card, e.g. Visa, Mastercard, etc."},"displayName":{"type":"string","description":"The name used for display purposes"},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","maxLength":3},"issueDate":{"type":"string","description":"The date the item was issued.","maxLength":11},"expiryDate":{"type":"string","description":"The date an agreement such as a credit facility or limit is due to expire","maxLength":11},"cancellationDate":{"type":"string","description":"The date of cancellation","maxLength":11},"cancellationReason":{"type":"string","description":"The reason for the cancellation","maxLength":2},"status":{"type":"string","description":"Get a detail status of the specified service/services","maxLength":3},"fullCardNumber":{"type":"string","description":"The complete card number including the combination of bank codes, account number and other card convention"}}}},"holdingsAccountBalanceTodayResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/holdingsAccountBalanceTodayResponseBody"}},"description":"holdingsAccountBalanceTodayResponse"},"holdingsAccountBalanceTodayResponseBody":{"type":"array","items":{"type":"object","properties":{"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","maxLength":19},"accountName":{"type":"string","description":"The name of the account that is displayed","maxLength":19},"limitReferenceId":{"type":"string","description":"The identifier of the limit reference","maxLength":10},"productId":{"type":"string","description":"The identifier of the product","maxLength":6},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","maxLength":3},"workingBalance":{"type":"string","description":"For Nostro and Internal Accounts, the same as Online Cleared Balance. For all other accounts it is the cleared balance plus the total of all unapproved debits.","maxLength":19},"ledgerBalance":{"type":"string","description":"The total of all entries posted against the account excluding any entries with the processing date in the future.","maxLength":19},"clearedBalance":{"type":"string","description":"Total of cleared funds booked against the account. Same as onlineActuaBalance except credit or reversed debit entries with the exposure date in the future.","maxLength":19},"lockedAmount":{"type":"string","description":"The amount of funds that have been blocked (reserved) for specific purposes","maxLength":19},"useableBalance":{"type":"string","description":"Derived from the online cleared balance and represents the total of cleared collected funds posted against the account. Excludes unapproved entries, and credit entries with the exposure date in the future."}}}},"holdingsAccountDetailsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/holdingsAccountDetailsResponseBody"}},"description":"holdingsAccountDetailsResponse"},"holdingsAccountDetailsResponseBody":{"type":"array","items":{"type":"object","properties":{"sharedLimitAccounts":{"type":"array","description":"","items":{"type":"object","properties":{"sharedLimitAccount":{"type":"string","description":""},"sharedLimitAccountType":{"type":"string","description":""}}}},"taxRates":{"type":"array","description":"The applicable rate of tax","items":{"type":"object","properties":{"taxRate":{"type":"string","description":"The applicable rate of tax"}}}},"interests":{"type":"array","items":{"type":"object","properties":{"interestPropertyName":{"type":"string","description":"The name that is displayed for the interest property"},"interestCompoundType":{"type":"string","description":"The indicator used to specify the method of calculation of compound interest"},"interestCompoundTypeValue":{"type":"string","description":"The calculated interest amount using the associated compound interest type"},"consolidateInterests":{"type":"array","items":{"type":"object","properties":{"consolidateInterest":{"type":"string","description":""}}}}}}},"sharedInterestAccounts":{"type":"array","description":"","items":{"type":"object","properties":{"sharedInterestAccount":{"type":"string","description":""},"sharedInterestAccountType":{"type":"string","description":""}}}},"charges":{"type":"array","description":"","items":{"type":"object","properties":{"paymentFrequency":{"type":"string","description":"The frequency at which a payment is required to be generated"},"paymentTypeName":{"type":"string","description":"The name that is displayed for the paymentType"},"propertyName":{"type":"string","description":""},"paymentMethod":{"type":"string","description":"The type of method used for the payment"},"chargeSchedulePaymentValue":{"type":"string","description":"The amount of the scheduled charge"}}}},"openActualBalance":{"type":"number","description":"The actual balance of the account as at the start of the current business day. "},"availableOverdraftLimit":{"type":"number","description":"The amount of the unused overdraft limit"},"openingDate":{"type":"string","format":"date","description":""},"approvedOverdraftLimit":{"type":"number","description":"The ammount of the approved overdraft"},"limitExpiryDate":{"type":"string","format":"date","description":"This field specifies the validity of the Limit, i.e. how long is it to remain in force"},"availableFunds":{"type":"number","description":""},"outstandingOverdraftLimit":{"type":"number","description":"The outstanding amount of the overdraft limit"},"onlineClearedBalance":{"type":"number","description":"The total of cleared funds booked against the account. Same as onlineActualBalance with the exception of credit or reversed debit entries with the exposure date in the future."},"openClearedBalance":{"type":"number","description":"The cleared balance of the account as at the start of the current business day"},"accountWithBankBIC":{"type":"string","description":"BIC of Account with Bank being the bank where the beneficiary maintains his account."}}}},"holdingsEligibleEventsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/holdingsEligibleEventsResponseBody"}},"description":"holdingsEligibleEventsResponse"},"holdingsEligibleEventsResponseBody":{"type":"array","items":{"type":"object","properties":{"fields":{"type":"array","description":"","items":{"type":"object","properties":{"fieldDisplayName":{"type":"string","description":""},"operand":{"type":"string","description":"Defines the operand"},"fieldValue":{"type":"string","description":""}}}},"eventId":{"type":"string","description":"The identifier of the event"},"displayName":{"type":"string","description":"The name used for display purposes"},"displayCondition":{"type":"string","description":""},"messageGroupId":{"type":"string","description":""},"subscriptionLevel":{"type":"string","description":""}}}}}}