{"swagger":"2.0","info":{"description":"Get Forex Outstanding Deals Today","version":"v1.0.0","title":"Get Forex Outstanding Deals"},"host":"api.server.com","basePath":"/api/v1.0.0/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/holdings/treasury/forex":{"get":{"operationId":"getOutstandingForexDealsToday","produces":["application/json"],"parameters":[{"name":"dealType","in":"query","description":"The Foreign Exchange deal type i.e. it is a Spot, Forward or a Swap transaction","required":false,"type":"string"},{"name":"counterparty","in":"query","description":"","required":false,"type":"string"},{"name":"transactionReference","in":"query","description":"The transaction reference identifier","required":false,"type":"string"},{"name":"swapReference","in":"query","description":"Swap Reference","required":false,"type":"string"},{"name":"settlementDateSell","in":"query","description":"Settlement Date Sell","required":false,"type":"string"},{"name":"settlementDateBuy","in":"query","description":"Settlement Date Buy","required":false,"type":"string"},{"name":"buyCurrency","in":"query","description":"The SWIFT code of the currency of the purchase","required":false,"type":"string"},{"name":"buyAmount","in":"query","description":"The amount being purchased.","required":false,"type":"string"},{"name":"sellCurrency","in":"query","description":"The SWIFT code of the sold currency.","required":false,"type":"string"},{"name":"sellAmount","in":"query","description":"The amount of the currency being sold. ","required":false,"type":"string"},{"name":"dealDate","in":"query","description":"The date on which the deal was made.","required":false,"type":"string"},{"name":"ourAccountPay","in":"query","description":"Our Account Pay","required":false,"type":"string"},{"name":"ourAccountRecieve","in":"query","description":"Our Account Receive","required":false,"type":"string"},{"name":"dealerDesk","in":"query","description":"Code used to identify the dealing desk responsible for monitoring and managing Foreign exchange positions","required":false,"type":"string"},{"name":"unevenSwap","in":"query","description":"Defines the Foreign Exchange Swap transaction as an unven swap i.e. the base currency amount on near leg is not equals to the far leg base currency amount","required":false,"type":"string"},{"name":"forwardForwardSwap","in":"query","description":"Forward Forward Swap","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OutstandingForexDealsTodayResponse","schema":{"$ref":"#/definitions/holdingsOutstandingForexDealsTodayResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"holdingsOutstandingForexDealsTodayResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/holdingsOutstandingForexDealsTodayResponseBody"}},"description":"holdingsOutstandingForexDealsTodayResponse"},"holdingsOutstandingForexDealsTodayResponseBody":{"type":"array","items":{"type":"object","properties":{"ourAccountPay":{"type":"array","description":"Our Account Pay","items":{"type":"object","properties":{"ourAccountPay":{"type":"string","description":"Our Account Pay","maxLength":36}}}},"ourAccountRecieve":{"type":"array","description":"Our Account Receive","items":{"type":"object","properties":{"ourAccountRecieve":{"type":"string","description":"Our Account Receive","maxLength":36}}}},"transactionReference":{"type":"string","description":"The transaction reference identifier","maxLength":16},"dealType":{"type":"string","description":"The Foreign Exchange deal type i.e. it is a Spot, Forward or a Swap transaction","maxLength":2},"counterparty":{"type":"string","description":"","maxLength":10},"counterpartyName":{"type":"string","description":"The name that is displayed for the counter party","maxLength":35},"dealDate":{"type":"string","description":"The date on which the deal was made.","maxLength":11},"buyCurrency":{"type":"string","description":"The SWIFT code of the currency of the purchase","maxLength":3},"buyAmount":{"type":"string","description":"The amount being purchased.","maxLength":19},"sellCurrency":{"type":"string","description":"The SWIFT code of the sold currency.","maxLength":3},"sellAmount":{"type":"string","description":"The amount of the currency being sold. ","maxLength":19},"valueDate":{"type":"string","format":"date","description":"The applicable value date"},"exchangeRate":{"type":"string","description":"Contains the exchange rate applicable"},"unevenSwap":{"type":"string","description":"Defines the Foreign Exchange Swap transaction as an unven swap i.e. the base currency amount on near leg is not equals to the far leg base currency amount","maxLength":1},"swapReference":{"type":"string","description":"Swap Reference","maxLength":16},"forwardForwardSwap":{"type":"string","description":"Forward Forward Swap","maxLength":3}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}}}}