{"swagger":"2.0","info":{"description":"Version for rejection of claim ","version":"v1.0.0","title":"updateGuaranteesRejection"},"host":"api.server.com","basePath":"/api/","schemes":["http","https"],"paths":{"/product/guarantees/{guaranteeId}/rejectedClaims":{"put":{"operationId":"updateGuaranteesRejection","produces":["application/json"],"parameters":[{"name":"guaranteeId","in":"path","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/updateGuaranteesRejection"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"}],"responses":{"200":{"description":"updateGuaranteesRejectionResponse","schema":{"$ref":"#/definitions/updateGuaranteesRejectionResponse"}},"default":{"description":"updateGuaranteesRejectionErrorResponse","schema":{"$ref":"#/definitions/updateGuaranteesRejectionErrorResponse"}}}}}},"definitions":{"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}}}},"updateGuaranteesRejection":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/updateGuaranteesRejectionBody"}},"description":"updateGuaranteesRejection"},"updateGuaranteesRejectionBody":{"type":"object","properties":{"placeholder":{"type":"string"}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"updateGuaranteesRejectionResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/updateGuaranteesRejectionResponseBody"}},"description":"updateGuaranteesRejectionResponse"},"updateGuaranteesRejectionResponseBody":{"type":"object","properties":{"placeholder":{"type":"string"}}},"ErrorHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"updateGuaranteesRejectionErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/updateGuaranteesRejectionErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"updateGuaranteesRejectionErrorResponse"},"updateGuaranteesRejectionErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}}}}