{"swagger":"2.0","info":{"description":"Enquiry for outstanding shipping guarantees","version":"v1.0.0","title":"getOutstandingShippingGuarantees"},"host":"api.server.com","basePath":"/api/","schemes":["http","https"],"paths":{"/holdings/guarantees/{guaranteeId}/shippings/outstandings":{"get":{"operationId":"getOutstandingShippingGuarantees","produces":["application/json"],"parameters":[{"name":"guaranteeId","in":"path","required":true,"type":"string"},{"name":"transactionReference","in":"query","description":"The transaction reference identifier","required":false,"type":"string"},{"name":"lCReference","in":"query","description":"Indicates the LC reference under which the guarantee is to be opened","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expacted to get as part of reponse from t24 on every enquiry request.","required":false,"type":"string"}],"responses":{"200":{"description":"getOutstandingShippingGuaranteesResponse","schema":{"$ref":"#/definitions/getOutstandingShippingGuaranteesResponse"}},"default":{"description":"getOutstandingShippingGuaranteesErrorResponse","schema":{"$ref":"#/definitions/getOutstandingShippingGuaranteesErrorResponse"}}}}}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"integer","format":"int32","description":"Unique id expacted to get as part of reponse from t24 on every enquiry request"}}},"getOutstandingShippingGuaranteesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getOutstandingShippingGuaranteesResponseBody"}},"description":"getOutstandingShippingGuaranteesResponse"},"getOutstandingShippingGuaranteesResponseBody":{"type":"array","items":{"type":"object","properties":{"beneficiaries":{"type":"array","description":"","items":{"type":"object","properties":{"beneficiary":{"type":"string","description":"","maxLength":35}}}},"transactionReference":{"type":"string","description":"The transaction reference identifier","maxLength":14},"customer":{"type":"string","description":"","maxLength":19},"currency":{"type":"string","description":"","maxLength":3},"amount":{"type":"number","description":""},"shippingGuaranteeIssuedFor":{"type":"string","description":"The field to determine whether the shipping guarantee is issued under LC or under Collection","maxLength":20},"valueDate":{"type":"string","format":"date","description":"The applicable value date"},"maturityDate":{"type":"string","format":"date","description":"The delivery period or maturity date of the contract transacted"},"lCReference":{"type":"string","description":"Indicates the LC reference under which the guarantee is to be opened","maxLength":50}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"getOutstandingShippingGuaranteesErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getOutstandingShippingGuaranteesErrorResponseBody"}},"description":"getOutstandingShippingGuaranteesErrorResponse"},"getOutstandingShippingGuaranteesErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}}}}