{"swagger":"2.0","info":{"description":"getLimitSubGroup","version":"v1.0.0","title":"getLimitSubGroup"},"host":"api.server.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/holdings/limits/masterGroups/{masterGroupId}/subGroups":{"get":{"operationId":"getLimitSubGroups","produces":["application/json"],"parameters":[{"name":"masterGroupId","in":"path","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"LimitSubGroupsResponse","schema":{"$ref":"#/definitions/holdingsLimitSubGroupsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"holdingsLimitSubGroupsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/holdingsLimitSubGroupsResponseBody"}},"description":"holdingsLimitSubGroupsResponse"},"holdingsLimitSubGroupsResponseBody":{"type":"array","items":{"type":"object","properties":{"allowedCustomerList":{"type":"array","items":{"type":"object","properties":{"allowedCustomer":{"type":"array","description":"Customers who are part of sharing Group.Removing a customer from the allowed customer list should be done only through LIMIT.CHANGE application.","items":{"type":"string"}}}}},"groupId":{"type":"string","description":"The identifier of the group","maxLength":10},"subGroupId":{"type":"string","description":"","maxLength":10},"subGroupDisplayName":{"type":"string","description":"","maxLength":10},"limitProduct":{"type":"string","description":"Provides a unique reference for each Limit. ","maxLength":10}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}}}}