{"swagger":"2.0","info":{"description":"Enquiry for getting claims under guarantee","version":"v1.0.0","title":"getIssuedClaimsUnderGuarantees"},"host":"api.server.com","basePath":"/api/","schemes":["http","https"],"paths":{"/holdings/guarantees/{guaranteeId}/issuedClaims":{"get":{"operationId":"getIssuedClaimsUnderGuarantees","produces":["application/json"],"parameters":[{"name":"guaranteeId","in":"path","required":true,"type":"string"},{"name":"transactionReference","in":"query","description":"The transaction reference identifier","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expacted to get as part of reponse from t24 on every enquiry request.","required":false,"type":"string"}],"responses":{"200":{"description":"getIssuedClaimsUnderGuaranteesResponse","schema":{"$ref":"#/definitions/getIssuedClaimsUnderGuaranteesResponse"}},"default":{"description":"getIssuedClaimsUnderGuaranteesErrorResponse","schema":{"$ref":"#/definitions/getIssuedClaimsUnderGuaranteesErrorResponse"}}}}}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"integer","format":"int32","description":"Unique id expacted to get as part of reponse from t24 on every enquiry request"}}},"getIssuedClaimsUnderGuaranteesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getIssuedClaimsUnderGuaranteesResponseBody"}},"description":"getIssuedClaimsUnderGuaranteesResponse"},"getIssuedClaimsUnderGuaranteesResponseBody":{"type":"array","items":{"type":"object","properties":{"amounts":{"type":"array","description":"","items":{"type":"object","properties":{"amount":{"type":"number","description":""}}}},"claimDebitAccounts":{"type":"array","description":"The account from which the invocation amount will be settled","items":{"type":"object","properties":{"claimDebitAccount":{"type":"string","description":"The account from which the invocation amount will be settled","maxLength":16}}}},"debitValueDates":{"type":"array","description":"The date on which the Invocation amount will be debited for settlement","items":{"type":"object","properties":{"debitValueDate":{"type":"string","format":"date","description":"The date on which the Invocation amount will be debited for settlement"}}}},"creditAccountIds":{"type":"array","description":"The identifier of the credit account","items":{"type":"object","properties":{"creditAccountId":{"type":"string","description":"The identifier of the credit account","maxLength":16}}}},"exchangeRates":{"type":"array","description":"Contains the exchange rate applicable","items":{"type":"object","properties":{"exchangeRate":{"type":"string","description":"Contains the exchange rate applicable","maxLength":10}}}},"beneficiaries":{"type":"array","description":"","items":{"type":"object","properties":{"beneficiary":{"type":"string","description":"","maxLength":30}}}},"invocationStatuses":{"type":"array","description":"Indicaties the status of Invocation recived under a guarantee","items":{"type":"object","properties":{"invocationStatus":{"type":"string","description":"Indicaties the status of Invocation recived under a guarantee","maxLength":7}}}},"transactionReference":{"type":"string","description":"The transaction reference identifier"},"customer":{"type":"string","description":""},"currency":{"type":"string","description":""}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"getIssuedClaimsUnderGuaranteesErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getIssuedClaimsUnderGuaranteesErrorResponseBody"}},"description":"getIssuedClaimsUnderGuaranteesErrorResponse"},"getIssuedClaimsUnderGuaranteesErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}}}}