{"swagger":"2.0","info":{"description":"Get customer holdings","version":"v1.0.0","title":"Holdings APIs"},"host":"api.temenos.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/holdings/myHoldings":{"get":{"operationId":"getUserHoldings","parameters":[{"name":"customerId","in":"query","description":"The identifier of the customer","required":false,"type":"string"},{"name":"holdingsType","in":"query","required":false,"type":"string"},{"name":"holdingsId","in":"query","required":false,"type":"string"},{"name":"getPreferredHoldings","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"HoldingsResponse","schema":{"$ref":"#/definitions/HoldingsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/holdings/preferredHoldings":{"get":{"operationId":"getPreferredHoldings","parameters":[{"name":"customerId","in":"query","description":"The identifier of the customer","required":false,"type":"string"},{"name":"holdingsType","in":"query","required":false,"type":"string"},{"name":"holdingsId","in":"query","required":false,"type":"string"},{"name":"getPreferredHoldings","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"HoldingsResponse","schema":{"$ref":"#/definitions/HoldingsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"HoldingsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/HoldingsResponseBody"}},"description":"HoldingsResponse"},"HoldingsResponseBody":{"type":"array","items":{"type":"object","properties":{"products":{"type":"array","description":"","items":{"type":"object","properties":{"productLineName":{"type":"string","description":"The name that is displayed for the product line"},"arrangementId":{"type":"string","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string."},"productGroupId":{"type":"string","description":"The identifier of the product group"},"productGroupName":{"type":"string","description":"The name that is displayed for the product group"},"productId":{"type":"string","description":"The identifier of the product"},"productDescription":{"type":"string","description":"Description for the product"},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"shortTitle":{"type":"string","description":""},"categoryId":{"type":"string","description":"The identifier of the category"},"companyCode":{"type":"string","description":"Company code in audit details"},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"sortCode":{"type":"string","description":"The bank identifier code which identifies both the bank and the branch where the account is held"},"accountIBAN":{"type":"string","description":"The International Bank Account Number (IBAN) is an internationally agreed system of identifying bank accounts across national borders. The current standard is ISO 13616:2007. The IBAN consists of up to 34 alphanumeric characters comprising: a country code; two check digits; and a number that includes the domestic bank account number, branch identifier, and potential routing information. The check digits enable a check of the bank account number to confirm its integrity before submitting a transaction."},"workingBalance":{"type":"number","description":"For Nostro and Internal Accounts, the same as Online Cleared Balance. For all other accounts it is the cleared balance plus the total of all unapproved debits."},"openingDate":{"type":"string","format":"date","description":""},"companyName":{"type":"string","description":"The name that is displayed for the company"},"preferredProduct":{"type":"string","description":""},"preferredProductPosition":{"type":"string","description":""},"preferredProductLabel":{"type":"string","description":""},"permission":{"type":"string","description":""},"onlineActualBalance":{"type":"number","description":"Balance of the account that represents total of transactions posted against the account excluding any entries with the processing date in the future."},"availableBalance":{"type":"number","description":"Projected net movements of funds against the account. Depending on the setup in the field AVAILABLE.BAL.UPD in the ACCOUNT.PARAMETER record, may or may not include unauthorised debits, credits, both debits and credits."},"availableBalanceWithLimit":{"type":"number","description":""},"outstandingAmount":{"type":"number","description":"Identifies the total outstanding amount for the corresponding Liability number and Limit reference. "},"paidOutAmount":{"type":"number","description":"The amount paid out"},"arrangementStatus":{"type":"string","description":"The status of the arrangement"},"totalPrincipal":{"type":"number","description":""}}}},"productLineId":{"type":"string","description":"The identifier of the product line"},"totalAccountBalances":{"type":"number","description":""},"totalDepositBalances":{"type":"number","description":""},"totalLoanBalances":{"type":"number","description":""}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}},"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}}}}