{"swagger":"2.0","info":{"description":"createCreditLine","version":"v1.0.0","title":"createCreditLine"},"host":"api.server.com","basePath":"/api/","schemes":["http","https"],"paths":{"/holdings/loans/creditLines":{"post":{"operationId":"createCreditLine","produces":["application/json"],"parameters":[{"in":"body","name":"payload","required":true,"schema":{"$ref":"#/definitions/createCreditLine"}}],"responses":{"200":{"description":"createCreditLineResponse","schema":{"$ref":"#/definitions/createCreditLineResponse"}},"default":{"description":"createCreditLineErrorResponse","schema":{"$ref":"#/definitions/createCreditLineErrorResponse"}}}}}},"definitions":{"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}}}},"createCreditLine":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/createCreditLineBody"}},"description":"createCreditLine"},"createCreditLineBody":{"type":"object","properties":{"parties":{"type":"array","description":"","items":{"type":"object","properties":{"partyId":{"type":"string","description":""},"partyRole":{"type":"string","description":""}}}},"activityId":{"type":"string","description":"The identifier of the activity"},"effectiveDate":{"type":"string","format":"date","description":"The date on which the principal movement is effected"},"productId":{"type":"string","description":"The identifier of the product"},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"simulationId":{"type":"string","description":""},"limit":{"type":"object","properties":{"limitReference":{"type":"string","description":"Identifies the type of limit applicable to the Account"}}},"commitment":{"type":"object","properties":{"amount":{"type":"number","description":""},"changeAmount":{"type":"number","description":""},"term":{"type":"string","description":"The period to which the rate applies"},"revolving":{"type":"string","description":"","enum":["NO","PAYMENT","PREPAYMENT"]},"updateLimit":{"type":"string","description":"","enum":["YES","NO"]}}}}},"ArrangementHeader":{"properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"aaaId":{"type":"string","description":"The Identifier of the aa record created"},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"createCreditLineResponse":{"properties":{"header":{"$ref":"#/definitions/ArrangementHeader"},"body":{"$ref":"#/definitions/createCreditLineResponseBody"}},"description":"createCreditLineResponse"},"createCreditLineResponseBody":{"type":"object","properties":{"arrangementActivity":{"type":"object","properties":{"parties":{"type":"array","description":"","items":{"type":"object","properties":{"partyId":{"type":"string","description":""},"partyRole":{"type":"string","description":""}}}},"arrangementId":{"type":"string","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string."},"activityId":{"type":"string","description":"The identifier of the activity"},"effectiveDate":{"type":"string","format":"date","description":"The date on which the principal movement is effected"},"productId":{"type":"string","description":"The identifier of the product"},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"simulationId":{"type":"string","description":""}}},"activities":{"type":"object","properties":{"{activityName}":{"type":"object","properties":{"activity":{"type":"string"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"id":{"type":"string","description":"The Identifier of the record created"}}}}},"properties":{"type":"object","properties":{"account":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"activityCharges":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"messaging":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"arrangementRules":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"agentCommission":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"rewardsPoints":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"alerts":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"ageingfee":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"disbursementfee":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"maintenancefee":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"dormancyfee":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"chargeoff":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"closure":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"customer":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"principalint":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"penaltyint":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"limit":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"limitReference":{"type":"string","description":"Identifies the type of limit applicable to the Account"}}}}},"officers":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"overdue":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"prRepayment":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"prPrincipalDecrease":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"prPayoff":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"poWithdrawal":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"schedule":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"periodiccharges":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"payoff":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"renewal":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"reporting":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"settlement":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"commitment":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"amount":{"type":"number","description":""},"changeAmount":{"type":"number","description":""},"term":{"type":"string","description":"The period to which the rate applies"},"revolving":{"type":"string","description":"","enum":["NO","PAYMENT","PREPAYMENT"]},"updateLimit":{"type":"string","description":"","enum":["YES","NO"]}}}}},"dormancy":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"createCreditLineErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ArrangementHeader"},"error":{"$ref":"#/definitions/createCreditLineErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"createCreditLineErrorResponse"},"createCreditLineErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"property":{"type":"string","description":"The corresponding property"}}}},"type":{"type":"string","description":"The identifier of error type"}}}}}