{"swagger":"2.0","info":{"description":"Version for Cancellation of export LC","version":"v1.0.0","title":"updateCancellationOfExportLC"},"host":"api.server.com","basePath":"/api/","schemes":["http","https"],"paths":{"/holdings/letterOfCredits/{letterOfCreditId}/exports/cancellations":{"put":{"operationId":"updateCancellationOfExportLC","produces":["application/json"],"parameters":[{"name":"letterOfCreditId","in":"path","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/updateCancellationOfExportLC"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"}],"responses":{"200":{"description":"updateCancellationOfExportLCResponse","schema":{"$ref":"#/definitions/updateCancellationOfExportLCResponse"}},"default":{"description":"updateCancellationOfExportLCErrorResponse","schema":{"$ref":"#/definitions/updateCancellationOfExportLCErrorResponse"}}}}}},"definitions":{"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}}}},"updateCancellationOfExportLC":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/updateCancellationOfExportLCBody"}},"description":"updateCancellationOfExportLC"},"updateCancellationOfExportLCBody":{"type":"object","properties":{"applicants":{"type":"array","items":{"type":"object","properties":{"applicant":{"type":"string","description":""}}}},"additionalAmountsCovered":{"type":"array","items":{"type":"object","properties":{"additionalAmountCovered":{"type":"string","description":""}}}},"beneficiaries":{"type":"array","description":"","items":{"type":"object","properties":{"beneficiary":{"type":"string","description":""}}}},"charges":{"type":"array","description":"","items":{"type":"object","properties":{"chargeCode":{"type":"string","description":""},"partyCharged":{"type":"string","description":""},"chargeDebitAccount":{"type":"string","description":""},"chargeCurrency":{"type":"string","description":"Holds the currency code of the charge account from where the fee is deducted"},"ChargeExchangeRate":{"type":"string","description":""},"chargeAmount":{"type":"string","description":"Holds the charge amount equivalent in charge account currency"},"amortiseCharges":{"type":"string","description":""},"chargeStatus":{"type":"string","description":""},"taxCurrency":{"type":"string","description":""},"taxAmount":{"type":"string","description":"The tax amount"}}}},"lcNumber":{"type":"string","description":""},"sendAmendmentAdvice":{"type":"string","description":""},"lcType":{"type":"string","description":""},"issuingBankReference":{"type":"string","description":""},"issuingBankId":{"type":"string","description":""},"lcIssueDate":{"type":"string","description":""},"newLcCurrency":{"type":"string","description":""},"newLcAmount":{"type":"string","description":""},"creditTolerance":{"type":"string","description":""},"debitTolerance":{"type":"string","description":""},"purposeOfMessage":{"type":"string","description":""},"cancellationRequest":{"type":"string","description":""},"fullyUtilised":{"type":"string","description":""},"newLCExpiryDate":{"type":"string","description":""},"newLCExpiryPlace":{"type":"string","description":""},"liabilityReversalDate":{"type":"string","description":""},"limitReference":{"type":"string","description":"Identifies the type of limit applicable to the Account"},"latestShipmentDate":{"type":"string","description":""},"narrative":{"type":"string","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference"},"bankToBank":{"type":"string","description":""},"draftPrint":{"type":"string","description":""},"amendStatus":{"type":"string","description":""},"chargeFrom":{"type":"string","description":""},"chargeDefaultAccount":{"type":"string","description":""},"waiveCharge":{"type":"string","description":"Defines whether charges are to be collected or waived"},"commissionCode":{"type":"string","description":""},"waiveCommission":{"type":"string","description":""},"commissionStartDate":{"type":"string","description":""},"commissionFrequency":{"type":"string","description":""},"commissionRate":{"type":"string","description":"The commission by percentage. Allowed only for manual commission. Calculated commission amount can be overwritten manually."},"accrualParam":{"type":"string","description":""},"commissionAmount":{"type":"number","description":"The amount of commission charged in the currency of the event"},"fixedCommissionAmount":{"type":"string","description":""},"commissionAccount":{"type":"string","description":""},"commissionExchangeRate":{"type":"string","description":""},"backForwardKey":{"type":"string","description":""},"returnCommission":{"type":"string","description":""}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"updateCancellationOfExportLCResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/updateCancellationOfExportLCResponseBody"}},"description":"updateCancellationOfExportLCResponse"},"updateCancellationOfExportLCResponseBody":{"type":"object","properties":{"applicants":{"type":"array","items":{"type":"object","properties":{"applicant":{"type":"string","description":""}}}},"additionalAmountsCovered":{"type":"array","items":{"type":"object","properties":{"additionalAmountCovered":{"type":"string","description":""}}}},"beneficiaries":{"type":"array","description":"","items":{"type":"object","properties":{"beneficiary":{"type":"string","description":""}}}},"charges":{"type":"array","description":"","items":{"type":"object","properties":{"chargeCode":{"type":"string","description":""},"partyCharged":{"type":"string","description":""},"chargeDebitAccount":{"type":"string","description":""},"chargeCurrency":{"type":"string","description":"Holds the currency code of the charge account from where the fee is deducted"},"ChargeExchangeRate":{"type":"string","description":""},"chargeAmount":{"type":"string","description":"Holds the charge amount equivalent in charge account currency"},"amortiseCharges":{"type":"string","description":""},"chargeStatus":{"type":"string","description":""},"taxCurrency":{"type":"string","description":""},"taxAmount":{"type":"string","description":"The tax amount"}}}},"lcNumber":{"type":"string","description":""},"sendAmendmentAdvice":{"type":"string","description":""},"lcType":{"type":"string","description":""},"issuingBankReference":{"type":"string","description":""},"issuingBankId":{"type":"string","description":""},"lcIssueDate":{"type":"string","description":""},"newLcCurrency":{"type":"string","description":""},"newLcAmount":{"type":"string","description":""},"creditTolerance":{"type":"string","description":""},"debitTolerance":{"type":"string","description":""},"purposeOfMessage":{"type":"string","description":""},"cancellationRequest":{"type":"string","description":""},"fullyUtilised":{"type":"string","description":""},"newLCExpiryDate":{"type":"string","description":""},"newLCExpiryPlace":{"type":"string","description":""},"liabilityReversalDate":{"type":"string","description":""},"limitReference":{"type":"string","description":"Identifies the type of limit applicable to the Account"},"latestShipmentDate":{"type":"string","description":""},"narrative":{"type":"string","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference"},"bankToBank":{"type":"string","description":""},"draftPrint":{"type":"string","description":""},"amendStatus":{"type":"string","description":""},"chargeFrom":{"type":"string","description":""},"chargeDefaultAccount":{"type":"string","description":""},"waiveCharge":{"type":"string","description":"Defines whether charges are to be collected or waived"},"commissionCode":{"type":"string","description":""},"waiveCommission":{"type":"string","description":""},"commissionStartDate":{"type":"string","description":""},"commissionFrequency":{"type":"string","description":""},"commissionRate":{"type":"string","description":"The commission by percentage. Allowed only for manual commission. Calculated commission amount can be overwritten manually."},"accrualParam":{"type":"string","description":""},"commissionAmount":{"type":"number","description":"The amount of commission charged in the currency of the event"},"fixedCommissionAmount":{"type":"string","description":""},"commissionAccount":{"type":"string","description":""},"commissionExchangeRate":{"type":"string","description":""},"backForwardKey":{"type":"string","description":""},"returnCommission":{"type":"string","description":""}}},"ErrorHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"updateCancellationOfExportLCErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/updateCancellationOfExportLCErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"updateCancellationOfExportLCErrorResponse"},"updateCancellationOfExportLCErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}}}}