{"swagger":"2.0","info":{"description":"Get Money Market Events Occured ToDate","version":"v1.0.0","title":"Get MM Events ToDate"},"host":"api.server.com","basePath":"/api/v1.0.0/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/holdings/treasury/moneyMarkets/events":{"get":{"operationId":"getMoneyMarketEventsToDate","produces":["application/json"],"parameters":[{"name":"contractId","in":"query","description":"The identifier of the contract","required":false,"type":"string"},{"name":"transactionDate","in":"query","description":"Transaction Dates","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"MoneyMarketEventsToDateResponse","schema":{"$ref":"#/definitions/holdingsMoneyMarketEventsToDateResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"holdingsMoneyMarketEventsToDateResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/holdingsMoneyMarketEventsToDateResponseBody"}},"description":"holdingsMoneyMarketEventsToDateResponse"},"holdingsMoneyMarketEventsToDateResponseBody":{"type":"array","items":{"type":"object","properties":{"sequence":{"type":"number","description":"Sequence"},"transactionDate":{"type":"string","format":"date","description":"Transaction Dates"},"valueDate":{"type":"string","format":"date","description":"The applicable value date"},"event":{"type":"string","description":"","maxLength":25},"amount":{"type":"number","description":""},"applicationName":{"type":"string","description":"Application Name","maxLength":35},"transactionReference":{"type":"string","description":"The transaction reference identifier"}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}}}}