{"swagger":"2.0","info":{"description":"List Payment Schedule for an arrangement","version":"v1.0.0","title":"getPaymentSchedules"},"host":"api.server.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/holdings/arrangements/{arrangementId}/paymentSchedules":{"get":{"operationId":"getPaymentSchedules","produces":["application/json"],"parameters":[{"name":"arrangementId","in":"path","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.","required":true,"type":"string"},{"name":"dateFrom","in":"query","description":"Payment schedule from date","required":false,"type":"string"},{"name":"dateTo","in":"query","description":"Payment schedule to date","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PaymentSchedulesResponse","schema":{"$ref":"#/definitions/PaymentSchedulesResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"PaymentSchedulesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/PaymentSchedulesResponseBody"}},"description":"PaymentSchedulesResponse"},"PaymentSchedulesResponseBody":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string","description":"","maxLength":11},"deferDate":{"type":"string","description":"The date on which the customer will see the bill on his statement","maxLength":11},"totalDue":{"type":"string","description":"Total Amount Due","maxLength":19},"totalCap":{"type":"string","description":"Total amount capitalized","maxLength":19},"principal":{"type":"string","description":"Principal Amount","maxLength":19},"interest":{"type":"string","description":"","maxLength":19},"charge":{"type":"string","description":"","maxLength":19},"taxAmount":{"type":"string","description":"The tax amount","maxLength":20},"totalPayment":{"type":"string","description":"Total Payment received","maxLength":20},"outstandingAmount":{"type":"string","description":"Identifies the total outstanding amount for the corresponding Liability number and Limit reference. ","maxLength":19}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}}}}