{"swagger":"2.0","info":{"description":"Version for decision on Amendment","version":"v1.0.0","title":"updateDecisionOnAmendment"},"host":"api.server.com","basePath":"/api/","schemes":["http","https"],"paths":{"/holdings/letterOfCredits/{letterOfCreditId}/imports/decisions":{"put":{"operationId":"updateDecisionOnAmendment","produces":["application/json"],"parameters":[{"name":"letterOfCreditId","in":"path","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/updateDecisionOnAmendment"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"}],"responses":{"200":{"description":"updateDecisionOnAmendmentResponse","schema":{"$ref":"#/definitions/updateDecisionOnAmendmentResponse"}},"default":{"description":"updateDecisionOnAmendmentErrorResponse","schema":{"$ref":"#/definitions/updateDecisionOnAmendmentErrorResponse"}}}}}},"definitions":{"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}}}},"updateDecisionOnAmendment":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/updateDecisionOnAmendmentBody"}},"description":"updateDecisionOnAmendment"},"updateDecisionOnAmendmentBody":{"type":"object","properties":{"additionalAmountsCovered":{"type":"array","items":{"type":"object","properties":{"additionalAmountCovered":{"type":"string","description":""}}}},"limitReferences":{"type":"array","description":"Identifies the type of limit applicable to the Account","items":{"type":"object","properties":{"limitReference":{"type":"string","description":"Identifies the type of limit applicable to the Account"}}}},"beneficiaries":{"type":"array","description":"","items":{"type":"object","properties":{"beneficiary":{"type":"string","description":""}}}},"bankToBanks":{"type":"array","items":{"type":"object","properties":{"bankToBank":{"type":"string","description":""}}}},"internalAmendmentDetails":{"type":"array","items":{"type":"object","properties":{"internalAmendmentDetail":{"type":"string","description":""}}}},"charges":{"type":"array","description":"","items":{"type":"object","properties":{"chargeCode":{"type":"string","description":""},"partyCharged":{"type":"string","description":""},"chargeDebitAccount":{"type":"string","description":""},"chargeCurrency":{"type":"string","description":"Holds the currency code of the charge account from where the fee is deducted"},"ChargeExchangeRate":{"type":"string","description":""},"chargeAmount":{"type":"string","description":"Holds the charge amount equivalent in charge account currency"},"amortiseCharges":{"type":"string","description":""},"chargeStatus":{"type":"string","description":""},"taxCurrency":{"type":"string","description":""},"taxAmount":{"type":"string","description":"The tax amount"}}}},"commissions":{"type":"array","description":"","items":{"type":"object","properties":{"commissionCode":{"type":"string","description":""},"uptoAmount":{"type":"string","description":""},"commissionRate":{"type":"string","description":"The commission by percentage. Allowed only for manual commission. Calculated commission amount can be overwritten manually."},"commissionAmount":{"type":"string","description":"The amount of commission charged in the currency of the event"}}}},"amendmentNumber":{"type":"string","description":""},"amendStatus":{"type":"string","description":""},"sendAmendmentAdvice":{"type":"string","description":""},"lcNumber":{"type":"string","description":""},"advisingBankReference":{"type":"string","description":""},"issueDate":{"type":"string","format":"date","description":"The date the item was issued."},"lcType":{"type":"string","description":""},"amendmentDate":{"type":"string","format":"date","description":""},"applicantCustomer":{"type":"string","description":""},"advisingBank":{"type":"string","description":""},"lcCurrency":{"type":"string","description":""},"lcAmount":{"type":"string","description":""},"creditTolerance":{"type":"string","description":""},"debitTolerance":{"type":"string","description":""},"purposeOfMessage":{"type":"string","description":""},"cancellationRequest":{"type":"string","description":""},"newLCExpiryDate":{"type":"string","format":"date","description":""},"newLCExpiryPlace":{"type":"string","description":""},"liabilityReversalDate":{"type":"string","format":"date","description":""},"placeOfTakingInCharges":{"type":"string","description":""},"portsOfLoading":{"type":"string","description":""},"portOfDischarge":{"type":"string","description":""},"finalDestination":{"type":"string","description":""},"shipmentPeriod":{"type":"string","description":""},"latestShipmentDate":{"type":"string","description":""},"chargeFrom":{"type":"string","description":""},"chargeDefaultAccount":{"type":"string","description":""},"waiveCharge":{"type":"string","description":"Defines whether charges are to be collected or waived"},"commissionCode":{"type":"string","description":""},"waiveCommission":{"type":"string","description":""},"commissionPartyCharge":{"type":"string","description":""},"commissionStartDate":{"type":"string","description":""},"commissionFrequency":{"type":"string","description":""},"commissionRate":{"type":"string","description":"The commission by percentage. Allowed only for manual commission. Calculated commission amount can be overwritten manually."},"accrualParam":{"type":"string","description":""},"commissionAmount":{"type":"number","description":"The amount of commission charged in the currency of the event"},"fixedCommissionAmount":{"type":"string","description":""},"commissionAccount":{"type":"string","description":""},"commissionExchangeRate":{"type":"string","description":""},"commissionClaimed":{"type":"string","description":""},"backForwardKey":{"type":"string","description":""},"returnCommission":{"type":"string","description":""},"uptoDays":{"type":"string","description":""}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"updateDecisionOnAmendmentResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/updateDecisionOnAmendmentResponseBody"}},"description":"updateDecisionOnAmendmentResponse"},"updateDecisionOnAmendmentResponseBody":{"type":"object","properties":{"additionalAmountsCovered":{"type":"array","items":{"type":"object","properties":{"additionalAmountCovered":{"type":"string","description":""}}}},"limitReferences":{"type":"array","description":"Identifies the type of limit applicable to the Account","items":{"type":"object","properties":{"limitReference":{"type":"string","description":"Identifies the type of limit applicable to the Account"}}}},"beneficiaries":{"type":"array","description":"","items":{"type":"object","properties":{"beneficiary":{"type":"string","description":""}}}},"bankToBanks":{"type":"array","items":{"type":"object","properties":{"bankToBank":{"type":"string","description":""}}}},"internalAmendmentDetails":{"type":"array","items":{"type":"object","properties":{"internalAmendmentDetail":{"type":"string","description":""}}}},"charges":{"type":"array","description":"","items":{"type":"object","properties":{"chargeCode":{"type":"string","description":""},"partyCharged":{"type":"string","description":""},"chargeDebitAccount":{"type":"string","description":""},"chargeCurrency":{"type":"string","description":"Holds the currency code of the charge account from where the fee is deducted"},"ChargeExchangeRate":{"type":"string","description":""},"chargeAmount":{"type":"string","description":"Holds the charge amount equivalent in charge account currency"},"amortiseCharges":{"type":"string","description":""},"chargeStatus":{"type":"string","description":""},"taxCurrency":{"type":"string","description":""},"taxAmount":{"type":"string","description":"The tax amount"}}}},"commissions":{"type":"array","description":"","items":{"type":"object","properties":{"commissionCode":{"type":"string","description":""},"uptoAmount":{"type":"string","description":""},"commissionRate":{"type":"string","description":"The commission by percentage. Allowed only for manual commission. Calculated commission amount can be overwritten manually."},"commissionAmount":{"type":"string","description":"The amount of commission charged in the currency of the event"}}}},"amendmentNumber":{"type":"string","description":""},"amendStatus":{"type":"string","description":""},"sendAmendmentAdvice":{"type":"string","description":""},"lcNumber":{"type":"string","description":""},"advisingBankReference":{"type":"string","description":""},"issueDate":{"type":"string","format":"date","description":"The date the item was issued."},"lcType":{"type":"string","description":""},"amendmentDate":{"type":"string","format":"date","description":""},"applicantCustomer":{"type":"string","description":""},"advisingBank":{"type":"string","description":""},"lcCurrency":{"type":"string","description":""},"lcAmount":{"type":"string","description":""},"creditTolerance":{"type":"string","description":""},"debitTolerance":{"type":"string","description":""},"purposeOfMessage":{"type":"string","description":""},"cancellationRequest":{"type":"string","description":""},"newLCExpiryDate":{"type":"string","format":"date","description":""},"newLCExpiryPlace":{"type":"string","description":""},"liabilityReversalDate":{"type":"string","format":"date","description":""},"placeOfTakingInCharges":{"type":"string","description":""},"portsOfLoading":{"type":"string","description":""},"portOfDischarge":{"type":"string","description":""},"finalDestination":{"type":"string","description":""},"shipmentPeriod":{"type":"string","description":""},"latestShipmentDate":{"type":"string","description":""},"chargeFrom":{"type":"string","description":""},"chargeDefaultAccount":{"type":"string","description":""},"waiveCharge":{"type":"string","description":"Defines whether charges are to be collected or waived"},"commissionCode":{"type":"string","description":""},"waiveCommission":{"type":"string","description":""},"commissionPartyCharge":{"type":"string","description":""},"commissionStartDate":{"type":"string","description":""},"commissionFrequency":{"type":"string","description":""},"commissionRate":{"type":"string","description":"The commission by percentage. Allowed only for manual commission. Calculated commission amount can be overwritten manually."},"accrualParam":{"type":"string","description":""},"commissionAmount":{"type":"number","description":"The amount of commission charged in the currency of the event"},"fixedCommissionAmount":{"type":"string","description":""},"commissionAccount":{"type":"string","description":""},"commissionExchangeRate":{"type":"string","description":""},"commissionClaimed":{"type":"string","description":""},"backForwardKey":{"type":"string","description":""},"returnCommission":{"type":"string","description":""},"uptoDays":{"type":"string","description":""}}},"ErrorHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"updateDecisionOnAmendmentErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/updateDecisionOnAmendmentErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"updateDecisionOnAmendmentErrorResponse"},"updateDecisionOnAmendmentErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}}}}