{"swagger":"2.0","info":{"description":"Version for an external amendment to an LC","version":"v1.0.0","title":"updateLC"},"host":"api.server.com","basePath":"/api/","schemes":["http","https"],"paths":{"/holdings/letterOfCredits/{letterOfCreditId}":{"put":{"operationId":"updateLC","produces":["application/json"],"parameters":[{"name":"letterOfCreditId","in":"path","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/updateLC"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"}],"responses":{"200":{"description":"updateLCResponse","schema":{"$ref":"#/definitions/updateLCResponse"}},"default":{"description":"updateLCErrorResponse","schema":{"$ref":"#/definitions/updateLCErrorResponse"}}}}}},"definitions":{"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}}}},"updateLC":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/updateLCBody"}},"description":"updateLC"},"updateLCBody":{"type":"object","properties":{"additionalAmountsCovered":{"type":"array","items":{"type":"object","properties":{"additionalAmountCovered":{"type":"string","description":""}}}},"beneficiaries":{"type":"array","description":"","items":{"type":"object","properties":{"beneficiary":{"type":"string","description":""}}}},"shipmentPeriods":{"type":"array","items":{"type":"object","properties":{"shipmentPeriod":{"type":"string","description":""}}}},"narrativeCharges":{"type":"array","items":{"type":"object","properties":{"narrativeCharge":{"type":"string","description":""}}}},"charges":{"type":"array","description":"","items":{"type":"object","properties":{"chargeCode":{"type":"string","description":""},"partyCharged":{"type":"string","description":""},"chargeDebitAccount":{"type":"string","description":""},"chargeCurrency":{"type":"string","description":"Holds the currency code of the charge account from where the fee is deducted"},"chargeExchangeRate":{"type":"string","description":""},"chargeAmount":{"type":"string","description":"Holds the charge amount equivalent in charge account currency"},"amortiseCharge":{"type":"string","description":""},"chargeStatus":{"type":"string","description":""},"taxCurrency":{"type":"string","description":""},"taxAmount":{"type":"string","description":"The tax amount"}}}},"reimNarratives":{"type":"array","items":{"type":"object","properties":{"reimNarrative":{"type":"string","description":""}}}},"lcNumber":{"type":"string","description":""},"advisingBankReference":{"type":"string","description":""},"issueDate":{"type":"string","description":"The date the item was issued."},"amendmentDate":{"type":"string","description":""},"lcType":{"type":"string","description":""},"applicant":{"type":"string","description":""},"advisingBank":{"type":"string","description":""},"newLcCurrency":{"type":"string","description":""},"newLcAmount":{"type":"string","description":""},"creditTolerance":{"type":"string","description":""},"debitTolerance":{"type":"string","description":""},"purposeOfMessage":{"type":"string","description":""},"cancellationRequest":{"type":"string","description":""},"daysAndPeriodForPresentation":{"type":"string","description":""},"latestShipmentDate":{"type":"string","description":""},"newLCExpiryDate":{"type":"string","description":""},"newLCExpiryPlace":{"type":"string","description":""},"liabilityReversalDate":{"type":"string","description":""},"limitReference":{"type":"string","description":"Identifies the type of limit applicable to the Account"},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary"},"autoExpiry":{"type":"string","description":"Decision field to determine whether the contingent entries are to be reversed after the deal expiry date or not"},"placeOfTakingInCharge":{"type":"string","description":""},"portOfLoading":{"type":"string","description":""},"portOfDischarge":{"type":"string","description":""},"finalDestination":{"type":"string","description":""},"reimbursingBank":{"type":"string","description":""},"reimbursingBankAndAddress":{"type":"string","description":""},"applicableRuleCodesMT740":{"type":"string","description":""},"chargeFrom":{"type":"string","description":""},"chargeBaseAmount":{"type":"string","description":""},"chargeDefaultAccount":{"type":"string","description":""},"waiveCharge":{"type":"string","description":"Defines whether charges are to be collected or waived"},"marginRequired":{"type":"string","description":""},"marginCalculationBase":{"type":"string","description":""},"marginPercent":{"type":"string","description":"Field to state the percentage of provision to be taken"},"marginDebitAccount":{"type":"string","description":"Field to state the account from which the provision amount is to be debited"},"marginAmount":{"type":"number","description":"Actual amount of provision that is debited for the transaction"},"marginExchangeRate":{"type":"string","description":""},"limitWithProvision":{"type":"string","description":""},"docyCreditNumber":{"type":"string","description":""},"reimbursingBankReference":{"type":"string","description":""},"dateOfOriginalAuthorisation":{"type":"string","description":""},"newDocyCreditAmount":{"type":"number","description":""},"senderToReceiverInfo":{"type":"string","description":""}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"updateLCResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/updateLCResponseBody"}},"description":"updateLCResponse"},"updateLCResponseBody":{"type":"object","properties":{"additionalAmountsCovered":{"type":"array","items":{"type":"object","properties":{"additionalAmountCovered":{"type":"string","description":""}}}},"beneficiaries":{"type":"array","description":"","items":{"type":"object","properties":{"beneficiary":{"type":"string","description":""}}}},"shipmentPeriods":{"type":"array","items":{"type":"object","properties":{"shipmentPeriod":{"type":"string","description":""}}}},"narrativeCharges":{"type":"array","items":{"type":"object","properties":{"narrativeCharge":{"type":"string","description":""}}}},"charges":{"type":"array","description":"","items":{"type":"object","properties":{"chargeCode":{"type":"string","description":""},"partyCharged":{"type":"string","description":""},"chargeDebitAccount":{"type":"string","description":""},"chargeCurrency":{"type":"string","description":"Holds the currency code of the charge account from where the fee is deducted"},"chargeExchangeRate":{"type":"string","description":""},"chargeAmount":{"type":"string","description":"Holds the charge amount equivalent in charge account currency"},"amortiseCharge":{"type":"string","description":""},"chargeStatus":{"type":"string","description":""},"taxCurrency":{"type":"string","description":""},"taxAmount":{"type":"string","description":"The tax amount"}}}},"reimNarratives":{"type":"array","items":{"type":"object","properties":{"reimNarrative":{"type":"string","description":""}}}},"operation":{"type":"string","description":""},"sendAmendmentAdvice":{"type":"string","description":""},"lcNumber":{"type":"string","description":""},"advisingBankReference":{"type":"string","description":""},"issueDate":{"type":"string","description":"The date the item was issued."},"amendmentDate":{"type":"string","description":""},"lcType":{"type":"string","description":""},"applicant":{"type":"string","description":""},"advisingBank":{"type":"string","description":""},"newLcCurrency":{"type":"string","description":""},"newLcAmount":{"type":"string","description":""},"creditTolerance":{"type":"string","description":""},"debitTolerance":{"type":"string","description":""},"purposeOfMessage":{"type":"string","description":""},"cancellationRequest":{"type":"string","description":""},"daysAndPeriodForPresentation":{"type":"string","description":""},"latestShipmentDate":{"type":"string","description":""},"newLCExpiryDate":{"type":"string","description":""},"newLCExpiryPlace":{"type":"string","description":""},"liabilityReversalDate":{"type":"string","description":""},"limitReference":{"type":"string","description":"Identifies the type of limit applicable to the Account"},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary"},"autoExpiry":{"type":"string","description":"Decision field to determine whether the contingent entries are to be reversed after the deal expiry date or not"},"placeOfTakingInCharge":{"type":"string","description":""},"portOfLoading":{"type":"string","description":""},"portOfDischarge":{"type":"string","description":""},"finalDestination":{"type":"string","description":""},"reimbursingBank":{"type":"string","description":""},"reimbursingBankAndAddress":{"type":"string","description":""},"applicableRuleCodesMT740":{"type":"string","description":""},"amendStatus":{"type":"string","description":""},"draftPrint":{"type":"string","description":""},"releaseProvision":{"type":"string","description":"Field to decide whether the provision should be released or not"},"chargeFrom":{"type":"string","description":""},"chargeBaseAmount":{"type":"string","description":""},"chargeDefaultAccount":{"type":"string","description":""},"waiveCharge":{"type":"string","description":"Defines whether charges are to be collected or waived"},"marginRequired":{"type":"string","description":""},"marginCalculationBase":{"type":"string","description":""},"marginPercent":{"type":"string","description":"Field to state the percentage of provision to be taken"},"marginDebitAccount":{"type":"string","description":"Field to state the account from which the provision amount is to be debited"},"marginAmount":{"type":"number","description":"Actual amount of provision that is debited for the transaction"},"marginExchangeRate":{"type":"string","description":""},"limitWithProvision":{"type":"string","description":""},"docyCreditNumber":{"type":"string","description":""},"reimbursingBankReference":{"type":"string","description":""},"dateOfOriginalAuthorisation":{"type":"string","description":""},"newDocyCreditAmount":{"type":"number","description":""},"senderToReceiverInfo":{"type":"string","description":""}}},"ErrorHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"updateLCErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/updateLCErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"updateLCErrorResponse"},"updateLCErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}}}}