{"swagger":"2.0","info":{"description":"Version for updating decision on export Lc amendment","version":"v1.0.0","title":"updateDecisionOnExportLCAmendment"},"host":"api.server.com","basePath":"/api/","schemes":["http","https"],"paths":{"/holdings/letterOfCredits/{letterOfCreditId}/exports/decisions":{"put":{"operationId":"updateDecisionOnExportLCAmendment","produces":["application/json"],"parameters":[{"name":"letterOfCreditId","in":"path","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/updateDecisionOnExportLCAmendment"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"}],"responses":{"200":{"description":"updateDecisionOnExportLCAmendmentResponse","schema":{"$ref":"#/definitions/updateDecisionOnExportLCAmendmentResponse"}},"default":{"description":"updateDecisionOnExportLCAmendmentErrorResponse","schema":{"$ref":"#/definitions/updateDecisionOnExportLCAmendmentErrorResponse"}}}}}},"definitions":{"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}}}},"updateDecisionOnExportLCAmendment":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/updateDecisionOnExportLCAmendmentBody"}},"description":"updateDecisionOnExportLCAmendment"},"updateDecisionOnExportLCAmendmentBody":{"type":"object","properties":{"beneficiaries":{"type":"array","description":"","items":{"type":"object","properties":{"beneficiary":{"type":"string","description":""}}}},"shipmentPeriods":{"type":"array","items":{"type":"object","properties":{"shipmentPeriod":{"type":"string","description":""}}}},"bankToBanks":{"type":"array","items":{"type":"object","properties":{"bankToBank":{"type":"string","description":""}}}},"internalAmendmentDetails":{"type":"array","items":{"type":"object","properties":{"internalAmendmentDetail":{"type":"string","description":""}}}},"senderReceiversInfoMT730":{"type":"array","items":{"type":"object","properties":{"senderReceiverInfoMT730":{"type":"string","description":""}}}},"charges":{"type":"array","description":"","items":{"type":"object","properties":{"chargeCode":{"type":"string","description":""},"partyCharged":{"type":"string","description":""},"chargeDebitAccount":{"type":"string","description":""},"chargeCurrency":{"type":"string","description":"Holds the currency code of the charge account from where the fee is deducted"},"ChargeExchangeRate":{"type":"string","description":""},"chargeAmount":{"type":"string","description":"Holds the charge amount equivalent in charge account currency"},"amortiseCharges":{"type":"string","description":""},"chargeStatus":{"type":"string","description":""},"taxCurrency":{"type":"string","description":""},"taxAmount":{"type":"string","description":"The tax amount"}}}},"amendmentNumber":{"type":"string","description":""},"lcType":{"type":"string","description":""},"amendStatus":{"type":"string","description":""},"applicantCustomer":{"type":"string","description":""},"lcNumber":{"type":"string","description":""},"sendAmendmentAdvice":{"type":"string","description":""},"issuingBankReference":{"type":"string","description":""},"issueDate":{"type":"string","format":"date","description":"The date the item was issued."},"issuingBankId":{"type":"string","description":""},"lcCurrency":{"type":"string","description":""},"lcAmount":{"type":"number","description":""},"creditTolerance":{"type":"string","description":""},"debitTolerance":{"type":"string","description":""},"purposeOfMessage":{"type":"string","description":""},"cancellationRequest":{"type":"string","description":""},"additionalAmountCovered":{"type":"number","description":""},"newLCExpiryDate":{"type":"string","format":"date","description":""},"expiryPlace":{"type":"string","description":""},"liabilityReversalDate":{"type":"string","format":"date","description":""},"limitReference":{"type":"string","description":"Identifies the type of limit applicable to the Account"},"placeOfTakingInCharge":{"type":"string","description":""},"portOfLoading":{"type":"string","description":""},"portOfDischarge":{"type":"string","description":""},"finalDestination":{"type":"string","description":""},"latestShipmentDate":{"type":"string","format":"date","description":""},"chargeFrom":{"type":"string","description":""},"chargeDefaultAccount":{"type":"string","description":""},"waiveCharge":{"type":"string","description":"Defines whether charges are to be collected or waived"}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"updateDecisionOnExportLCAmendmentResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/updateDecisionOnExportLCAmendmentResponseBody"}},"description":"updateDecisionOnExportLCAmendmentResponse"},"updateDecisionOnExportLCAmendmentResponseBody":{"type":"object","properties":{"beneficiaries":{"type":"array","description":"","items":{"type":"object","properties":{"beneficiary":{"type":"string","description":""}}}},"shipmentPeriods":{"type":"array","items":{"type":"object","properties":{"shipmentPeriod":{"type":"string","description":""}}}},"bankToBanks":{"type":"array","items":{"type":"object","properties":{"bankToBank":{"type":"string","description":""}}}},"internalAmendmentDetails":{"type":"array","items":{"type":"object","properties":{"internalAmendmentDetail":{"type":"string","description":""}}}},"senderReceiversInfoMT730":{"type":"array","items":{"type":"object","properties":{"senderReceiverInfoMT730":{"type":"string","description":""}}}},"charges":{"type":"array","description":"","items":{"type":"object","properties":{"chargeCode":{"type":"string","description":""},"partyCharged":{"type":"string","description":""},"chargeDebitAccount":{"type":"string","description":""},"chargeCurrency":{"type":"string","description":"Holds the currency code of the charge account from where the fee is deducted"},"ChargeExchangeRate":{"type":"string","description":""},"chargeAmount":{"type":"string","description":"Holds the charge amount equivalent in charge account currency"},"amortiseCharges":{"type":"string","description":""},"chargeStatus":{"type":"string","description":""},"taxCurrency":{"type":"string","description":""},"taxAmount":{"type":"string","description":"The tax amount"}}}},"amendmentNumber":{"type":"string","description":""},"lcType":{"type":"string","description":""},"amendStatus":{"type":"string","description":""},"applicantCustomer":{"type":"string","description":""},"lcNumber":{"type":"string","description":""},"sendAmendmentAdvice":{"type":"string","description":""},"issuingBankReference":{"type":"string","description":""},"issueDate":{"type":"string","format":"date","description":"The date the item was issued."},"issuingBankId":{"type":"string","description":""},"lcCurrency":{"type":"string","description":""},"lcAmount":{"type":"number","description":""},"creditTolerance":{"type":"string","description":""},"debitTolerance":{"type":"string","description":""},"purposeOfMessage":{"type":"string","description":""},"cancellationRequest":{"type":"string","description":""},"additionalAmountCovered":{"type":"number","description":""},"newLCExpiryDate":{"type":"string","format":"date","description":""},"expiryPlace":{"type":"string","description":""},"liabilityReversalDate":{"type":"string","format":"date","description":""},"limitReference":{"type":"string","description":"Identifies the type of limit applicable to the Account"},"placeOfTakingInCharge":{"type":"string","description":""},"portOfLoading":{"type":"string","description":""},"portOfDischarge":{"type":"string","description":""},"finalDestination":{"type":"string","description":""},"latestShipmentDate":{"type":"string","format":"date","description":""},"chargeFrom":{"type":"string","description":""},"chargeDefaultAccount":{"type":"string","description":""},"waiveCharge":{"type":"string","description":"Defines whether charges are to be collected or waived"}}},"ErrorHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"updateDecisionOnExportLCAmendmentErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/updateDecisionOnExportLCAmendmentErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"updateDecisionOnExportLCAmendmentErrorResponse"},"updateDecisionOnExportLCAmendmentErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}}}}