{"swagger":"2.0","info":{"description":"Enquiry for export Lc outstanding","version":"v1.0.0","title":"getExportLCsOutstanding"},"host":"api.server.com","basePath":"/api/","schemes":["http","https"],"paths":{"/holdings/LetterOfCredits/{letterOfCreditId}/exports/outstandings":{"get":{"operationId":"getExportLCsOutstanding","produces":["application/json"],"parameters":[{"name":"letterOfCreditId","in":"path","required":true,"type":"string"},{"name":"lcReference","in":"query","description":"Indicates the LC reference under which the guarantee is to be opened","required":false,"type":"string"},{"name":"issuingBankId","in":"query","required":false,"type":"string"},{"name":"lcCurrency","in":"query","required":false,"type":"string"},{"name":"lcAmount","in":"query","required":false,"type":"string"},{"name":"beneficiaryCustomerId","in":"query","description":"The customer identifier where the beneficiary is a customer of the bank","required":false,"type":"string"},{"name":"expiryDate","in":"query","description":"The date an agreement such as a credit facility or limit is due to expire","required":false,"type":"string"},{"name":"liabilityReversalDate","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expacted to get as part of reponse from t24 on every enquiry request.","required":false,"type":"string"}],"responses":{"200":{"description":"getExportLCsOutstandingResponse","schema":{"$ref":"#/definitions/getExportLCsOutstandingResponse"}},"default":{"description":"getExportLCsOutstandingErrorResponse","schema":{"$ref":"#/definitions/getExportLCsOutstandingErrorResponse"}}}}}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"integer","format":"int32","description":"Unique id expacted to get as part of reponse from t24 on every enquiry request"}}},"getExportLCsOutstandingResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getExportLCsOutstandingResponseBody"}},"description":"getExportLCsOutstandingResponse"},"getExportLCsOutstandingResponseBody":{"type":"array","items":{"type":"object","properties":{"beneficiaries":{"type":"array","description":"","items":{"type":"object","properties":{"beneficiary":{"type":"string","description":""}}}},"transactionReference":{"type":"string","description":"The transaction reference identifier","maxLength":14},"advisingReference":{"type":"string","description":"","maxLength":16},"lcNumber":{"type":"string","description":"","maxLength":16},"lcType":{"type":"string","description":"","maxLength":35},"issueDate":{"type":"string","format":"date","description":"The date the item was issued."},"issuingBankId":{"type":"string","description":"","maxLength":35},"currency":{"type":"string","description":"","maxLength":3},"amount":{"type":"number","description":""},"outstandingAmount":{"type":"string","description":"Identifies the total outstanding amount for the corresponding Liability number and Limit reference. "},"liabilityAmount":{"type":"string","description":"Liability Amount"},"expiryDate":{"type":"string","format":"date","description":"The date an agreement such as a credit facility or limit is due to expire"},"liabilityReversalDate":{"type":"string","format":"date","description":""}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"getExportLCsOutstandingErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getExportLCsOutstandingErrorResponseBody"}},"description":"getExportLCsOutstandingErrorResponse"},"getExportLCsOutstandingErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}}}}