{"swagger":"2.0","info":{"description":"Lists transactions for an account","version":"v1.0.0","title":"getAccountSummary"},"host":"api.server.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/holdings/accounts/{accountId}/transactionLog":{"get":{"operationId":"getAccountSummary","produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","required":true,"type":"string"},{"name":"startDate","in":"query","description":"The start date","required":false,"type":"string"},{"name":"endDate","in":"query","description":"The date an agreement or contract ceases - the opposite of start date","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"getAccountSummaryResponse","schema":{"$ref":"#/definitions/getAccountSummaryResponse"}},"default":{"description":"getAccountSummaryErrorResponse","schema":{"$ref":"#/definitions/getAccountSummaryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"getAccountSummaryResponseQueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"},"data":{"type":"object","properties":{"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"accountTitle":{"type":"string","description":"","maxLength":25},"accountCurrency":{"type":"string","description":"The currency of the account"},"closingBalance":{"type":"string","description":"Closing balance of the arrangement"}}}}},"getAccountSummaryResponse":{"properties":{"header":{"$ref":"#/definitions/getAccountSummaryResponseQueryHeader"},"body":{"$ref":"#/definitions/getAccountSummaryResponseBody"}},"description":"getAccountSummaryResponse"},"getAccountSummaryResponseBody":{"type":"array","items":{"type":"object","properties":{"bookingDate":{"type":"string","description":"The date on which the entry was generated. Normally, but not necessarily, the actual date at the time the entry is generated, e.g. if the previous day's business is still being processed after midnight, the actual date changes, but the run date is still the previous day."},"transactionReference":{"type":"string","description":"The transaction reference identifier","maxLength":60},"transactionDescription":{"type":"string","description":"Description for the transaction","maxLength":34},"valueDate":{"type":"string","description":"The applicable value date","maxLength":11},"debit":{"type":"string","description":"","maxLength":19},"credit":{"type":"string","description":"","maxLength":19},"closingBalance":{"type":"string","description":"Closing balance of the arrangement","maxLength":19}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"getAccountSummaryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getAccountSummaryErrorResponseBody"}},"description":"getAccountSummaryErrorResponse"},"getAccountSummaryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}}}}