{"swagger":"2.0","info":{"description":"Enquiry for reversed guarantees","version":"v1.0.0","title":"getCancelledGuarantees"},"host":"api.server.com","basePath":"/api/","schemes":["http","https"],"paths":{"/holdings/customers/{customerId}/guarantees/cancellations":{"get":{"operationId":"getCancelledGuarantees","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","description":"The identifier of the customer","required":true,"type":"string"},{"name":"guaranteeReference","in":"query","description":"Another ID for the transaction for retrieval purposes","required":false,"type":"string"},{"name":"guaranteeType","in":"query","description":"Refers to the type of the contract that is being issued","required":false,"type":"string"},{"name":"currency","in":"query","description":"","required":false,"type":"string"},{"name":"amount","in":"query","description":"","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expacted to get as part of reponse from t24 on every enquiry request.","required":false,"type":"string"}],"responses":{"200":{"description":"getCancelledGuaranteesResponse","schema":{"$ref":"#/definitions/getCancelledGuaranteesResponse"}},"default":{"description":"getCancelledGuaranteesErrorResponse","schema":{"$ref":"#/definitions/getCancelledGuaranteesErrorResponse"}}}}}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"integer","format":"int32","description":"Unique id expacted to get as part of reponse from t24 on every enquiry request"}}},"getCancelledGuaranteesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getCancelledGuaranteesResponseBody"}},"description":"getCancelledGuaranteesResponse"},"getCancelledGuaranteesResponseBody":{"type":"array","items":{"type":"object","properties":{"transactionReference":{"type":"string","description":"The transaction reference identifier","maxLength":16},"customerId":{"type":"string","description":"The identifier of the customer","maxLength":20},"guaranteeType":{"type":"string","description":"Refers to the type of the contract that is being issued","maxLength":35},"currency":{"type":"string","description":"","maxLength":3},"amount":{"type":"number","description":""},"status":{"type":"string","description":"Get a detail status of the specified service/services","maxLength":4}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"getCancelledGuaranteesErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getCancelledGuaranteesErrorResponseBody"}},"description":"getCancelledGuaranteesErrorResponse"},"getCancelledGuaranteesErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}}}}