{"swagger":"2.0","info":{"description":"Management of Holdings Payment Stops","version":"v1.0.0","title":"Holdings Payment Stops APIs"},"host":"api.temenos.com","basePath":"/api/v1.0.0/","schemes":["http"],"security":[{"basicAuth":[]}],"paths":{"/holdings/paymentStops/{paymentStopId}":{"post":{"operationId":"createPaymentStop","produces":["application/json"],"parameters":[{"name":"paymentStopId","in":"path","description":"The identifier of the payment stop request","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/PaymentStop"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PaymentStopResponse","schema":{"$ref":"#/definitions/PaymentStopResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}},"put":{"operationId":"updatePaymentStop","produces":["application/json"],"parameters":[{"name":"paymentStopId","in":"path","description":"The identifier of the payment stop request","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/PaymentStop"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PaymentStopResponse","schema":{"$ref":"#/definitions/PaymentStopResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/holdings/paymentStops":{"get":{"operationId":"getPaymentStops","produces":["application/json"],"parameters":[{"name":"accountId","in":"query","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","required":false,"type":"string"},{"name":"customerId","in":"query","description":"The identifier of the customer","required":false,"type":"string"},{"name":"stopTypeId","in":"query","description":"The payment stop identifier code","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PaymentStopsResponse","schema":{"$ref":"#/definitions/PaymentStopsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}},"audit":{"type":"object","properties":{"versionNumber":{"type":"string","description":"The CURR.NO. of the record"}}}}},"PaymentStop":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/PaymentStopBody"}},"description":"PaymentStop"},"PaymentStopBody":{"type":"object","properties":{"stops":{"type":"array","description":"","items":{"type":"object","properties":{"stopTypeId":{"type":"string","description":"The payment stop identifier code"},"firstChequeId":{"type":"string","description":"Identifies the first chequeId in a range or, if lastChequeId is not entered, then only chequeId which is being stopped. "},"lastChequeId":{"type":"string","description":"Identifies the last chequeId in a range that is being stopped. "},"chequeTypeId":{"type":"string","description":"The identifier of the cheque type"},"stopDate":{"type":"string","format":"date","description":"The date on which the Payment Stop is placed"},"amountFrom":{"type":"number","description":"Specifies the amount from used in selection"},"amountTo":{"type":"number","description":"Specific the amount to used in selection"},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary"},"waiveCharge":{"type":"string","description":"Defines whether charges are to be collected or waived"},"charges":{"type":"array","items":{"type":"object","properties":{"chargeId":{"type":"string","description":"The identifier of the charge"},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"amount":{"type":"number","description":""}}}}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"recordStatus":{"type":"string","description":"The status of the record processed"}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"PaymentStopResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/PaymentStopResponseBody"}},"description":"PaymentStopResponse"},"PaymentStopResponseBody":{"type":"object","properties":{"stops":{"type":"array","description":"","items":{"type":"object","properties":{"stopTypeId":{"type":"string","description":"The payment stop identifier code"},"firstChequeId":{"type":"string","description":"Identifies the first chequeId in a range or, if lastChequeId is not entered, then only chequeId which is being stopped. "},"lastChequeId":{"type":"string","description":"Identifies the last chequeId in a range that is being stopped. "},"chequeTypeId":{"type":"string","description":"The identifier of the cheque type"},"stopDate":{"type":"string","format":"date","description":"The date on which the Payment Stop is placed"},"amountFrom":{"type":"number","description":"Specifies the amount from used in selection"},"amountTo":{"type":"number","description":"Specific the amount to used in selection"},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary"},"waiveCharge":{"type":"string","description":"Defines whether charges are to be collected or waived"},"charges":{"type":"array","items":{"type":"object","properties":{"chargeId":{"type":"string","description":"The identifier of the charge"},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"amount":{"type":"number","description":""}}}}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"recordStatus":{"type":"string","description":"The status of the record processed"}}},"ErrorHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"ScreenErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/ScreenErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"ScreenErrorResponse"},"ScreenErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}},"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"PaymentStopsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/PaymentStopsResponseBody"}},"description":"PaymentStopsResponse"},"PaymentStopsResponseBody":{"type":"array","items":{"type":"object","properties":{"stops":{"type":"array","items":{"type":"object","properties":{"stopTypeId":{"type":"string","description":"The payment stop identifier code","maxLength":30},"firstChequeId":{"type":"string","description":"Identifies the first chequeId in a range or, if lastChequeId is not entered, then only chequeId which is being stopped. ","maxLength":35},"lastChequeId":{"type":"string","description":"Identifies the last chequeId in a range that is being stopped. ","maxLength":35},"chequeTypeId":{"type":"string","description":"The identifier of the cheque type","maxLength":4},"stopDate":{"type":"string","format":"date","description":"The date on which the Payment Stop is placed"},"amountFrom":{"type":"number","description":"Specifies the amount from used in selection"},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary","maxLength":35}}}},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","maxLength":36},"customerId":{"type":"string","description":"The identifier of the customer","maxLength":10},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","maxLength":3},"versionNumber":{"type":"string","description":"","maxLength":4}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}}}}