{"swagger":"2.0","info":{"description":"Get Security Positions and security inventory positions","version":"v1.0.0","title":"Security Positions"},"host":"api.server.com","basePath":"/api/v1.0.0/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/holdings/portfolios/transactions":{"get":{"operationId":"getPortfoliosTransactions","produces":["application/json"],"parameters":[{"name":"securityNumber","in":"query","description":"Security Numbers","required":false,"type":"string"},{"name":"securityAccount","in":"query","description":"Security Accounts","required":false,"type":"string"},{"name":"referenceNumber","in":"query","description":"Reference Numbers","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PortfoliosTransactionsResponse","schema":{"$ref":"#/definitions/holdingsPortfoliosTransactionsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/holdings/securityInventoryPositions":{"get":{"operationId":"getSecurityInventoryPositions","produces":["application/json"],"parameters":[{"name":"instrumentId","in":"query","description":"The identifier of the instrument","required":false,"type":"string"},{"name":"dealerBook","in":"query","description":"Dealer Book","required":false,"type":"string"},{"name":"securityCode","in":"query","description":"Security Code","required":false,"type":"string"},{"name":"currentPosition","in":"query","description":"Current Positions","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"SecurityInventoryPositionsResponse","schema":{"$ref":"#/definitions/holdingsSecurityInventoryPositionsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/holdings/portfolios/{portfolioId}/transactions":{"get":{"operationId":"getPortfolioTransactions","produces":["application/json"],"parameters":[{"name":"portfolioId","in":"path","description":"The identifier of the portfolio","required":true,"type":"string"},{"name":"securityAccount","in":"query","description":"Security Accounts","required":false,"type":"string"},{"name":"referenceNumber","in":"query","description":"Reference Numbers","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PortfolioTransactionsResponse","schema":{"$ref":"#/definitions/holdingsPortfoliosTransactionsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"holdingsPortfoliosTransactionsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/holdingsPortfoliosTransactionsResponseBody"}},"description":"holdingsPortfoliosTransactionsResponse"},"holdingsPortfoliosTransactionsResponseBody":{"type":"array","items":{"type":"object","properties":{"tradeDate":{"type":"string","description":"The trade date of the contract","maxLength":11},"transactionReference":{"type":"string","description":"The transaction reference identifier"},"reversal":{"type":"string","description":"Reversal"},"transactionType":{"type":"string","description":"","maxLength":6},"tradeCurrency":{"type":"string","description":"The trade currency is the settlement currency for the trade","maxLength":3},"price":{"type":"string","description":"The Price at which the NOMINAL.AMOUNT of the Security is to be valued for the transaction."},"quantity":{"type":"number","description":"The nominal quantity"}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}},"holdingsSecurityInventoryPositionsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/holdingsSecurityInventoryPositionsResponseBody"}},"description":"holdingsSecurityInventoryPositionsResponse"},"holdingsSecurityInventoryPositionsResponseBody":{"type":"array","items":{"type":"object","properties":{"dealerBook":{"type":"string","description":"Dealer Book","maxLength":14},"bookName":{"type":"string","description":"Book Name","maxLength":35},"subAssetType":{"type":"string","description":"The name of the Sub Asset Type","maxLength":35},"securityNumber":{"type":"string","description":"Security Numbers","maxLength":12},"securityDescription":{"type":"string","description":"Security Description"},"currency":{"type":"string","description":"","maxLength":3},"interestRate":{"type":"string","description":""},"averageLifeMaturityDate":{"type":"string","format":"date","description":"Average Life Maturity Date"},"maturityDate":{"type":"string","format":"date","description":"The delivery period or maturity date of the contract transacted"},"currentPosition":{"type":"number","description":"Current Positions"},"parValue":{"type":"number","description":"Defines par value of the stock in the Security Currency"},"currentCostPosition":{"type":"number","description":"Currenct Cost Position"},"unrealizedProfitLoss":{"type":"number","description":"Unrealized profit and loss"},"currentRealizedProfitLoss":{"type":"number","description":"Current realized profit loss"},"couponAccrualPosted":{"type":"number","description":"Coupon accrual and posted"},"discountAccrued":{"type":"number","description":"Discount accrued"},"dateLastTraded":{"type":"string","format":"date","description":"Date last  traded"},"yieldToMaturity":{"type":"number","description":"Yield to  maturity"},"currentYield":{"type":"number","description":"Current yield"},"duration":{"type":"number","description":"Duration"},"scTradingPositionId":{"type":"string","description":"Sc trading position id","maxLength":25}}}}}}