{"swagger":"2.0","info":{"description":"List deposits for a customer","version":"v1.0.0","title":"getCustomerDeposits"},"host":"api.server.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/holdings/customers/{customerId}/deposits":{"get":{"operationId":"getCustomerDeposits","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","description":"The identifier of the customer","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"CustomerDepositsResponse","schema":{"$ref":"#/definitions/holdingsCustomerDepositsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"holdingsCustomerDepositsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/holdingsCustomerDepositsResponseBody"}},"description":"holdingsCustomerDepositsResponse"},"holdingsCustomerDepositsResponseBody":{"type":"array","items":{"type":"object","properties":{"depInterestRates":{"type":"array","description":"Interest Rate specified for the deposit","items":{"type":"object","properties":{"depInterestRate":{"type":"array","description":"Interest Rate specified for the deposit","items":{"type":"string"}}}}},"depAccountId":{"type":"string","description":"The identifier of the deposit account","maxLength":35},"depProduct":{"type":"string","description":"The product of the arrangement contract","maxLength":30},"depCurrency":{"type":"string","description":"The currency of the deposit account","maxLength":3},"depAmount":{"type":"string","description":"Total amount for which deposit is creted for the particular customer"},"depInterestType":{"type":"string","description":"Type of Interest"},"depStartDate":{"type":"string","format":"date","description":"Start Date for the deposit"},"depEndDate":{"type":"string","description":"End Date for the deposit"},"depBalance":{"type":"string","description":"Displays the current balance"},"depNextPayDate":{"type":"string","format":"date","description":"Denotes the next payment date"}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}}}}