{"swagger":"2.0","info":{"description":"Retrieves arrangements of accounts","version":"v1.0.0","title":"Holdings Arrangements APIs"},"host":"api.temenos.com","basePath":"/api/v1.0.0/","schemes":["http"],"security":[{"basicAuth":[]}],"paths":{"/holdings/arrangements/{arrangementId}/alertRequests":{"get":{"operationId":"getSubscribedAlerts","produces":["application/json"],"parameters":[{"name":"arrangementId","in":"path","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.","required":true,"type":"string"},{"name":"customerId","in":"query","description":"The identifier of the customer","required":false,"type":"string"},{"name":"subscribe","in":"query","required":false,"type":"string"},{"name":"alertRequestId","in":"query","description":"The identifier of the alert request","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"SubscribedAlertsResponse","schema":{"$ref":"#/definitions/SubscribedAlertsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/holdings/arrangements/alertRequests/{alertRequestId}":{"put":{"operationId":"updateAlertSubscription","produces":["application/json"],"parameters":[{"name":"alertRequestId","in":"path","description":"The identifier of the alert request","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/AlertSubscription"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"AlertSubscriptionResponse","schema":{"$ref":"#/definitions/AlertSubscriptionResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/holdings/arrangements/alertRequests":{"post":{"operationId":"createAlertSubscription","produces":["application/json"],"parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/AlertSubscription"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"AlertSubscriptionResponse","schema":{"$ref":"#/definitions/AlertSubscriptionResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/holdings/arrangements/{arrangementId}":{"get":{"operationId":"getArrangement","produces":["application/json"],"parameters":[{"name":"arrangementId","in":"path","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.","required":true,"type":"string"},{"name":"customerId","in":"query","description":"The identifier of the customer","required":false,"type":"string"},{"name":"productLineId","in":"query","description":"The identifier of the product line","required":false,"type":"string"},{"name":"productGroupId","in":"query","description":"The identifier of the product group","required":false,"type":"string"},{"name":"productId","in":"query","description":"The identifier of the product","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ArrangementResponse","schema":{"$ref":"#/definitions/ArrangementResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"SubscribedAlertsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/SubscribedAlertsResponseBody"}},"description":"SubscribedAlertsResponse"},"SubscribedAlertsResponseBody":{"type":"array","items":{"type":"object","properties":{"fields":{"type":"array","description":"","items":{"type":"object","properties":{"fieldDisplayName":{"type":"string","description":"","maxLength":50},"operand":{"type":"string","description":"Defines the operand","maxLength":35},"fieldValue":{"type":"string","description":"","maxLength":35}}}},"alertRequestId":{"type":"string","description":"The identifier of the alert request","maxLength":35},"contractReference":{"type":"string","description":"","maxLength":35},"eventId":{"type":"string","description":"The identifier of the event","maxLength":35},"displayName":{"type":"string","description":"The name used for display purposes","maxLength":35},"messageGroupId":{"type":"string","description":"","maxLength":35},"versionNumber":{"type":"string","description":"","maxLength":4}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}},"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}},"audit":{"type":"object","properties":{"versionNumber":{"type":"string","description":"The CURR.NO. of the record"}}}}},"AlertSubscription":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/AlertSubscriptionBody"}},"description":"AlertSubscription"},"AlertSubscriptionBody":{"type":"object","properties":{"fields":{"type":"array","description":"","items":{"type":"object","properties":{"fieldDisplayName":{"type":"string","description":""},"operand":{"type":"string","description":"Defines the operand"},"fieldValue":{"type":"string","description":""}}}},"eventId":{"type":"string","description":"The identifier of the event"},"contractReference":{"type":"string","description":""},"customerId":{"type":"string","description":"The identifier of the customer"},"subscribe":{"type":"string","description":""}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"AlertSubscriptionResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/AlertSubscriptionResponseBody"}},"description":"AlertSubscriptionResponse"},"AlertSubscriptionResponseBody":{"type":"object","properties":{"fields":{"type":"array","description":"","items":{"type":"object","properties":{"fieldDisplayName":{"type":"string","description":""},"operand":{"type":"string","description":"Defines the operand"},"fieldValue":{"type":"string","description":""}}}},"eventId":{"type":"string","description":"The identifier of the event"},"contractReference":{"type":"string","description":""},"customerId":{"type":"string","description":"The identifier of the customer"},"subscribe":{"type":"string","description":""}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"ScreenErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/ScreenErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"ScreenErrorResponse"},"ScreenErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}},"ArrangementResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/ArrangementResponseBody"}},"description":"ArrangementResponse"},"ArrangementResponseBody":{"type":"array","items":{"type":"object","properties":{"arrangementId":{"type":"string","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.","maxLength":17},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","maxLength":35},"accountName":{"type":"string","description":"The name of the account that is displayed","maxLength":35},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","maxLength":3},"termAmount":{"type":"number","description":"The amount of an arrangement agreement that forms the basis of the agreement (e.g. the amont to be lent)"},"productId":{"type":"string","description":"The identifier of the product","maxLength":30},"productGroupId":{"type":"string","description":"The identifier of the product group","maxLength":30},"productLineId":{"type":"string","description":"The identifier of the product line","maxLength":10},"category":{"type":"string","description":"","maxLength":35},"openingDate":{"type":"string","format":"date","description":""}}}}}}