{"swagger":"2.0","info":{"description":"Get and manage Holdings Deposits","version":"v1.0.0","title":"Holdings Deposits APIs"},"host":"api.temenos.com","basePath":"/api/v1.0.0/","schemes":["http"],"security":[{"basicAuth":[]}],"paths":{"/holdings/deposits/{depositId}":{"get":{"operationId":"getDepositDetails","produces":["application/json"],"parameters":[{"name":"depositId","in":"path","required":true,"type":"string"},{"name":"balanceTypes","in":"query","description":"Virtual Balance Type","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"DepositDetailsResponse","schema":{"$ref":"#/definitions/DepositDetailsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/holdings/deposits/{depositId}/bills":{"get":{"operationId":"getDepositBillDetails","produces":["application/json"],"parameters":[{"name":"depositId","in":"path","required":true,"type":"string"},{"name":"simulationReference","in":"query","description":"Reference Id for Simulation","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"DepositBillDetailsResponse","schema":{"$ref":"#/definitions/DepositBillDetailsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/holdings/deposits/{simulationCaptureReferenceId}/partialBills":{"get":{"operationId":"getDepositPartialBills","produces":["application/json"],"parameters":[{"name":"simulationCaptureReferenceId","in":"path","required":true,"type":"string"},{"name":"arrangementId","in":"query","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"DepositPartialBillsResponse","schema":{"$ref":"#/definitions/DepositPartialBillsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"DepositDetailsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/DepositDetailsResponseBody"}},"description":"DepositDetailsResponse"},"DepositDetailsResponseBody":{"type":"array","items":{"type":"object","properties":{"chargeTypes":{"type":"array","description":"The type of charge","items":{"type":"object","properties":{"chargeType":{"type":"string","description":"The type of charge"}}}},"taxRates":{"type":"array","description":"The applicable rate of tax","items":{"type":"object","properties":{"taxRate":{"type":"string","description":"The applicable rate of tax"}}}},"charges":{"type":"array","description":"","items":{"type":"object","properties":{"paymentFrequency":{"type":"string","description":"The frequency at which a payment is required to be generated"},"paymentTypeName":{"type":"string","description":"The name that is displayed for the paymentType"},"propertyName":{"type":"string","description":"The name that is displayed for the property"},"paymentMethod":{"type":"string","description":"The type of method used for the payment"},"chargeSchedulePaymentValue":{"type":"string","description":"The amount of the scheduled charge"}}}},"settlements":{"type":"array","description":"","items":{"type":"object","properties":{"payinSettlement":{"type":"string","description":""},"payinAccountId":{"type":"string","description":""},"payoutSettlement":{"type":"string","description":""},"payoutAccountId":{"type":"string","description":""},"propertyId":{"type":"string","description":"The identifier of the property, being an instances of a property class, e.g. Interest is property class and Debit Interest is property"},"propertyClassId":{"type":"string","description":"The identifier of the property class"}}}},"arrangementId":{"type":"string","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string."},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"startDate":{"type":"string","format":"date","description":"The start date"},"maturityDate":{"type":"string","format":"date","description":"The delivery period or maturity date of the contract transacted"},"maturesIn":{"type":"string","description":""},"coolingOffDate":{"type":"string","format":"date","description":"The period of time available for a client where they can cancel an agreement without penalty"},"term":{"type":"string","description":"The period to which the rate applies"},"termAmount":{"type":"number","description":"The amount of an arrangement agreement that forms the basis of the agreement (e.g. the amont to be lent)"},"cancellationPeriod":{"type":"string","description":""},"earlyRedemptionFee":{"type":"number","description":""},"withdrawalFee":{"type":"string","description":""},"interestRate":{"type":"string","description":""},"accrualAmount":{"type":"number","description":""},"accruedInterest":{"type":"number","description":"The amount of interest that has been accrued"},"paymentType":{"type":"string","description":"The payment type identifier"},"maturityInDays":{"type":"string","description":""},"remainingMaturityInDays":{"type":"string","description":""},"commitmentAmount":{"type":"number","description":""},"expectedBalance":{"type":"number","description":""},"allowWithdrawal":{"type":"string","description":""},"unspecifiedCredit":{"type":"number","description":""},"allowDeposit":{"type":"string","description":""},"allowWithdrawalUnclearedCredit":{"type":"string","description":""}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}},"DepositBillDetailsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/DepositBillDetailsResponseBody"}},"description":"DepositBillDetailsResponse"},"DepositBillDetailsResponseBody":{"type":"array","items":{"type":"object","properties":{"properties":{"type":"array","description":"","items":{"type":"object","properties":{"propertyName":{"type":"string","description":"The name that is displayed for the property"},"nextPaymentAmount":{"type":"number","description":""}}}},"billId":{"type":"string","description":"","maxLength":30},"totalAmount":{"type":"number","description":"The total amount"}}}},"DepositPartialBillsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/DepositPartialBillsResponseBody"}},"description":"DepositPartialBillsResponse"},"DepositPartialBillsResponseBody":{"type":"array","items":{"type":"object","properties":{"properties":{"type":"array","description":"","items":{"type":"object","properties":{"propertyName":{"type":"string","description":"The name that is displayed for the property"},"chargeAmount":{"type":"number","description":"Holds the charge amount equivalent in charge account currency"}}}},"simulationId":{"type":"string","description":"","maxLength":40}}}}}}