{"swagger":"2.0","info":{"description":"getLimitGroupAllocation","version":"v1.0.0","title":"getLimitGroupAllocation"},"host":"api.server.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/holdings/limits/groups/{groupId}/allocations":{"get":{"operationId":"getLimitGroupAllocations","produces":["application/json"],"parameters":[{"name":"groupId","in":"path","description":"The identifier of the group","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"LimitGroupAllocationsResponse","schema":{"$ref":"#/definitions/holdingsLimitGroupAllocationsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"holdingsLimitGroupAllocationsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/holdingsLimitGroupAllocationsResponseBody"}},"description":"holdingsLimitGroupAllocationsResponse"},"holdingsLimitGroupAllocationsResponseBody":{"type":"array","items":{"type":"object","properties":{"limitId":{"type":"string","description":"The identifier of the limit","maxLength":21},"dealReference":{"type":"string","description":"","maxLength":40},"dealCurrency":{"type":"string","description":"","maxLength":3},"dealAmount":{"type":"number","description":""},"overdrawnAmount":{"type":"number","description":""},"limitKey":{"type":"string","description":"","maxLength":32},"limitAmount":{"type":"number","description":"The amount allocated to a credit limit agreement"},"groupId":{"type":"string","description":"The identifier of the group","maxLength":10},"groupCurrency":{"type":"string","description":"","maxLength":3},"totalAllocation":{"type":"number","description":""},"commitOverdrawnAmount":{"type":"number","description":""},"commitAmountAlloc":{"type":"number","description":""}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}}}}