{"swagger":"2.0","info":{"description":"Allows the viewing and management of entitlements","version":"v1.0.0","title":"Holdings Entitlement APIs"},"host":"api.server.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/holdings/entitlements/{entitlementId}":{"get":{"operationId":"getSecurityEntitlement","produces":["application/json"],"parameters":[{"name":"entitlementId","in":"path","description":"The identifier of the entitlement","required":true,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"SecurityEntitlementResponse","schema":{"$ref":"#/definitions/holdingsSecurityEntitlementResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}},"put":{"operationId":"updateSecurityEntitlement","produces":["application/json"],"parameters":[{"name":"entitlementId","in":"path","description":"The identifier of the entitlement","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/holdingsSecurityEntitlement"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"SecurityEntitlementResponse","schema":{"$ref":"#/definitions/holdingsSecurityEntitlementResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}},"audit":{"type":"object","properties":{"versionNumber":{"type":"string","description":"The CURR.NO. of the record"}}}}},"holdingsSecurityEntitlement":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/holdingsSecurityEntitlementBody"}},"description":"holdingsSecurityEntitlement"},"holdingsSecurityEntitlementBody":{"type":"object","properties":{"optionDetails":{"type":"array","items":{"type":"object","properties":{"optionDescription":{"type":"string","description":"The description of the Option"},"optionQuantity":{"type":"number","description":"The quantity of the option trade"},"entitlementAmount":{"type":"number","description":"The amount resultiung from the exceution of a corporate action that the portfolio owner is entitled to receive"},"optionCurrency":{"type":"string","description":"The currency of the option"},"defaultOption":{"type":"boolean","description":"Indicates whether the option will be selected by default if no instruction is provided by the account owner"},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"sourceTaxAmount":{"type":"number","description":"Holds the source tax amount"},"localTaxAmount":{"type":"number","description":"Holds the local tax amount"},"commissionAmount":{"type":"number","description":"The amount of commission charged"},"chargeAmount":{"type":"number","description":"Holds the charge amount equivalent in charge account currency"},"netAmount":{"type":"number","description":"Holds the total amount"},"optionReplyByDate":{"type":"string","format":"date","description":"The CA cut-off date to choose a particular option."},"optionReplyByTime":{"type":"string","description":"The CA cut-off time to choose a particular option."},"newInstrumentDetails":{"type":"array","items":{"type":"object","properties":{"newInstrumentId":{"type":"string","description":"The identifier of a new instrument "},"quantity":{"type":"number","description":"The nominal quantity"},"ratio":{"type":"string","description":""},"price":{"type":"number","description":"The Price at which the NOMINAL.AMOUNT of the Security is to be valued for the transaction."}}}}}}},"sellBuyOptionDescriptions":{"type":"array","description":"The description of the sell/buy Option","items":{"type":"object","properties":{"sellBuyOptionDescription":{"type":"string","description":"The description of the sell/buy Option"}}}},"localTaxAmounts":{"type":"array","description":"Holds the local tax amount","items":{"type":"object","properties":{"localTaxAmount":{"type":"number","description":"Holds the local tax amount"}}}},"depositoryId":{"type":"number","description":"The identifier of the depository. Must be a customerSecurity of type depository."},"portfolioId":{"type":"string","description":"The identifier of the portfolio"},"instrumentId":{"type":"string","description":"The identifier of the instrument"},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"qualifyingHolding":{"type":"number","description":"The Portfolio's holding in the original security"},"eventQuantity":{"type":"number","description":""},"currency":{"type":"string","description":""},"valueDate":{"type":"string","format":"date","description":"The applicable value date"},"optionSelected":{"type":"number","description":"The option selected from the total number of options available"},"overOptionDescription":{"type":"string","description":"Option description or indicator for oversubscription"},"overSubscriptionPrice":{"type":"number","description":"Holds the price at which Over subscribed quantity is to be sold"},"overSubscribedQuantity":{"type":"number","description":"Holds Amount of additional shares that the user want to subscribe"},"accountCurrency":{"type":"string","description":"The currency of the account"},"sourceTaxAmount":{"type":"number","description":"Holds the source tax amount"},"commissionAmount":{"type":"number","description":"The amount of commission charged"},"netAmountInAccountCurrency":{"type":"number","description":"The net amount due to or from the Customer after +/- Charges"},"optStatus":{"type":"string","description":"Indicates the current status of the ENTITLEMENT"},"eventCurrency":{"type":"string","description":"Currency in which the event occurs"}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"holdingsSecurityEntitlementResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/holdingsSecurityEntitlementResponseBody"}},"description":"holdingsSecurityEntitlementResponse"},"holdingsSecurityEntitlementResponseBody":{"type":"object","properties":{"optionDetails":{"type":"array","items":{"type":"object","properties":{"optionDescription":{"type":"string","description":"The description of the Option"},"optionQuantity":{"type":"number","description":"The quantity of the option trade"},"entitlementAmount":{"type":"number","description":"The amount resultiung from the exceution of a corporate action that the portfolio owner is entitled to receive"},"optionCurrency":{"type":"string","description":"The currency of the option"},"defaultOption":{"type":"boolean","description":"Indicates whether the option will be selected by default if no instruction is provided by the account owner"},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"sourceTaxAmount":{"type":"number","description":"Holds the source tax amount"},"localTaxAmount":{"type":"number","description":"Holds the local tax amount"},"commissionAmount":{"type":"number","description":"The amount of commission charged"},"chargeAmount":{"type":"number","description":"Holds the charge amount equivalent in charge account currency"},"netAmount":{"type":"number","description":"Holds the total amount"},"optionReplyByDate":{"type":"string","format":"date","description":"The CA cut-off date to choose a particular option."},"optionReplyByTime":{"type":"string","description":"The CA cut-off time to choose a particular option."},"newInstrumentDetails":{"type":"array","items":{"type":"object","properties":{"newInstrumentId":{"type":"string","description":"The identifier of a new instrument "},"quantity":{"type":"number","description":"The nominal quantity"},"ratio":{"type":"string","description":""},"price":{"type":"number","description":"The Price at which the NOMINAL.AMOUNT of the Security is to be valued for the transaction."}}}}}}},"sellBuyOptionDescriptions":{"type":"array","description":"The description of the sell/buy Option","items":{"type":"object","properties":{"sellBuyOptionDescription":{"type":"string","description":"The description of the sell/buy Option"}}}},"localTaxAmounts":{"type":"array","description":"Holds the local tax amount","items":{"type":"object","properties":{"localTaxAmount":{"type":"number","description":"Holds the local tax amount"}}}},"depositoryId":{"type":"number","description":"The identifier of the depository. Must be a customerSecurity of type depository."},"portfolioId":{"type":"string","description":"The identifier of the portfolio"},"instrumentId":{"type":"string","description":"The identifier of the instrument"},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"qualifyingHolding":{"type":"number","description":"The Portfolio's holding in the original security"},"eventQuantity":{"type":"number","description":""},"currency":{"type":"string","description":""},"valueDate":{"type":"string","format":"date","description":"The applicable value date"},"optionSelected":{"type":"number","description":"The option selected from the total number of options available"},"overOptionDescription":{"type":"string","description":"Option description or indicator for oversubscription"},"overSubscriptionPrice":{"type":"number","description":"Holds the price at which Over subscribed quantity is to be sold"},"overSubscribedQuantity":{"type":"number","description":"Holds Amount of additional shares that the user want to subscribe"},"accountCurrency":{"type":"string","description":"The currency of the account"},"sourceTaxAmount":{"type":"number","description":"Holds the source tax amount"},"commissionAmount":{"type":"number","description":"The amount of commission charged"},"netAmountInAccountCurrency":{"type":"number","description":"The net amount due to or from the Customer after +/- Charges"},"optStatus":{"type":"string","description":"Indicates the current status of the ENTITLEMENT"},"eventCurrency":{"type":"string","description":"Currency in which the event occurs"}}},"ErrorHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"ScreenErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/ScreenErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"ScreenErrorResponse"},"ScreenErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}}}}