{"swagger":"2.0","info":{"description":"Version for creating Back to Back LC","version":"v1.0.0","title":"createIssuanceOfBackToBackLC"},"host":"api.server.com","basePath":"/api/","schemes":["http","https"],"paths":{"/holdings/letterOfCredits/backToBacks":{"post":{"operationId":"createIssuanceOfBackToBackLC","produces":["application/json"],"parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/createIssuanceOfBackToBackLC"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"}],"responses":{"200":{"description":"createIssuanceOfBackToBackLCResponse","schema":{"$ref":"#/definitions/createIssuanceOfBackToBackLCResponse"}},"default":{"description":"createIssuanceOfBackToBackLCErrorResponse","schema":{"$ref":"#/definitions/createIssuanceOfBackToBackLCErrorResponse"}}}}}},"definitions":{"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}}}},"createIssuanceOfBackToBackLC":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/createIssuanceOfBackToBackLCBody"}},"description":"createIssuanceOfBackToBackLC"},"createIssuanceOfBackToBackLCBody":{"type":"object","properties":{"limitReferences":{"type":"array","description":"Identifies the type of limit applicable to the Account","items":{"type":"object","properties":{"limitReference":{"type":"string","description":"Identifies the type of limit applicable to the Account"}}}},"beneficiaryAddresses":{"type":"array","items":{"type":"object","properties":{"beneficiaryAddress":{"type":"string","description":""}}}},"applicantNames":{"type":"array","items":{"type":"object","properties":{"applicantName":{"type":"string","description":""}}}},"availableWithBanks":{"type":"array","items":{"type":"object","properties":{"availableWithBank":{"type":"string","description":""}}}},"adviseThroughBanks":{"type":"array","items":{"type":"object","properties":{"adviseThroughBank":{"type":"string","description":""}}}},"charges":{"type":"array","description":"","items":{"type":"object","properties":{"chargeCode":{"type":"string","description":""},"partyCharged":{"type":"string","description":""},"chargeDebitAccount":{"type":"string","description":""},"chargeCurrency":{"type":"string","description":"Holds the currency code of the charge account from where the fee is deducted"},"ChargeExchangeRate":{"type":"string","description":""},"chargeAmount":{"type":"string","description":"Holds the charge amount equivalent in charge account currency"},"amortiseCharges":{"type":"string","description":""},"chargeStatus":{"type":"string","description":""},"taxCurrency":{"type":"string","description":""},"taxAmount":{"type":"string","description":"The tax amount"},"charge":{"type":"string","description":""}}}},"drawings":{"type":"array","items":{"type":"object","properties":{"drawingType":{"type":"string","description":""},"paymentPercent":{"type":"string","description":""},"paymentPortion":{"type":"string","description":""},"AcptTimeBand":{"type":"string","description":""},"AdditionalCoveredAmount":{"type":"string","description":""},"portionNo":{"type":"string","description":""},"drawingAmount":{"type":"number","description":""},"provisionOutstandingAmount":{"type":"number","description":""},"provisionAwaitAmount":{"type":"number","description":""},"liabilityPortionAmount":{"type":"string","description":""},"localCurrencyPortiomAmount":{"type":"number","description":""},"limitReference":{"type":"string","description":"Identifies the type of limit applicable to the Account"},"portionOverdrawn":{"type":"string","description":""}}}},"accountWithBanks":{"type":"array","description":"Identifies the bank where the beneficiary maintains his account.","items":{"type":"object","properties":{"accountWithBank":{"type":"string","description":"Identifies the bank where the beneficiary maintains his account."}}}},"senderReceiversInfoMT730":{"type":"array","items":{"type":"object","properties":{"senderReceiverInfoMT730":{"type":"string","description":""}}}},"exportLCType":{"type":"string","description":""},"backToBackLCRequired":{"type":"string","description":""},"relatedImportLCReference":{"type":"string","description":""},"advisingBankReference":{"type":"string","description":""},"lcAdvisingReference":{"type":"string","description":""},"issuingBankLCReference":{"type":"string","description":""},"issuingBankId":{"type":"string","description":""},"issuingBankName":{"type":"string","description":""},"lcCurrency":{"type":"string","description":""},"lcAmount":{"type":"number","description":""},"creditTolerance":{"type":"string","description":""},"debitTolerance":{"type":"string","description":""},"issueDate":{"type":"string","format":"date","description":"The date the item was issued."},"expiryDate":{"type":"string","format":"date","description":"The date an agreement such as a credit facility or limit is due to expire"},"expiryPlace":{"type":"string","description":""},"liabilityReversalDate":{"type":"string","format":"date","description":""},"autoExpiry":{"type":"string","description":"Decision field to determine whether the contingent entries are to be reversed after the deal expiry date or not"},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary"},"applicant":{"type":"string","description":""},"availableWithBankId":{"type":"string","description":""},"adviseThroughBankID":{"type":"string","description":""},"applicableRuleCodes":{"type":"string","description":""},"confirmationInstruction":{"type":"string","description":""},"chargeFrom":{"type":"string","description":""},"chargeDefaultAccount":{"type":"string","description":""},"waiveCharge":{"type":"string","description":"Defines whether charges are to be collected or waived"},"revolvingType":{"type":"string","description":""},"nunmberOfRevolution":{"type":"string","description":""},"revolvingFrequency":{"type":"string","description":""},"limitForRevolving":{"type":"string","description":""},"curRevolLiab":{"type":"string","description":""},"advisingBank":{"type":"string","description":""},"amountOfChargeMT730":{"type":"string","description":""}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"createIssuanceOfBackToBackLCResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/createIssuanceOfBackToBackLCResponseBody"}},"description":"createIssuanceOfBackToBackLCResponse"},"createIssuanceOfBackToBackLCResponseBody":{"type":"object","properties":{"limitReferences":{"type":"array","description":"Identifies the type of limit applicable to the Account","items":{"type":"object","properties":{"limitReference":{"type":"string","description":"Identifies the type of limit applicable to the Account"}}}},"beneficiaryAddresses":{"type":"array","items":{"type":"object","properties":{"beneficiaryAddress":{"type":"string","description":""}}}},"applicantNames":{"type":"array","items":{"type":"object","properties":{"applicantName":{"type":"string","description":""}}}},"availableWithBanks":{"type":"array","items":{"type":"object","properties":{"availableWithBank":{"type":"string","description":""}}}},"adviseThroughBanks":{"type":"array","items":{"type":"object","properties":{"adviseThroughBank":{"type":"string","description":""}}}},"charges":{"type":"array","description":"","items":{"type":"object","properties":{"chargeCode":{"type":"string","description":""},"partyCharged":{"type":"string","description":""},"chargeDebitAccount":{"type":"string","description":""},"chargeCurrency":{"type":"string","description":"Holds the currency code of the charge account from where the fee is deducted"},"ChargeExchangeRate":{"type":"string","description":""},"chargeAmount":{"type":"string","description":"Holds the charge amount equivalent in charge account currency"},"amortiseCharges":{"type":"string","description":""},"chargeStatus":{"type":"string","description":""},"taxCurrency":{"type":"string","description":""},"taxAmount":{"type":"string","description":"The tax amount"},"charge":{"type":"string","description":""}}}},"drawings":{"type":"array","items":{"type":"object","properties":{"drawingType":{"type":"string","description":""},"paymentPercent":{"type":"string","description":""},"paymentPortion":{"type":"string","description":""},"AcptTimeBand":{"type":"string","description":""},"AdditionalCoveredAmount":{"type":"string","description":""},"portionNo":{"type":"string","description":""},"drawingAmount":{"type":"number","description":""},"provisionOutstandingAmount":{"type":"number","description":""},"provisionAwaitAmount":{"type":"number","description":""},"liabilityPortionAmount":{"type":"string","description":""},"localCurrencyPortiomAmount":{"type":"number","description":""},"limitReference":{"type":"string","description":"Identifies the type of limit applicable to the Account"},"portionOverdrawn":{"type":"string","description":""}}}},"accountWithBanks":{"type":"array","description":"Identifies the bank where the beneficiary maintains his account.","items":{"type":"object","properties":{"accountWithBank":{"type":"string","description":"Identifies the bank where the beneficiary maintains his account."}}}},"senderReceiversInfoMT730":{"type":"array","items":{"type":"object","properties":{"senderReceiverInfoMT730":{"type":"string","description":""}}}},"exportLCType":{"type":"string","description":""},"backToBackLCRequired":{"type":"string","description":""},"relatedImportLCReference":{"type":"string","description":""},"advisingBankReference":{"type":"string","description":""},"lcAdvisingReference":{"type":"string","description":""},"issuingBankLCReference":{"type":"string","description":""},"issuingBankId":{"type":"string","description":""},"issuingBankName":{"type":"string","description":""},"lcCurrency":{"type":"string","description":""},"lcAmount":{"type":"number","description":""},"creditTolerance":{"type":"string","description":""},"debitTolerance":{"type":"string","description":""},"issueDate":{"type":"string","format":"date","description":"The date the item was issued."},"expiryDate":{"type":"string","format":"date","description":"The date an agreement such as a credit facility or limit is due to expire"},"expiryPlace":{"type":"string","description":""},"liabilityReversalDate":{"type":"string","format":"date","description":""},"autoExpiry":{"type":"string","description":"Decision field to determine whether the contingent entries are to be reversed after the deal expiry date or not"},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary"},"applicant":{"type":"string","description":""},"availableWithBankId":{"type":"string","description":""},"adviseThroughBankID":{"type":"string","description":""},"applicableRuleCodes":{"type":"string","description":""},"confirmationInstruction":{"type":"string","description":""},"chargeFrom":{"type":"string","description":""},"chargeDefaultAccount":{"type":"string","description":""},"waiveCharge":{"type":"string","description":"Defines whether charges are to be collected or waived"},"revolvingType":{"type":"string","description":""},"nunmberOfRevolution":{"type":"string","description":""},"revolvingFrequency":{"type":"string","description":""},"limitForRevolving":{"type":"string","description":""},"curRevolLiab":{"type":"string","description":""},"advisingBank":{"type":"string","description":""},"amountOfChargeMT730":{"type":"string","description":""}}},"ErrorHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"createIssuanceOfBackToBackLCErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/createIssuanceOfBackToBackLCErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"createIssuanceOfBackToBackLCErrorResponse"},"createIssuanceOfBackToBackLCErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}}}}