{"swagger":"2.0","info":{"description":"Get Swap NPV Revaluations","version":"v1.0.0","title":"Get Swap NPV Reval"},"host":"api.server.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/holdings/treasury/swaps/NPV/revaluations":{"get":{"operationId":"getSwapNPVRevaluations","produces":["application/json"],"parameters":[{"name":"currency","in":"query","description":"","required":false,"type":"string"},{"name":"discountRate","in":"query","description":"Discount Rate","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"SwapNPVRevaluationsResponse","schema":{"$ref":"#/definitions/holdingsSwapNPVRevaluationsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/holdings/treasury/swaps/NPV":{"get":{"operationId":"getSwapNPVDetails","produces":["application/json"],"parameters":[{"name":"contractId","in":"query","description":"The identifier of the contract","required":false,"type":"string"},{"name":"discountRate","in":"query","description":"Discount Rate","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"SwapNPVDetailsResponse","schema":{"$ref":"#/definitions/holdingsSwapNPVDetailsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/holdings/treasury/swaps/NPV/currencies/revaluations":{"get":{"operationId":"getSwapNPVCurrencyRevaluations","produces":["application/json"],"parameters":[{"name":"currency","in":"query","description":"","required":false,"type":"string"},{"name":"discountRate","in":"query","description":"Discount Rate","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"SwapNPVCurrencyRevaluationsResponse","schema":{"$ref":"#/definitions/holdingsSwapNPVCurrencyRevaluationsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"holdingsSwapNPVRevaluationsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/holdingsSwapNPVRevaluationsResponseBody"}},"description":"holdingsSwapNPVRevaluationsResponse"},"holdingsSwapNPVRevaluationsResponseBody":{"type":"array","items":{"type":"object","properties":{"currency":{"type":"string","description":""},"netPresentValueAsset":{"type":"number","description":"Net Present Value Asset"},"netPresentValueLiability":{"type":"number","description":"Net Present Value Liability"},"profitLossToDate":{"type":"number","description":"Profit Loss To Date"},"profitLossToday":{"type":"number","description":"Profit Loss Today"},"profitTillYesterday":{"type":"number","description":""},"transactionReference":{"type":"string","description":"The transaction reference identifier"},"maturityDate":{"type":"string","format":"date","description":"The delivery period or maturity date of the contract transacted"}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}},"holdingsSwapNPVDetailsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/holdingsSwapNPVDetailsResponseBody"}},"description":"holdingsSwapNPVDetailsResponse"},"holdingsSwapNPVDetailsResponseBody":{"type":"array","items":{"type":"object","properties":{"scheduleType":{"type":"string","description":"Schedule Type","maxLength":24},"scheduleTypeDescription":{"type":"string","description":"Schedule Type Description","maxLength":25},"startDate":{"type":"string","format":"date","description":"The start date"},"endDate":{"type":"string","format":"date","description":"The date an agreement or contract ceases - the opposite of start date"},"cashFlow":{"type":"number","description":"Cash Flow"},"daysDifference":{"type":"string","description":"Days Difference","maxLength":5},"periodDays":{"type":"string","description":"Period Days","maxLength":5},"couponRates":{"type":"string","description":"Coupon Rate","maxLength":19},"cumulativePresentValue":{"type":"string","description":"Cumulative PV","maxLength":19},"zeroDiscountRates":{"type":"string","description":"Zero Rate","maxLength":19},"presentValue":{"type":"number","description":"NPV"},"effectiveDate":{"type":"string","format":"date","description":"The date on which the principal movement is effected"},"swapType":{"type":"string","description":"Swap Type"},"legType":{"type":"string","description":""},"currency":{"type":"string","description":""},"maturityDate":{"type":"string","format":"date","description":"The delivery period or maturity date of the contract transacted"},"rateType":{"type":"string","description":""},"counterparty":{"type":"string","description":""}}}},"holdingsSwapNPVCurrencyRevaluationsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/holdingsSwapNPVCurrencyRevaluationsResponseBody"}},"description":"holdingsSwapNPVCurrencyRevaluationsResponse"},"holdingsSwapNPVCurrencyRevaluationsResponseBody":{"type":"array","items":{"type":"object","properties":{"contractId":{"type":"string","description":"The identifier of the contract","maxLength":14},"swapType":{"type":"number","description":"Swap Type"},"maturityDate":{"type":"string","format":"date","description":"The delivery period or maturity date of the contract transacted"},"assetCurrency":{"type":"string","description":"Asset Currency","maxLength":3},"netPresentValueAsset":{"type":"number","description":"Net Present Value Asset"},"netPresentValueAssetLocalCurrency":{"type":"number","description":"Net Present Value Asset Currency"},"liabilityCurrency":{"type":"string","description":"Liability Currency","maxLength":3},"netPresentValueLiability":{"type":"number","description":"Net Present Value Liability"},"netPresentValueLiabilityLocalCurrency":{"type":"number","description":"Net Present Value Liability Currency"},"profitLossToDate":{"type":"number","description":"Profit Loss To Date"},"profitLossToday":{"type":"number","description":"Profit Loss Today"},"currency":{"type":"string","description":""}}}}}}