{"swagger":"2.0","info":{"description":"Enquiry for Import Lc Expiring but outstanding","version":"v1.0.0","title":"getImportLCsExpiring"},"host":"api.server.com","basePath":"/api/","schemes":["http","https"],"paths":{"/holdings/customers/{customerId}/LetterOfCredits/imports/expiring":{"get":{"operationId":"getImportLCsExpiring","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","required":true,"type":"string"},{"name":"transactionReference","in":"query","description":"The transaction reference identifier","required":false,"type":"string"},{"name":"applicantCustomer","in":"query","required":false,"type":"string"},{"name":"lcCurrency","in":"query","required":false,"type":"string"},{"name":"advisingBank","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expacted to get as part of reponse from t24 on every enquiry request.","required":false,"type":"string"}],"responses":{"200":{"description":"getImportLCsExpiringResponse","schema":{"$ref":"#/definitions/getImportLCsExpiringResponse"}},"default":{"description":"getImportLCsExpiringErrorResponse","schema":{"$ref":"#/definitions/getImportLCsExpiringErrorResponse"}}}}}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"integer","format":"int32","description":"Unique id expacted to get as part of reponse from t24 on every enquiry request"}}},"getImportLCsExpiringResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getImportLCsExpiringResponseBody"}},"description":"getImportLCsExpiringResponse"},"getImportLCsExpiringResponseBody":{"type":"array","items":{"type":"object","properties":{"transactionReference":{"type":"string","description":"The transaction reference identifier","maxLength":14},"lcNumber":{"type":"string","description":"","maxLength":16},"lcType":{"type":"string","description":"","maxLength":35},"issueDate":{"type":"string","description":"The date the item was issued.","maxLength":11},"applicant":{"type":"string","description":"","maxLength":35},"currency":{"type":"string","description":"","maxLength":3},"amount":{"type":"string","description":""},"outstandingAmount":{"type":"string","description":"Identifies the total outstanding amount for the corresponding Liability number and Limit reference. ","maxLength":20},"liabilityAmount":{"type":"string","description":"Liability Amount"},"marginCurrency":{"type":"string","description":"","maxLength":14},"marginOutstanding":{"type":"string","description":""},"expiryDate":{"type":"string","description":"The date an agreement such as a credit facility or limit is due to expire","maxLength":11},"liabilityReversalDate":{"type":"string","description":"","maxLength":11}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"getImportLCsExpiringErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getImportLCsExpiringErrorResponseBody"}},"description":"getImportLCsExpiringErrorResponse"},"getImportLCsExpiringErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}}}}