{"swagger":"2.0","info":{"description":"Allows the viewing of the Portfolio's Valuation","version":"v1.0.0","title":"Holdings Portfolios Valuation APIs"},"host":"api.server.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/holdings/portfolios/{portfolioId}/valuations":{"get":{"operationId":"getPortfolioValuations","produces":["application/json"],"parameters":[{"name":"portfolioId","in":"path","description":"The identifier of the portfolio","required":true,"type":"string"},{"name":"currencyId","in":"query","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PortfolioValuationsResponse","schema":{"$ref":"#/definitions/holdingsPortfolioValuationsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/holdings/portfolios/{portfolioId}/LTV":{"get":{"operationId":"getPortfolioLTV","produces":["application/json"],"parameters":[{"name":"portfolioId","in":"path","description":"The identifier of the portfolio","required":true,"type":"string"},{"name":"currencyId","in":"query","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PortfolioLTVResponse","schema":{"$ref":"#/definitions/holdingsPortfolioLTVResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"holdingsPortfolioValuationsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/holdingsPortfolioValuationsResponseBody"}},"description":"holdingsPortfolioValuationsResponse"},"holdingsPortfolioValuationsResponseBody":{"type":"array","items":{"type":"object","properties":{"portfolioId":{"type":"string","description":"The identifier of the portfolio","maxLength":18},"assetEstimation":{"type":"number","description":"Total estimation positions of the portfolio"},"collateralMarketValue":{"type":"number","description":"Total market value of the collateral"},"lombardValue":{"type":"number","description":"Lombard value of the portfolio"},"diversifiedLombardValue":{"type":"number","description":"Lombard value of the portfolio after diversification"},"totalLiability":{"type":"number","description":"The total liability of the portfolio"},"netLombardValue":{"type":"number","description":"The net lombard value of the portfolio"},"limitAmount":{"type":"number","description":"The amount allocated to a credit limit agreement"},"limitAvailability":{"type":"number","description":"Limit Availablity  of the portfolio"},"securityMarginPercentage":{"type":"number","description":"Percentage of margin of the pledged securities"},"interventionPercentage":{"type":"number","description":"Percentage of intervention of the lombard value of the portfolio"},"realisationPercentage":{"type":"number","description":"Percentage of realisation of the lombard value of the portfolio"},"pledgeBalance":{"type":"number","description":"The balance of the pledged securities"}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}},"holdingsPortfolioLTVResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/holdingsPortfolioLTVResponseBody"}},"description":"holdingsPortfolioLTVResponse"},"holdingsPortfolioLTVResponseBody":{"type":"array","items":{"type":"object","properties":{"instrumentId":{"type":"string","description":"The identifier of the instrument","maxLength":20},"instrumentName":{"type":"string","description":"The name that is displayed for the instrument, taken from securityMaster","maxLength":25},"subAssetType":{"type":"string","description":"The name of the Sub Asset Type","maxLength":20},"ISIN":{"type":"string","description":"The International Securities Identification Number of the instrument","maxLength":35},"marketValue":{"type":"number","description":"Market value for the associated position"},"collateralMarketValue":{"type":"number","description":"Total market value of the collateral"},"totalLiability":{"type":"number","description":"The total liability of the portfolio"},"securityMarginPercentage":{"type":"number","description":"Percentage of margin of the pledged securities"},"lombardValue":{"type":"number","description":"Lombard value of the portfolio"},"diversifiedLombardValue":{"type":"number","description":"Lombard value of the portfolio after diversification"},"pricingFlag":{"type":"string","description":"Indicates if the security is priced","maxLength":3},"interventionPercentage":{"type":"number","description":"Percentage of intervention of the lombard value of the portfolio"},"interventionAmount":{"type":"number","description":"Amount of intervention of the lombard value of the portfolio"},"realisationPercentage":{"type":"number","description":"Percentage of realisation of the lombard value of the portfolio"},"realisationAmount":{"type":"number","description":"Amount of realisation of the lombard value of the portfolio"}}}}}}