{"swagger":"2.0","info":{"description":"Version for amendment seeking beneficiary's consent","version":"v1.0.0","title":"updateLCBeneficiaryConsent"},"host":"api.server.com","basePath":"/api/","schemes":["http","https"],"paths":{"/holdings/letterOfCredits/{letterOfCreditId}/beneficiaryConsents":{"put":{"operationId":"updateLCBeneficiaryConsent","produces":["application/json"],"parameters":[{"name":"letterOfCreditId","in":"path","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/updateLCBeneficiaryConsent"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"}],"responses":{"200":{"description":"updateLCBeneficiaryConsentResponse","schema":{"$ref":"#/definitions/updateLCBeneficiaryConsentResponse"}},"default":{"description":"updateLCBeneficiaryConsentErrorResponse","schema":{"$ref":"#/definitions/updateLCBeneficiaryConsentErrorResponse"}}}}}},"definitions":{"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}}}},"updateLCBeneficiaryConsent":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/updateLCBeneficiaryConsentBody"}},"description":"updateLCBeneficiaryConsent"},"updateLCBeneficiaryConsentBody":{"type":"object","properties":{"placeholder":{"type":"string"}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"updateLCBeneficiaryConsentResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/updateLCBeneficiaryConsentResponseBody"}},"description":"updateLCBeneficiaryConsentResponse"},"updateLCBeneficiaryConsentResponseBody":{"type":"object","properties":{"placeholder":{"type":"string"}}},"ErrorHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"updateLCBeneficiaryConsentErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/updateLCBeneficiaryConsentErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"updateLCBeneficiaryConsentErrorResponse"},"updateLCBeneficiaryConsentErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}}}}