{"swagger":"2.0","info":{"description":"Enquiry for Guarantee expiring for the client","version":"v1.0.0","title":"getExpiringGuarantees"},"host":"api.server.com","basePath":"/api/","schemes":["http","https"],"paths":{"/holdings/customers/{customerId}/guarantees/expiring":{"get":{"operationId":"getExpiringGuarantees","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","description":"The identifier of the customer","required":true,"type":"string"},{"name":"transactionReference","in":"query","description":"The transaction reference identifier","required":false,"type":"string"},{"name":"currency","in":"query","description":"","required":false,"type":"string"},{"name":"amount","in":"query","description":"","required":false,"type":"string"},{"name":"maturityDate","in":"query","description":"The delivery period or maturity date of the contract transacted","required":false,"type":"string"},{"name":"gteeReturnDate","in":"query","description":"Date on which the original Guarantee will be returned by the customer to the Bank that issued it","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expacted to get as part of reponse from t24 on every enquiry request.","required":false,"type":"string"}],"responses":{"200":{"description":"getExpiringGuaranteesResponse","schema":{"$ref":"#/definitions/getExpiringGuaranteesResponse"}},"default":{"description":"getExpiringGuaranteesErrorResponse","schema":{"$ref":"#/definitions/getExpiringGuaranteesErrorResponse"}}}}}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"integer","format":"int32","description":"Unique id expacted to get as part of reponse from t24 on every enquiry request"}}},"getExpiringGuaranteesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getExpiringGuaranteesResponseBody"}},"description":"getExpiringGuaranteesResponse"},"getExpiringGuaranteesResponseBody":{"type":"array","items":{"type":"object","properties":{"transactionReference":{"type":"string","description":"The transaction reference identifier","maxLength":17},"customer":{"type":"string","description":"","maxLength":20},"guaranteeType":{"type":"string","description":"Refers to the type of the contract that is being issued","maxLength":25},"currency":{"type":"string","description":"","maxLength":3},"amount":{"type":"number","description":""},"issueDate":{"type":"string","format":"date","description":"The date the item was issued."},"expiryDate":{"type":"string","format":"date","description":"The date an agreement such as a credit facility or limit is due to expire"},"maturityDate":{"type":"string","format":"date","description":"The delivery period or maturity date of the contract transacted"},"autoExpiry":{"type":"string","description":"Decision field to determine whether the contingent entries are to be reversed after the deal expiry date or not","maxLength":3}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"getExpiringGuaranteesErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getExpiringGuaranteesErrorResponseBody"}},"description":"getExpiringGuaranteesErrorResponse"},"getExpiringGuaranteesErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}}}}