{"swagger":"2.0","info":{"description":"Get and management of Holdings Cards","version":"v1.0.0","title":"Holdings Cards APIs"},"host":"api.temenos.com","basePath":"/api/v1.0.0/","schemes":["http"],"security":[{"basicAuth":[]}],"paths":{"/holdings/cards":{"get":{"operationId":"getCardIssues","produces":["application/json"],"parameters":[{"name":"cardIssueId","in":"query","description":"The identifier of the issued card, consisting of three elements. The card type, a full stop and the card number. The card type must be a valid cardType. The card number may be any alphanumeric construction, e.g. VISA.1234567887654321 GC.1111222233334444 AB21.1111111122222222","required":false,"type":"string"},{"name":"accountId","in":"query","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","required":false,"type":"string"},{"name":"issueDate","in":"query","description":"The date the item was issued.","required":false,"type":"string","format":"date"},{"name":"expiryDate","in":"query","description":"The date an agreement such as a credit facility or limit is due to expire","required":false,"type":"string","format":"date"},{"name":"cardStatus","in":"query","description":"The status of the card","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"CardIssuesResponse","schema":{"$ref":"#/definitions/CardIssuesResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/holdings/cards/{cardIssueId}":{"post":{"operationId":"createCardIssue","produces":["application/json"],"parameters":[{"name":"cardIssueId","in":"path","description":"The identifier of the issued card, consisting of three elements. The card type, a full stop and the card number. The card type must be a valid cardType. The card number may be any alphanumeric construction, e.g. VISA.1234567887654321 GC.1111222233334444 AB21.1111111122222222","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/CardIssue"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"CardIssueResponse","schema":{"$ref":"#/definitions/CardIssueResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}},"put":{"operationId":"updateCardIssue","produces":["application/json"],"parameters":[{"name":"cardIssueId","in":"path","description":"The identifier of the issued card, consisting of three elements. The card type, a full stop and the card number. The card type must be a valid cardType. The card number may be any alphanumeric construction, e.g. VISA.1234567887654321 GC.1111222233334444 AB21.1111111122222222","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/CardIssue"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"CardIssueResponse","schema":{"$ref":"#/definitions/CardIssueResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}},"delete":{"operationId":"deleteCardIssue","produces":["application/json"],"parameters":[{"name":"cardIssueId","in":"path","description":"The identifier of the issued card, consisting of three elements. The card type, a full stop and the card number. The card type must be a valid cardType. The card number may be any alphanumeric construction, e.g. VISA.1234567887654321 GC.1111222233334444 AB21.1111111122222222","required":true,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"CardIssueResponse","schema":{"$ref":"#/definitions/CardIssueResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"CardIssuesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/CardIssuesResponseBody"}},"description":"CardIssuesResponse"},"CardIssuesResponseBody":{"type":"array","items":{"type":"object","properties":{"accountIds":{"type":"array","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","items":{"type":"object","properties":{"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","maxLength":16}}}},"cardNames":{"type":"array","description":"The name that is displayed for the card","items":{"type":"object","properties":{"cardName":{"type":"string","description":"The name that is displayed for the card","maxLength":35}}}},"cardIssueId":{"type":"string","description":"The identifier of the issued card, consisting of three elements. The card type, a full stop and the card number. The card type must be a valid cardType. The card number may be any alphanumeric construction, e.g. VISA.1234567887654321 GC.1111222233334444 AB21.1111111122222222","maxLength":24},"cardDisplayNumber":{"type":"string","description":""},"cardType":{"type":"string","description":"The type of the card, e.g. Visa, Mastercard, etc."},"displayName":{"type":"string","description":"The name used for display purposes"},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","maxLength":3},"issueDate":{"type":"string","format":"date","description":"The date the item was issued."},"expiryDate":{"type":"string","format":"date","description":"The date an agreement such as a credit facility or limit is due to expire"},"cancellationDate":{"type":"string","format":"date","description":"The date of cancellation"},"cancellationReason":{"type":"string","description":"The reason for the cancellation","maxLength":2},"cardStatus":{"type":"string","description":"The status of the card","maxLength":3},"fullCardNumber":{"type":"string","description":"The complete card number including the combination of bank codes, account number and other card convention"},"versionNumber":{"type":"string","description":"","maxLength":4}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}},"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}},"audit":{"type":"object","properties":{"versionNumber":{"type":"string","description":"The CURR.NO. of the record"}}}}},"CardIssue":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/CardIssueBody"}},"description":"CardIssue"},"CardIssueBody":{"type":"object","properties":{"accountIds":{"type":"array","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","items":{"type":"object","properties":{"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."}}}},"cardNames":{"type":"array","description":"The name that is displayed for the card","items":{"type":"object","properties":{"cardName":{"type":"string","description":"The name that is displayed for the card"}}}},"notes":{"type":"array","items":{"type":"object","properties":{"note":{"type":"string","description":""}}}},"cardStatus":{"type":"string","description":"The status of the card"},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"issueDate":{"type":"string","format":"date","description":"The date the item was issued."},"expiryDate":{"type":"string","format":"date","description":"The date an agreement such as a credit facility or limit is due to expire"},"pinIssueDate":{"type":"string","format":"date","description":""},"cancellationDate":{"type":"string","format":"date","description":"The date of cancellation"},"cancellationReason":{"type":"string","description":"The reason for the cancellation"}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"CardIssueResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/CardIssueResponseBody"}},"description":"CardIssueResponse"},"CardIssueResponseBody":{"type":"object","properties":{"accountIds":{"type":"array","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","items":{"type":"object","properties":{"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."}}}},"cardNames":{"type":"array","description":"The name that is displayed for the card","items":{"type":"object","properties":{"cardName":{"type":"string","description":"The name that is displayed for the card"}}}},"notes":{"type":"array","items":{"type":"object","properties":{"note":{"type":"string","description":""}}}},"cardStatus":{"type":"string","description":"The status of the card"},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"issueDate":{"type":"string","format":"date","description":"The date the item was issued."},"expiryDate":{"type":"string","format":"date","description":"The date an agreement such as a credit facility or limit is due to expire"},"pinIssueDate":{"type":"string","format":"date","description":""},"cancellationDate":{"type":"string","format":"date","description":"The date of cancellation"},"cancellationReason":{"type":"string","description":"The reason for the cancellation"}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"ScreenErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/ScreenErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"ScreenErrorResponse"},"ScreenErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}}}}