{"swagger":"2.0","info":{"description":"HoldingsCustomerLimitDetailService","version":"v1.0.0","title":"Holdings Customer Limits"},"host":"api.server.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/holdings/limits/{customerId}/limitDetails":{"get":{"operationId":"getCustomerLimitDetails","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","description":"The identifier of the customer","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"CustomerLimitDetailsResponse","schema":{"$ref":"#/definitions/holdingsCustomerLimitDetailsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"holdingsCustomerLimitDetailsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/holdingsCustomerLimitDetailsResponseBody"}},"description":"holdingsCustomerLimitDetailsResponse"},"holdingsCustomerLimitDetailsResponseBody":{"type":"array","items":{"type":"object","properties":{"limitId":{"type":"string","description":"The identifier of the limit","maxLength":32},"customerId":{"type":"string","description":"The identifier of the customer"},"customerName":{"type":"string","description":"The name that is displayed for the customer"},"limitCurrency":{"type":"string","description":"Currency in which the limit is granted","maxLength":3},"limitReference":{"type":"number","description":"Identifies the type of limit applicable to the Account"},"limitReferenceDisplayName":{"type":"string","description":"Description of the limit reference.","maxLength":7},"limitAmount":{"type":"number","description":"The amount allocated to a credit limit agreement"},"outstandingAmount":{"type":"number","description":"Identifies the total outstanding amount for the corresponding Liability number and Limit reference. "},"availableOrExcess":{"type":"number","description":"The available amount for the corresponding liability number and limit reference.This amount is always expressed in the currency of the limit. Calculated as the sum of the online limit, the available balance and any sub allocation taken, less any sub allocation given, any commission available, the total oustanding."},"outstandingConditionAccount":{"type":"string","description":"This  account will be used to drive the overdrawn processing, when there are more than one account attached in limit.","maxLength":16}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}}}}