{"swagger":"2.0","info":{"description":"createMudarabaDeposit","version":"v1.0.0","title":"createMudarabaDeposit"},"host":"api.server.com","basePath":"/api/","schemes":["http","https"],"paths":{"/holdings/deposits/mudarabaDeposits":{"post":{"operationId":"createMudarabaDeposit","produces":["application/json"],"parameters":[{"in":"body","name":"payload","required":true,"schema":{"$ref":"#/definitions/createMudarabaDeposit"}}],"responses":{"200":{"description":"createMudarabaDepositResponse","schema":{"$ref":"#/definitions/createMudarabaDepositResponse"}},"default":{"description":"createMudarabaDepositErrorResponse","schema":{"$ref":"#/definitions/createMudarabaDepositErrorResponse"}}}}}},"definitions":{"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}}}},"createMudarabaDeposit":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/createMudarabaDepositBody"}},"description":"createMudarabaDeposit"},"createMudarabaDepositBody":{"type":"object","properties":{"parties":{"type":"array","description":"","items":{"type":"object","properties":{"partyId":{"type":"string","description":""},"partyRole":{"type":"string","description":""}}}},"activityId":{"type":"string","description":"The identifier of the activity"},"effectiveDate":{"type":"string","format":"date","description":"The date on which the principal movement is effected"},"productId":{"type":"string","description":"The identifier of the product"},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"simulationId":{"type":"string","description":""},"settlement":{"type":"object","properties":{"settlement":{"type":"array","description":"","items":{"type":"object","properties":{"payinSettlement":{"type":"string","description":""},"payoutSettlement":{"type":"string","description":""},"reference":{"type":"array","items":{"type":"object","properties":{"ddMandateReference":{"type":"string","format":"date","description":""},"payinAccount":{"type":"string","description":""},"payinBeneficiary":{"type":"string","description":""},"payinPercentage":{"type":"number","description":""},"payinAmount":{"type":"number","description":""},"payoutAccount":{"type":"string","description":""},"payoutBeneficiary":{"type":"string","description":""},"payoutPercentage":{"type":"number","description":""},"payoutAmount":{"type":"number","description":""}}}}}}},"assocSettlement":{"type":"array","description":"","items":{"type":"object","properties":{"payinSettlement":{"type":"string","description":""},"payinRule":{"type":"string","description":""},"payinSettlementActivity":{"type":"string","description":""},"payinRCType":{"type":"string","description":""},"payinRCCondition":{"type":"string","description":""},"reference":{"type":"array","items":{"type":"object","properties":{"ddMandateReference":{"type":"string","format":"date","description":""},"payinAccount":{"type":"string","description":""},"payinBeneficiary":{"type":"string","description":""},"payinPOProduct":{"type":"string","description":""},"payinPercentage":{"type":"number","description":""},"payinAmount":{"type":"number","description":""},"payinActivity":{"type":"string","description":""}}}}}}},"payout":{"type":"array","description":"","items":{"type":"object","properties":{"payoutSettlement":{"type":"string","description":"","enum":["Payout Settlement"]},"payoutSettlementActivity":{"type":"string","description":"","enum":["Payout Settle Activity"]},"property":{"type":"array","items":{"type":"object","properties":{"payoutPropertyClass":{"type":"string","description":"","enum":["Payout Property Class"]},"payoutProperty":{"type":"string","description":"","enum":["Payout Property"]},"payoutAccount":{"type":"string","description":"","enum":["Payout Account"]},"payoutBeneficiary":{"type":"string","description":"","enum":["Payout Beneficiary"]},"payoutPOProduct":{"type":"string","description":"","enum":["Payout Product"]},"payoutPercentage":{"type":"number","description":""},"payoutAmount":{"type":"number","description":""},"payoutActivity":{"type":"string","description":"","enum":["Payout Activity"]}}}}}}},"paymentType":{"type":"string","description":"The payment type identifier"},"defaultSettlementAccount":{"type":"string","description":"","enum":["Default Settlement Account"]}}},"commitment":{"type":"object","properties":{"amount":{"type":"number","description":""},"changeAmount":{"type":"number","description":""},"term":{"type":"string","description":"The period to which the rate applies"},"revolving":{"type":"string","description":"","enum":["NO","PAYMENT","PREPAYMENT"]},"updateLimit":{"type":"string","description":"","enum":["YES","NO"]}}}}},"ArrangementHeader":{"properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"aaaId":{"type":"string","description":"The Identifier of the aa record created"},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"createMudarabaDepositResponse":{"properties":{"header":{"$ref":"#/definitions/ArrangementHeader"},"body":{"$ref":"#/definitions/createMudarabaDepositResponseBody"}},"description":"createMudarabaDepositResponse"},"createMudarabaDepositResponseBody":{"type":"object","properties":{"arrangementActivity":{"type":"object","properties":{"parties":{"type":"array","description":"","items":{"type":"object","properties":{"partyId":{"type":"string","description":""},"partyRole":{"type":"string","description":""}}}},"arrangementId":{"type":"string","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string."},"activityId":{"type":"string","description":"The identifier of the activity"},"effectiveDate":{"type":"string","format":"date","description":"The date on which the principal movement is effected"},"productId":{"type":"string","description":"The identifier of the product"},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"simulationId":{"type":"string","description":""}}},"activities":{"type":"object","properties":{"{activityName}":{"type":"object","properties":{"activity":{"type":"string"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"id":{"type":"string","description":"The Identifier of the record created"}}}}},"properties":{"type":"object","properties":{"account":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"activityCharges":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"messaging":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"arrangementRules":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"redemptionfee":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"depositcharge":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"crredemptionfee":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"closure":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"customer":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"depositpft":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"officers":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"prDeposit":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"prCurrentBalances":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"schedule":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"poEarlyWithdrawal":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"poWithdrawal":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"idProfitPay":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"periodiccharges":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"deppricing":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"renewal":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"reporting":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"settlement":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"settlement":{"type":"array","description":"","items":{"type":"object","properties":{"payinSettlement":{"type":"string","description":""},"payoutSettlement":{"type":"string","description":""},"reference":{"type":"array","items":{"type":"object","properties":{"ddMandateReference":{"type":"string","format":"date","description":""},"payinAccount":{"type":"string","description":""},"payinBeneficiary":{"type":"string","description":""},"payinPercentage":{"type":"number","description":""},"payinAmount":{"type":"number","description":""},"payoutAccount":{"type":"string","description":""},"payoutBeneficiary":{"type":"string","description":""},"payoutPercentage":{"type":"number","description":""},"payoutAmount":{"type":"number","description":""}}}}}}},"assocSettlement":{"type":"array","description":"","items":{"type":"object","properties":{"payinSettlement":{"type":"string","description":""},"payinRule":{"type":"string","description":""},"payinSettlementActivity":{"type":"string","description":""},"payinRCType":{"type":"string","description":""},"payinRCCondition":{"type":"string","description":""},"reference":{"type":"array","items":{"type":"object","properties":{"ddMandateReference":{"type":"string","format":"date","description":""},"payinAccount":{"type":"string","description":""},"payinBeneficiary":{"type":"string","description":""},"payinPOProduct":{"type":"string","description":""},"payinPercentage":{"type":"number","description":""},"payinAmount":{"type":"number","description":""},"payinActivity":{"type":"string","description":""}}}}}}},"payout":{"type":"array","description":"","items":{"type":"object","properties":{"payoutSettlement":{"type":"string","description":"","enum":["Payout Settlement"]},"payoutSettlementActivity":{"type":"string","description":"","enum":["Payout Settle Activity"]},"property":{"type":"array","items":{"type":"object","properties":{"payoutPropertyClass":{"type":"string","description":"","enum":["Payout Property Class"]},"payoutProperty":{"type":"string","description":"","enum":["Payout Property"]},"payoutAccount":{"type":"string","description":"","enum":["Payout Account"]},"payoutBeneficiary":{"type":"string","description":"","enum":["Payout Beneficiary"]},"payoutPOProduct":{"type":"string","description":"","enum":["Payout Product"]},"payoutPercentage":{"type":"number","description":""},"payoutAmount":{"type":"number","description":""},"payoutActivity":{"type":"string","description":"","enum":["Payout Activity"]}}}}}}},"paymentType":{"type":"string","description":"The payment type identifier"},"defaultSettlementAccount":{"type":"string","description":"","enum":["Default Settlement Account"]}}}}},"tax":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"commitment":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"amount":{"type":"number","description":""},"changeAmount":{"type":"number","description":""},"term":{"type":"string","description":"The period to which the rate applies"},"revolving":{"type":"string","description":"","enum":["NO","PAYMENT","PREPAYMENT"]},"updateLimit":{"type":"string","description":"","enum":["YES","NO"]}}}}},"dormancy":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"createMudarabaDepositErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ArrangementHeader"},"error":{"$ref":"#/definitions/createMudarabaDepositErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"createMudarabaDepositErrorResponse"},"createMudarabaDepositErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"property":{"type":"string","description":"The corresponding property"}}}},"type":{"type":"string","description":"The identifier of error type"}}}}}