{"swagger":"2.0","info":{"description":"Allows the viewing and management of the Rights holdings","version":"v1.0.0","title":"Holdigs Buy Sell Rights APIs"},"host":"api.server.com","basePath":"/api/v1.0.0/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/holdings/entitlements/{entitlementId}/buySellRights":{"get":{"operationId":"getEntitlementBuySellRights","produces":["application/json"],"parameters":[{"name":"entitlementId","in":"path","description":"The identifier of the entitlement","required":true,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"EntitlementBuySellRightsResponse","schema":{"$ref":"#/definitions/holdingsEntitlementBuySellRightsResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}},"put":{"operationId":"updateEntitlementBuySellRights","produces":["application/json"],"parameters":[{"name":"entitlementId","in":"path","description":"The identifier of the entitlement","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/holdingsEntitlementBuySellRights"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"EntitlementBuySellRightsResponse","schema":{"$ref":"#/definitions/holdingsEntitlementBuySellRightsResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}},"audit":{"type":"object","properties":{"versionNumber":{"type":"string","description":"The CURR.NO. of the record"}}}}},"holdingsEntitlementBuySellRights":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/holdingsEntitlementBuySellRightsBody"}},"description":"holdingsEntitlementBuySellRights"},"holdingsEntitlementBuySellRightsBody":{"type":"object","properties":{"optionDetails":{"type":"array","items":{"type":"object","properties":{"sellBuyOptionDescription":{"type":"string","description":"The description of the sell/buy Option"},"sellBuyOptionNo":{"type":"number","description":"Option number is mapped from tag 13A in Option details sequence"},"sellBuySec":{"type":"string","description":"Denotes the rights security number for which there is an option to sell or buy rights"},"optionReplyByDate":{"type":"string","format":"date","description":"The CA cut-off date to choose a particular option."},"tradeFromDate":{"type":"string","format":"date","description":"Specifies the Start date of action (Trading) period for the option"},"tradeToDate":{"type":"string","format":"date","description":"Specifies the End date of action (Trading) period for the option"},"sellBuyQuantity":{"type":"number","description":"The quantity of rights being sold or underlying security or rights security being purchased"},"price":{"type":"number","description":"The Price at which the NOMINAL.AMOUNT of the Security is to be valued for the transaction."},"tradeDate":{"type":"string","format":"date","description":"The trade date of the contract"},"valueDate":{"type":"string","format":"date","description":"The applicable value date"},"considAmount":{"type":"number","description":"The consideration amount to be received or paid in the event currency (Quantity * Price)."},"tradeReference":{"type":"string","description":"The Id of the SEC.TRADE generated"}}}},"diaryId":{"type":"string","description":"The identifier of the diary"},"portfolioId":{"type":"string","description":"The identifier of the portfolio"},"depositoryId":{"type":"number","description":"The identifier of the depository. Must be a customerSecurity of type depository."},"nominee":{"type":"string","description":"Represents the Nominee Company record"},"subAccount":{"type":"string","description":"The sub-account that the security position is held in."},"instrumentId":{"type":"string","description":"The identifier of the instrument"},"eventType":{"type":"string","description":"Event Type of the DIARY"},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"qualifyingHolding":{"type":"number","description":"The Portfolio's holding in the original security"},"rightsPosition":{"type":"number","description":"Represents the eligible rights position"},"recordType":{"type":"string","description":"Denotes the sub account type"},"netNominal":{"type":"number","description":"Denotes the sum of the Quantity"},"generateInstruction":{"type":"boolean","description":"Specifies whether MT565 has to be generated"},"MT566Confirmation":{"type":"boolean","description":"Specifies whether the transaction status will be updated based on the incoming MT 566 confirmation"},"MT565Ref":{"type":"string","description":"MT 565 delivery reference"},"MT566Ref":{"type":"string","description":"When set to processed, SEC.TRADE is created in authorized state and the reference number is updated once the MT566 confirmation is received"},"status":{"type":"string","description":"Get a detail status of the specified service/services"}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"holdingsEntitlementBuySellRightsResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/holdingsEntitlementBuySellRightsResponseBody"}},"description":"holdingsEntitlementBuySellRightsResponse"},"holdingsEntitlementBuySellRightsResponseBody":{"type":"object","properties":{"optionDetails":{"type":"array","items":{"type":"object","properties":{"sellBuyOptionDescription":{"type":"string","description":"The description of the sell/buy Option"},"sellBuyOptionNo":{"type":"number","description":"Option number is mapped from tag 13A in Option details sequence"},"sellBuySec":{"type":"string","description":"Denotes the rights security number for which there is an option to sell or buy rights"},"optionReplyByDate":{"type":"string","format":"date","description":"The CA cut-off date to choose a particular option."},"tradeFromDate":{"type":"string","format":"date","description":"Specifies the Start date of action (Trading) period for the option"},"tradeToDate":{"type":"string","format":"date","description":"Specifies the End date of action (Trading) period for the option"},"sellBuyQuantity":{"type":"number","description":"The quantity of rights being sold or underlying security or rights security being purchased"},"price":{"type":"number","description":"The Price at which the NOMINAL.AMOUNT of the Security is to be valued for the transaction."},"tradeDate":{"type":"string","format":"date","description":"The trade date of the contract"},"valueDate":{"type":"string","format":"date","description":"The applicable value date"},"considAmount":{"type":"number","description":"The consideration amount to be received or paid in the event currency (Quantity * Price)."},"tradeReference":{"type":"string","description":"The Id of the SEC.TRADE generated"}}}},"diaryId":{"type":"string","description":"The identifier of the diary"},"portfolioId":{"type":"string","description":"The identifier of the portfolio"},"depositoryId":{"type":"number","description":"The identifier of the depository. Must be a customerSecurity of type depository."},"nominee":{"type":"string","description":"Represents the Nominee Company record"},"subAccount":{"type":"string","description":"The sub-account that the security position is held in."},"instrumentId":{"type":"string","description":"The identifier of the instrument"},"eventType":{"type":"string","description":"Event Type of the DIARY"},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"qualifyingHolding":{"type":"number","description":"The Portfolio's holding in the original security"},"rightsPosition":{"type":"number","description":"Represents the eligible rights position"},"recordType":{"type":"string","description":"Denotes the sub account type"},"netNominal":{"type":"number","description":"Denotes the sum of the Quantity"},"generateInstruction":{"type":"boolean","description":"Specifies whether MT565 has to be generated"},"MT566Confirmation":{"type":"boolean","description":"Specifies whether the transaction status will be updated based on the incoming MT 566 confirmation"},"MT565Ref":{"type":"string","description":"MT 565 delivery reference"},"MT566Ref":{"type":"string","description":"When set to processed, SEC.TRADE is created in authorized state and the reference number is updated once the MT566 confirmation is received"},"status":{"type":"string","description":"Get a detail status of the specified service/services"}}},"ErrorHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"ScreenErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/ScreenErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"ScreenErrorResponse"},"ScreenErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}}}}