{"swagger":"2.0","info":{"description":"createMudarabaSavingAccount","version":"v1.0.0","title":"createMudarabaSavingAccount"},"host":"api.server.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/holdings/accounts/mudarabaSavingAccount":{"post":{"operationId":"createMudarabaSavingAccount","produces":["application/json"],"parameters":[{"in":"body","name":"payload","required":true,"schema":{"$ref":"#/definitions/holdingsMudarabaSavingAccount"}},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"createMudarabaSavingAccountResponse","schema":{"$ref":"#/definitions/holdingsMudarabaSavingAccountResponse"}},"default":{"description":"ArrangementErrorResponse","schema":{"$ref":"#/definitions/ArrangementErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}},"audit":{"type":"object","properties":{"versionNumber":{"type":"string","description":"The CURR.NO. of the record"}}}}},"holdingsMudarabaSavingAccount":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/holdingsMudarabaSavingAccountBody"}},"description":"holdingsMudarabaSavingAccount"},"holdingsMudarabaSavingAccountBody":{"type":"object","properties":{"parties":{"type":"array","description":"","items":{"type":"object","properties":{"partyId":{"type":"string","description":"Allows capturing of customers or person entities to be part of the relationship. It will have the same characteristics as CUSTOMER or PERSON.ENTITY ID based on the selection of PARTY.TYPE field.If Party Type is selected as Customer, then the system will allow only CUSTOMER IDs to be captured into this field.If Party Type is selected as Person or Entity, then system will allow only PERSON.ENTITY IDs to be captured into this field."},"partyRole":{"type":"string","description":"Role of the customer in the arrangement"}}}},"activityId":{"type":"string","description":"The identifier of the activity"},"effectiveDate":{"type":"string","format":"date","description":"The date on which the principal movement is effected"},"productId":{"type":"string","description":"The identifier of the product"},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"simulationId":{"type":"string","description":""},"balance":{"type":"object","properties":{"accountType":{"type":"string","description":"","enum":["Type Of Account"]},"accountName":{"type":"string","description":"The name of the account that is displayed","enum":["Account Name"]},"accountNumber":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","enum":["Account Number"]},"portfolioId":{"type":"string","description":"The identifier of the portfolio","enum":["Portfolio Reference"]},"alternateAccountId":{"type":"string","description":"The alternate identifier of the account","enum":["Alternative Id"]},"altId1":{"type":"string","description":""},"Anniversary":{"type":"string","description":"","enum":["Anniversary Date Of Arrangement"]}}},"activityCharges":{"type":"object","properties":{"appPeriod11":{"type":"string","description":""},"appMethod11":{"type":"string","description":""},"chargeAutoSettle11":{"type":"string","description":""}}},"messaging":{"type":"object","properties":{"advice1":{"type":"string","description":""},"activityClass1":{"type":"string","description":""},"activityId1":{"type":"string","description":""},"role11":{"type":"string","description":""},"msgContent1":{"type":"string","description":""},"sendAdvice1":{"type":"string","description":""},"preNotice":{"type":"string","description":""},"preNoticeDays1":{"type":"string","description":""}}},"arrangementRules":{"type":"object","properties":{"rule":{"type":"string","description":""},"periodicAttribute1":{"type":"string","description":""},"ruleActivityClass11":{"type":"string","description":""},"ruleActivityId11":{"type":"string","description":""},"balanceType1":{"type":"string","description":""},"periodicValue1":{"type":"string","description":""},"activityClass11":{"type":"string","description":""},"activityId11":{"type":"string","description":""},"restrict1":{"type":"string","description":""},"ruleId11":{"type":"string","description":""},"restrictType11":{"type":"string","description":""},"overrideErrorId":{"type":"string","description":""},"restrictError11":{"type":"string","description":""},"chargePeriodMethod":{"type":"string","description":""},"appPeriod11":{"type":"string","description":""},"appMethod11":{"type":"string","description":""},"propertyId1":{"type":"string","description":""},"propertyRuleName11":{"type":"string","description":""},"evaluation1":{"type":"string","description":""},"evaluationResult1":{"type":"string","description":""},"altPropertyId1":{"type":"string","description":""}}},"balanceAvailability":{"type":"object","properties":{"noticeAmount":{"type":"number","description":""},"noticePeriod":{"type":"string","description":""},"noticeAvailability":{"type":"string","description":""},"creditCheck":{"type":"string","description":"Set to yes if the Collateral Surplus Deficit is positive"},"balanceAvailabilityUpdate":{"type":"string","description":""}}},"renewal":{"type":"object","properties":{"renewalPeriod":{"type":"string","description":""},"renewalActivity":{"type":"string","description":""},"changeToProduct":{"type":"string","description":""}}},"closurefee":{"type":"object","properties":{"Type":{"type":"string","description":"Activity Type"},"fixedAmount":{"type":"number","description":""},"chargeRoutine":{"type":"string","description":""},"tierGroups":{"type":"string","description":""},"tierType":{"type":"string","description":"Defines the type of the tier rate"},"calcType":{"type":"string","description":""},"Charge":{"type":"string","description":""},"chgAmount1":{"type":"number","description":""},"Tier":{"type":"string","description":""},"tierMaxCharge1":{"type":"string","description":""},"upTo":{"type":"string","description":""},"tierCount1":{"type":"string","description":""},"relationshipProduct":{"type":"string","description":""},"relationshipPercentage":{"type":"number","description":""},"relationshipAmount":{"type":"number","description":""},"relationshipVariation":{"type":"string","description":""}}},"dormancyfee":{"type":"object","properties":{"Type":{"type":"string","description":"Activity Type"},"fixedAmount":{"type":"number","description":""},"chargeRoutine":{"type":"string","description":""},"tierGroups":{"type":"string","description":""},"tierType":{"type":"string","description":"Defines the type of the tier rate"},"calcType":{"type":"string","description":""},"Charge":{"type":"string","description":""},"chgAmount1":{"type":"number","description":""},"Tier":{"type":"string","description":""},"tierMaxCharge1":{"type":"string","description":""},"upTo":{"type":"string","description":""},"tierCount1":{"type":"string","description":""},"relationshipProduct":{"type":"string","description":""},"relationshipPercentage":{"type":"number","description":""},"relationshipAmount":{"type":"number","description":""},"relationshipVariation":{"type":"string","description":""}}},"closure":{"type":"object","properties":{"closureType":{"type":"string","description":""},"closurePeriod":{"type":"string","description":""},"closureMethod":{"type":"string","description":""},"postingRestrict":{"type":"string","description":"Posting restrictions for the customers."},"closureActivity":{"type":"string","description":""}}},"customer":{"type":"object","properties":{"Customer":{"type":"string","description":""},"taxLiabilityPerc1":{"type":"string","description":""},"limitAllocPerc1":{"type":"string","description":""},"glAllocPerc1":{"type":"string","description":""},"jsLiable":{"type":"string","description":"","enum":["Joint & Severally Liable"]}}},"crprofit":{"type":"object","properties":{"Fixed":{"type":"string","description":""},"Spread":{"type":"string","description":""},"Margin":{"type":"string","description":""},"marginOper11":{"type":"string","description":""},"marginRate11":{"type":"string","description":""},"minMaxRate":{"type":"string","description":""},"tierMaxRate1":{"type":"string","description":""},"effectiveRate":{"type":"string","description":""},"upTo":{"type":"string","description":""},"negativeRate":{"type":"string","description":""},"or_":{"type":"string","description":""},"Tiers":{"type":"string","description":""},"prAttribute1":{"type":"string","description":""},"prValue1":{"type":"string","description":""},"linkedArrangement":{"type":"string","description":"The Arrangement to be linked for calculating the Interest Rate"},"linkedProperty":{"type":"string","description":""},"periodicIndex1":{"type":"string","description":""},"periodicRate1":{"type":"string","description":""},"periodicPeriodType1":{"type":"string","description":""},"periodicPeriod1":{"type":"string","description":""},"periodicMethod1":{"type":"string","description":""},"initialResetDate1":{"type":"string","format":"date","description":""},"periodicReset1":{"type":"string","description":""},"marginType11":{"type":"string","description":""},"effectiveRate1":{"type":"string","description":""},"tierNegativeRate1":{"type":"string","description":""},"dayBasis":{"type":"string","description":""},"calcThreshold":{"type":"string","description":""},"accrualRule":{"type":"string","description":""},"Compounding":{"type":"string","description":""},"compoundYieldMethod":{"type":"string","description":""},"onActivity":{"type":"string","description":""},"Recalculate":{"type":"string","description":""},"minIntAmount":{"type":"number","description":""},"minIntWaive":{"type":"string","description":""},"referLimit":{"type":"string","description":""},"suppressAccrual":{"type":"string","description":""},"customType1":{"type":"string","description":""},"customName1":{"type":"string","description":""},"customValue1":{"type":"string","description":""}}},"officers":{"type":"object","properties":{"primaryOfficer":{"type":"string","description":""},"otherOfficer":{"type":"string","description":""}}},"schedule":{"type":"object","properties":{"amortisationTerm":{"type":"string","description":""},"residualAmount":{"type":"number","description":""},"Payment":{"type":"string","description":""},"paymentMethod1":{"type":"string","description":""},"paymentFreq1":{"type":"string","description":""},"property11":{"type":"string","description":""},"dueFreq11":{"type":"string","description":""},"percentage11":{"type":"number","description":""},"startDate11":{"type":"string","format":"date","description":""},"endDate11":{"type":"string","format":"date","description":""},"numPayments11":{"type":"string","description":""},"calcAmount11":{"type":"number","description":""},"actualAmt11":{"type":"string","description":""},"billType1":{"type":"string","description":""},"billProduced1":{"type":"string","description":""},"autoSettle1":{"type":"string","description":""},"combineBills":{"type":"string","description":""},"recalcFrequency":{"type":"string","description":""}}},"accountsPaymentRules":{"type":"object","properties":{"financialStatus":{"type":"string","description":""},"applicationType":{"type":"string","description":""},"applicationOrder":{"type":"string","description":""},"propertySequence":{"type":"string","description":""},"property11":{"type":"string","description":""},"propApplType11":{"type":"string","description":""},"remainderActivity":{"type":"string","description":""},"makeBillDue":{"type":"string","description":""}}},"settlement":{"type":"object","properties":{"payinSettlement1":{"type":"string","description":"","enum":["Payin Settlement"]},"ddMandateRef11":{"type":"string","format":"date","description":""},"payinAccount11":{"type":"string","description":"","enum":["Payin Account"]},"payinBeneficiary11":{"type":"string","description":"","enum":["Payin Beneficiary"]},"payinPercentage11":{"type":"number","description":""},"payinAmount11":{"type":"number","description":""},"payoutSettlement1":{"type":"string","description":"","enum":["Payout Settlement"]},"payoutAccount11":{"type":"string","description":"","enum":["Payout Account"]},"payoutBeneficiary11":{"type":"string","description":"","enum":["Payout Beneficiary"]},"payoutPercentage11":{"type":"number","description":""},"payoutAmount11":{"type":"number","description":""},"paymentType11":{"type":"string","description":"","enum":["Payment Type"]},"payinPoProduct11":{"type":"string","description":"","enum":["Payin Product"]},"payinActivity11":{"type":"string","description":"","enum":["Payin Activity"]},"payinAcDbRule1":{"type":"string","description":"","enum":["Payin Account Debit Rule"]},"payinSettleActivity1":{"type":"string","description":"","enum":["Payin Settle Activity"]},"payinRcType1":{"type":"string","description":"","enum":["Payin RC Type"]},"payinRcCondition1":{"type":"string","description":"","enum":["Payin RC Condition"]},"defaultSettlementAccount":{"type":"string","description":"","enum":["Default Settlement Account"]},"payoutPptyClass11":{"type":"string","description":"","enum":["Payout Property Class"]},"payoutProperty11":{"type":"string","description":"","enum":["Payout Property"]},"payoutSettleActivity1":{"type":"string","description":"","enum":["Payout Settle Activity"]},"payoutPoProduct11":{"type":"string","description":"","enum":["Payout Product"]},"payoutActivity11":{"type":"string","description":"","enum":["Payout Activity"]}}},"tax":{"type":"object","properties":{"Property":{"type":"string","description":""},"propTaxCode11":{"type":"string","description":""},"propTaxCond11":{"type":"string","description":""},"netTax":{"type":"string","description":"","enum":["Net Tax"]},"propertyNetTax":{"type":"string","description":"","enum":["Property Net Tax"]}}},"dormancy":{"type":"object","properties":{"status1":{"type":"string","description":"","enum":["Dormancy Status"]},"period1":{"type":"string","description":"","enum":["Period since last updated status"]},"noticeDays1":{"type":"string","description":"","enum":["Number of days after corresponding status"]},"noticeFreq1":{"type":"string","description":"","enum":["Frequency for Notice"]},"chargeFrequency1":{"type":"string","description":"","enum":["Frequency for Charge"]}}},"facility":{"type":"object","properties":{"service1":{"type":"string","description":"","enum":["Service Group"]},"serviceAvailability1":{"type":"string","description":"","enum":["Service Availability"]},"customerOption1":{"type":"string","description":"","enum":["Customer Option"]}}}}},"ArrangementHeader":{"properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"aaaId":{"type":"string","description":"The Identifier of the aa record created"},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"holdingsMudarabaSavingAccountResponse":{"properties":{"header":{"$ref":"#/definitions/ArrangementHeader"},"body":{"$ref":"#/definitions/holdingsMudarabaSavingAccountResponseBody"}},"description":"holdingsMudarabaSavingAccountResponse"},"holdingsMudarabaSavingAccountResponseBody":{"type":"object","properties":{"arrangementActivity":{"type":"object","properties":{"parties":{"type":"array","description":"","items":{"type":"object","properties":{"partyId":{"type":"string","description":"Allows capturing of customers or person entities to be part of the relationship. It will have the same characteristics as CUSTOMER or PERSON.ENTITY ID based on the selection of PARTY.TYPE field.If Party Type is selected as Customer, then the system will allow only CUSTOMER IDs to be captured into this field.If Party Type is selected as Person or Entity, then system will allow only PERSON.ENTITY IDs to be captured into this field."},"partyRole":{"type":"string","description":"Role of the customer in the arrangement"}}}},"arrangementId":{"type":"string","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string."},"activityId":{"type":"string","description":"The identifier of the activity"},"effectiveDate":{"type":"string","format":"date","description":"The date on which the principal movement is effected"},"productId":{"type":"string","description":"The identifier of the product"},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"simulationId":{"type":"string","description":""}}},"activities":{"type":"object","properties":{"{activityName}":{"type":"object","properties":{"activity":{"type":"string"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"id":{"type":"string","description":"The Identifier of the record created"}}}}},"properties":{"type":"object","properties":{"balance":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"accountType":{"type":"string","description":"","enum":["Type Of Account"]},"accountName":{"type":"string","description":"The name of the account that is displayed","enum":["Account Name"]},"accountNumber":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","enum":["Account Number"]},"portfolioId":{"type":"string","description":"The identifier of the portfolio","enum":["Portfolio Reference"]},"alternateAccountId":{"type":"string","description":"The alternate identifier of the account","enum":["Alternative Id"]},"altId1":{"type":"string","description":""},"Anniversary":{"type":"string","description":"","enum":["Anniversary Date Of Arrangement"]}}}}},"activityCharges":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"appPeriod11":{"type":"string","description":""},"appMethod11":{"type":"string","description":""},"chargeAutoSettle11":{"type":"string","description":""}}}}},"messaging":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"advice1":{"type":"string","description":""},"activityClass1":{"type":"string","description":""},"activityId1":{"type":"string","description":""},"role11":{"type":"string","description":""},"msgContent1":{"type":"string","description":""},"sendAdvice1":{"type":"string","description":""},"preNotice":{"type":"string","description":""},"preNoticeDays1":{"type":"string","description":""}}}}},"arrangementRules":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"rule":{"type":"string","description":""},"periodicAttribute1":{"type":"string","description":""},"ruleActivityClass11":{"type":"string","description":""},"ruleActivityId11":{"type":"string","description":""},"balanceType1":{"type":"string","description":""},"periodicValue1":{"type":"string","description":""},"activityClass11":{"type":"string","description":""},"activityId11":{"type":"string","description":""},"restrict1":{"type":"string","description":""},"ruleId11":{"type":"string","description":""},"restrictType11":{"type":"string","description":""},"overrideErrorId":{"type":"string","description":""},"restrictError11":{"type":"string","description":""},"chargePeriodMethod":{"type":"string","description":""},"appPeriod11":{"type":"string","description":""},"appMethod11":{"type":"string","description":""},"propertyId1":{"type":"string","description":""},"propertyRuleName11":{"type":"string","description":""},"evaluation1":{"type":"string","description":""},"evaluationResult1":{"type":"string","description":""},"altPropertyId1":{"type":"string","description":""}}}}},"balanceAvailability":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"noticeAmount":{"type":"number","description":""},"noticePeriod":{"type":"string","description":""},"noticeAvailability":{"type":"string","description":""},"creditCheck":{"type":"string","description":"Set to yes if the Collateral Surplus Deficit is positive"},"balanceAvailabilityUpdate":{"type":"string","description":""}}}}},"renewal":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"renewalPeriod":{"type":"string","description":""},"renewalActivity":{"type":"string","description":""},"changeToProduct":{"type":"string","description":""}}}}},"closurefee":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"Type":{"type":"string","description":"Activity Type"},"fixedAmount":{"type":"number","description":""},"chargeRoutine":{"type":"string","description":""},"tierGroups":{"type":"string","description":""},"tierType":{"type":"string","description":"Defines the type of the tier rate"},"calcType":{"type":"string","description":""},"Charge":{"type":"string","description":""},"chgAmount1":{"type":"number","description":""},"Tier":{"type":"string","description":""},"tierMaxCharge1":{"type":"string","description":""},"upTo":{"type":"string","description":""},"tierCount1":{"type":"string","description":""},"relationshipProduct":{"type":"string","description":""},"relationshipPercentage":{"type":"number","description":""},"relationshipAmount":{"type":"number","description":""},"relationshipVariation":{"type":"string","description":""}}}}},"dormancyfee":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"Type":{"type":"string","description":"Activity Type"},"fixedAmount":{"type":"number","description":""},"chargeRoutine":{"type":"string","description":""},"tierGroups":{"type":"string","description":""},"tierType":{"type":"string","description":"Defines the type of the tier rate"},"calcType":{"type":"string","description":""},"Charge":{"type":"string","description":""},"chgAmount1":{"type":"number","description":""},"Tier":{"type":"string","description":""},"tierMaxCharge1":{"type":"string","description":""},"upTo":{"type":"string","description":""},"tierCount1":{"type":"string","description":""},"relationshipProduct":{"type":"string","description":""},"relationshipPercentage":{"type":"number","description":""},"relationshipAmount":{"type":"number","description":""},"relationshipVariation":{"type":"string","description":""}}}}},"closure":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"closureType":{"type":"string","description":""},"closurePeriod":{"type":"string","description":""},"closureMethod":{"type":"string","description":""},"postingRestrict":{"type":"string","description":"Posting restrictions for the customers."},"closureActivity":{"type":"string","description":""}}}}},"customer":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"Customer":{"type":"string","description":""},"taxLiabilityPerc1":{"type":"string","description":""},"limitAllocPerc1":{"type":"string","description":""},"glAllocPerc1":{"type":"string","description":""},"jsLiable":{"type":"string","description":"","enum":["Joint & Severally Liable"]}}}}},"crprofit":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"Fixed":{"type":"string","description":""},"Spread":{"type":"string","description":""},"Margin":{"type":"string","description":""},"marginOper11":{"type":"string","description":""},"marginRate11":{"type":"string","description":""},"minMaxRate":{"type":"string","description":""},"tierMaxRate1":{"type":"string","description":""},"effectiveRate":{"type":"string","description":""},"upTo":{"type":"string","description":""},"negativeRate":{"type":"string","description":""},"or_":{"type":"string","description":""},"Tiers":{"type":"string","description":""},"prAttribute1":{"type":"string","description":""},"prValue1":{"type":"string","description":""},"linkedArrangement":{"type":"string","description":"The Arrangement to be linked for calculating the Interest Rate"},"linkedProperty":{"type":"string","description":""},"periodicIndex1":{"type":"string","description":""},"periodicRate1":{"type":"string","description":""},"periodicPeriodType1":{"type":"string","description":""},"periodicPeriod1":{"type":"string","description":""},"periodicMethod1":{"type":"string","description":""},"initialResetDate1":{"type":"string","format":"date","description":""},"periodicReset1":{"type":"string","description":""},"marginType11":{"type":"string","description":""},"effectiveRate1":{"type":"string","description":""},"tierNegativeRate1":{"type":"string","description":""},"dayBasis":{"type":"string","description":""},"calcThreshold":{"type":"string","description":""},"accrualRule":{"type":"string","description":""},"Compounding":{"type":"string","description":""},"compoundYieldMethod":{"type":"string","description":""},"onActivity":{"type":"string","description":""},"Recalculate":{"type":"string","description":""},"minIntAmount":{"type":"number","description":""},"minIntWaive":{"type":"string","description":""},"referLimit":{"type":"string","description":""},"suppressAccrual":{"type":"string","description":""},"customType1":{"type":"string","description":""},"customName1":{"type":"string","description":""},"customValue1":{"type":"string","description":""}}}}},"officers":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"primaryOfficer":{"type":"string","description":""},"otherOfficer":{"type":"string","description":""}}}}},"schedule":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"amortisationTerm":{"type":"string","description":""},"residualAmount":{"type":"number","description":""},"Payment":{"type":"string","description":""},"paymentMethod1":{"type":"string","description":""},"paymentFreq1":{"type":"string","description":""},"property11":{"type":"string","description":""},"dueFreq11":{"type":"string","description":""},"percentage11":{"type":"number","description":""},"startDate11":{"type":"string","format":"date","description":""},"endDate11":{"type":"string","format":"date","description":""},"numPayments11":{"type":"string","description":""},"calcAmount11":{"type":"number","description":""},"actualAmt11":{"type":"string","description":""},"billType1":{"type":"string","description":""},"billProduced1":{"type":"string","description":""},"autoSettle1":{"type":"string","description":""},"combineBills":{"type":"string","description":""},"recalcFrequency":{"type":"string","description":""}}}}},"accountsPaymentRules":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"financialStatus":{"type":"string","description":""},"applicationType":{"type":"string","description":""},"applicationOrder":{"type":"string","description":""},"propertySequence":{"type":"string","description":""},"property11":{"type":"string","description":""},"propApplType11":{"type":"string","description":""},"remainderActivity":{"type":"string","description":""},"makeBillDue":{"type":"string","description":""}}}}},"settlement":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"payinSettlement1":{"type":"string","description":"","enum":["Payin Settlement"]},"ddMandateRef11":{"type":"string","format":"date","description":""},"payinAccount11":{"type":"string","description":"","enum":["Payin Account"]},"payinBeneficiary11":{"type":"string","description":"","enum":["Payin Beneficiary"]},"payinPercentage11":{"type":"number","description":""},"payinAmount11":{"type":"number","description":""},"payoutSettlement1":{"type":"string","description":"","enum":["Payout Settlement"]},"payoutAccount11":{"type":"string","description":"","enum":["Payout Account"]},"payoutBeneficiary11":{"type":"string","description":"","enum":["Payout Beneficiary"]},"payoutPercentage11":{"type":"number","description":""},"payoutAmount11":{"type":"number","description":""},"paymentType11":{"type":"string","description":"","enum":["Payment Type"]},"payinPoProduct11":{"type":"string","description":"","enum":["Payin Product"]},"payinActivity11":{"type":"string","description":"","enum":["Payin Activity"]},"payinAcDbRule1":{"type":"string","description":"","enum":["Payin Account Debit Rule"]},"payinSettleActivity1":{"type":"string","description":"","enum":["Payin Settle Activity"]},"payinRcType1":{"type":"string","description":"","enum":["Payin RC Type"]},"payinRcCondition1":{"type":"string","description":"","enum":["Payin RC Condition"]},"defaultSettlementAccount":{"type":"string","description":"","enum":["Default Settlement Account"]},"payoutPptyClass11":{"type":"string","description":"","enum":["Payout Property Class"]},"payoutProperty11":{"type":"string","description":"","enum":["Payout Property"]},"payoutSettleActivity1":{"type":"string","description":"","enum":["Payout Settle Activity"]},"payoutPoProduct11":{"type":"string","description":"","enum":["Payout Product"]},"payoutActivity11":{"type":"string","description":"","enum":["Payout Activity"]}}}}},"tax":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"Property":{"type":"string","description":""},"propTaxCode11":{"type":"string","description":""},"propTaxCond11":{"type":"string","description":""},"netTax":{"type":"string","description":"","enum":["Net Tax"]},"propertyNetTax":{"type":"string","description":"","enum":["Property Net Tax"]}}}}},"dormancy":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"status1":{"type":"string","description":"","enum":["Dormancy Status"]},"period1":{"type":"string","description":"","enum":["Period since last updated status"]},"noticeDays1":{"type":"string","description":"","enum":["Number of days after corresponding status"]},"noticeFreq1":{"type":"string","description":"","enum":["Frequency for Notice"]},"chargeFrequency1":{"type":"string","description":"","enum":["Frequency for Charge"]}}}}},"facility":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"service1":{"type":"string","description":"","enum":["Service Group"]},"serviceAvailability1":{"type":"string","description":"","enum":["Service Availability"]},"customerOption1":{"type":"string","description":"","enum":["Customer Option"]}}}}}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"ArrangementErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ArrangementHeader"},"error":{"$ref":"#/definitions/ArrangementErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"ArrangementErrorResponse"},"ArrangementErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"property":{"type":"string","description":"The corresponding property"}}}},"type":{"type":"string","description":"The identifier of error type"}}}}}