{"swagger":"2.0","info":{"description":"Version for creating Pre advice for an import LC","version":"v1.0.0","title":"createIssuanceOfPreAdviseImportLC"},"host":"api.server.com","basePath":"/api/","schemes":["http","https"],"paths":{"/holdings/LetterOfCredits/imports/preAdvises":{"post":{"operationId":"createIssuanceOfPreAdviseImportLC","produces":["application/json"],"parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/createIssuanceOfPreAdviseImportLC"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"}],"responses":{"200":{"description":"createIssuanceOfPreAdviseImportLCResponse","schema":{"$ref":"#/definitions/createIssuanceOfPreAdviseImportLCResponse"}},"default":{"description":"createIssuanceOfPreAdviseImportLCErrorResponse","schema":{"$ref":"#/definitions/createIssuanceOfPreAdviseImportLCErrorResponse"}}}}}},"definitions":{"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}}}},"createIssuanceOfPreAdviseImportLC":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/createIssuanceOfPreAdviseImportLCBody"}},"description":"createIssuanceOfPreAdviseImportLC"},"createIssuanceOfPreAdviseImportLCBody":{"type":"object","properties":{"applicantAddresses":{"type":"array","items":{"type":"object","properties":{"applicantAddress":{"type":"string","description":""}}}},"limitReferences":{"type":"array","description":"Identifies the type of limit applicable to the Account","items":{"type":"object","properties":{"limitReference":{"type":"string","description":"Identifies the type of limit applicable to the Account"}}}},"beneficiaryAddresses":{"type":"array","items":{"type":"object","properties":{"beneficiaryAddress":{"type":"string","description":""}}}},"advisingBankAddresses":{"type":"array","items":{"type":"object","properties":{"advisingBankAddress":{"type":"string","description":""}}}},"adviseThroughBanks":{"type":"array","items":{"type":"object","properties":{"adviseThroughBank":{"type":"string","description":""}}}},"availableWithBanks":{"type":"array","items":{"type":"object","properties":{"availableWithBank":{"type":"string","description":""}}}},"reimbursingBanks1":{"type":"array","items":{"type":"object","properties":{"reimbursingBank1":{"type":"string","description":""}}}},"requestedConfirmBankNames":{"type":"array","items":{"type":"object","properties":{"requestedConfirmBankName":{"type":"string","description":""}}}},"charges":{"type":"array","description":"","items":{"type":"object","properties":{"chargeCode":{"type":"string","description":""},"partyCharged":{"type":"string","description":""},"chargeDebitAccount":{"type":"string","description":""},"chargeCurrency":{"type":"string","description":"Holds the currency code of the charge account from where the fee is deducted"},"ChargeExchangeRate":{"type":"string","description":""},"chargeAmount":{"type":"string","description":"Holds the charge amount equivalent in charge account currency"},"amortiseCharges":{"type":"string","description":""},"chargeStatus":{"type":"string","description":""},"taxCurrency":{"type":"string","description":""},"taxAmount":{"type":"string","description":"The tax amount"}}}},"lcNumber":{"type":"string","description":""},"lcType":{"type":"string","description":""},"applicant":{"type":"string","description":""},"currency":{"type":"string","description":""},"amount":{"type":"number","description":""},"creditTolerance":{"type":"string","description":""},"debitTolerance":{"type":"string","description":""},"issueDate":{"type":"string","format":"date","description":"The date the item was issued."},"expiryDate":{"type":"string","format":"date","description":"The date an agreement such as a credit facility or limit is due to expire"},"expiryPlace":{"type":"string","description":""},"liabilityReversalDate":{"type":"string","format":"date","description":""},"daysAndPeriodForPresentation":{"type":"string","description":""},"shipmentDate":{"type":"string","format":"date","description":""},"modeOfShipment":{"type":"string","description":""},"incoTerms":{"type":"string","description":""},"updateLimit":{"type":"string","description":""},"applicableRuleCodesMT740":{"type":"string","description":""},"confirmationInstruction":{"type":"string","description":""},"beneficiaryCustomerId":{"type":"string","description":"The customer identifier where the beneficiary is a customer of the bank"},"advisingBankId":{"type":"string","description":""},"adviseThroughBank":{"type":"string","description":""},"availableWithBankId":{"type":"string","description":""},"reimbursingBank":{"type":"string","description":""},"requestedConfirmBank":{"type":"string","description":""},"chargeFrom":{"type":"string","description":""},"chargeDefaultAccount":{"type":"string","description":""},"waiveCharge":{"type":"string","description":"Defines whether charges are to be collected or waived"},"marginRequired":{"type":"string","description":""},"releaseProvision":{"type":"string","description":"Field to decide whether the provision should be released or not"},"marginCalculationBase":{"type":"string","description":""},"marginPercent":{"type":"string","description":"Field to state the percentage of provision to be taken"},"marginDebitAccount":{"type":"string","description":"Field to state the account from which the provision amount is to be debited"},"marginAmount":{"type":"number","description":"Actual amount of provision that is debited for the transaction"},"marginExchangeRate":{"type":"string","description":""},"limitWithProvision":{"type":"string","description":""}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"createIssuanceOfPreAdviseImportLCResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/createIssuanceOfPreAdviseImportLCResponseBody"}},"description":"createIssuanceOfPreAdviseImportLCResponse"},"createIssuanceOfPreAdviseImportLCResponseBody":{"type":"object","properties":{"applicantAddresses":{"type":"array","items":{"type":"object","properties":{"applicantAddress":{"type":"string","description":""}}}},"limitReferences":{"type":"array","description":"Identifies the type of limit applicable to the Account","items":{"type":"object","properties":{"limitReference":{"type":"string","description":"Identifies the type of limit applicable to the Account"}}}},"beneficiaryAddresses":{"type":"array","items":{"type":"object","properties":{"beneficiaryAddress":{"type":"string","description":""}}}},"advisingBankAddresses":{"type":"array","items":{"type":"object","properties":{"advisingBankAddress":{"type":"string","description":""}}}},"adviseThroughBanks":{"type":"array","items":{"type":"object","properties":{"adviseThroughBank":{"type":"string","description":""}}}},"availableWithBanks":{"type":"array","items":{"type":"object","properties":{"availableWithBank":{"type":"string","description":""}}}},"reimbursingBanks1":{"type":"array","items":{"type":"object","properties":{"reimbursingBank1":{"type":"string","description":""}}}},"requestedConfirmBankNames":{"type":"array","items":{"type":"object","properties":{"requestedConfirmBankName":{"type":"string","description":""}}}},"charges":{"type":"array","description":"","items":{"type":"object","properties":{"chargeCode":{"type":"string","description":""},"partyCharged":{"type":"string","description":""},"chargeDebitAccount":{"type":"string","description":""},"chargeCurrency":{"type":"string","description":"Holds the currency code of the charge account from where the fee is deducted"},"ChargeExchangeRate":{"type":"string","description":""},"chargeAmount":{"type":"string","description":"Holds the charge amount equivalent in charge account currency"},"amortiseCharges":{"type":"string","description":""},"chargeStatus":{"type":"string","description":""},"taxCurrency":{"type":"string","description":""},"taxAmount":{"type":"string","description":"The tax amount"}}}},"lcNumber":{"type":"string","description":""},"lcType":{"type":"string","description":""},"applicant":{"type":"string","description":""},"currency":{"type":"string","description":""},"amount":{"type":"number","description":""},"creditTolerance":{"type":"string","description":""},"debitTolerance":{"type":"string","description":""},"issueDate":{"type":"string","format":"date","description":"The date the item was issued."},"expiryDate":{"type":"string","format":"date","description":"The date an agreement such as a credit facility or limit is due to expire"},"expiryPlace":{"type":"string","description":""},"liabilityReversalDate":{"type":"string","format":"date","description":""},"daysAndPeriodForPresentation":{"type":"string","description":""},"shipmentDate":{"type":"string","format":"date","description":""},"modeOfShipment":{"type":"string","description":""},"incoTerms":{"type":"string","description":""},"updateLimit":{"type":"string","description":""},"applicableRuleCodesMT740":{"type":"string","description":""},"confirmationInstruction":{"type":"string","description":""},"beneficiaryCustomerId":{"type":"string","description":"The customer identifier where the beneficiary is a customer of the bank"},"advisingBankId":{"type":"string","description":""},"adviseThroughBank":{"type":"string","description":""},"availableWithBankId":{"type":"string","description":""},"reimbursingBank":{"type":"string","description":""},"requestedConfirmBank":{"type":"string","description":""},"chargeFrom":{"type":"string","description":""},"chargeDefaultAccount":{"type":"string","description":""},"waiveCharge":{"type":"string","description":"Defines whether charges are to be collected or waived"},"marginRequired":{"type":"string","description":""},"releaseProvision":{"type":"string","description":"Field to decide whether the provision should be released or not"},"marginCalculationBase":{"type":"string","description":""},"marginPercent":{"type":"string","description":"Field to state the percentage of provision to be taken"},"marginDebitAccount":{"type":"string","description":"Field to state the account from which the provision amount is to be debited"},"marginAmount":{"type":"number","description":"Actual amount of provision that is debited for the transaction"},"marginExchangeRate":{"type":"string","description":""},"limitWithProvision":{"type":"string","description":""}}},"ErrorHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"createIssuanceOfPreAdviseImportLCErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/createIssuanceOfPreAdviseImportLCErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"createIssuanceOfPreAdviseImportLCErrorResponse"},"createIssuanceOfPreAdviseImportLCErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}}}}