{"swagger":"2.0","info":{"description":"createMinorAccount","version":"v1.0.0","title":"createMinorAccount"},"host":"api.server.com","basePath":"/api/","schemes":["http","https"],"paths":{"/holdings/accounts/minorAccounts":{"post":{"operationId":"createMinorAccount","produces":["application/json"],"parameters":[{"in":"body","name":"payload","required":true,"schema":{"$ref":"#/definitions/createMinorAccount"}}],"responses":{"200":{"description":"createMinorAccountResponse","schema":{"$ref":"#/definitions/createMinorAccountResponse"}},"default":{"description":"createMinorAccountErrorResponse","schema":{"$ref":"#/definitions/createMinorAccountErrorResponse"}}}}}},"definitions":{"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}}}},"createMinorAccount":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/createMinorAccountBody"}},"description":"createMinorAccount"},"createMinorAccountBody":{"type":"object","properties":{"parties":{"type":"array","description":"","items":{"type":"object","properties":{"partyId":{"type":"string","description":""},"partyRole":{"type":"string","description":""}}}},"activityId":{"type":"string","description":"The identifier of the activity"},"effectiveDate":{"type":"string","format":"date","description":"The date on which the principal movement is effected"},"productId":{"type":"string","description":"The identifier of the product"},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"simulationId":{"type":"string","description":""},"balance":{"type":"object","properties":{"accountType":{"type":"string","description":"","enum":["Type Of Account"]},"accountName":{"type":"string","description":"The name of the account that is displayed","enum":["Account Name"]},"accountNumber":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","enum":["Account Number"]},"portfolioId":{"type":"string","description":"The identifier of the portfolio","enum":["Portfolio Reference"]},"alternateAccountId":{"type":"string","description":"The alternate identifier of the account","enum":["Alternative Id"]},"altId_1":{"type":"string","description":""},"Anniversary":{"type":"string","description":"","enum":["Anniversary Date Of Arrangement"]}}},"activityCharges":{"type":"object","properties":{"appPeriod_11":{"type":"string","description":""},"appMethod_11":{"type":"string","description":""},"chargeAutoSettle_11":{"type":"string","description":""}}},"messaging":{"type":"object","properties":{"advice_1":{"type":"string","description":""},"activityClass_1":{"type":"string","description":""},"activityId_1":{"type":"string","description":""},"role_11":{"type":"string","description":""},"msgContent_1":{"type":"string","description":""},"sendAdvice_1":{"type":"string","description":""},"preNotice":{"type":"string","description":""},"preNoticeDays_1":{"type":"string","description":""}}},"arrangementRules":{"type":"object","properties":{"rule":{"type":"string","description":""},"periodicAttribute_1":{"type":"string","description":""},"ruleActivityClass_11":{"type":"string","description":""},"ruleActivityId_11":{"type":"string","description":""},"balanceType_1":{"type":"string","description":""},"periodicValue_1":{"type":"string","description":""},"activityClass_11":{"type":"string","description":""},"activityId_11":{"type":"string","description":""},"restrict_1":{"type":"string","description":""},"ruleId_11":{"type":"string","description":""},"restrictType_11":{"type":"string","description":""},"override_ErrorId":{"type":"string","description":""},"restrictError_11":{"type":"string","description":""},"charge_Period_Method":{"type":"string","description":""},"appPeriod_11":{"type":"string","description":""},"appMethod_11":{"type":"string","description":""},"propertyId_1":{"type":"string","description":""},"propertyRuleName_11":{"type":"string","description":""},"evaluation_1":{"type":"string","description":""},"evaluationResult_1":{"type":"string","description":""},"altPropertyId_1":{"type":"string","description":""}}},"agentCommission":{"type":"object","properties":{"agentId_1":{"type":"string","description":""},"agentArrId_1":{"type":"string","description":""},"agentRole_1":{"type":"string","description":""},"onlineEvent_11":{"type":"string","description":""},"scheduledEvent_11":{"type":"string","description":""},"fixedAmount_11":{"type":"number","description":""},"marginOperand_11":{"type":"string","description":""},"marginRate_11":{"type":"string","description":""},"marginPercent_11":{"type":"number","description":""}}},"rewardsPoints":{"type":"object","properties":{"agentId_1":{"type":"string","description":""},"agentArrId_1":{"type":"string","description":""},"agentRole_1":{"type":"string","description":""},"onlineEvent_11":{"type":"string","description":""},"scheduledEvent_11":{"type":"string","description":""},"fixedAmount_11":{"type":"number","description":""},"marginOperand_11":{"type":"string","description":""},"marginRate_11":{"type":"string","description":""},"marginPercent_11":{"type":"number","description":""}}},"alerts":{"type":"object","properties":{"event_1":{"type":"string","description":""},"field_11":{"type":"string","description":""},"operand_11":{"type":"string","description":""},"value_11":{"type":"string","description":""}}},"balanceAvailability":{"type":"object","properties":{"noticeAmount":{"type":"number","description":""},"noticePeriod":{"type":"string","description":""},"noticeAvailability":{"type":"string","description":""},"creditCheck":{"type":"string","description":"Set to yes if the Collateral Surplus Deficit is positive"},"balanceAvailabilityUpdate":{"type":"string","description":""}}},"renewal":{"type":"object","properties":{"renewalPeriod":{"type":"string","description":""},"renewalActivity":{"type":"string","description":""},"changeToProduct":{"type":"string","description":""}}},"txnfee":{"type":"object","properties":{"Type":{"type":"string","description":""},"fixedAmount":{"type":"number","description":""},"chargeRoutine":{"type":"string","description":""},"tierGroups":{"type":"string","description":""},"tierType":{"type":"string","description":"Defines the type of the tier rate"},"calcType":{"type":"string","description":""},"Charge":{"type":"string","description":""},"chgAmount_1":{"type":"number","description":""},"Tier":{"type":"string","description":""},"tierMaxCharge_1":{"type":"string","description":""},"upTo":{"type":"string","description":""},"tierCount_1":{"type":"string","description":""},"relationshipProduct":{"type":"string","description":""},"relationshipPercentage":{"type":"number","description":""},"relationshipAmount":{"type":"number","description":""},"relationshipVariation":{"type":"string","description":""}}},"minbalfee":{"type":"object","properties":{"Type":{"type":"string","description":""},"fixedAmount":{"type":"number","description":""},"chargeRoutine":{"type":"string","description":""},"tierGroups":{"type":"string","description":""},"tierType":{"type":"string","description":"Defines the type of the tier rate"},"calcType":{"type":"string","description":""},"Charge":{"type":"string","description":""},"chgAmount_1":{"type":"number","description":""},"Tier":{"type":"string","description":""},"tierMaxCharge_1":{"type":"string","description":""},"upTo":{"type":"string","description":""},"tierCount_1":{"type":"string","description":""},"relationshipProduct":{"type":"string","description":""},"relationshipPercentage":{"type":"number","description":""},"relationshipAmount":{"type":"number","description":""},"relationshipVariation":{"type":"string","description":""}}},"bonus":{"type":"object","properties":{"Type":{"type":"string","description":""},"fixedAmount":{"type":"number","description":""},"chargeRoutine":{"type":"string","description":""},"tierGroups":{"type":"string","description":""},"tierType":{"type":"string","description":"Defines the type of the tier rate"},"calcType":{"type":"string","description":""},"Charge":{"type":"string","description":""},"chgAmount_1":{"type":"number","description":""},"Tier":{"type":"string","description":""},"tierMaxCharge_1":{"type":"string","description":""},"upTo":{"type":"string","description":""},"tierCount_1":{"type":"string","description":""},"relationshipProduct":{"type":"string","description":""},"relationshipPercentage":{"type":"number","description":""},"relationshipAmount":{"type":"number","description":""},"relationshipVariation":{"type":"string","description":""}}},"closurefee":{"type":"object","properties":{"Type":{"type":"string","description":""},"fixedAmount":{"type":"number","description":""},"chargeRoutine":{"type":"string","description":""},"tierGroups":{"type":"string","description":""},"tierType":{"type":"string","description":"Defines the type of the tier rate"},"calcType":{"type":"string","description":""},"Charge":{"type":"string","description":""},"chgAmount_1":{"type":"number","description":""},"Tier":{"type":"string","description":""},"tierMaxCharge_1":{"type":"string","description":""},"upTo":{"type":"string","description":""},"tierCount_1":{"type":"string","description":""},"relationshipProduct":{"type":"string","description":""},"relationshipPercentage":{"type":"number","description":""},"relationshipAmount":{"type":"number","description":""},"relationshipVariation":{"type":"string","description":""}}},"dormancyfee":{"type":"object","properties":{"Type":{"type":"string","description":""},"fixedAmount":{"type":"number","description":""},"chargeRoutine":{"type":"string","description":""},"tierGroups":{"type":"string","description":""},"tierType":{"type":"string","description":"Defines the type of the tier rate"},"calcType":{"type":"string","description":""},"Charge":{"type":"string","description":""},"chgAmount_1":{"type":"number","description":""},"Tier":{"type":"string","description":""},"tierMaxCharge_1":{"type":"string","description":""},"upTo":{"type":"string","description":""},"tierCount_1":{"type":"string","description":""},"relationshipProduct":{"type":"string","description":""},"relationshipPercentage":{"type":"number","description":""},"relationshipAmount":{"type":"number","description":""},"relationshipVariation":{"type":"string","description":""}}},"mgmtfee":{"type":"object","properties":{"Type":{"type":"string","description":""},"fixedAmount":{"type":"number","description":""},"chargeRoutine":{"type":"string","description":""},"tierGroups":{"type":"string","description":""},"tierType":{"type":"string","description":"Defines the type of the tier rate"},"calcType":{"type":"string","description":""},"Charge":{"type":"string","description":""},"chgAmount_1":{"type":"number","description":""},"Tier":{"type":"string","description":""},"tierMaxCharge_1":{"type":"string","description":""},"upTo":{"type":"string","description":""},"tierCount_1":{"type":"string","description":""},"relationshipProduct":{"type":"string","description":""},"relationshipPercentage":{"type":"number","description":""},"relationshipAmount":{"type":"number","description":""},"relationshipVariation":{"type":"string","description":""}}},"cardissuefee":{"type":"object","properties":{"Type":{"type":"string","description":""},"fixedAmount":{"type":"number","description":""},"chargeRoutine":{"type":"string","description":""},"tierGroups":{"type":"string","description":""},"tierType":{"type":"string","description":"Defines the type of the tier rate"},"calcType":{"type":"string","description":""},"Charge":{"type":"string","description":""},"chgAmount_1":{"type":"number","description":""},"Tier":{"type":"string","description":""},"tierMaxCharge_1":{"type":"string","description":""},"upTo":{"type":"string","description":""},"tierCount_1":{"type":"string","description":""},"relationshipProduct":{"type":"string","description":""},"relationshipPercentage":{"type":"number","description":""},"relationshipAmount":{"type":"number","description":""},"relationshipVariation":{"type":"string","description":""}}},"limitfee":{"type":"object","properties":{"Type":{"type":"string","description":""},"fixedAmount":{"type":"number","description":""},"chargeRoutine":{"type":"string","description":""},"tierGroups":{"type":"string","description":""},"tierType":{"type":"string","description":"Defines the type of the tier rate"},"calcType":{"type":"string","description":""},"Charge":{"type":"string","description":""},"chgAmount_1":{"type":"number","description":""},"Tier":{"type":"string","description":""},"tierMaxCharge_1":{"type":"string","description":""},"upTo":{"type":"string","description":""},"tierCount_1":{"type":"string","description":""},"relationshipProduct":{"type":"string","description":""},"relationshipPercentage":{"type":"number","description":""},"relationshipAmount":{"type":"number","description":""},"relationshipVariation":{"type":"string","description":""}}},"payfee":{"type":"object","properties":{"Type":{"type":"string","description":""},"fixedAmount":{"type":"number","description":""},"chargeRoutine":{"type":"string","description":""},"tierGroups":{"type":"string","description":""},"tierType":{"type":"string","description":"Defines the type of the tier rate"},"calcType":{"type":"string","description":""},"Charge":{"type":"string","description":""},"chgAmount_1":{"type":"number","description":""},"Tier":{"type":"string","description":""},"tierMaxCharge_1":{"type":"string","description":""},"upTo":{"type":"string","description":""},"tierCount_1":{"type":"string","description":""},"relationshipProduct":{"type":"string","description":""},"relationshipPercentage":{"type":"number","description":""},"relationshipAmount":{"type":"number","description":""},"relationshipVariation":{"type":"string","description":""}}},"returnfee":{"type":"object","properties":{"Type":{"type":"string","description":""},"fixedAmount":{"type":"number","description":""},"chargeRoutine":{"type":"string","description":""},"tierGroups":{"type":"string","description":""},"tierType":{"type":"string","description":"Defines the type of the tier rate"},"calcType":{"type":"string","description":""},"Charge":{"type":"string","description":""},"chgAmount_1":{"type":"number","description":""},"Tier":{"type":"string","description":""},"tierMaxCharge_1":{"type":"string","description":""},"upTo":{"type":"string","description":""},"tierCount_1":{"type":"string","description":""},"relationshipProduct":{"type":"string","description":""},"relationshipPercentage":{"type":"number","description":""},"relationshipAmount":{"type":"number","description":""},"relationshipVariation":{"type":"string","description":""}}},"nsfreversalfee":{"type":"object","properties":{"Type":{"type":"string","description":""},"fixedAmount":{"type":"number","description":""},"chargeRoutine":{"type":"string","description":""},"tierGroups":{"type":"string","description":""},"tierType":{"type":"string","description":"Defines the type of the tier rate"},"calcType":{"type":"string","description":""},"Charge":{"type":"string","description":""},"chgAmount_1":{"type":"number","description":""},"Tier":{"type":"string","description":""},"tierMaxCharge_1":{"type":"string","description":""},"upTo":{"type":"string","description":""},"tierCount_1":{"type":"string","description":""},"relationshipProduct":{"type":"string","description":""},"relationshipPercentage":{"type":"number","description":""},"relationshipAmount":{"type":"number","description":""},"relationshipVariation":{"type":"string","description":""}}},"closure":{"type":"object","properties":{"closureType":{"type":"string","description":""},"closurePeriod":{"type":"string","description":""},"closureMethod":{"type":"string","description":""},"postingRestrict":{"type":"string","description":"Posting restrictions for the customers."},"closureActivity":{"type":"string","description":""}}},"customer":{"type":"object","properties":{"Customer":{"type":"string","description":""},"taxLiabilityPerc_1":{"type":"string","description":""},"limitAllocPerc_1":{"type":"string","description":""},"glAllocPerc_1":{"type":"string","description":""},"jsLiable":{"type":"string","description":"","enum":["Joint & Severally Liable"]}}},"crinterest":{"type":"object","properties":{"Fixed":{"type":"string","description":""},"Spread":{"type":"string","description":""},"Margin":{"type":"string","description":""},"marginOper_11":{"type":"string","description":""},"marginRate_11":{"type":"string","description":""},"min_MaxRate":{"type":"string","description":""},"tierMaxRate_1":{"type":"string","description":""},"effectiveRate":{"type":"string","description":""},"upTo":{"type":"string","description":""},"negativeRate":{"type":"string","description":""},"or_":{"type":"string","description":""},"Tiers":{"type":"string","description":""},"prAttribute_1":{"type":"string","description":""},"prValue_1":{"type":"string","description":""},"linkedArrangement":{"type":"string","description":"The Arrangement to be linked for calculating the Interest Rate"},"linkedProperty":{"type":"string","description":""},"periodicIndex_1":{"type":"string","description":""},"periodicRate_1":{"type":"string","description":""},"periodicPeriodType_1":{"type":"string","description":""},"periodicPeriod_1":{"type":"string","description":""},"periodicMethod_1":{"type":"string","description":""},"initialResetDate_1":{"type":"string","format":"date","description":""},"periodicReset_1":{"type":"string","description":""},"marginType_11":{"type":"string","description":""},"effectiveRate_1":{"type":"string","description":""},"tierNegativeRate_1":{"type":"string","description":""},"dayBasis":{"type":"string","description":""},"calcThreshold":{"type":"string","description":""},"accrualRule":{"type":"string","description":""},"Compounding":{"type":"string","description":""},"compoundYieldMethod":{"type":"string","description":""},"onActivity":{"type":"string","description":""},"Recalculate":{"type":"string","description":""},"minIntAmount":{"type":"number","description":""},"minIntWaive":{"type":"string","description":""},"referLimit":{"type":"string","description":""},"suppressAccrual":{"type":"string","description":""},"customType_1":{"type":"string","description":""},"customName_1":{"type":"string","description":""},"customValue_1":{"type":"string","description":""}}},"officers":{"type":"object","properties":{"primaryOfficer":{"type":"string","description":""},"otherOfficer":{"type":"string","description":""}}},"schedule":{"type":"object","properties":{"amortisationTerm":{"type":"string","description":""},"residualAmount":{"type":"number","description":""},"Payment":{"type":"string","description":""},"paymentMethod_1":{"type":"string","description":""},"paymentFreq_1":{"type":"string","description":""},"property_11":{"type":"string","description":""},"dueFreq_11":{"type":"string","description":""},"percentage_11":{"type":"number","description":""},"startDate_11":{"type":"string","format":"date","description":""},"endDate_11":{"type":"string","format":"date","description":""},"numPayments_11":{"type":"string","description":""},"calcAmount_11":{"type":"number","description":""},"actualAmt_11":{"type":"string","description":""},"billType_1":{"type":"string","description":""},"billProduced_1":{"type":"string","description":""},"autoSettle_1":{"type":"string","description":""},"combineBills":{"type":"string","description":""},"recalcFrequency":{"type":"string","description":""}}},"accountsPaymentRules":{"type":"object","properties":{"financialStatus":{"type":"string","description":""},"applicationType":{"type":"string","description":""},"applicationOrder":{"type":"string","description":""},"propertySequence":{"type":"string","description":""},"property_11":{"type":"string","description":""},"propApplType_11":{"type":"string","description":""},"remainderActivity":{"type":"string","description":""},"makeBillDue":{"type":"string","description":""}}},"periodiccharges":{"type":"object","properties":{"debitCharge":{"type":"string","description":""},"maxChgAmount_1":{"type":"number","description":""},"creditCharge":{"type":"string","description":""},"maxChgAmountCr_1":{"type":"number","description":""},"waiveChg":{"type":"string","description":""},"includeDeferred":{"type":"string","description":""}}},"prefpricing":{"type":"object","properties":{"Method":{"type":"string","description":""},"Type":{"type":"string","description":""}}},"settlement":{"type":"object","properties":{"payinSettlement_1":{"type":"string","description":"","enum":["Payin Settlement"]},"ddMandateRef_11":{"type":"string","format":"date","description":""},"payinAccount_11":{"type":"string","description":"","enum":["Payin Account"]},"payinBeneficiary_11":{"type":"string","description":"","enum":["Payin Beneficiary"]},"payinPercentage_11":{"type":"number","description":""},"payinAmount_11":{"type":"number","description":""},"payoutSettlement_1":{"type":"string","description":"","enum":["Payout Settlement"]},"payoutAccount_11":{"type":"string","description":"","enum":["Payout Account"]},"payoutBeneficiary_11":{"type":"string","description":"","enum":["Payout Beneficiary"]},"payoutPercentage_11":{"type":"number","description":""},"payoutAmount_11":{"type":"number","description":""},"paymentType_11":{"type":"string","description":"","enum":["Payment Type"]},"payinPoProduct_11":{"type":"string","description":"","enum":["Payin Product"]},"payinActivity_11":{"type":"string","description":"","enum":["Payin Activity"]},"payinAcDbRule_1":{"type":"string","description":"","enum":["Payin Account Debit Rule"]},"payinSettleActivity_1":{"type":"string","description":"","enum":["Payin Settle Activity"]},"payinRcType_1":{"type":"string","description":"","enum":["Payin RC Type"]},"payinRcCondition_1":{"type":"string","description":"","enum":["Payin RC Condition"]},"defaultSettlementAccount":{"type":"string","description":"","enum":["Default Settlement Account"]},"payoutPptyClass_11":{"type":"string","description":"","enum":["Payout Property Class"]},"payoutProperty_11":{"type":"string","description":"","enum":["Payout Property"]},"payoutSettleActivity_1":{"type":"string","description":"","enum":["Payout Settle Activity"]},"payoutPoProduct_11":{"type":"string","description":"","enum":["Payout Product"]},"payoutActivity_11":{"type":"string","description":"","enum":["Payout Activity"]}}},"tax":{"type":"object","properties":{"Property":{"type":"string","description":""},"propTaxCode_11":{"type":"string","description":""},"propTaxCond_11":{"type":"string","description":""},"netTax":{"type":"string","description":"","enum":["Net Tax"]},"propertyNetTax":{"type":"string","description":"","enum":["Property Net Tax"]}}},"dormancy":{"type":"object","properties":{"status_1":{"type":"string","description":"","enum":["Dormancy Status"]},"period_1":{"type":"string","description":"","enum":["Period since last updated status"]},"noticeDays_1":{"type":"string","description":"","enum":["Number of days after corresponding status"]},"noticeFreq_1":{"type":"string","description":"","enum":["Frequency for Notice"]},"chargeFrequency_1":{"type":"string","description":"","enum":["Frequency for Charge"]}}},"facility":{"type":"object","properties":{"service_1":{"type":"string","description":"","enum":["Service Group"]},"serviceAvailability_1":{"type":"string","description":"","enum":["Service Availability"]},"customerOption_1":{"type":"string","description":"","enum":["Customer Option"]}}},"statement":{"type":"object","properties":{"statement_1Frequency":{"type":"string","description":""},"ifNoMovement":{"type":"string","description":""},"specialStatement_1Frequency":{"type":"string","description":""},"ifNoMovementSpl":{"type":"string","description":"","enum":["If No Movement Spl"]},"swiftStatement_1Type":{"type":"string","description":""},"statementType":{"type":"string","description":"","enum":["Statement Type"]},"statementAddOn":{"type":"string","description":"","enum":["Statement Add On"]},"fqu1AddOnReqd_1":{"type":"string","description":"","enum":["Add On Required"]},"attributeName_value":{"type":"string","description":"","enum":["Print Attribute Name/Value"]},"fqu1PrintAttrValue_1":{"type":"string","description":"","enum":["Print Attribute Value"]},"detailedStatement":{"type":"string","description":"","enum":["Detailed Statement"]},"participantAccount":{"type":"string","description":"","enum":["Participant Account"]},"leadAccount":{"type":"string","description":"","enum":["Lead Account"]},"statement_2Frequency":{"type":"string","description":""},"frequencyNo":{"type":"string","description":""},"ifNoMovementFrequency_2":{"type":"string","description":""},"specialStatement_2Frequency":{"type":"string","description":""},"fqu2AddOnReqd_11":{"type":"string","description":""},"attributeName_Value":{"type":"string","description":"","enum":["Attribute Name or Attribute Value"]},"fqu2PrintAttrValue_11":{"type":"string","description":""},"descriptiveStatement":{"type":"string","description":""},"messageType":{"type":"string","description":""},"sendMessage":{"type":"string","description":""},"startDate":{"type":"string","format":"date","description":"The start date"},"messageTime":{"type":"string","description":""},"debitFloorLimit":{"type":"string","description":""},"creditFloorLimit":{"type":"string","description":""},"taxAdvice":{"type":"string","description":""},"rateInfoRoutine":{"type":"string","description":""},"stmtInfoProperty":{"type":"string","description":""},"interestScale":{"type":"string","description":""},"interestClosingAdvice":{"type":"string","description":""},"intStmtName_1":{"type":"string","description":""},"intStmtProperty_11":{"type":"string","description":""},"intStmtFreq_11":{"type":"string","description":""}}},"constraint":{"type":"object","properties":{"type_1":{"type":"string","description":""},"period_1":{"type":"string","description":""},"initialDate_1":{"type":"string","format":"date","description":""},"detail_1":{"type":"string","description":""},"activityFunction_1":{"type":"string","description":""},"result_1":{"type":"string","description":""}}}}},"ArrangementHeader":{"properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"aaaId":{"type":"string","description":"The Identifier of the aa record created"},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"createMinorAccountResponse":{"properties":{"header":{"$ref":"#/definitions/ArrangementHeader"},"body":{"$ref":"#/definitions/createMinorAccountResponseBody"}},"description":"createMinorAccountResponse"},"createMinorAccountResponseBody":{"type":"object","properties":{"arrangementActivity":{"type":"object","properties":{"parties":{"type":"array","description":"","items":{"type":"object","properties":{"partyId":{"type":"string","description":""},"partyRole":{"type":"string","description":""}}}},"arrangementId":{"type":"string","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string."},"activityId":{"type":"string","description":"The identifier of the activity"},"effectiveDate":{"type":"string","format":"date","description":"The date on which the principal movement is effected"},"productId":{"type":"string","description":"The identifier of the product"},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"simulationId":{"type":"string","description":""}}},"activities":{"type":"object","properties":{"{activityName}":{"type":"object","properties":{"activity":{"type":"string"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"id":{"type":"string","description":"The Identifier of the record created"}}}}},"properties":{"type":"object","properties":{"balance":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"accountType":{"type":"string","description":"","enum":["Type Of Account"]},"accountName":{"type":"string","description":"The name of the account that is displayed","enum":["Account Name"]},"accountNumber":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","enum":["Account Number"]},"portfolioId":{"type":"string","description":"The identifier of the portfolio","enum":["Portfolio Reference"]},"alternateAccountId":{"type":"string","description":"The alternate identifier of the account","enum":["Alternative Id"]},"altId_1":{"type":"string","description":""},"Anniversary":{"type":"string","description":"","enum":["Anniversary Date Of Arrangement"]}}}}},"activityCharges":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"appPeriod_11":{"type":"string","description":""},"appMethod_11":{"type":"string","description":""},"chargeAutoSettle_11":{"type":"string","description":""}}}}},"messaging":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"advice_1":{"type":"string","description":""},"activityClass_1":{"type":"string","description":""},"activityId_1":{"type":"string","description":""},"role_11":{"type":"string","description":""},"msgContent_1":{"type":"string","description":""},"sendAdvice_1":{"type":"string","description":""},"preNotice":{"type":"string","description":""},"preNoticeDays_1":{"type":"string","description":""}}}}},"arrangementRules":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"rule":{"type":"string","description":""},"periodicAttribute_1":{"type":"string","description":""},"ruleActivityClass_11":{"type":"string","description":""},"ruleActivityId_11":{"type":"string","description":""},"balanceType_1":{"type":"string","description":""},"periodicValue_1":{"type":"string","description":""},"activityClass_11":{"type":"string","description":""},"activityId_11":{"type":"string","description":""},"restrict_1":{"type":"string","description":""},"ruleId_11":{"type":"string","description":""},"restrictType_11":{"type":"string","description":""},"override_ErrorId":{"type":"string","description":""},"restrictError_11":{"type":"string","description":""},"charge_Period_Method":{"type":"string","description":""},"appPeriod_11":{"type":"string","description":""},"appMethod_11":{"type":"string","description":""},"propertyId_1":{"type":"string","description":""},"propertyRuleName_11":{"type":"string","description":""},"evaluation_1":{"type":"string","description":""},"evaluationResult_1":{"type":"string","description":""},"altPropertyId_1":{"type":"string","description":""}}}}},"agentCommission":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"agentId_1":{"type":"string","description":""},"agentArrId_1":{"type":"string","description":""},"agentRole_1":{"type":"string","description":""},"onlineEvent_11":{"type":"string","description":""},"scheduledEvent_11":{"type":"string","description":""},"fixedAmount_11":{"type":"number","description":""},"marginOperand_11":{"type":"string","description":""},"marginRate_11":{"type":"string","description":""},"marginPercent_11":{"type":"number","description":""}}}}},"rewardsPoints":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"agentId_1":{"type":"string","description":""},"agentArrId_1":{"type":"string","description":""},"agentRole_1":{"type":"string","description":""},"onlineEvent_11":{"type":"string","description":""},"scheduledEvent_11":{"type":"string","description":""},"fixedAmount_11":{"type":"number","description":""},"marginOperand_11":{"type":"string","description":""},"marginRate_11":{"type":"string","description":""},"marginPercent_11":{"type":"number","description":""}}}}},"alerts":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"event_1":{"type":"string","description":""},"field_11":{"type":"string","description":""},"operand_11":{"type":"string","description":""},"value_11":{"type":"string","description":""}}}}},"balanceAvailability":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"noticeAmount":{"type":"number","description":""},"noticePeriod":{"type":"string","description":""},"noticeAvailability":{"type":"string","description":""},"creditCheck":{"type":"string","description":"Set to yes if the Collateral Surplus Deficit is positive"},"balanceAvailabilityUpdate":{"type":"string","description":""}}}}},"renewal":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"renewalPeriod":{"type":"string","description":""},"renewalActivity":{"type":"string","description":""},"changeToProduct":{"type":"string","description":""}}}}},"txnfee":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"Type":{"type":"string","description":""},"fixedAmount":{"type":"number","description":""},"chargeRoutine":{"type":"string","description":""},"tierGroups":{"type":"string","description":""},"tierType":{"type":"string","description":"Defines the type of the tier rate"},"calcType":{"type":"string","description":""},"Charge":{"type":"string","description":""},"chgAmount_1":{"type":"number","description":""},"Tier":{"type":"string","description":""},"tierMaxCharge_1":{"type":"string","description":""},"upTo":{"type":"string","description":""},"tierCount_1":{"type":"string","description":""},"relationshipProduct":{"type":"string","description":""},"relationshipPercentage":{"type":"number","description":""},"relationshipAmount":{"type":"number","description":""},"relationshipVariation":{"type":"string","description":""}}}}},"minbalfee":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"Type":{"type":"string","description":""},"fixedAmount":{"type":"number","description":""},"chargeRoutine":{"type":"string","description":""},"tierGroups":{"type":"string","description":""},"tierType":{"type":"string","description":"Defines the type of the tier rate"},"calcType":{"type":"string","description":""},"Charge":{"type":"string","description":""},"chgAmount_1":{"type":"number","description":""},"Tier":{"type":"string","description":""},"tierMaxCharge_1":{"type":"string","description":""},"upTo":{"type":"string","description":""},"tierCount_1":{"type":"string","description":""},"relationshipProduct":{"type":"string","description":""},"relationshipPercentage":{"type":"number","description":""},"relationshipAmount":{"type":"number","description":""},"relationshipVariation":{"type":"string","description":""}}}}},"bonus":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"Type":{"type":"string","description":""},"fixedAmount":{"type":"number","description":""},"chargeRoutine":{"type":"string","description":""},"tierGroups":{"type":"string","description":""},"tierType":{"type":"string","description":"Defines the type of the tier rate"},"calcType":{"type":"string","description":""},"Charge":{"type":"string","description":""},"chgAmount_1":{"type":"number","description":""},"Tier":{"type":"string","description":""},"tierMaxCharge_1":{"type":"string","description":""},"upTo":{"type":"string","description":""},"tierCount_1":{"type":"string","description":""},"relationshipProduct":{"type":"string","description":""},"relationshipPercentage":{"type":"number","description":""},"relationshipAmount":{"type":"number","description":""},"relationshipVariation":{"type":"string","description":""}}}}},"closurefee":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"Type":{"type":"string","description":""},"fixedAmount":{"type":"number","description":""},"chargeRoutine":{"type":"string","description":""},"tierGroups":{"type":"string","description":""},"tierType":{"type":"string","description":"Defines the type of the tier rate"},"calcType":{"type":"string","description":""},"Charge":{"type":"string","description":""},"chgAmount_1":{"type":"number","description":""},"Tier":{"type":"string","description":""},"tierMaxCharge_1":{"type":"string","description":""},"upTo":{"type":"string","description":""},"tierCount_1":{"type":"string","description":""},"relationshipProduct":{"type":"string","description":""},"relationshipPercentage":{"type":"number","description":""},"relationshipAmount":{"type":"number","description":""},"relationshipVariation":{"type":"string","description":""}}}}},"dormancyfee":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"Type":{"type":"string","description":""},"fixedAmount":{"type":"number","description":""},"chargeRoutine":{"type":"string","description":""},"tierGroups":{"type":"string","description":""},"tierType":{"type":"string","description":"Defines the type of the tier rate"},"calcType":{"type":"string","description":""},"Charge":{"type":"string","description":""},"chgAmount_1":{"type":"number","description":""},"Tier":{"type":"string","description":""},"tierMaxCharge_1":{"type":"string","description":""},"upTo":{"type":"string","description":""},"tierCount_1":{"type":"string","description":""},"relationshipProduct":{"type":"string","description":""},"relationshipPercentage":{"type":"number","description":""},"relationshipAmount":{"type":"number","description":""},"relationshipVariation":{"type":"string","description":""}}}}},"mgmtfee":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"Type":{"type":"string","description":""},"fixedAmount":{"type":"number","description":""},"chargeRoutine":{"type":"string","description":""},"tierGroups":{"type":"string","description":""},"tierType":{"type":"string","description":"Defines the type of the tier rate"},"calcType":{"type":"string","description":""},"Charge":{"type":"string","description":""},"chgAmount_1":{"type":"number","description":""},"Tier":{"type":"string","description":""},"tierMaxCharge_1":{"type":"string","description":""},"upTo":{"type":"string","description":""},"tierCount_1":{"type":"string","description":""},"relationshipProduct":{"type":"string","description":""},"relationshipPercentage":{"type":"number","description":""},"relationshipAmount":{"type":"number","description":""},"relationshipVariation":{"type":"string","description":""}}}}},"cardissuefee":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"Type":{"type":"string","description":""},"fixedAmount":{"type":"number","description":""},"chargeRoutine":{"type":"string","description":""},"tierGroups":{"type":"string","description":""},"tierType":{"type":"string","description":"Defines the type of the tier rate"},"calcType":{"type":"string","description":""},"Charge":{"type":"string","description":""},"chgAmount_1":{"type":"number","description":""},"Tier":{"type":"string","description":""},"tierMaxCharge_1":{"type":"string","description":""},"upTo":{"type":"string","description":""},"tierCount_1":{"type":"string","description":""},"relationshipProduct":{"type":"string","description":""},"relationshipPercentage":{"type":"number","description":""},"relationshipAmount":{"type":"number","description":""},"relationshipVariation":{"type":"string","description":""}}}}},"limitfee":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"Type":{"type":"string","description":""},"fixedAmount":{"type":"number","description":""},"chargeRoutine":{"type":"string","description":""},"tierGroups":{"type":"string","description":""},"tierType":{"type":"string","description":"Defines the type of the tier rate"},"calcType":{"type":"string","description":""},"Charge":{"type":"string","description":""},"chgAmount_1":{"type":"number","description":""},"Tier":{"type":"string","description":""},"tierMaxCharge_1":{"type":"string","description":""},"upTo":{"type":"string","description":""},"tierCount_1":{"type":"string","description":""},"relationshipProduct":{"type":"string","description":""},"relationshipPercentage":{"type":"number","description":""},"relationshipAmount":{"type":"number","description":""},"relationshipVariation":{"type":"string","description":""}}}}},"payfee":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"Type":{"type":"string","description":""},"fixedAmount":{"type":"number","description":""},"chargeRoutine":{"type":"string","description":""},"tierGroups":{"type":"string","description":""},"tierType":{"type":"string","description":"Defines the type of the tier rate"},"calcType":{"type":"string","description":""},"Charge":{"type":"string","description":""},"chgAmount_1":{"type":"number","description":""},"Tier":{"type":"string","description":""},"tierMaxCharge_1":{"type":"string","description":""},"upTo":{"type":"string","description":""},"tierCount_1":{"type":"string","description":""},"relationshipProduct":{"type":"string","description":""},"relationshipPercentage":{"type":"number","description":""},"relationshipAmount":{"type":"number","description":""},"relationshipVariation":{"type":"string","description":""}}}}},"returnfee":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"Type":{"type":"string","description":""},"fixedAmount":{"type":"number","description":""},"chargeRoutine":{"type":"string","description":""},"tierGroups":{"type":"string","description":""},"tierType":{"type":"string","description":"Defines the type of the tier rate"},"calcType":{"type":"string","description":""},"Charge":{"type":"string","description":""},"chgAmount_1":{"type":"number","description":""},"Tier":{"type":"string","description":""},"tierMaxCharge_1":{"type":"string","description":""},"upTo":{"type":"string","description":""},"tierCount_1":{"type":"string","description":""},"relationshipProduct":{"type":"string","description":""},"relationshipPercentage":{"type":"number","description":""},"relationshipAmount":{"type":"number","description":""},"relationshipVariation":{"type":"string","description":""}}}}},"nsfreversalfee":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"Type":{"type":"string","description":""},"fixedAmount":{"type":"number","description":""},"chargeRoutine":{"type":"string","description":""},"tierGroups":{"type":"string","description":""},"tierType":{"type":"string","description":"Defines the type of the tier rate"},"calcType":{"type":"string","description":""},"Charge":{"type":"string","description":""},"chgAmount_1":{"type":"number","description":""},"Tier":{"type":"string","description":""},"tierMaxCharge_1":{"type":"string","description":""},"upTo":{"type":"string","description":""},"tierCount_1":{"type":"string","description":""},"relationshipProduct":{"type":"string","description":""},"relationshipPercentage":{"type":"number","description":""},"relationshipAmount":{"type":"number","description":""},"relationshipVariation":{"type":"string","description":""}}}}},"closure":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"closureType":{"type":"string","description":""},"closurePeriod":{"type":"string","description":""},"closureMethod":{"type":"string","description":""},"postingRestrict":{"type":"string","description":"Posting restrictions for the customers."},"closureActivity":{"type":"string","description":""}}}}},"customer":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"Customer":{"type":"string","description":""},"taxLiabilityPerc_1":{"type":"string","description":""},"limitAllocPerc_1":{"type":"string","description":""},"glAllocPerc_1":{"type":"string","description":""},"jsLiable":{"type":"string","description":"","enum":["Joint & Severally Liable"]}}}}},"crinterest":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"Fixed":{"type":"string","description":""},"Spread":{"type":"string","description":""},"Margin":{"type":"string","description":""},"marginOper_11":{"type":"string","description":""},"marginRate_11":{"type":"string","description":""},"min_MaxRate":{"type":"string","description":""},"tierMaxRate_1":{"type":"string","description":""},"effectiveRate":{"type":"string","description":""},"upTo":{"type":"string","description":""},"negativeRate":{"type":"string","description":""},"or_":{"type":"string","description":""},"Tiers":{"type":"string","description":""},"prAttribute_1":{"type":"string","description":""},"prValue_1":{"type":"string","description":""},"linkedArrangement":{"type":"string","description":"The Arrangement to be linked for calculating the Interest Rate"},"linkedProperty":{"type":"string","description":""},"periodicIndex_1":{"type":"string","description":""},"periodicRate_1":{"type":"string","description":""},"periodicPeriodType_1":{"type":"string","description":""},"periodicPeriod_1":{"type":"string","description":""},"periodicMethod_1":{"type":"string","description":""},"initialResetDate_1":{"type":"string","format":"date","description":""},"periodicReset_1":{"type":"string","description":""},"marginType_11":{"type":"string","description":""},"effectiveRate_1":{"type":"string","description":""},"tierNegativeRate_1":{"type":"string","description":""},"dayBasis":{"type":"string","description":""},"calcThreshold":{"type":"string","description":""},"accrualRule":{"type":"string","description":""},"Compounding":{"type":"string","description":""},"compoundYieldMethod":{"type":"string","description":""},"onActivity":{"type":"string","description":""},"Recalculate":{"type":"string","description":""},"minIntAmount":{"type":"number","description":""},"minIntWaive":{"type":"string","description":""},"referLimit":{"type":"string","description":""},"suppressAccrual":{"type":"string","description":""},"customType_1":{"type":"string","description":""},"customName_1":{"type":"string","description":""},"customValue_1":{"type":"string","description":""}}}}},"officers":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"primaryOfficer":{"type":"string","description":""},"otherOfficer":{"type":"string","description":""}}}}},"schedule":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"amortisationTerm":{"type":"string","description":""},"residualAmount":{"type":"number","description":""},"Payment":{"type":"string","description":""},"paymentMethod_1":{"type":"string","description":""},"paymentFreq_1":{"type":"string","description":""},"property_11":{"type":"string","description":""},"dueFreq_11":{"type":"string","description":""},"percentage_11":{"type":"number","description":""},"startDate_11":{"type":"string","format":"date","description":""},"endDate_11":{"type":"string","format":"date","description":""},"numPayments_11":{"type":"string","description":""},"calcAmount_11":{"type":"number","description":""},"actualAmt_11":{"type":"string","description":""},"billType_1":{"type":"string","description":""},"billProduced_1":{"type":"string","description":""},"autoSettle_1":{"type":"string","description":""},"combineBills":{"type":"string","description":""},"recalcFrequency":{"type":"string","description":""}}}}},"accountsPaymentRules":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"financialStatus":{"type":"string","description":""},"applicationType":{"type":"string","description":""},"applicationOrder":{"type":"string","description":""},"propertySequence":{"type":"string","description":""},"property_11":{"type":"string","description":""},"propApplType_11":{"type":"string","description":""},"remainderActivity":{"type":"string","description":""},"makeBillDue":{"type":"string","description":""}}}}},"periodiccharges":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"debitCharge":{"type":"string","description":""},"maxChgAmount_1":{"type":"number","description":""},"creditCharge":{"type":"string","description":""},"maxChgAmountCr_1":{"type":"number","description":""},"waiveChg":{"type":"string","description":""},"includeDeferred":{"type":"string","description":""}}}}},"prefpricing":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"Method":{"type":"string","description":""},"Type":{"type":"string","description":""}}}}},"settlement":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"payinSettlement_1":{"type":"string","description":"","enum":["Payin Settlement"]},"ddMandateRef_11":{"type":"string","format":"date","description":""},"payinAccount_11":{"type":"string","description":"","enum":["Payin Account"]},"payinBeneficiary_11":{"type":"string","description":"","enum":["Payin Beneficiary"]},"payinPercentage_11":{"type":"number","description":""},"payinAmount_11":{"type":"number","description":""},"payoutSettlement_1":{"type":"string","description":"","enum":["Payout Settlement"]},"payoutAccount_11":{"type":"string","description":"","enum":["Payout Account"]},"payoutBeneficiary_11":{"type":"string","description":"","enum":["Payout Beneficiary"]},"payoutPercentage_11":{"type":"number","description":""},"payoutAmount_11":{"type":"number","description":""},"paymentType_11":{"type":"string","description":"","enum":["Payment Type"]},"payinPoProduct_11":{"type":"string","description":"","enum":["Payin Product"]},"payinActivity_11":{"type":"string","description":"","enum":["Payin Activity"]},"payinAcDbRule_1":{"type":"string","description":"","enum":["Payin Account Debit Rule"]},"payinSettleActivity_1":{"type":"string","description":"","enum":["Payin Settle Activity"]},"payinRcType_1":{"type":"string","description":"","enum":["Payin RC Type"]},"payinRcCondition_1":{"type":"string","description":"","enum":["Payin RC Condition"]},"defaultSettlementAccount":{"type":"string","description":"","enum":["Default Settlement Account"]},"payoutPptyClass_11":{"type":"string","description":"","enum":["Payout Property Class"]},"payoutProperty_11":{"type":"string","description":"","enum":["Payout Property"]},"payoutSettleActivity_1":{"type":"string","description":"","enum":["Payout Settle Activity"]},"payoutPoProduct_11":{"type":"string","description":"","enum":["Payout Product"]},"payoutActivity_11":{"type":"string","description":"","enum":["Payout Activity"]}}}}},"tax":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"Property":{"type":"string","description":""},"propTaxCode_11":{"type":"string","description":""},"propTaxCond_11":{"type":"string","description":""},"netTax":{"type":"string","description":"","enum":["Net Tax"]},"propertyNetTax":{"type":"string","description":"","enum":["Property Net Tax"]}}}}},"dormancy":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"status_1":{"type":"string","description":"","enum":["Dormancy Status"]},"period_1":{"type":"string","description":"","enum":["Period since last updated status"]},"noticeDays_1":{"type":"string","description":"","enum":["Number of days after corresponding status"]},"noticeFreq_1":{"type":"string","description":"","enum":["Frequency for Notice"]},"chargeFrequency_1":{"type":"string","description":"","enum":["Frequency for Charge"]}}}}},"facility":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"service_1":{"type":"string","description":"","enum":["Service Group"]},"serviceAvailability_1":{"type":"string","description":"","enum":["Service Availability"]},"customerOption_1":{"type":"string","description":"","enum":["Customer Option"]}}}}},"statement":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"statement_1Frequency":{"type":"string","description":""},"ifNoMovement":{"type":"string","description":""},"specialStatement_1Frequency":{"type":"string","description":""},"ifNoMovementSpl":{"type":"string","description":"","enum":["If No Movement Spl"]},"swiftStatement_1Type":{"type":"string","description":""},"statementType":{"type":"string","description":"","enum":["Statement Type"]},"statementAddOn":{"type":"string","description":"","enum":["Statement Add On"]},"fqu1AddOnReqd_1":{"type":"string","description":"","enum":["Add On Required"]},"attributeName_value":{"type":"string","description":"","enum":["Print Attribute Name/Value"]},"fqu1PrintAttrValue_1":{"type":"string","description":"","enum":["Print Attribute Value"]},"detailedStatement":{"type":"string","description":"","enum":["Detailed Statement"]},"participantAccount":{"type":"string","description":"","enum":["Participant Account"]},"leadAccount":{"type":"string","description":"","enum":["Lead Account"]},"statement_2Frequency":{"type":"string","description":""},"frequencyNo":{"type":"string","description":""},"ifNoMovementFrequency_2":{"type":"string","description":""},"specialStatement_2Frequency":{"type":"string","description":""},"fqu2AddOnReqd_11":{"type":"string","description":""},"attributeName_Value":{"type":"string","description":"","enum":["Attribute Name or Attribute Value"]},"fqu2PrintAttrValue_11":{"type":"string","description":""},"descriptiveStatement":{"type":"string","description":""},"messageType":{"type":"string","description":""},"sendMessage":{"type":"string","description":""},"startDate":{"type":"string","format":"date","description":"The start date"},"messageTime":{"type":"string","description":""},"debitFloorLimit":{"type":"string","description":""},"creditFloorLimit":{"type":"string","description":""},"taxAdvice":{"type":"string","description":""},"rateInfoRoutine":{"type":"string","description":""},"stmtInfoProperty":{"type":"string","description":""},"interestScale":{"type":"string","description":""},"interestClosingAdvice":{"type":"string","description":""},"intStmtName_1":{"type":"string","description":""},"intStmtProperty_11":{"type":"string","description":""},"intStmtFreq_11":{"type":"string","description":""}}}}},"constraint":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"type_1":{"type":"string","description":""},"period_1":{"type":"string","description":""},"initialDate_1":{"type":"string","format":"date","description":""},"detail_1":{"type":"string","description":""},"activityFunction_1":{"type":"string","description":""},"result_1":{"type":"string","description":""}}}}}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"createMinorAccountErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ArrangementHeader"},"error":{"$ref":"#/definitions/createMinorAccountErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"createMinorAccountErrorResponse"},"createMinorAccountErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"property":{"type":"string","description":"The corresponding property"}}}},"type":{"type":"string","description":"The identifier of error type"}}}}}