{"swagger":"2.0","info":{"description":"Allows the viewing of Options of the Entitlement records and the Entitlements records awaiting approval","version":"v1.0.0","title":"Holdings Entitlement Report APIs"},"host":"api.server.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/holdings/entitlements/entitlementOptions":{"get":{"operationId":"getPendingEntitlements","produces":["application/json"],"parameters":[{"name":"diaryId","in":"query","description":"The identifier of the diary","required":false,"type":"string"},{"name":"portfolioId","in":"query","description":"The identifier of the portfolio","required":false,"type":"string"},{"name":"eventType","in":"query","description":"Event Type of the DIARY","required":false,"type":"string"},{"name":"accountOfficerId","in":"query","description":"The identifier of the account officer","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PendingEntitlementsResponse","schema":{"$ref":"#/definitions/holdingsPendingEntitlementsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/holdings/entitlementApprovals":{"get":{"operationId":"getEntitlementApprovals","produces":["application/json"],"parameters":[{"name":"diaryId","in":"query","description":"The identifier of the diary","required":false,"type":"string"},{"name":"portfolioId","in":"query","description":"The identifier of the portfolio","required":false,"type":"string"},{"name":"eventType","in":"query","description":"Event Type of the DIARY","required":false,"type":"string"},{"name":"accountOfficerId","in":"query","description":"The identifier of the account officer","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"EntitlementApprovalsResponse","schema":{"$ref":"#/definitions/holdingsEntitlementApprovalsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"holdingsPendingEntitlementsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/holdingsPendingEntitlementsResponseBody"}},"description":"holdingsPendingEntitlementsResponse"},"holdingsPendingEntitlementsResponseBody":{"type":"array","items":{"type":"object","properties":{"entitlementId":{"type":"string","description":"The identifier of the entitlement","maxLength":44},"portfolioId":{"type":"string","description":"The identifier of the portfolio","maxLength":14},"portfolioName":{"type":"string","description":"The name that is displayed for the portfolio","maxLength":30},"customerId":{"type":"number","description":"The identifier of the customer"},"customerName":{"type":"string","description":"The name that is displayed for the customer","maxLength":30},"instrumentId":{"type":"string","description":"The identifier of the instrument","maxLength":12},"instrumentName":{"type":"string","description":"The name that is displayed for the instrument, taken from securityMaster","maxLength":30},"qualifyingHolding":{"type":"number","description":"The Portfolio's holding in the original security"},"depositoryId":{"type":"number","description":"The identifier of the depository. Must be a customerSecurity of type depository."},"depositoryName":{"type":"string","description":"The name that is displayed for the depository","maxLength":6},"exDate":{"type":"string","format":"date","description":"All holders of the Security, specified as of this date are entitled to the event"},"replyByDate":{"type":"string","format":"date","description":"The date to reply by"},"payDate":{"type":"string","format":"date","description":"The date on which corporate cash is actually paid to shareholder"},"valueDate":{"type":"string","format":"date","description":"The applicable value date"},"rightsInstrumentId":{"type":"string","description":"Security Number of the Rights Security which is being issued"},"rightsInstrumentName":{"type":"string","description":"Name of the Rights Security which is being issued"},"eventType":{"type":"string","description":"Event Type of the DIARY"},"eventName":{"type":"string","description":"The name that is displayed for the event"},"rate":{"type":"number","description":""},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","maxLength":3},"optStatus":{"type":"string","description":"Indicates the current status of the ENTITLEMENT","maxLength":14},"recordStatus":{"type":"string","description":"The status of the record processed","maxLength":4}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}},"holdingsEntitlementApprovalsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/holdingsEntitlementApprovalsResponseBody"}},"description":"holdingsEntitlementApprovalsResponse"},"holdingsEntitlementApprovalsResponseBody":{"type":"array","items":{"type":"object","properties":{"entitlementId":{"type":"string","description":"The identifier of the entitlement","maxLength":44},"portfolioId":{"type":"string","description":"The identifier of the portfolio","maxLength":14},"portfolioName":{"type":"string","description":"The name that is displayed for the portfolio","maxLength":30},"customerId":{"type":"number","description":"The identifier of the customer"},"customerName":{"type":"string","description":"The name that is displayed for the customer","maxLength":30},"instrumentId":{"type":"string","description":"The identifier of the instrument","maxLength":12},"instrumentName":{"type":"string","description":"The name that is displayed for the instrument, taken from securityMaster","maxLength":30},"qualifyingHolding":{"type":"number","description":"The Portfolio's holding in the original security"},"depositoryId":{"type":"number","description":"The identifier of the depository. Must be a customerSecurity of type depository."},"depositoryName":{"type":"string","description":"The name that is displayed for the depository","maxLength":6},"exDate":{"type":"string","format":"date","description":"All holders of the Security, specified as of this date are entitled to the event"},"replyByDate":{"type":"string","format":"date","description":"The date to reply by"},"payDate":{"type":"string","format":"date","description":"The date on which corporate cash is actually paid to shareholder"},"valueDate":{"type":"string","format":"date","description":"The applicable value date"},"rightsInstrumentId":{"type":"string","description":"Security Number of the Rights Security which is being issued"},"rightsInstrumentName":{"type":"string","description":"Name of the Rights Security which is being issued"},"eventType":{"type":"string","description":"Event Type of the DIARY"},"eventName":{"type":"string","description":"The name that is displayed for the event","maxLength":35},"rate":{"type":"number","description":""},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","maxLength":3},"optStatus":{"type":"string","description":"Indicates the current status of the ENTITLEMENT","maxLength":14},"recordStatus":{"type":"string","description":"The status of the record processed","maxLength":4}}}}}}