{"swagger":"2.0","info":{"description":"createLinkedRateLoan","version":"v1.0.0","title":"createLinkedRateLoan"},"host":"api.server.com","basePath":"/api/","schemes":["http","https"],"paths":{"/holdings/loans/linkedRateLoans":{"post":{"operationId":"createLinkedRateLoan","produces":["application/json"],"parameters":[{"in":"body","name":"payload","required":true,"schema":{"$ref":"#/definitions/createLinkedRateLoan"}}],"responses":{"200":{"description":"createLinkedRateLoanResponse","schema":{"$ref":"#/definitions/createLinkedRateLoanResponse"}},"default":{"description":"createLinkedRateLoanErrorResponse","schema":{"$ref":"#/definitions/createLinkedRateLoanErrorResponse"}}}}}},"definitions":{"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}}}},"createLinkedRateLoan":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/createLinkedRateLoanBody"}},"description":"createLinkedRateLoan"},"createLinkedRateLoanBody":{"type":"object","properties":{"parties":{"type":"array","description":"","items":{"type":"object","properties":{"partyId":{"type":"string","description":""},"partyRole":{"type":"string","description":""}}}},"activityId":{"type":"string","description":"The identifier of the activity"},"effectiveDate":{"type":"string","format":"date","description":"The date on which the principal movement is effected"},"productId":{"type":"string","description":"The identifier of the product"},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"simulationId":{"type":"string","description":""},"principalint":{"type":"object","properties":{"interest":{"type":"array","description":"","items":{"type":"object","properties":{"fixed":{"type":"string","description":""},"spread":{"type":"string","description":""},"minMaxRate":{"type":"string","description":""},"maxRate":{"type":"string","description":""},"effectiveRate":{"type":"string","description":""},"upTo":{"type":"string","description":""},"negativeRate":{"type":"string","description":""},"orPercent":{"type":"number","description":""},"margins":{"type":"array","items":{"type":"object","properties":{"margin":{"type":"string","description":""},"marginOperation":{"type":"string","description":""},"marginRate":{"type":"string","description":"The margin rate used to adjust the specified rate of interest and to appropriately reflect any rate profit realized. The result is the nominal rate of interest.  "}}}}}}},"attributes":{"type":"array","items":{"type":"object","properties":{"attributes":{"type":"string","description":""},"value":{"type":"string","description":"The value of the field on which the Alert criteria is based"},"linkedArrangement":{"type":"string","description":"The Arrangement to be linked for calculating the Interest Rate"},"attribute":{"type":"string","description":""}}}},"periodicInterest":{"type":"array","items":{"type":"object","properties":{"periodicIndex":{"type":"string","description":""},"periodicRate":{"type":"string","description":""},"periodicPeriodType":{"type":"string","description":""},"periodicPeriod":{"type":"string","description":""},"periodicMethod":{"type":"string","description":""},"initialResetDate":{"type":"string","format":"date","description":""},"periodicReset":{"type":"string","description":""},"effectiveRate":{"type":"string","description":""},"negativeRate":{"type":"string","description":""},"margins":{"type":"array","items":{"type":"object","properties":{"marginType":{"type":"string","description":"Defines whether there are single or multiple margins to be considered while arriving at the applicable interest rate"},"marginOperation":{"type":"string","description":""},"marginRate":{"type":"string","description":"The margin rate used to adjust the specified rate of interest and to appropriately reflect any rate profit realized. The result is the nominal rate of interest.  "}}}}}}},"activites":{"type":"array","items":{"type":"object","properties":{"onActivity":{"type":"string","description":""},"recalculate":{"type":"string","description":""}}}},"references":{"type":"array","description":"","items":{"type":"object","properties":{"customType":{"type":"string","description":""},"customName":{"type":"string","description":""},"customValue":{"type":"string","description":""}}}},"tiers":{"type":"string","description":""},"linkedProperty":{"type":"string","description":""},"dayBasis":{"type":"string","description":""},"calcThreshold":{"type":"string","description":""},"accrualRule":{"type":"string","description":""},"compounding":{"type":"string","description":""},"compoundYieldMethod":{"type":"string","description":""},"minIntAmount":{"type":"number","description":""},"minIntWaive":{"type":"string","description":""},"referLimit":{"type":"string","description":""},"suppressAccrual":{"type":"string","description":""}}},"commitment":{"type":"object","properties":{"amount":{"type":"number","description":""},"changeAmount":{"type":"number","description":""},"term":{"type":"string","description":"The period to which the rate applies"},"revolving":{"type":"string","description":"","enum":["NO","PAYMENT","PREPAYMENT"]},"updateLimit":{"type":"string","description":"","enum":["YES","NO"]}}}}},"ArrangementHeader":{"properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"aaaId":{"type":"string","description":"The Identifier of the aa record created"},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"createLinkedRateLoanResponse":{"properties":{"header":{"$ref":"#/definitions/ArrangementHeader"},"body":{"$ref":"#/definitions/createLinkedRateLoanResponseBody"}},"description":"createLinkedRateLoanResponse"},"createLinkedRateLoanResponseBody":{"type":"object","properties":{"arrangementActivity":{"type":"object","properties":{"parties":{"type":"array","description":"","items":{"type":"object","properties":{"partyId":{"type":"string","description":""},"partyRole":{"type":"string","description":""}}}},"arrangementId":{"type":"string","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string."},"activityId":{"type":"string","description":"The identifier of the activity"},"effectiveDate":{"type":"string","format":"date","description":"The date on which the principal movement is effected"},"productId":{"type":"string","description":"The identifier of the product"},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"simulationId":{"type":"string","description":""}}},"activities":{"type":"object","properties":{"{activityName}":{"type":"object","properties":{"activity":{"type":"string"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"id":{"type":"string","description":"The Identifier of the record created"}}}}},"properties":{"type":"object","properties":{"account":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"activityCharges":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"messaging":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"arrangementRules":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"agentCommission":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"rewardsPoints":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"alerts":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"ageingfee":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"disbursementfee":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"maintenancefee":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"newarrfee":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"payofffee":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"prindecreasefee":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"insurance":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"renewal":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"chargeoff":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"closure":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"customer":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"principalint":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"interest":{"type":"array","description":"","items":{"type":"object","properties":{"fixed":{"type":"string","description":""},"spread":{"type":"string","description":""},"minMaxRate":{"type":"string","description":""},"maxRate":{"type":"string","description":""},"effectiveRate":{"type":"string","description":""},"upTo":{"type":"string","description":""},"negativeRate":{"type":"string","description":""},"orPercent":{"type":"number","description":""},"margins":{"type":"array","items":{"type":"object","properties":{"margin":{"type":"string","description":""},"marginOperation":{"type":"string","description":""},"marginRate":{"type":"string","description":"The margin rate used to adjust the specified rate of interest and to appropriately reflect any rate profit realized. The result is the nominal rate of interest.  "}}}}}}},"attributes":{"type":"array","items":{"type":"object","properties":{"attributes":{"type":"string","description":""},"value":{"type":"string","description":"The value of the field on which the Alert criteria is based"},"linkedArrangement":{"type":"string","description":"The Arrangement to be linked for calculating the Interest Rate"},"attribute":{"type":"string","description":""}}}},"periodicInterest":{"type":"array","items":{"type":"object","properties":{"periodicIndex":{"type":"string","description":""},"periodicRate":{"type":"string","description":""},"periodicPeriodType":{"type":"string","description":""},"periodicPeriod":{"type":"string","description":""},"periodicMethod":{"type":"string","description":""},"initialResetDate":{"type":"string","format":"date","description":""},"periodicReset":{"type":"string","description":""},"effectiveRate":{"type":"string","description":""},"negativeRate":{"type":"string","description":""},"margins":{"type":"array","items":{"type":"object","properties":{"marginType":{"type":"string","description":"Defines whether there are single or multiple margins to be considered while arriving at the applicable interest rate"},"marginOperation":{"type":"string","description":""},"marginRate":{"type":"string","description":"The margin rate used to adjust the specified rate of interest and to appropriately reflect any rate profit realized. The result is the nominal rate of interest.  "}}}}}}},"activites":{"type":"array","items":{"type":"object","properties":{"onActivity":{"type":"string","description":""},"recalculate":{"type":"string","description":""}}}},"references":{"type":"array","description":"","items":{"type":"object","properties":{"customType":{"type":"string","description":""},"customName":{"type":"string","description":""},"customValue":{"type":"string","description":""}}}},"tiers":{"type":"string","description":""},"linkedProperty":{"type":"string","description":""},"dayBasis":{"type":"string","description":""},"calcThreshold":{"type":"string","description":""},"accrualRule":{"type":"string","description":""},"compounding":{"type":"string","description":""},"compoundYieldMethod":{"type":"string","description":""},"minIntAmount":{"type":"number","description":""},"minIntWaive":{"type":"string","description":""},"referLimit":{"type":"string","description":""},"suppressAccrual":{"type":"string","description":""}}}}},"penaltyint":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"limit":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"officers":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"overdue":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"prRepayment":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"prPrincipalDecrease":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"prPayoff":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"prCurrentBalances":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"prAdvanceRepay":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"poWithdrawal":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"schedule":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"payoff":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"reporting":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"settlement":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"commitment":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"amount":{"type":"number","description":""},"changeAmount":{"type":"number","description":""},"term":{"type":"string","description":"The period to which the rate applies"},"revolving":{"type":"string","description":"","enum":["NO","PAYMENT","PREPAYMENT"]},"updateLimit":{"type":"string","description":"","enum":["YES","NO"]}}}}},"constraint":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"statement":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"createLinkedRateLoanErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ArrangementHeader"},"error":{"$ref":"#/definitions/createLinkedRateLoanErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"createLinkedRateLoanErrorResponse"},"createLinkedRateLoanErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"property":{"type":"string","description":"The corresponding property"}}}},"type":{"type":"string","description":"The identifier of error type"}}}}}