{"swagger":"2.0","info":{"description":"Version for updating cancellation of an Import LC","version":"v1.0.0","title":"updateImportLCCancellation"},"host":"api.server.com","basePath":"/api/","schemes":["http","https"],"paths":{"/holdings/letterOfCredits/{letterOfCreditId}/imports/cancellations":{"put":{"operationId":"updateImportLCCancellation","produces":["application/json"],"parameters":[{"name":"letterOfCreditId","in":"path","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/updateImportLCCancellation"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"}],"responses":{"200":{"description":"updateImportLCCancellationResponse","schema":{"$ref":"#/definitions/updateImportLCCancellationResponse"}},"default":{"description":"updateImportLCCancellationErrorResponse","schema":{"$ref":"#/definitions/updateImportLCCancellationErrorResponse"}}}}}},"definitions":{"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}}}},"updateImportLCCancellation":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/updateImportLCCancellationBody"}},"description":"updateImportLCCancellation"},"updateImportLCCancellationBody":{"type":"object","properties":{"limitReferences":{"type":"array","description":"Identifies the type of limit applicable to the Account","items":{"type":"object","properties":{"limitReference":{"type":"string","description":"Identifies the type of limit applicable to the Account"}}}},"beneficiaries":{"type":"array","description":"","items":{"type":"object","properties":{"beneficiary":{"type":"string","description":""}}}},"charges":{"type":"array","description":"","items":{"type":"object","properties":{"chargeCode":{"type":"string","description":""},"partyCharged":{"type":"string","description":""},"chargeDebitAccount":{"type":"string","description":""},"chargeCurrency":{"type":"string","description":"Holds the currency code of the charge account from where the fee is deducted"},"ChargeExchangeRate":{"type":"string","description":""},"chargeAmount":{"type":"string","description":"Holds the charge amount equivalent in charge account currency"},"amortiseCharges":{"type":"string","description":""},"chargeStatus":{"type":"string","description":""},"taxCurrency":{"type":"string","description":""},"taxAmount":{"type":"string","description":"The tax amount"}}}},"commissions":{"type":"array","description":"","items":{"type":"object","properties":{"commissionCode":{"type":"string","description":""},"uptoAmount":{"type":"string","description":""},"commissionRate":{"type":"string","description":"The commission by percentage. Allowed only for manual commission. Calculated commission amount can be overwritten manually."},"commissionAmount":{"type":"string","description":"The amount of commission charged in the currency of the event"}}}},"lcNumber":{"type":"string","description":""},"sendAmendmentAdvice":{"type":"string","description":""},"lcType":{"type":"string","description":""},"advisingBankReference":{"type":"string","description":""},"applicantCustomer":{"type":"string","description":""},"advisingBank":{"type":"string","description":""},"issueDate":{"type":"string","description":"The date the item was issued."},"newLcCurrency":{"type":"string","description":""},"newLcAmount":{"type":"number","description":""},"creditTolerance":{"type":"string","description":""},"debitTolerance":{"type":"string","description":""},"purposeOfMessage":{"type":"string","description":"","enum":["Purpose of Message"]},"cancellationRequest":{"type":"string","description":""},"additionalAmountCovered":{"type":"number","description":""},"fullyUtilised":{"type":"string","description":""},"newLCExpiryDate":{"type":"string","format":"date","description":""},"newLCExpiryPlace":{"type":"string","description":""},"liabilityReversalDate":{"type":"string","format":"date","description":""},"latestShipmentDate":{"type":"string","format":"date","description":""},"narrative":{"type":"string","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference","enum":["Free format field - any narration can be given"]},"bankToBank":{"type":"string","description":"","enum":["Information to Receiver Bnk -Free format field"]},"draftPrint":{"type":"string","description":""},"amendStatus":{"type":"string","description":""},"chargeFrom":{"type":"string","description":""},"chargeDefaultAccount":{"type":"string","description":""},"waiveCharge":{"type":"string","description":"Defines whether charges are to be collected or waived"},"commissionCode":{"type":"string","description":""},"waiveCommission":{"type":"string","description":""},"commissionPartyCharge":{"type":"string","description":""},"commissionStartDate":{"type":"string","description":""},"commissionFrequency":{"type":"string","description":""},"commissionRate":{"type":"string","description":"The commission by percentage. Allowed only for manual commission. Calculated commission amount can be overwritten manually."},"accrualParam":{"type":"string","description":""},"commissionAmount":{"type":"number","description":"The amount of commission charged in the currency of the event"},"fixedCommissionAmount":{"type":"string","description":""},"commissionAccount":{"type":"string","description":""},"commissionExchangeRate":{"type":"string","description":""},"commissionClaimed":{"type":"string","description":""},"backForwardKey":{"type":"string","description":""},"returnCommission":{"type":"string","description":""},"uptoDays":{"type":"string","description":""},"marginRequired":{"type":"string","description":""},"releaseProvision":{"type":"string","description":"Field to decide whether the provision should be released or not"},"marginCalculationBase":{"type":"string","description":""},"marginPercent":{"type":"string","description":"Field to state the percentage of provision to be taken"},"marginDebitAccount":{"type":"string","description":"Field to state the account from which the provision amount is to be debited"},"marginAmount":{"type":"number","description":"Actual amount of provision that is debited for the transaction"},"marginCreditAccount":{"type":"string","description":""},"marginOutstanding":{"type":"string","description":""}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"updateImportLCCancellationResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/updateImportLCCancellationResponseBody"}},"description":"updateImportLCCancellationResponse"},"updateImportLCCancellationResponseBody":{"type":"object","properties":{"limitReferences":{"type":"array","description":"Identifies the type of limit applicable to the Account","items":{"type":"object","properties":{"limitReference":{"type":"string","description":"Identifies the type of limit applicable to the Account"}}}},"beneficiaries":{"type":"array","description":"","items":{"type":"object","properties":{"beneficiary":{"type":"string","description":""}}}},"charges":{"type":"array","description":"","items":{"type":"object","properties":{"chargeCode":{"type":"string","description":""},"partyCharged":{"type":"string","description":""},"chargeDebitAccount":{"type":"string","description":""},"chargeCurrency":{"type":"string","description":"Holds the currency code of the charge account from where the fee is deducted"},"ChargeExchangeRate":{"type":"string","description":""},"chargeAmount":{"type":"string","description":"Holds the charge amount equivalent in charge account currency"},"amortiseCharges":{"type":"string","description":""},"chargeStatus":{"type":"string","description":""},"taxCurrency":{"type":"string","description":""},"taxAmount":{"type":"string","description":"The tax amount"}}}},"commissions":{"type":"array","description":"","items":{"type":"object","properties":{"commissionCode":{"type":"string","description":""},"uptoAmount":{"type":"string","description":""},"commissionRate":{"type":"string","description":"The commission by percentage. Allowed only for manual commission. Calculated commission amount can be overwritten manually."},"commissionAmount":{"type":"string","description":"The amount of commission charged in the currency of the event"}}}},"lcNumber":{"type":"string","description":""},"sendAmendmentAdvice":{"type":"string","description":""},"lcType":{"type":"string","description":""},"advisingBankReference":{"type":"string","description":""},"applicantCustomer":{"type":"string","description":""},"advisingBank":{"type":"string","description":""},"issueDate":{"type":"string","description":"The date the item was issued."},"newLcCurrency":{"type":"string","description":""},"newLcAmount":{"type":"number","description":""},"creditTolerance":{"type":"string","description":""},"debitTolerance":{"type":"string","description":""},"purposeOfMessage":{"type":"string","description":"","enum":["Purpose of Message"]},"cancellationRequest":{"type":"string","description":""},"additionalAmountCovered":{"type":"number","description":""},"fullyUtilised":{"type":"string","description":""},"newLCExpiryDate":{"type":"string","format":"date","description":""},"newLCExpiryPlace":{"type":"string","description":""},"liabilityReversalDate":{"type":"string","format":"date","description":""},"latestShipmentDate":{"type":"string","format":"date","description":""},"narrative":{"type":"string","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference","enum":["Free format field - any narration can be given"]},"bankToBank":{"type":"string","description":"","enum":["Information to Receiver Bnk -Free format field"]},"draftPrint":{"type":"string","description":""},"amendStatus":{"type":"string","description":""},"chargeFrom":{"type":"string","description":""},"chargeDefaultAccount":{"type":"string","description":""},"waiveCharge":{"type":"string","description":"Defines whether charges are to be collected or waived"},"commissionCode":{"type":"string","description":""},"waiveCommission":{"type":"string","description":""},"commissionPartyCharge":{"type":"string","description":""},"commissionStartDate":{"type":"string","description":""},"commissionFrequency":{"type":"string","description":""},"commissionRate":{"type":"string","description":"The commission by percentage. Allowed only for manual commission. Calculated commission amount can be overwritten manually."},"accrualParam":{"type":"string","description":""},"commissionAmount":{"type":"number","description":"The amount of commission charged in the currency of the event"},"fixedCommissionAmount":{"type":"string","description":""},"commissionAccount":{"type":"string","description":""},"commissionExchangeRate":{"type":"string","description":""},"commissionClaimed":{"type":"string","description":""},"backForwardKey":{"type":"string","description":""},"returnCommission":{"type":"string","description":""},"uptoDays":{"type":"string","description":""},"marginRequired":{"type":"string","description":""},"releaseProvision":{"type":"string","description":"Field to decide whether the provision should be released or not"},"marginCalculationBase":{"type":"string","description":""},"marginPercent":{"type":"string","description":"Field to state the percentage of provision to be taken"},"marginDebitAccount":{"type":"string","description":"Field to state the account from which the provision amount is to be debited"},"marginAmount":{"type":"number","description":"Actual amount of provision that is debited for the transaction"},"marginCreditAccount":{"type":"string","description":""},"marginOutstanding":{"type":"string","description":""}}},"ErrorHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"updateImportLCCancellationErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/updateImportLCCancellationErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"updateImportLCCancellationErrorResponse"},"updateImportLCCancellationErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}}}}