{"swagger":"2.0","info":{"description":"Version for creating transferable LC","version":"v1.0.0","title":"createIssuanceOfTransferableLC"},"host":"api.server.com","basePath":"/api/","schemes":["http","https"],"paths":{"/holdings/letterOfCredits/transferables":{"post":{"operationId":"createIssuanceOfTransferableLC","produces":["application/json"],"parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/createIssuanceOfTransferableLC"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"}],"responses":{"200":{"description":"createIssuanceOfTransferableLCResponse","schema":{"$ref":"#/definitions/createIssuanceOfTransferableLCResponse"}},"default":{"description":"createIssuanceOfTransferableLCErrorResponse","schema":{"$ref":"#/definitions/createIssuanceOfTransferableLCErrorResponse"}}}}}},"definitions":{"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}}}},"createIssuanceOfTransferableLC":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/createIssuanceOfTransferableLCBody"}},"description":"createIssuanceOfTransferableLC"},"createIssuanceOfTransferableLCBody":{"type":"object","properties":{"advisingBanks":{"type":"array","items":{"type":"object","properties":{"advisingBank":{"type":"string","description":""}}}},"limitReferences":{"type":"array","description":"Identifies the type of limit applicable to the Account","items":{"type":"object","properties":{"limitReference":{"type":"string","description":"Identifies the type of limit applicable to the Account"}}}},"drawings":{"type":"array","items":{"type":"object","properties":{"drawingType":{"type":"string","description":""},"paymentPercent":{"type":"number","description":""},"paymentPortion":{"type":"string","description":""},"acptTimeBand":{"type":"string","description":""},"additionalCoveredAmount":{"type":"number","description":""},"limitReference":{"type":"string","description":"Identifies the type of limit applicable to the Account"}}}},"charges":{"type":"array","description":"","items":{"type":"object","properties":{"chargeCode":{"type":"string","description":""},"partyCharged":{"type":"string","description":""},"chargeDebitAccount":{"type":"string","description":""},"chargeCurrency":{"type":"string","description":"Holds the currency code of the charge account from where the fee is deducted"},"ChargeExchangeRate":{"type":"string","description":""},"chargeAmount":{"type":"string","description":"Holds the charge amount equivalent in charge account currency"},"amortiseCharges":{"type":"string","description":""},"chargeStatus":{"type":"string","description":""},"taxCurrency":{"type":"string","description":""},"taxAmount":{"type":"string","description":"The tax amount"}}}},"assignments":{"type":"array","items":{"type":"object","properties":{"assignmentReference":{"type":"string","description":""},"assigneeId":{"type":"string","description":""},"assignmentAmount":{"type":"string","description":""},"assigntOutstandingAmount":{"type":"string","description":""},"assigneeAddresses":{"type":"array","items":{"type":"object","properties":{"assigneeAddress":{"type":"string","description":""}}}},"assignmentNotes":{"type":"array","items":{"type":"object","properties":{"assignmentNote":{"type":"string","description":""}}}}}}},"firstBeneficiaries":{"type":"array","items":{"type":"object","properties":{"firstBeneficiary":{"type":"string","description":""}}}},"secondBeneficiaries":{"type":"array","items":{"type":"object","properties":{"secondBeneficiary":{"type":"string","description":""}}}},"availableWithBanks":{"type":"array","items":{"type":"object","properties":{"availableWithBank":{"type":"string","description":""}}}},"draftsAt":{"type":"array","items":{"type":"object","properties":{"draftAt":{"type":"string","description":""}}}},"drawees":{"type":"array","items":{"type":"object","properties":{"drawee":{"type":"string","description":""}}}},"mixedPaymentDetails":{"type":"array","items":{"type":"object","properties":{"mixedPaymentDetail":{"type":"string","description":""}}}},"negotiationDeferredPaymentDetails":{"type":"array","items":{"type":"object","properties":{"negotiationDeferredPaymentDetail":{"type":"string","description":""}}}},"shipmentPeriods":{"type":"array","items":{"type":"object","properties":{"shipmentPeriod":{"type":"string","description":""}}}},"documentsRequired":{"type":"array","items":{"type":"object","properties":{"documentRequired":{"type":"string","description":""}}}},"additionalConditions":{"type":"array","items":{"type":"object","properties":{"additionalCondition":{"type":"string","description":""}}}},"narrativeCharges":{"type":"array","items":{"type":"object","properties":{"narrativeCharge":{"type":"string","description":""}}}},"requestedConfirmBankNames":{"type":"array","items":{"type":"object","properties":{"requestedConfirmBankName":{"type":"string","description":""}}}},"instructionsToTheBanks":{"type":"array","items":{"type":"object","properties":{"instructionsToTheBank":{"type":"string","description":""}}}},"adviseThroughBanks":{"type":"array","items":{"type":"object","properties":{"adviseThroughBank":{"type":"string","description":""}}}},"lcType":{"type":"string","description":""},"parentLCReference":{"type":"string","description":""},"lcTransferAdvisingReference":{"type":"string","description":""},"issuingBankLCReference":{"type":"string","description":""},"issuingBankId":{"type":"string","description":""},"advisingBank":{"type":"string","description":""},"issuingBankName":{"type":"string","description":""},"lcAdvisingDate":{"type":"string","format":"date","description":""},"lcCurrency":{"type":"string","description":""},"lcAmount":{"type":"number","description":""},"creditTolerance":{"type":"string","description":""},"debitTolerance":{"type":"string","description":""},"issueDate":{"type":"string","format":"date","description":"The date the item was issued."},"expiryDate":{"type":"string","format":"date","description":"The date an agreement such as a credit facility or limit is due to expire"},"expiryPlace":{"type":"string","description":""},"liabilityReversalDate":{"type":"string","format":"date","description":""},"autoExpiry":{"type":"string","description":"Decision field to determine whether the contingent entries are to be reversed after the deal expiry date or not"},"secondBeneficiaryID":{"type":"string","description":""},"secondBeneficiaryAddress":{"type":"string","description":""},"firstBeneficiaryName":{"type":"string","description":""},"availableWithBankID":{"type":"string","description":""},"availableWithBank":{"type":"string","description":""},"adviseThroughBankID":{"type":"string","description":""},"adviseThroughBank":{"type":"string","description":""},"chargeFrom":{"type":"string","description":""},"chargeDefaultAccount":{"type":"string","description":""},"waiveCharge":{"type":"string","description":"Defines whether charges are to be collected or waived"},"confirmationInstruction":{"type":"string","description":""},"riskParty":{"type":"string","description":""},"confirmationDate":{"type":"string","format":"date","description":""},"confirmationAmount":{"type":"number","description":""},"confirmLiabilityAmount":{"type":"number","description":""},"unconfirmLiabilityAmount":{"type":"number","description":""},"unconfirmLimitReference":{"type":"string","description":""},"revolvingType":{"type":"string","description":""},"numberOfRevolution":{"type":"string","description":""},"revolvingFrequency":{"type":"string","description":""},"limitForRevolving":{"type":"string","description":""},"curRevolLiab":{"type":"string","description":""},"formOfDocCredit":{"type":"string","description":""},"transferingBankReference":{"type":"string","description":""},"documentaryCreditNumber":{"type":"string","description":""},"lcIssueDate":{"type":"string","format":"date","description":""},"applicableRule":{"type":"string","description":""},"applicableRuleDescription":{"type":"string","description":""},"dateOfExpiry":{"type":"string","format":"date","description":""},"additionalAmountCovered":{"type":"number","description":""},"draweeId":{"type":"string","description":""},"partialShipment":{"type":"string","description":""},"transhipment":{"type":"string","description":""},"placeOfTakingInCharge":{"type":"string","description":""},"portOfLoading":{"type":"string","description":""},"portOfDischarge":{"type":"string","description":""},"finalDestination":{"type":"string","description":""},"latestShipmentDate":{"type":"string","format":"date","description":""},"descriptionOfGoods":{"type":"string","description":""},"daysAndPeriodForPresentation":{"type":"string","description":""},"requestedConfirmBankName":{"type":"string","description":""},"senderToReceiverInfo":{"type":"string","description":""}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"createIssuanceOfTransferableLCResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/createIssuanceOfTransferableLCResponseBody"}},"description":"createIssuanceOfTransferableLCResponse"},"createIssuanceOfTransferableLCResponseBody":{"type":"object","properties":{"advisingBanks":{"type":"array","items":{"type":"object","properties":{"advisingBank":{"type":"string","description":""}}}},"limitReferences":{"type":"array","description":"Identifies the type of limit applicable to the Account","items":{"type":"object","properties":{"limitReference":{"type":"string","description":"Identifies the type of limit applicable to the Account"}}}},"drawings":{"type":"array","items":{"type":"object","properties":{"drawingType":{"type":"string","description":""},"paymentPercent":{"type":"number","description":""},"paymentPortion":{"type":"string","description":""},"acptTimeBand":{"type":"string","description":""},"additionalCoveredAmount":{"type":"number","description":""},"limitReference":{"type":"string","description":"Identifies the type of limit applicable to the Account"}}}},"charges":{"type":"array","description":"","items":{"type":"object","properties":{"chargeCode":{"type":"string","description":""},"partyCharged":{"type":"string","description":""},"chargeDebitAccount":{"type":"string","description":""},"chargeCurrency":{"type":"string","description":"Holds the currency code of the charge account from where the fee is deducted"},"ChargeExchangeRate":{"type":"string","description":""},"chargeAmount":{"type":"string","description":"Holds the charge amount equivalent in charge account currency"},"amortiseCharges":{"type":"string","description":""},"chargeStatus":{"type":"string","description":""},"taxCurrency":{"type":"string","description":""},"taxAmount":{"type":"string","description":"The tax amount"}}}},"assignments":{"type":"array","items":{"type":"object","properties":{"assignmentReference":{"type":"string","description":""},"assigneeId":{"type":"string","description":""},"assignmentAmount":{"type":"string","description":""},"assigntOutstandingAmount":{"type":"string","description":""},"assigneeAddresses":{"type":"array","items":{"type":"object","properties":{"assigneeAddress":{"type":"string","description":""}}}},"assignmentNotes":{"type":"array","items":{"type":"object","properties":{"assignmentNote":{"type":"string","description":""}}}}}}},"firstBeneficiaries":{"type":"array","items":{"type":"object","properties":{"firstBeneficiary":{"type":"string","description":""}}}},"secondBeneficiaries":{"type":"array","items":{"type":"object","properties":{"secondBeneficiary":{"type":"string","description":""}}}},"availableWithBanks":{"type":"array","items":{"type":"object","properties":{"availableWithBank":{"type":"string","description":""}}}},"draftsAt":{"type":"array","items":{"type":"object","properties":{"draftAt":{"type":"string","description":""}}}},"drawees":{"type":"array","items":{"type":"object","properties":{"drawee":{"type":"string","description":""}}}},"mixedPaymentDetails":{"type":"array","items":{"type":"object","properties":{"mixedPaymentDetail":{"type":"string","description":""}}}},"negotiationDeferredPaymentDetails":{"type":"array","items":{"type":"object","properties":{"negotiationDeferredPaymentDetail":{"type":"string","description":""}}}},"shipmentPeriods":{"type":"array","items":{"type":"object","properties":{"shipmentPeriod":{"type":"string","description":""}}}},"documentsRequired":{"type":"array","items":{"type":"object","properties":{"documentRequired":{"type":"string","description":""}}}},"additionalConditions":{"type":"array","items":{"type":"object","properties":{"additionalCondition":{"type":"string","description":""}}}},"narrativeCharges":{"type":"array","items":{"type":"object","properties":{"narrativeCharge":{"type":"string","description":""}}}},"requestedConfirmBankNames":{"type":"array","items":{"type":"object","properties":{"requestedConfirmBankName":{"type":"string","description":""}}}},"instructionsToTheBanks":{"type":"array","items":{"type":"object","properties":{"instructionsToTheBank":{"type":"string","description":""}}}},"adviseThroughBanks":{"type":"array","items":{"type":"object","properties":{"adviseThroughBank":{"type":"string","description":""}}}},"lcType":{"type":"string","description":""},"parentLCReference":{"type":"string","description":""},"lcTransferAdvisingReference":{"type":"string","description":""},"issuingBankLCReference":{"type":"string","description":""},"issuingBankId":{"type":"string","description":""},"advisingBank":{"type":"string","description":""},"issuingBankName":{"type":"string","description":""},"lcAdvisingDate":{"type":"string","format":"date","description":""},"lcCurrency":{"type":"string","description":""},"lcAmount":{"type":"number","description":""},"creditTolerance":{"type":"string","description":""},"debitTolerance":{"type":"string","description":""},"issueDate":{"type":"string","format":"date","description":"The date the item was issued."},"expiryDate":{"type":"string","format":"date","description":"The date an agreement such as a credit facility or limit is due to expire"},"expiryPlace":{"type":"string","description":""},"liabilityReversalDate":{"type":"string","format":"date","description":""},"autoExpiry":{"type":"string","description":"Decision field to determine whether the contingent entries are to be reversed after the deal expiry date or not"},"secondBeneficiaryID":{"type":"string","description":""},"secondBeneficiaryAddress":{"type":"string","description":""},"firstBeneficiaryID":{"type":"string","description":""},"firstBeneficiaryName":{"type":"string","description":""},"availableWithBankID":{"type":"string","description":""},"availableWithBank":{"type":"string","description":""},"adviseThroughBankID":{"type":"string","description":""},"adviseThroughBank":{"type":"string","description":""},"chargeFrom":{"type":"string","description":""},"chargeDefaultAccount":{"type":"string","description":""},"waiveCharge":{"type":"string","description":"Defines whether charges are to be collected or waived"},"confirmationInstruction":{"type":"string","description":""},"riskParty":{"type":"string","description":""},"confirmationDate":{"type":"string","format":"date","description":""},"confirmationAmount":{"type":"number","description":""},"confirmLiabilityAmount":{"type":"number","description":""},"unconfirmLiabilityAmount":{"type":"number","description":""},"unconfirmLimitReference":{"type":"string","description":""},"revolvingType":{"type":"string","description":""},"numberOfRevolution":{"type":"string","description":""},"revolvingFrequency":{"type":"string","description":""},"limitForRevolving":{"type":"string","description":""},"curRevolLiab":{"type":"string","description":""},"formOfDocCredit":{"type":"string","description":""},"transferingBankReference":{"type":"string","description":""},"documentaryCreditNumber":{"type":"string","description":""},"lcIssueDate":{"type":"string","format":"date","description":""},"applicableRule":{"type":"string","description":""},"applicableRuleDescription":{"type":"string","description":""},"dateOfExpiry":{"type":"string","format":"date","description":""},"additionalAmountCovered":{"type":"number","description":""},"draweeId":{"type":"string","description":""},"partialShipment":{"type":"string","description":""},"transhipment":{"type":"string","description":""},"placeOfTakingInCharge":{"type":"string","description":""},"portOfLoading":{"type":"string","description":""},"portOfDischarge":{"type":"string","description":""},"finalDestination":{"type":"string","description":""},"latestShipmentDate":{"type":"string","format":"date","description":""},"descriptionOfGoods":{"type":"string","description":""},"daysAndPeriodForPresentation":{"type":"string","description":""},"requestedConfirmBankName":{"type":"string","description":""},"senderToReceiverInfo":{"type":"string","description":""}}},"ErrorHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"createIssuanceOfTransferableLCErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/createIssuanceOfTransferableLCErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"createIssuanceOfTransferableLCErrorResponse"},"createIssuanceOfTransferableLCErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}}}}