{"swagger":"2.0","info":{"description":"Retrieves Nostro position information for the legal entity","version":"v1.0.0","title":"Holdings Nostros APIs"},"host":"api.temenos.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/holdings/nostros/forwardBalances":{"get":{"operationId":"getNostroForwardBalances","produces":["application/json"],"parameters":[{"name":"valueDate","in":"query","description":"The applicable value date","required":false,"type":"string"},{"name":"accountId","in":"query","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","required":false,"type":"string"},{"name":"longPositionSign","in":"query","description":"Long Position Sign","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"NostroForwardBalancesResponse","schema":{"$ref":"#/definitions/holdingsNostroForwardBalancesResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/holdings/nostros/currencyBalances/{currencyId}":{"get":{"operationId":"getNostroCurrencyPositions","produces":["application/json"],"parameters":[{"name":"currencyId","in":"path","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"NostroCurrencyPositionsResponse","schema":{"$ref":"#/definitions/holdingsNostroCurrencyPositionsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/holdings/nostros/positions/{currencyId}":{"get":{"operationId":"getNostroPositions","produces":["application/json"],"parameters":[{"name":"currencyId","in":"path","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","required":true,"type":"string"},{"name":"longPositionSign","in":"query","description":"Long Position Sign","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"NostroPositionsResponse","schema":{"$ref":"#/definitions/holdingsNostroPositionsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"holdingsNostroForwardBalancesResponseQueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"},"data":{"type":"object","properties":{"H_ACCOUNT":{"type":"number","description":""},"H_CUSTOMER":{"type":"string","description":"","maxLength":19},"H_CUSTOMER_NAME":{"type":"string","description":"","maxLength":30},"H_CURRENCY":{"type":"string","description":"","maxLength":3},"BGT_FWD":{"type":"number","description":""}}}}},"holdingsNostroForwardBalancesResponse":{"properties":{"header":{"$ref":"#/definitions/holdingsNostroForwardBalancesResponseQueryHeader"},"body":{"$ref":"#/definitions/holdingsNostroForwardBalancesResponseBody"}},"description":"holdingsNostroForwardBalancesResponse"},"holdingsNostroForwardBalancesResponseBody":{"type":"array","items":{"type":"object","properties":{"valueDate":{"type":"string","format":"date","description":"The applicable value date"},"displayName":{"type":"string","description":"The name used for display purposes","maxLength":25},"transactionReference":{"type":"string","description":"The transaction reference identifier","maxLength":100},"bookingDate":{"type":"string","description":"The date on which the entry was generated. Normally, but not necessarily, the actual date at the time the entry is generated, e.g. if the previous day's business is still being processed after midnight, the actual date changes, but the run date is still the previous day.","maxLength":11},"balance":{"type":"number","description":""}}}},"NostroForwardBalancesResponseQueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"},"data":{"type":"object","properties":{"H_ACCOUNT":{"type":"number","description":""},"H_CUSTOMER":{"type":"string","description":"","maxLength":19},"H_CUSTOMER_NAME":{"type":"string","description":"","maxLength":30},"H_CURRENCY":{"type":"string","description":"","maxLength":3},"BGT_FWD":{"type":"number","description":""}}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}},"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"holdingsNostroBalancesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/holdingsNostroBalancesResponseBody"}},"description":"holdingsNostroBalancesResponse"},"holdingsNostroBalancesResponseBody":{"type":"array","items":{"type":"object","properties":{"balances":{"type":"array","description":"","items":{"type":"object","properties":{"date":{"type":"array","description":"","items":{"type":"string"}},"balance":{"type":"array","description":"","items":{"type":"string"}}}}},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","maxLength":3}}}},"holdingsNostroPositionsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/holdingsNostroPositionsResponseBody"}},"description":"holdingsNostroPositionsResponse"},"holdingsNostroPositionsResponseBody":{"type":"array","items":{"type":"object","properties":{"bankName":{"type":"string","description":"","maxLength":20},"balance1":{"type":"number","description":"Balances"},"balance2":{"type":"number","description":"Balances"},"balance3":{"type":"number","description":"Balances"},"balance4":{"type":"number","description":"Balances"},"balance5":{"type":"number","description":"Balances"}}}},"holdingsNostroCurrencyPositionsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/holdingsNostroCurrencyPositionsResponseBody"}},"description":"holdingsNostroCurrencyPositionsResponse"},"holdingsNostroCurrencyPositionsResponseBody":{"type":"array","items":{"type":"object","properties":{"currency":{"type":"string","description":"","maxLength":3},"balance1":{"type":"number","description":"Balances"},"balance2":{"type":"number","description":"Balances"},"balance3":{"type":"number","description":"Balances"},"balance4":{"type":"number","description":"Balances"},"balance5":{"type":"number","description":"Balances"}}}}}}