{"swagger":"2.0","info":{"description":"Retrieves all Holdings of the Customer","version":"v1.0.0","title":"Holdings Customers APIs"},"host":"api.temenos.com","basePath":"/api/v1.0.0/","schemes":["http"],"security":[{"basicAuth":[]}],"paths":{"/holdings/customers/{customerId}/holdings":{"get":{"operationId":"getCustomerHoldings","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","description":"The identifier of the customer","required":true,"type":"string"},{"name":"holdingsType","in":"query","required":false,"type":"string"},{"name":"holdingsId","in":"query","required":false,"type":"string"},{"name":"getPreferredHoldings","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"CustomerHoldingsResponse","schema":{"$ref":"#/definitions/CustomerHoldingsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/holdings/customers/{customerId}/arrangements":{"get":{"operationId":"getArrangementsForCustomer","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","description":"The identifier of the customer","required":true,"type":"string"},{"name":"arrangementId","in":"query","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.","required":false,"type":"string"},{"name":"productLineId","in":"query","description":"The identifier of the product line","required":false,"type":"string"},{"name":"productGroupId","in":"query","description":"The identifier of the product group","required":false,"type":"string"},{"name":"productId","in":"query","description":"The identifier of the product","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ArrangementsForCustomerResponse","schema":{"$ref":"#/definitions/ArrangementsForCustomerResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/holdings/customers/{customerId}/accounts/{accountId}":{"get":{"operationId":"getAccountForCustomer","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","description":"The identifier of the customer","required":true,"type":"string"},{"name":"accountId","in":"path","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","required":true,"type":"string"},{"name":"productId","in":"query","description":"The identifier of the product","required":false,"type":"string"},{"name":"currencyId","in":"query","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","required":false,"type":"string"},{"name":"limitReference","in":"query","description":"Identifies the type of limit applicable to the Account","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"AccountForCustomerResponse","schema":{"$ref":"#/definitions/AccountForCustomerResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/holdings/customers/{customerId}/overdueSettlements":{"get":{"operationId":"getOverdueSettlementsByCustomer","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","description":"The identifier of the customer","required":true,"type":"string"},{"name":"transactionId","in":"query","description":"The unique transaction identifier","required":false,"type":"string"},{"name":"portfolioId","in":"query","description":"The identifier of the portfolio","required":false,"type":"string"},{"name":"brokerId","in":"query","description":"The identifier of the broker","required":false,"type":"string"},{"name":"tradeDate","in":"query","description":"The trade date of the contract","required":false,"type":"string"},{"name":"valueDate","in":"query","description":"The applicable value date","required":false,"type":"string"},{"name":"depository","in":"query","description":"","required":false,"type":"string"},{"name":"currency","in":"query","description":"","required":false,"type":"string"},{"name":"instrumentId","in":"query","description":"The identifier of the instrument","required":false,"type":"string"},{"name":"deliveryInstruction","in":"query","description":"","required":false,"type":"string"},{"name":"transactionType","in":"query","description":"","required":false,"type":"string"},{"name":"quantity","in":"query","description":"The nominal quantity","required":false,"type":"string"},{"name":"stockExchange","in":"query","description":"The stock exchange identifier","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OverdueSettlementsByCustomerResponse","schema":{"$ref":"#/definitions/OverdueSettlementsByCustomerResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/holdings/customers/{customerId}/accounts/{accountId}/transactions":{"get":{"operationId":"getAccountTransactionsForCustomer","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","required":true,"type":"string"},{"name":"accountId","in":"path","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","required":true,"type":"string"},{"name":"bookingDate","in":"query","description":"The date on which the entry was generated. Normally, but not necessarily, the actual date at the time the entry is generated, e.g. if the previous day's business is still being processed after midnight, the actual date changes, but the run date is still the previous day.","required":false,"type":"string"},{"name":"processingDate","in":"query","description":"The bank date that an accounting movement is applied to the bank GL","required":false,"type":"string"},{"name":"valueDate","in":"query","description":"The applicable value date","required":false,"type":"string"},{"name":"description","in":"query","description":"The name used for display purposes","required":false,"type":"string"},{"name":"reversalMarker","in":"query","required":false,"type":"string"},{"name":"includeSubAcct","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"AccountTransactionsForCustomerResponse","schema":{"$ref":"#/definitions/AccountTransactionsForCustomerResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/holdings/customers/{customerId}/portfolios/{portfolioId}/outstandingSettlements":{"get":{"operationId":"getOutstandingSettlements","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","description":"The identifier of the customer","required":true,"type":"string"},{"name":"portfolioId","in":"path","description":"The identifier of the portfolio","required":true,"type":"string"},{"name":"transactionId","in":"query","description":"The unique transaction identifier","required":false,"type":"string"},{"name":"brokerId","in":"query","description":"The identifier of the broker","required":false,"type":"string"},{"name":"tradeDate","in":"query","description":"The trade date of the contract","required":false,"type":"string"},{"name":"valueDate","in":"query","description":"The applicable value date","required":false,"type":"string"},{"name":"depository","in":"query","description":"","required":false,"type":"string"},{"name":"currency","in":"query","description":"","required":false,"type":"string"},{"name":"instrumentId","in":"query","description":"The identifier of the instrument","required":false,"type":"string"},{"name":"deliveryInstruction","in":"query","description":"","required":false,"type":"string"},{"name":"transactionType","in":"query","description":"","required":false,"type":"string"},{"name":"quantity","in":"query","description":"The nominal quantity","required":false,"type":"string"},{"name":"stockExchange","in":"query","description":"The stock exchange identifier","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OutstandingSettlementsResponse","schema":{"$ref":"#/definitions/OutstandingSettlementsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/holdings/customers/{customerId}/accounts":{"get":{"operationId":"getAccountsForCustomer","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","description":"The identifier of the customer","required":true,"type":"string"},{"name":"accountId","in":"query","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","required":false,"type":"string"},{"name":"productId","in":"query","description":"The identifier of the product","required":false,"type":"string"},{"name":"currencyId","in":"query","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","required":false,"type":"string"},{"name":"limitReference","in":"query","description":"Identifies the type of limit applicable to the Account","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"AccountsForCustomerResponse","schema":{"$ref":"#/definitions/AccountForCustomerResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"CustomerHoldingsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/CustomerHoldingsResponseBody"}},"description":"CustomerHoldingsResponse"},"CustomerHoldingsResponseBody":{"type":"array","items":{"type":"object","properties":{"products":{"type":"array","description":"","items":{"type":"object","properties":{"productLineName":{"type":"string","description":"The name that is displayed for the product line"},"arrangementId":{"type":"string","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string."},"productGroupId":{"type":"string","description":"The identifier of the product group"},"productGroupName":{"type":"string","description":"The name that is displayed for the product group"},"productId":{"type":"string","description":"The identifier of the product"},"productDescription":{"type":"string","description":"Description for the product"},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"shortTitle":{"type":"string","description":""},"categoryId":{"type":"string","description":"The identifier of the category"},"companyCode":{"type":"string","description":"Company code in audit details"},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"sortCode":{"type":"string","description":"The bank identifier code which identifies both the bank and the branch where the account is held"},"accountIBAN":{"type":"string","description":"The International Bank Account Number (IBAN) is an internationally agreed system of identifying bank accounts across national borders. The current standard is ISO 13616:2007. The IBAN consists of up to 34 alphanumeric characters comprising: a country code; two check digits; and a number that includes the domestic bank account number, branch identifier, and potential routing information. The check digits enable a check of the bank account number to confirm its integrity before submitting a transaction."},"workingBalance":{"type":"number","description":"For Nostro and Internal Accounts, the same as Online Cleared Balance. For all other accounts it is the cleared balance plus the total of all unapproved debits."},"openingDate":{"type":"string","format":"date","description":""},"companyName":{"type":"string","description":"The name that is displayed for the company"},"preferredProduct":{"type":"string","description":""},"preferredProductPosition":{"type":"string","description":""},"preferredProductLabel":{"type":"string","description":""},"permission":{"type":"string","description":""},"onlineActualBalance":{"type":"number","description":"Balance of the account that represents total of transactions posted against the account excluding any entries with the processing date in the future."},"availableBalance":{"type":"number","description":"Projected net movements of funds against the account. Depending on the setup in the field AVAILABLE.BAL.UPD in the ACCOUNT.PARAMETER record, may or may not include unauthorised debits, credits, both debits and credits."},"availableBalanceWithLimit":{"type":"number","description":""},"outstandingAmount":{"type":"number","description":"Identifies the total outstanding amount for the corresponding Liability number and Limit reference. "},"paidOutAmount":{"type":"number","description":"The amount paid out"},"arrangementStatus":{"type":"string","description":"The status of the arrangement"},"totalPrincipal":{"type":"number","description":""}}}},"productLineId":{"type":"string","description":"The identifier of the product line"},"totalAccountBalances":{"type":"number","description":""},"totalDepositBalances":{"type":"number","description":""},"totalLoanBalances":{"type":"number","description":""}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}},"ArrangementsForCustomerResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/ArrangementsForCustomerResponseBody"}},"description":"ArrangementsForCustomerResponse"},"ArrangementsForCustomerResponseBody":{"type":"array","items":{"type":"object","properties":{"arrangementId":{"type":"string","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.","maxLength":17},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","maxLength":35},"accountName":{"type":"string","description":"The name of the account that is displayed","maxLength":35},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","maxLength":3},"termAmount":{"type":"number","description":"The amount of an arrangement agreement that forms the basis of the agreement (e.g. the amont to be lent)"},"productId":{"type":"string","description":"The identifier of the product","maxLength":30},"productGroupId":{"type":"string","description":"The identifier of the product group","maxLength":30},"productLineId":{"type":"string","description":"The identifier of the product line","maxLength":10},"category":{"type":"string","description":"","maxLength":35},"openingDate":{"type":"string","format":"date","description":""}}}},"AccountForCustomerResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/AccountForCustomerResponseBody"}},"description":"AccountForCustomerResponse"},"AccountForCustomerResponseBody":{"type":"array","items":{"type":"object","properties":{"productName":{"type":"string","description":"The name that is displayed for the product"},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","maxLength":16},"displayName":{"type":"string","description":"The name used for display purposes","maxLength":35},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","maxLength":3},"lockedAmount":{"type":"number","description":"The amount of funds that have been blocked (reserved) for specific purposes"},"workingBalance":{"type":"number","description":"For Nostro and Internal Accounts, the same as Online Cleared Balance. For all other accounts it is the cleared balance plus the total of all unapproved debits."},"onlineActualBalance":{"type":"number","description":"Balance of the account that represents total of transactions posted against the account excluding any entries with the processing date in the future."},"availableBalance":{"type":"number","description":"Projected net movements of funds against the account. Depending on the setup in the field AVAILABLE.BAL.UPD in the ACCOUNT.PARAMETER record, may or may not include unauthorised debits, credits, both debits and credits."},"sortCode":{"type":"string","description":"The bank identifier code which identifies both the bank and the branch where the account is held"},"customerId":{"type":"string","description":"The identifier of the customer","maxLength":10},"availableLimit":{"type":"string","description":"The amount of an allocated credit limit that is available for the nomniated customer to utilise","maxLength":19},"IBAN":{"type":"string","description":"","maxLength":19},"portfolioId":{"type":"string","description":"The identifier of the portfolio","maxLength":18},"openingDate":{"type":"string","format":"date","description":""},"limitReference":{"type":"string","description":"Identifies the type of limit applicable to the Account","maxLength":10},"clearedBalance":{"type":"number","description":"Total of cleared funds booked against the account. Same as onlineActuaBalance except credit or reversed debit entries with the exposure date in the future."}}}},"OverdueSettlementsByCustomerResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/OverdueSettlementsByCustomerResponseBody"}},"description":"OverdueSettlementsByCustomerResponse"},"OverdueSettlementsByCustomerResponseBody":{"type":"array","items":{"type":"object","properties":{"broker":{"type":"array","description":"Specifies the counterparty with whom the trade is to be effected.","items":{"type":"object","properties":{"brokerId":{"type":"string","description":"The identifier of the broker","maxLength":10},"brokerName":{"type":"string","description":"The name that is displayed for the broker","maxLength":10},"nostro":{"type":"string","description":""},"nostroCurrency":{"type":"string","description":"The currency of the nostro"},"brokerOutstandingAmount":{"type":"number","description":"The amount outstanding for the broker"},"brokerOutstandingQuantity":{"type":"string","description":"The quantity of the instrument outstanding for the broker","maxLength":19}}}},"transactionId":{"type":"string","description":"The unique transaction identifier","maxLength":97},"instrumentId":{"type":"string","description":"The identifier of the instrument","maxLength":12},"instrumentName":{"type":"string","description":"The name that is displayed for the instrument, taken from securityMaster"},"depository":{"type":"string","description":"","maxLength":10},"depositoryName":{"type":"string","description":"The name that is displayed for the depository"},"tradeDate":{"type":"string","format":"date","description":"The trade date of the contract"},"valueDate":{"type":"string","format":"date","description":"The applicable value date"},"tradeCurrency":{"type":"string","description":"The trade currency is the settlement currency for the trade","maxLength":3},"quantity":{"type":"string","description":"The nominal quantity","maxLength":19},"portfolioId":{"type":"string","description":"The identifier of the portfolio","maxLength":18},"portfolioName":{"type":"string","description":"The name that is displayed for the portfolio","maxLength":10},"accountCurrency":{"type":"string","description":"The currency of the account","maxLength":3},"customerOutstandingAmount":{"type":"number","description":""},"customerOutstandingQuantity":{"type":"string","description":"","maxLength":19}}}},"AccountTransactionsForCustomerResponseQueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"},"data":{"type":"object","properties":{"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"customerId":{"type":"string","description":"The identifier of the customer"},"accountCurrency":{"type":"string","description":"The currency of the account"},"openingBalance":{"type":"string","description":"","maxLength":19}}}}},"AccountTransactionsForCustomerResponse":{"properties":{"header":{"$ref":"#/definitions/AccountTransactionsForCustomerResponseQueryHeader"},"body":{"$ref":"#/definitions/AccountTransactionsForCustomerResponseBody"}},"description":"AccountTransactionsForCustomerResponse"},"AccountTransactionsForCustomerResponseBody":{"type":"array","items":{"type":"object","properties":{"bookingDate":{"type":"string","format":"date","description":"The date on which the entry was generated. Normally, but not necessarily, the actual date at the time the entry is generated, e.g. if the previous day's business is still being processed after midnight, the actual date changes, but the run date is still the previous day."},"transactionId":{"type":"string","description":"The unique transaction identifier","maxLength":150},"transactionName":{"type":"string","description":"The name of the transaction"},"valueDate":{"type":"string","format":"date","description":"The applicable value date"},"transactionAmount":{"type":"number","description":"The transaction amount"},"debitCreditIndicator":{"type":"string","description":""},"transactionTotal":{"type":"string","description":"The total amount of the transaction"}}}},"OutstandingSettlementsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/OutstandingSettlementsResponseBody"}},"description":"OutstandingSettlementsResponse"},"OutstandingSettlementsResponseBody":{"type":"array","items":{"type":"object","properties":{"broker":{"type":"array","description":"Specifies the counterparty with whom the trade is to be effected.","items":{"type":"object","properties":{"brokerId":{"type":"string","description":"The identifier of the broker","maxLength":10},"brokerName":{"type":"string","description":"The name that is displayed for the broker","maxLength":10},"nostro":{"type":"string","description":""},"nostroCurrency":{"type":"string","description":"The currency of the nostro"},"brokerOutstandingAmount":{"type":"number","description":"The amount outstanding for the broker"},"brokerOutstandingQuantity":{"type":"string","description":"The quantity of the instrument outstanding for the broker","maxLength":19}}}},"transactionId":{"type":"string","description":"The unique transaction identifier","maxLength":97},"instrumentId":{"type":"string","description":"The identifier of the instrument","maxLength":12},"instrumentName":{"type":"string","description":"The name that is displayed for the instrument, taken from securityMaster"},"depository":{"type":"string","description":"","maxLength":10},"depositoryName":{"type":"string","description":"The name that is displayed for the depository"},"tradeDate":{"type":"string","format":"date","description":"The trade date of the contract"},"valueDate":{"type":"string","format":"date","description":"The applicable value date"},"tradeCurrency":{"type":"string","description":"The trade currency is the settlement currency for the trade","maxLength":3},"quantity":{"type":"string","description":"The nominal quantity","maxLength":19},"portfolioId":{"type":"string","description":"The identifier of the portfolio","maxLength":18},"portfolioName":{"type":"string","description":"The name that is displayed for the portfolio","maxLength":10},"accountCurrency":{"type":"string","description":"The currency of the account","maxLength":3},"customerOutstandingAmount":{"type":"number","description":""},"customerOutstandingQuantity":{"type":"string","description":"","maxLength":19}}}}}}