{"swagger":"2.0","info":{"description":"Get GAP Position","version":"v1.0.0","title":"Get GAP Position"},"host":"api.server.com","basePath":"/api/v1.0.0/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/holdings/treasury/positions/gap":{"get":{"operationId":"getTreasuryGapPosition","produces":["application/json"],"parameters":[{"name":"currency","in":"query","description":"","required":false,"type":"string"},{"name":"dealerDesk","in":"query","description":"Code used to identify the dealing desk responsible for monitoring and managing Foreign exchange positions","required":false,"type":"string"},{"name":"currencyMarket","in":"query","description":"","required":false,"type":"string"},{"name":"calendar","in":"query","description":"","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"TreasuryGapPositionResponse","schema":{"$ref":"#/definitions/holdingsTreasuryGapPositionResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"holdingsTreasuryGapPositionResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/holdingsTreasuryGapPositionResponseBody"}},"description":"holdingsTreasuryGapPositionResponse"},"holdingsTreasuryGapPositionResponseBody":{"type":"array","items":{"type":"object","properties":{"period":{"type":"string","description":"The unit of time that a financial agreement may be described as","maxLength":8},"assetAmount":{"type":"number","description":"Asset Amount"},"assetRate":{"type":"number","description":""},"liabilityAmount":{"type":"number","description":"It�s a system populated field that indicates the total liability amount in respect of each issued or confirmed letters of credit"},"liabilityRate":{"type":"number","description":""},"netAmount":{"type":"number","description":"Holds the total amount"},"breakEvenAmount":{"type":"number","description":"Specifies if the the maturity processing will take place during Start of Day"}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}}}}