{"swagger":"2.0","info":{"description":"Get customer loan details","version":"v1.0.0","title":"Loans APIs"},"host":"api.temenos.com","basePath":"/api/v1.0.0/","schemes":["http"],"security":[{"basicAuth":[]}],"paths":{"/loans/{loanId}":{"get":{"operationId":"getLoanDetails","parameters":[{"name":"loanId","in":"path","required":true,"type":"string"},{"name":"dateFrom","in":"query","description":"Payment schedule from date","required":false,"type":"string","format":"date"},{"name":"dateTo","in":"query","description":"Payment schedule to date","required":false,"type":"string","format":"date"},{"name":"balanceTypes","in":"query","description":"Virtual Balance Type","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"LoanDetailsResponse","schema":{"$ref":"#/definitions/LoanDetailsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/loans/{loanId}/bills":{"get":{"operationId":"getLoanBills","parameters":[{"name":"loanId","in":"path","required":true,"type":"string"},{"name":"billType","in":"query","description":"This signifies the type of the bill generated","required":false,"type":"string"},{"name":"paymentDate","in":"query","description":"Date on which the payment is due","required":false,"type":"string","format":"date"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"LoanBillsResponse","schema":{"$ref":"#/definitions/LoanBillsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/loans/{loanId}/collaterals":{"get":{"operationId":"getLoanCollaterals","parameters":[{"name":"loanId","in":"path","required":true,"type":"string"},{"name":"status","in":"query","description":"Get a detail status of the specified service/services","required":false,"type":"string"},{"name":"statusNE","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"LoanCollateralsResponse","schema":{"$ref":"#/definitions/LoanCollateralsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/loans/{loanId}/schedulePaymentFrequencies":{"get":{"operationId":"getPaymentSchedules","parameters":[{"name":"loanId","in":"path","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PaymentSchedulesResponse","schema":{"$ref":"#/definitions/PaymentSchedulesResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"LoanDetailsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/LoanDetailsResponseBody"}},"description":"LoanDetailsResponse"},"LoanDetailsResponseBody":{"type":"array","items":{"type":"object","properties":{"interests":{"type":"array","items":{"type":"object","properties":{"interestRate":{"type":"string","description":""},"interestProperty":{"type":"string","description":""},"interestPropertyName":{"type":"string","description":"The name that is displayed for the interest property"},"compoundType":{"type":"string","description":"Indicates the method of compounding to be applied for compound interest calculation"},"rateType":{"type":"string","description":""},"effectiveRate":{"type":"string","description":""},"tierType":{"type":"string","description":"Defines the type of the tier rate"},"balanceTypes":{"type":"string","description":"Virtual Balance Type"},"balanceAmount":{"type":"number","description":"The amount of the balance, typically linked to a balance type"}}}},"schedules":{"type":"array","items":{"type":"object","properties":{"paidScheduleCount":{"type":"string","description":"The count of the number of paid schedules"},"dueScheduleCount":{"type":"string","description":""},"futureScheduleCount":{"type":"string","description":""},"schedulePaymentType":{"type":"string","description":"The payment schedule type"},"schedulePaymentMethod":{"type":"string","description":"The method of the payment schedule"},"scheduleProperty":{"type":"string","description":"The payment schedule property"},"schedulePaymentAmount":{"type":"number","description":"The payment schedule amount"},"schedulePaymentFrequency":{"type":"string","description":"The frequency of the payment schedule"}}}},"arrangementId":{"type":"string","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string."},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"startDate":{"type":"string","format":"date","description":"The start date"},"maturityDate":{"type":"string","format":"date","description":"The delivery period or maturity date of the contract transacted"},"maturesIn":{"type":"string","description":""},"coolingOffDate":{"type":"string","format":"date","description":"The period of time available for a client where they can cancel an agreement without penalty"},"nextPaymentAmount":{"type":"number","description":""},"nextPaymentDate":{"type":"string","format":"date","description":""},"virtualBalance":{"type":"string","description":"The balance of the arrangement derived from other balances as a result of on-line calculations."},"lastPayment":{"type":"string","format":"date","description":""},"term":{"type":"string","description":"The period to which the rate applies"},"payoffRequest":{"type":"string","description":""}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}},"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"LoanBillsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/LoanBillsResponseBody"}},"description":"LoanBillsResponse"},"LoanBillsResponseBody":{"type":"array","items":{"type":"object","properties":{"properties":{"type":"array","description":"","items":{"type":"object","properties":{"propertyName":{"type":"string","description":"The name that is displayed for the property","maxLength":15},"interestAmount":{"type":"number","description":"The accrued Interest due or accrued."}}}},"totalAmount":{"type":"number","description":"The total amount"}}}},"LoanCollateralsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/LoanCollateralsResponseBody"}},"description":"LoanCollateralsResponse"},"LoanCollateralsResponseBody":{"type":"array","items":{"type":"object","properties":{"collateralName":{"type":"string","description":"The name that is displayed for the collateral item","maxLength":3},"executionValue":{"type":"number","description":""},"thirdPartyValue":{"type":"number","description":""},"netAmount":{"type":"number","description":"Holds the total amount"},"netNominal":{"type":"number","description":"Denotes the sum of the Quantity"},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","maxLength":3},"expiryDate":{"type":"string","format":"date","description":"The date an agreement such as a credit facility or limit is due to expire"}}}},"PaymentSchedulesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/PaymentSchedulesResponseBody"}},"description":"PaymentSchedulesResponse"},"PaymentSchedulesResponseBody":{"type":"array","items":{"type":"object","properties":{"paymentDate":{"type":"string","format":"date","description":"Date on which the payment is due"},"totalAmount":{"type":"number","description":"The total amount"},"chargeAmount":{"type":"number","description":"Holds the charge amount equivalent in charge account currency"},"interestAmount":{"type":"number","description":"The accrued Interest due or accrued."},"principalAmount":{"type":"number","description":""},"outstandingAmount":{"type":"number","description":"Identifies the total outstanding amount for the corresponding Liability number and Limit reference. "},"scheduleType":{"type":"string","description":"Schedule Type"}}}}}}