{"swagger":"2.0","info":{"description":"Get and Management of Messages","version":"v1.0.0","title":"Messages APIs"},"host":"api.temenos.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/messages/inboxMessages":{"get":{"operationId":"getInboxMessages","parameters":[{"name":"messageId","in":"query","description":"The identifier of the message","required":false,"type":"string"},{"name":"parentMessageIdNE","in":"query","required":false,"type":"string"},{"name":"parentMessageId","in":"query","description":"The identifier of the parent message.","required":false,"type":"string"},{"name":"toCustomerId","in":"query","description":"The unique customer identifier, to whom the message is to be sent ","required":false,"type":"string"},{"name":"fromCustomerId","in":"query","description":"Identifies the first customerId in a range","required":false,"type":"string"},{"name":"messageStatus","in":"query","description":"The status of a financial message","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"SecureMessagesResponse","schema":{"$ref":"#/definitions/SecureMessagesResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/messages/unreadMessages":{"get":{"operationId":"getUnreadMessages","parameters":[{"name":"messageId","in":"query","description":"The identifier of the message","required":false,"type":"string"},{"name":"parentMessageIdNE","in":"query","required":false,"type":"string"},{"name":"parentMessageId","in":"query","description":"The identifier of the parent message.","required":false,"type":"string"},{"name":"toCustomerId","in":"query","description":"The unique customer identifier, to whom the message is to be sent ","required":false,"type":"string"},{"name":"fromCustomerId","in":"query","description":"Identifies the first customerId in a range","required":false,"type":"string"},{"name":"messageStatus","in":"query","description":"The status of a financial message","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"SecureMessagesResponse","schema":{"$ref":"#/definitions/SecureMessagesResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/messages/sentMessages":{"get":{"operationId":"getSentMessages","parameters":[{"name":"messageId","in":"query","description":"The identifier of the message","required":false,"type":"string"},{"name":"parentMessageIdNE","in":"query","required":false,"type":"string"},{"name":"parentMessageId","in":"query","description":"The identifier of the parent message.","required":false,"type":"string"},{"name":"toCustomerId","in":"query","description":"The unique customer identifier, to whom the message is to be sent ","required":false,"type":"string"},{"name":"fromCustomerId","in":"query","description":"Identifies the first customerId in a range","required":false,"type":"string"},{"name":"messageStatus","in":"query","description":"The status of a financial message","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"SecureMessagesResponse","schema":{"$ref":"#/definitions/SecureMessagesResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/messages/{parentMessageId}/messagesThread":{"get":{"operationId":"getMessagesThread","parameters":[{"name":"parentMessageId","in":"path","required":true,"type":"string"},{"name":"messageId","in":"query","description":"The identifier of the message","required":false,"type":"string"},{"name":"parentMessageIdNE","in":"query","required":false,"type":"string"},{"name":"toCustomerId","in":"query","description":"The unique customer identifier, to whom the message is to be sent ","required":false,"type":"string"},{"name":"fromCustomerId","in":"query","description":"Identifies the first customerId in a range","required":false,"type":"string"},{"name":"messageStatus","in":"query","description":"The status of a financial message","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"SecureMessagesResponse","schema":{"$ref":"#/definitions/SecureMessagesResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/messages/{secureMessageId}":{"get":{"operationId":"readSecureMessage","parameters":[{"name":"secureMessageId","in":"path","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"SecureMessageResponse","schema":{"$ref":"#/definitions/SecureMessageResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/messages":{"post":{"operationId":"createSecureMessage","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/createSecureMessage"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"SecureMessageResponse","schema":{"$ref":"#/definitions/SecureMessageResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"SecureMessagesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/SecureMessagesResponseBody"}},"description":"SecureMessagesResponse"},"SecureMessagesResponseBody":{"type":"array","items":{"type":"object","properties":{"messages":{"type":"array","description":"","items":{"type":"object","properties":{"message":{"type":"string","description":"","maxLength":80}}}},"messageStatus":{"type":"string","description":"The status of a financial message","maxLength":35},"messageId":{"type":"string","description":"The identifier of the message","maxLength":35},"subject":{"type":"string","description":"The subject of the message to be sent or received.","maxLength":80},"dateSent":{"type":"string","format":"date","description":"Holds the date when the item was sent."},"sentAt":{"type":"string","description":"The sent at time","maxLength":35},"fromDepartmentId":{"type":"string","description":"The identifier of the originating department","maxLength":35},"fromDepartmentName":{"type":"string","description":"The display name of the originating department","maxLength":35},"parentMessageId":{"type":"string","description":"The identifier of the parent message.","maxLength":35},"toDepartmentId":{"type":"string","description":"The unique department identifier, to which the message is to be sent","maxLength":35},"toDepartmentName":{"type":"string","description":"The department name, to which the message is to be sent","maxLength":35},"toCustomerId":{"type":"string","description":"The unique customer identifier, to whom the message is to be sent ","maxLength":10},"fromCustomerId":{"type":"string","description":"Identifies the first customerId in a range","maxLength":10},"uploadId":{"type":"string","description":"The unique ID of the uploaded file","maxLength":12},"uploadPath":{"type":"string","description":"The directory path to which the file is uploaded","maxLength":50}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}},"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}},"audit":{"type":"object","properties":{"versionNumber":{"type":"string","description":"The CURR.NO. of the record"}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"SecureMessageResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/SecureMessageResponseBody"}},"description":"SecureMessageResponse"},"SecureMessageResponseBody":{"type":"object","properties":{"messages":{"type":"array","description":"","items":{"type":"object","properties":{"message":{"type":"string","description":""}}}},"subject":{"type":"string","description":"The subject of the message to be sent or received."},"parentMessageId":{"type":"string","description":"The identifier of the parent message."},"fromCustomerId":{"type":"string","description":"Identifies the first customerId in a range"},"messageStatus":{"type":"string","description":"The status of a financial message"},"toDepartmentId":{"type":"string","description":"The unique department identifier, to which the message is to be sent"},"uploadId":{"type":"string","description":"The unique ID of the uploaded file"},"uploadPath":{"type":"string","description":"The directory path to which the file is uploaded"}}},"createSecureMessage":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/createSecureMessageBody"}},"description":"SecureMessage"},"createSecureMessageBody":{"type":"object","properties":{"messages":{"type":"array","description":"","items":{"type":"object","properties":{"message":{"type":"string","description":""}}}},"subject":{"type":"string","description":"The subject of the message to be sent or received."},"parentMessageId":{"type":"string","description":"The identifier of the parent message."},"fromCustomerId":{"type":"string","description":"Identifies the first customerId in a range"},"messageStatus":{"type":"string","description":"The status of a financial message"},"toDepartmentId":{"type":"string","description":"The unique department identifier, to which the message is to be sent"},"uploadId":{"type":"string","description":"The unique ID of the uploaded file"},"uploadPath":{"type":"string","description":"The directory path to which the file is uploaded"}}},"ScreenErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/ScreenErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"ScreenErrorResponse"},"ScreenErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}}}}