{"swagger":"2.0","info":{"description":"MetaVirtualTableService","version":"v1.0.0","title":"Meta VirtualTable"},"host":"api.server.com","basePath":"/api/v1.0.0","schemes":["http","https"],"paths":{"/meta/lookup/{virtualTableName}":{"get":{"operationId":"getVirtualTableData","produces":["application/json"],"parameters":[{"name":"virtualTableName","in":"path","description":"The first part of the lookupName, This field is to enable the selection on EB.LOOKUP based on the virtual table name.","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getVirtualTableDataResponse","schema":{"$ref":"#/definitions/getVirtualTableDataResponse"}},"default":{"description":"getVirtualTableDataErrorResponse","schema":{"$ref":"#/definitions/getVirtualTableDataErrorResponse"}}}}}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"integer","format":"int32","description":"Random and unique string for each page. Used for security purpose"}}},"getVirtualTableDataResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getVirtualTableDataResponseBody"}},"description":"getVirtualTableDataResponse"},"getVirtualTableDataResponseBody":{"type":"array","items":{"type":"object","properties":{"lookupName":{"type":"string","description":"The name that is displayed for the lookup","maxLength":75},"displayName":{"type":"string","description":"The name used for display purposes","maxLength":35},"lookupId":{"type":"string","description":"The identifier of the lookup. Used to specify lookup requests on virtual tables. See lookups","maxLength":35}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"getVirtualTableDataErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getVirtualTableDataErrorResponseBody"}},"description":"getVirtualTableDataErrorResponse"},"getVirtualTableDataErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}}}}