{"swagger":"2.0","info":{"description":"Get Forex Deals created out of FX lim orders","version":"v1.0.0","title":"Get Forex Deals"},"host":"api.server.com","basePath":"/api/v1.0.0/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/order/forexOrders/customers/{customerId}":{"get":{"operationId":"getCustomerForexDeals","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","description":"The identifier of the customer","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"CustomerForexDealsResponse","schema":{"$ref":"#/definitions/orderCustomerForexDealsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"orderCustomerForexDealsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/orderCustomerForexDealsResponseBody"}},"description":"orderCustomerForexDealsResponse"},"orderCustomerForexDealsResponseBody":{"type":"array","items":{"type":"object","properties":{"contractId":{"type":"string","description":"The identifier of the contract","maxLength":16},"dealDate":{"type":"string","description":"The date on which the deal was made.","maxLength":11},"buyCurrency":{"type":"string","description":"The SWIFT code of the currency of the purchase","maxLength":3},"buyAmount":{"type":"string","description":"The amount being purchased.","maxLength":19},"sellCurrency":{"type":"string","description":"The SWIFT code of the sold currency.","maxLength":3},"sellAmount":{"type":"string","description":"The amount of the currency being sold. ","maxLength":19},"valueDate":{"type":"string","description":"The applicable value date","maxLength":15},"customerRate":{"type":"number","description":"The exchange rate that is actually used to convert an amount from one currency to another in a payment transaction."},"limOrderReference":{"type":"string","description":"FX LIM ORDER reference","maxLength":20},"dealType":{"type":"string","description":"The Foreign Exchange deal type i.e. it is a Spot, Forward or a Swap transaction","maxLength":2}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}}}}