{"swagger":"2.0","info":{"description":"Get, Creation and management of Standing Orders","version":"v1.0.0","title":"Standing Orders APIs"},"host":"api.temenos.com","basePath":"/api/v1.0.0/","schemes":["http"],"security":[{"basicAuth":[]}],"paths":{"/order/standingOrders":{"get":{"operationId":"getStandingOrders","produces":["application/json"],"parameters":[{"name":"debitCustomerId","in":"query","description":"The identifier of the customer that is debited","required":false,"type":"string"},{"name":"standingOrderId","in":"query","description":"The unique standing order identifier","required":false,"type":"string"},{"name":"accountId","in":"query","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","required":false,"type":"string"},{"name":"orderingCustomerId","in":"query","description":"The identifier of the ordering customer","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"StandingOrdersResponse","schema":{"$ref":"#/definitions/StandingOrdersResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/order/standingOrders/{standingOrderId}":{"post":{"operationId":"createStandingOrder","produces":["application/json"],"parameters":[{"name":"standingOrderId","in":"path","description":"The unique standing order identifier","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/StandingOrder"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"StandingOrderResponse","schema":{"$ref":"#/definitions/StandingOrderResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}},"put":{"operationId":"updateStandingOrder","produces":["application/json"],"parameters":[{"name":"standingOrderId","in":"path","description":"The unique standing order identifier","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/StandingOrder"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"StandingOrderResponse","schema":{"$ref":"#/definitions/StandingOrderResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}},"delete":{"operationId":"deleteStandingOrder","produces":["application/json"],"parameters":[{"name":"standingOrderId","in":"path","description":"The unique standing order identifier","required":true,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"StandingOrderResponse","schema":{"$ref":"#/definitions/StandingOrderResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"StandingOrdersResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/StandingOrdersResponseBody"}},"description":"StandingOrdersResponse"},"StandingOrdersResponseBody":{"type":"array","items":{"type":"object","properties":{"displayNames":{"type":"array","description":"The name used for display purposes","items":{"type":"object","properties":{"displayName":{"type":"string","description":"The name used for display purposes","maxLength":35}}}},"accountWithBanks":{"type":"array","description":"Identifies the bank where the beneficiary maintains his account.","items":{"type":"object","properties":{"accountWithBank":{"type":"string","description":"Identifies the bank where the beneficiary maintains his account.","maxLength":35}}}},"standingOrderId":{"type":"string","description":"The unique standing order identifier","maxLength":35},"orderType":{"type":"string","description":"Defines the order type of the transaction","maxLength":5},"paymentMethod":{"type":"string","description":"The type of method used for the payment","maxLength":4},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","maxLength":3},"amount":{"type":"number","description":""},"currentFrequency":{"type":"string","description":"The present frequency","maxLength":50},"counterPartyAccountId":{"type":"string","description":"The identifier of the counter party's account","maxLength":35},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary","maxLength":17},"payTo":{"type":"string","description":""},"currentFrequencyDate":{"type":"string","format":"date","description":"Identifies the date component of field CURRENT.FREQUENCY- The Standing Order Application will execute the Standing Order instruction (i.e. the currency and amount specified in the two previous fields) according to the frequency specified in this field "},"frequency":{"type":"string","description":"","maxLength":35},"startDate":{"type":"string","format":"date","description":"The start date"},"currentEndDate":{"type":"string","format":"date","description":"Identifies the Current End Date of the Standing Order for the Currency, "},"futureNotice":{"type":"string","description":"","maxLength":10},"creditAccountId":{"type":"string","description":"The identifier of the credit account"},"creditAccountName":{"type":"string","description":""},"bankSortCode":{"type":"string","description":"Defines the bank sorting code of the bank and branch. The code entered must exist as a sort code. 6 numeric characters."},"stoStartDate":{"type":"string","format":"date","description":""},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer ","maxLength":11},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account","maxLength":35},"beneficiaryOurCharges":{"type":"string","description":"Determines who will be responsible for charges.","maxLength":3},"paymentOrderProductName":{"type":"string","description":"The name that is displayed for the paymentOrderProduct","maxLength":10},"beneficiaryCountryId":{"type":"string","description":"The country of the beneficiary","maxLength":2},"versionNumber":{"type":"string","description":"","maxLength":4}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}},"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}},"audit":{"type":"object","properties":{"versionNumber":{"type":"string","description":"The CURR.NO. of the record"}}}}},"StandingOrder":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/StandingOrderBody"}},"description":"StandingOrder"},"StandingOrderBody":{"type":"object","properties":{"beneficiaryNames":{"type":"array","description":"The name displayed of the beneficiary","items":{"type":"object","properties":{"beneficiaryName":{"type":"string","description":"The name displayed of the beneficiary"}}}},"accountWithBanks":{"type":"array","description":"Identifies the bank where the beneficiary maintains his account.","items":{"type":"object","properties":{"accountWithBank":{"type":"string","description":"Identifies the bank where the beneficiary maintains his account."}}}},"displayNames":{"type":"array","description":"The name used for display purposes","items":{"type":"object","properties":{"displayName":{"type":"string","description":"The name used for display purposes"}}}},"beneficiaryBICNames":{"type":"array","description":"The name displayed of the beneficiary BIC","items":{"type":"object","properties":{"beneficiaryBICName":{"type":"string","description":"The name displayed of the beneficiary BIC"}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"paymentMethod":{"type":"string","description":"The type of method used for the payment"},"currentFrequency":{"type":"string","description":"The present frequency"},"currentEndDate":{"type":"string","format":"date","description":"Identifies the Current End Date of the Standing Order for the Currency, "},"futureNotice":{"type":"string","description":""},"counterPartyAccountId":{"type":"string","description":"The identifier of the counter party's account"},"startDate":{"type":"string","format":"date","description":"The start date"},"frequency":{"type":"string","description":""},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account"},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary"},"beneficiaryReference":{"type":"string","description":"The reference associated with the beneficiary and used as the default reference on any payments made to the beneficiary"},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"amount":{"type":"number","description":""},"bankSortCode":{"type":"string","description":"Defines the bank sorting code of the bank and branch. The code entered must exist as a sort code. 6 numeric characters."},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"beneficiaryBICIBAN":{"type":"string","description":""},"beneficiaryBICCity":{"type":"string","description":"The city of the beneficiary BIC"},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer "},"currentFrequencyDate":{"type":"string","format":"date","description":"Identifies the date component of field CURRENT.FREQUENCY- The Standing Order Application will execute the Standing Order instruction (i.e. the currency and amount specified in the two previous fields) according to the frequency specified in this field "},"paymentOrderProductName":{"type":"string","description":"The name that is displayed for the paymentOrderProduct"},"beneficiaryOurCharges":{"type":"string","description":"Determines who will be responsible for charges."},"accountWithBankIBAN":{"type":"string","description":"IBAN of Account with Bank being the bank where the beneficiary maintains his account."},"paymentCategory":{"type":"string","description":"A catgorisation code for a payment request"},"suppressFT":{"type":"string","description":""},"customerSpread":{"type":"string","description":"The exchange rate spread applied to the published internal exchange rates used to derive the final exchange rate to convert one currency amount ot another"},"customerRate":{"type":"string","description":"The exchange rate that is actually used to convert an amount from one currency to another in a payment transaction."},"paymentOrderVersion":{"type":"string","description":"Payment Order Version"},"recordStatus":{"type":"string","description":"The status of the record processed"}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"StandingOrderResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/StandingOrderResponseBody"}},"description":"StandingOrderResponse"},"StandingOrderResponseBody":{"type":"object","properties":{"beneficiaryNames":{"type":"array","description":"The name displayed of the beneficiary","items":{"type":"object","properties":{"beneficiaryName":{"type":"string","description":"The name displayed of the beneficiary"}}}},"accountWithBanks":{"type":"array","description":"Identifies the bank where the beneficiary maintains his account.","items":{"type":"object","properties":{"accountWithBank":{"type":"string","description":"Identifies the bank where the beneficiary maintains his account."}}}},"displayNames":{"type":"array","description":"The name used for display purposes","items":{"type":"object","properties":{"displayName":{"type":"string","description":"The name used for display purposes"}}}},"beneficiaryBICNames":{"type":"array","description":"The name displayed of the beneficiary BIC","items":{"type":"object","properties":{"beneficiaryBICName":{"type":"string","description":"The name displayed of the beneficiary BIC"}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"paymentMethod":{"type":"string","description":"The type of method used for the payment"},"currentFrequency":{"type":"string","description":"The present frequency"},"currentEndDate":{"type":"string","format":"date","description":"Identifies the Current End Date of the Standing Order for the Currency, "},"futureNotice":{"type":"string","description":""},"counterPartyAccountId":{"type":"string","description":"The identifier of the counter party's account"},"startDate":{"type":"string","format":"date","description":"The start date"},"frequency":{"type":"string","description":""},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account"},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary"},"beneficiaryReference":{"type":"string","description":"The reference associated with the beneficiary and used as the default reference on any payments made to the beneficiary"},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"amount":{"type":"number","description":""},"bankSortCode":{"type":"string","description":"Defines the bank sorting code of the bank and branch. The code entered must exist as a sort code. 6 numeric characters."},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"beneficiaryBICIBAN":{"type":"string","description":""},"beneficiaryBICCity":{"type":"string","description":"The city of the beneficiary BIC"},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer "},"currentFrequencyDate":{"type":"string","format":"date","description":"Identifies the date component of field CURRENT.FREQUENCY- The Standing Order Application will execute the Standing Order instruction (i.e. the currency and amount specified in the two previous fields) according to the frequency specified in this field "},"paymentOrderProductName":{"type":"string","description":"The name that is displayed for the paymentOrderProduct"},"beneficiaryOurCharges":{"type":"string","description":"Determines who will be responsible for charges."},"accountWithBankIBAN":{"type":"string","description":"IBAN of Account with Bank being the bank where the beneficiary maintains his account."},"paymentCategory":{"type":"string","description":"A catgorisation code for a payment request"},"suppressFT":{"type":"string","description":""},"customerSpread":{"type":"string","description":"The exchange rate spread applied to the published internal exchange rates used to derive the final exchange rate to convert one currency amount ot another"},"customerRate":{"type":"string","description":"The exchange rate that is actually used to convert an amount from one currency to another in a payment transaction."},"paymentOrderVersion":{"type":"string","description":"Payment Order Version"},"recordStatus":{"type":"string","description":"The status of the record processed"}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"ScreenErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/ScreenErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"ScreenErrorResponse"},"ScreenErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}}}}