{"swagger":"2.0","info":{"description":"Get and manage DirectDebits","version":"v1.0.0","title":"Order DirectDebits APIs"},"host":"api.temenos.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/order/directDebits":{"get":{"operationId":"getAccountDirectDebits","produces":["application/json"],"parameters":[{"name":"directDebitId","in":"query","description":"The identifier of the direct debit mandate. Format is 'D-accountId.sequenceNumber', e.g. D-123456.1","required":false,"type":"string"},{"name":"accountId","in":"query","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","required":false,"type":"string"},{"name":"customerId","in":"query","description":"The identifier of the customer","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"AccountDirectDebitsResponse","schema":{"$ref":"#/definitions/AccountDirectDebitsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/order/directDebits/{directDebitId}":{"put":{"operationId":"updateDirectDebits","produces":["application/json"],"parameters":[{"name":"directDebitId","in":"path","description":"The identifier of the direct debit mandate. Format is 'D-accountId.sequenceNumber', e.g. D-123456.1","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/DirectDebits"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"DirectDebitsResponse","schema":{"$ref":"#/definitions/DirectDebitsResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"AccountDirectDebitsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/AccountDirectDebitsResponseBody"}},"description":"AccountDirectDebitsResponse"},"AccountDirectDebitsResponseBody":{"type":"array","items":{"type":"object","properties":{"directDebitId":{"type":"string","description":"The identifier of the direct debit mandate. Format is 'D-accountId.sequenceNumber', e.g. D-123456.1","maxLength":25},"creditAccountId":{"type":"string","description":"The identifier of the credit account","maxLength":35},"sortCode":{"type":"string","description":"The bank identifier code which identifies both the bank and the branch where the account is held","maxLength":35},"displayName":{"type":"string","description":"The name used for display purposes","maxLength":35},"direction":{"type":"string","description":"Specify the direction of the Direct debit claim for which mandate is received.The Claim can be 'Outward' ie. Claim is sent to the Customer's Bank or Inward Claim ie. other Bank submit their claim.Currently the Outward claim processing is supported through DD module & for Inward claim has to be handled through local interface.Mandatory field-Value allowed 'OUTWARD'","maxLength":10},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","maxLength":3},"standaloneDdi":{"type":"string","description":"Defines whether the direct debit mandate is for stand-alone purpose","maxLength":1},"standaloneAmount":{"type":"number","description":"The amount of the stand-alone direct debit"},"directDebitStatus":{"type":"string","description":"","maxLength":35},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"startDate":{"type":"string","format":"date","description":"The start date"},"nextPaymentDate":{"type":"string","format":"date","description":""},"creditAccountName":{"type":"string","description":"","maxLength":70},"currencyName":{"type":"string","description":"The name that is displayed for the currency"},"accountName":{"type":"string","description":"The name of the account that is displayed"},"versionNumber":{"type":"string","description":"","maxLength":4}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}},"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}},"audit":{"type":"object","properties":{"versionNumber":{"type":"string","description":"The CURR.NO. of the record"}}}}},"DirectDebits":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/DirectDebitsBody"}},"description":"DirectDebits"},"DirectDebitsBody":{"type":"object","properties":{"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"customerId":{"type":"string","description":"The identifier of the customer"},"direction":{"type":"string","description":"Specify the direction of the Direct debit claim for which mandate is received.The Claim can be 'Outward' ie. Claim is sent to the Customer's Bank or Inward Claim ie. other Bank submit their claim.Currently the Outward claim processing is supported through DD module & for Inward claim has to be handled through local interface.Mandatory field-Value allowed 'OUTWARD'"},"sortCode":{"type":"string","description":"The bank identifier code which identifies both the bank and the branch where the account is held"},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"creditAccountName":{"type":"string","description":""},"creditAccountId":{"type":"string","description":"The identifier of the credit account"},"directDebitStatus":{"type":"string","description":""},"standaloneAmount":{"type":"number","description":"The amount of the stand-alone direct debit"},"frequency":{"type":"string","description":""},"terminationDate":{"type":"string","format":"date","description":"The termination date of the recurring direct debit"}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"DirectDebitsResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/DirectDebitsResponseBody"}},"description":"DirectDebitsResponse"},"DirectDebitsResponseBody":{"type":"object","properties":{"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"customerId":{"type":"string","description":"The identifier of the customer"},"direction":{"type":"string","description":"Specify the direction of the Direct debit claim for which mandate is received.The Claim can be 'Outward' ie. Claim is sent to the Customer's Bank or Inward Claim ie. other Bank submit their claim.Currently the Outward claim processing is supported through DD module & for Inward claim has to be handled through local interface.Mandatory field-Value allowed 'OUTWARD'"},"sortCode":{"type":"string","description":"The bank identifier code which identifies both the bank and the branch where the account is held"},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"creditAccountName":{"type":"string","description":""},"creditAccountId":{"type":"string","description":"The identifier of the credit account"},"directDebitStatus":{"type":"string","description":""},"standaloneAmount":{"type":"number","description":"The amount of the stand-alone direct debit"},"frequency":{"type":"string","description":""},"terminationDate":{"type":"string","format":"date","description":"The termination date of the recurring direct debit"}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"ScreenErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/ScreenErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"ScreenErrorResponse"},"ScreenErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}}}}