{"swagger":"2.0","info":{"description":"Allows the creation, viewing and management of Private Equity orders","version":"v1.0.0","title":"Order Private Equity Order APIs"},"host":"api.server.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/order/privateEquityOrders/{privateEquityOrderId}":{"get":{"operationId":"getPrivateEquityOrder","produces":["application/json"],"parameters":[{"name":"privateEquityOrderId","in":"path","description":"Identifier of the Private Equity Order","required":true,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PrivateEquityOrderResponse","schema":{"$ref":"#/definitions/orderPrivateEquityOrderResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}},"post":{"operationId":"createPrivateEquityOrder","produces":["application/json"],"parameters":[{"name":"privateEquityOrderId","in":"path","description":"Identifier of the Private Equity Order","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/orderPrivateEquityOrder"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PrivateEquityOrderResponse","schema":{"$ref":"#/definitions/orderPrivateEquityOrderResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}},"put":{"operationId":"updatePrivateEquityOrder","produces":["application/json"],"parameters":[{"name":"privateEquityOrderId","in":"path","description":"Identifier of the Private Equity Order","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/orderPrivateEquityOrder"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PrivateEquityOrderResponse","schema":{"$ref":"#/definitions/orderPrivateEquityOrderResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}},"audit":{"type":"object","properties":{"versionNumber":{"type":"string","description":"The CURR.NO. of the record"}}}}},"orderPrivateEquityOrder":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/orderPrivateEquityOrderBody"}},"description":"orderPrivateEquityOrder"},"orderPrivateEquityOrderBody":{"type":"object","properties":{"customerId":{"type":"number","description":"The identifier of the customer"},"portfolioId":{"type":"string","description":"The identifier of the portfolio"},"accountId":{"type":"number","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"instrumentId":{"type":"string","description":"The identifier of the instrument"},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"depositoryId":{"type":"number","description":"The identifier of the depository. Must be a customerSecurity of type depository."},"counterpartyId":{"type":"number","description":"The identifier of the counter party"},"counterPartyAccountId":{"type":"number","description":"The identifier of the counter party's account"},"date":{"type":"string","format":"date","description":""},"amount":{"type":"number","description":""},"status":{"type":"string","description":"Get a detail status of the specified service/services"},"adviceRequired":{"type":"boolean","description":"Indicates if the advice will be generated for this transaction"},"commissionRate":{"type":"number","description":"The commission by percentage. Allowed only for manual commission. Calculated commission amount can be overwritten manually."},"commissionAmount":{"type":"number","description":"The amount of commission charged"},"taxAmount":{"type":"number","description":"The tax amount"}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"orderPrivateEquityOrderResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/orderPrivateEquityOrderResponseBody"}},"description":"orderPrivateEquityOrderResponse"},"orderPrivateEquityOrderResponseBody":{"type":"object","properties":{"customerId":{"type":"number","description":"The identifier of the customer"},"portfolioId":{"type":"string","description":"The identifier of the portfolio"},"accountId":{"type":"number","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"instrumentId":{"type":"string","description":"The identifier of the instrument"},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"depositoryId":{"type":"number","description":"The identifier of the depository. Must be a customerSecurity of type depository."},"counterpartyId":{"type":"number","description":"The identifier of the counter party"},"counterPartyAccountId":{"type":"number","description":"The identifier of the counter party's account"},"date":{"type":"string","format":"date","description":""},"amount":{"type":"number","description":""},"status":{"type":"string","description":"Get a detail status of the specified service/services"},"adviceRequired":{"type":"boolean","description":"Indicates if the advice will be generated for this transaction"},"commissionRate":{"type":"number","description":"The commission by percentage. Allowed only for manual commission. Calculated commission amount can be overwritten manually."},"commissionAmount":{"type":"number","description":"The amount of commission charged"},"taxAmount":{"type":"number","description":"The tax amount"}}},"ErrorHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"ScreenErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/ScreenErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"ScreenErrorResponse"},"ScreenErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}}}}