{"swagger":"2.0","info":{"description":"Get FX Customer Orders","version":"v1.0.0","title":"Get FX Customer Orders"},"host":"api.server.com","basePath":"/api/v1.0.0/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/order/forexOrders/customers/{customerId}/limitOrders":{"get":{"operationId":"getCustomerForexLimitOrders","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","description":"The identifier of the customer","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"CustomerForexLimitOrdersResponse","schema":{"$ref":"#/definitions/orderCustomerForexLimitOrdersResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"orderCustomerForexLimitOrdersResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/orderCustomerForexLimitOrdersResponseBody"}},"description":"orderCustomerForexLimitOrdersResponse"},"orderCustomerForexLimitOrdersResponseBody":{"type":"array","items":{"type":"object","properties":{"transactionReference":{"type":"string","description":"The transaction reference identifier","maxLength":14},"dealDate":{"type":"string","format":"date","description":"The date on which the deal was made."},"orderCurrency":{"type":"string","description":"Currency for which an order is placed for buy or sell in FX","maxLength":3},"orderAmount":{"type":"number","description":"The amount of the order"},"contraCurrency":{"type":"string","description":"Currency opposite to order currency in FX","maxLength":3},"contraAmount":{"type":"number","description":"Contra currency amount"},"buyOrSell":{"type":"string","description":"Indicates whether the transaction is a buy or sell transaction","maxLength":4},"orderStatus":{"type":"string","description":"The order status which can be OPEN, TRANSMITTED, REJECTED, CANCELLATION REQUEST, CANCELLED, MODIFICATION REQUEST, PARTIAL and FILLED","maxLength":12},"exchangeRate":{"type":"number","description":"Contains the exchange rate applicable"},"forexDealId":{"type":"string","description":"The identifier of the forex deal","maxLength":15},"orderRateLow":{"type":"number","description":"Rate given in the order by customer -Low"},"orderRateHI":{"type":"number","description":"Rate given in the order by customer -Hi"}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}}}}