{"swagger":"2.0","info":{"description":"Creation and Management of Fund Transfers","version":"v1.0.0","title":"Order Transfers APIs"},"host":"api.temenos.com","basePath":"/api/v1.0.0/","schemes":["http"],"security":[{"basicAuth":[]}],"paths":{"/order/transfers":{"post":{"operationId":"createFundsTransfer","produces":["application/json"],"parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/FundsTransfer"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"FundsTransferResponse","schema":{"$ref":"#/definitions/FundsTransferResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/order/transfers/{transferId}":{"put":{"operationId":"updateFundsTransfer","produces":["application/json"],"parameters":[{"name":"transferId","in":"path","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/FundsTransfer"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"FundsTransferResponse","schema":{"$ref":"#/definitions/FundsTransferResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}},"delete":{"operationId":"deleteFundsTransfer","produces":["application/json"],"parameters":[{"name":"transferId","in":"path","required":true,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"FundsTransferResponse","schema":{"$ref":"#/definitions/FundsTransferResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}},"audit":{"type":"object","properties":{"versionNumber":{"type":"string","description":"The CURR.NO. of the record"}}}}},"FundsTransfer":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/FundsTransferBody"}},"description":"FundsTransfer"},"FundsTransferBody":{"type":"object","properties":{"paymentDetails":{"type":"array","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment.","items":{"type":"object","properties":{"paymentDetail":{"type":"string","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment."}}}},"beneficiaryCustomerIds":{"type":"array","description":"The customer identifier where the beneficiary is a customer of the bank","items":{"type":"object","properties":{"beneficiaryCustomerId":{"type":"string","description":"The customer identifier where the beneficiary is a customer of the bank"}}}},"beneficiaryBICNames":{"type":"array","description":"The name displayed of the beneficiary BIC","items":{"type":"object","properties":{"beneficiaryBICName":{"type":"string","description":"The name displayed of the beneficiary BIC"}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"debitAccountId":{"type":"string","description":"The identifier of the debit account"},"debitCurrencyId":{"type":"string","description":"The identifier of the debit currency"},"debitAmount":{"type":"number","description":""},"creditAccountId":{"type":"string","description":"The identifier of the credit account"},"creditCurrencyId":{"type":"string","description":"The identifier of the credit currency"},"creditAmount":{"type":"number","description":"The amount to be credited in a payment transaction"},"beneficiaryOurCharges":{"type":"string","description":"Determines who will be responsible for charges."},"processingDate":{"type":"string","format":"date","description":"The bank date that an accounting movement is applied to the bank GL"},"transactionType":{"type":"string","description":""},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account"},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary"},"bankSortCode":{"type":"string","description":"Defines the bank sorting code of the bank and branch. The code entered must exist as a sort code. 6 numeric characters."},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer "},"beneficiaryBICCity":{"type":"string","description":"The city of the beneficiary BIC"},"customerRate":{"type":"string","description":"The exchange rate that is actually used to convert an amount from one currency to another in a payment transaction."}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"FundsTransferResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/FundsTransferResponseBody"}},"description":"FundsTransferResponse"},"FundsTransferResponseBody":{"type":"object","properties":{"paymentDetails":{"type":"array","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment.","items":{"type":"object","properties":{"paymentDetail":{"type":"string","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment."}}}},"beneficiaryCustomerIds":{"type":"array","description":"The customer identifier where the beneficiary is a customer of the bank","items":{"type":"object","properties":{"beneficiaryCustomerId":{"type":"string","description":"The customer identifier where the beneficiary is a customer of the bank"}}}},"beneficiaryBICNames":{"type":"array","description":"The name displayed of the beneficiary BIC","items":{"type":"object","properties":{"beneficiaryBICName":{"type":"string","description":"The name displayed of the beneficiary BIC"}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"debitAccountId":{"type":"string","description":"The identifier of the debit account"},"debitCurrencyId":{"type":"string","description":"The identifier of the debit currency"},"debitAmount":{"type":"number","description":""},"creditAccountId":{"type":"string","description":"The identifier of the credit account"},"creditCurrencyId":{"type":"string","description":"The identifier of the credit currency"},"creditAmount":{"type":"number","description":"The amount to be credited in a payment transaction"},"beneficiaryOurCharges":{"type":"string","description":"Determines who will be responsible for charges."},"processingDate":{"type":"string","format":"date","description":"The bank date that an accounting movement is applied to the bank GL"},"transactionType":{"type":"string","description":""},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account"},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary"},"bankSortCode":{"type":"string","description":"Defines the bank sorting code of the bank and branch. The code entered must exist as a sort code. 6 numeric characters."},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer "},"beneficiaryBICCity":{"type":"string","description":"The city of the beneficiary BIC"},"customerRate":{"type":"string","description":"The exchange rate that is actually used to convert an amount from one currency to another in a payment transaction."}}},"ErrorHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"ScreenErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/ScreenErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"ScreenErrorResponse"},"ScreenErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}}}}