{"swagger":"2.0","info":{"description":"Create a forex contract to provide margin Pips in response","version":"v1.0.0","title":"Create Forex"},"host":"api.server.com","basePath":"/api/v1.0.0/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/order/forexOrders":{"post":{"operationId":"createForexOrder","produces":["application/json"],"parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/orderForexOrder"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ForexOrderResponse","schema":{"$ref":"#/definitions/orderForexOrderResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}},"audit":{"type":"object","properties":{"versionNumber":{"type":"string","description":"The CURR.NO. of the record"}}}}},"orderForexOrder":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/orderForexOrderBody"}},"description":"orderForexOrder"},"orderForexOrderBody":{"type":"object","properties":{"customerName":{"type":"string","description":"The name that is displayed for the customer"},"dealDate":{"type":"string","format":"date","description":"The date on which the deal was made."},"buyDate":{"type":"string","format":"date","description":"The date of purchase"},"buyCurrency":{"type":"string","description":"The SWIFT code of the currency of the purchase"},"sellCurrency":{"type":"string","description":"The SWIFT code of the sold currency."},"baseCurrency":{"type":"string","description":""},"buyAmount":{"type":"number","description":"The amount being purchased."},"sellAmount":{"type":"number","description":"The amount of the currency being sold. "},"treasuryRate":{"type":"string","description":"The Treasury rate for the conversion between payment currency and the ordering currency"},"portfolioId":{"type":"string","description":"The identifier of the portfolio"},"dealType":{"type":"string","description":"The Foreign Exchange deal type i.e. it is a Spot, Forward or a Swap transaction"},"dealerDesk":{"type":"string","description":"Code used to identify the dealing desk responsible for monitoring and managing Foreign exchange positions"},"treasuryCustomer":{"type":"string","description":"Specifies if the Counterparty of the transaction is a Treasury Customer or not"},"marginPercent":{"type":"string","description":"Field to state the percentage of provision to be taken"},"marginPips":{"type":"string","description":""}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"orderForexOrderResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/orderForexOrderResponseBody"}},"description":"orderForexOrderResponse"},"orderForexOrderResponseBody":{"type":"object","properties":{"customerName":{"type":"string","description":"The name that is displayed for the customer"},"dealDate":{"type":"string","format":"date","description":"The date on which the deal was made."},"buyDate":{"type":"string","format":"date","description":"The date of purchase"},"buyCurrency":{"type":"string","description":"The SWIFT code of the currency of the purchase"},"sellCurrency":{"type":"string","description":"The SWIFT code of the sold currency."},"baseCurrency":{"type":"string","description":""},"buyAmount":{"type":"number","description":"The amount being purchased."},"sellAmount":{"type":"number","description":"The amount of the currency being sold. "},"treasuryRate":{"type":"string","description":"The Treasury rate for the conversion between payment currency and the ordering currency"},"portfolioId":{"type":"string","description":"The identifier of the portfolio"},"dealType":{"type":"string","description":"The Foreign Exchange deal type i.e. it is a Spot, Forward or a Swap transaction"},"dealerDesk":{"type":"string","description":"Code used to identify the dealing desk responsible for monitoring and managing Foreign exchange positions"},"treasuryCustomer":{"type":"string","description":"Specifies if the Counterparty of the transaction is a Treasury Customer or not"},"marginPercent":{"type":"string","description":"Field to state the percentage of provision to be taken"},"marginPips":{"type":"string","description":""}}},"ErrorHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"ScreenErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/ScreenErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"ScreenErrorResponse"},"ScreenErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}}}}