{"swagger":"2.0","info":{"description":"Allows the viewing and creation of Order Simulations","version":"v1.0.0","title":"Order Simulations APIs"},"host":"api.server.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/order/portfolios/orderSimulations/{orderSimulationId}":{"get":{"operationId":"getSecurityOrderSimulation","produces":["application/json"],"parameters":[{"name":"orderSimulationId","in":"path","description":"Identifier of the order simulation","required":true,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"SecurityOrderSimulationResponse","schema":{"$ref":"#/definitions/orderSecurityOrderSimulationResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}},"post":{"operationId":"createSecurityOrderSimulation","produces":["application/json"],"parameters":[{"name":"orderSimulationId","in":"path","description":"Identifier of the order simulation","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/orderSecurityOrderSimulation"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"SecurityOrderSimulationResponse","schema":{"$ref":"#/definitions/orderSecurityOrderSimulationResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}},"audit":{"type":"object","properties":{"versionNumber":{"type":"string","description":"The CURR.NO. of the record"}}}}},"orderSecurityOrderSimulation":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/orderSecurityOrderSimulationBody"}},"description":"orderSecurityOrderSimulation"},"orderSecurityOrderSimulationBody":{"type":"object","properties":{"orderDetails":{"type":"array","items":{"type":"object","properties":{"instrumentId":{"type":"string","description":"The identifier of the instrument"},"contractId":{"type":"string","description":"The identifier of the contract"},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"contractType":{"type":"string","description":"Indicates if the position is related to Loan, Deposit ,FX-Forward/FX-Swap"},"callOrPut":{"type":"string","description":"Indicates whether the transaction is a call or put. CALL or PUT."},"maturityDate":{"type":"string","format":"date","description":"The delivery period or maturity date of the contract transacted"},"buyCurrency":{"type":"string","description":"The SWIFT code of the currency of the purchase"},"sellCurrency":{"type":"string","description":"The SWIFT code of the sold currency."},"marketValueCurrency":{"type":"string","description":"Currency in which the market value for the associated position belongs to"},"marketValue":{"type":"number","description":"Market value for the associated position"},"marginValue":{"type":"number","description":"Margin value for the associated position"}}}},"breachInformations":{"type":"array","description":"Contains the information about any breach on Collateral","items":{"type":"object","properties":{"breachInformation":{"type":"string","description":"Contains the information about any breach on Collateral"}}}},"customerId":{"type":"number","description":"The identifier of the customer"},"portfolioId":{"type":"string","description":"The identifier of the portfolio"},"initialMarketValue":{"type":"number","description":"The initial market value for the portfolio before considering the new orders from the session."},"initialMarginValue":{"type":"number","description":"The initial margin value for the portfolio before considering the new orders from the session."},"initialLiabilityPosition":{"type":"number","description":"The initial liability value for the portfolio before considering new orders from the session."},"initialCollateralSurplusDeficit":{"type":"number","description":"Collateral Surplus before considering the new orders from this session"},"newMarketValue":{"type":"number","description":"The market value for the portfolio after considering the new orders from the session."},"newMarginValue":{"type":"number","description":"The margin value for the portfolio after considering the new orders from the session."},"newLiabilityPosition":{"type":"number","description":"The liability value for the portfolio after considering the new orders from the session"},"collateralSurplusDeficit":{"type":"number","description":"Collateral Surplus after considering the new orders from the session"},"creditCheck":{"type":"boolean","description":"Set to yes if the Collateral Surplus Deficit is positive"},"collateralCheck":{"type":"string","description":"Checks the Collateral of the Portfolio"}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"orderSecurityOrderSimulationResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/orderSecurityOrderSimulationResponseBody"}},"description":"orderSecurityOrderSimulationResponse"},"orderSecurityOrderSimulationResponseBody":{"type":"object","properties":{"orderDetails":{"type":"array","items":{"type":"object","properties":{"instrumentId":{"type":"string","description":"The identifier of the instrument"},"contractId":{"type":"string","description":"The identifier of the contract"},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"contractType":{"type":"string","description":"Indicates if the position is related to Loan, Deposit ,FX-Forward/FX-Swap"},"callOrPut":{"type":"string","description":"Indicates whether the transaction is a call or put. CALL or PUT."},"maturityDate":{"type":"string","format":"date","description":"The delivery period or maturity date of the contract transacted"},"buyCurrency":{"type":"string","description":"The SWIFT code of the currency of the purchase"},"sellCurrency":{"type":"string","description":"The SWIFT code of the sold currency."},"marketValueCurrency":{"type":"string","description":"Currency in which the market value for the associated position belongs to"},"marketValue":{"type":"number","description":"Market value for the associated position"},"marginValue":{"type":"number","description":"Margin value for the associated position"}}}},"breachInformations":{"type":"array","description":"Contains the information about any breach on Collateral","items":{"type":"object","properties":{"breachInformation":{"type":"string","description":"Contains the information about any breach on Collateral"}}}},"customerId":{"type":"number","description":"The identifier of the customer"},"portfolioId":{"type":"string","description":"The identifier of the portfolio"},"initialMarketValue":{"type":"number","description":"The initial market value for the portfolio before considering the new orders from the session."},"initialMarginValue":{"type":"number","description":"The initial margin value for the portfolio before considering the new orders from the session."},"initialLiabilityPosition":{"type":"number","description":"The initial liability value for the portfolio before considering new orders from the session."},"initialCollateralSurplusDeficit":{"type":"number","description":"Collateral Surplus before considering the new orders from this session"},"newMarketValue":{"type":"number","description":"The market value for the portfolio after considering the new orders from the session."},"newMarginValue":{"type":"number","description":"The margin value for the portfolio after considering the new orders from the session."},"newLiabilityPosition":{"type":"number","description":"The liability value for the portfolio after considering the new orders from the session"},"collateralSurplusDeficit":{"type":"number","description":"Collateral Surplus after considering the new orders from the session"},"creditCheck":{"type":"boolean","description":"Set to yes if the Collateral Surplus Deficit is positive"},"collateralCheck":{"type":"string","description":"Checks the Collateral of the Portfolio"}}},"ErrorHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"ScreenErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/ScreenErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"ScreenErrorResponse"},"ScreenErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}}}}