{"swagger":"2.0","info":{"description":"Allows the creation, viewing and management of payment orders","version":"v1.0.0","title":"Order Payment Orders APIs"},"host":"api.server.com","basePath":"/api/v1.0.0/","schemes":["http"],"security":[{"basicAuth":[]}],"paths":{"/order/paymentOrders/{paymentOrderId}":{"get":{"operationId":"getPaymentOrder","produces":["application/json"],"parameters":[{"name":"paymentOrderId","in":"path","description":"The identifier of the payment order","required":true,"type":"string"},{"name":"currentPaymentState","in":"query","required":false,"type":"string"},{"name":"paymentStatus","in":"query","description":"","required":false,"type":"string"},{"name":"paymentOrderProductId","in":"query","description":"The identifier of the payment order product","required":false,"type":"string"},{"name":"debitAccountId","in":"query","description":"The identifier of the debit account","required":false,"type":"string"},{"name":"orderingCustomerId","in":"query","description":"The identifier of the ordering customer","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PaymentOrderResponse","schema":{"$ref":"#/definitions/PaymentOrderResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}},"put":{"operationId":"updatePaymentOrder","produces":["application/json"],"parameters":[{"name":"paymentOrderId","in":"path","description":"The identifier of the payment order","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/PaymentOrder"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PaymentOrderResponse","schema":{"$ref":"#/definitions/PaymentOrderResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}},"delete":{"operationId":"deletePaymentOrder","produces":["application/json"],"parameters":[{"name":"paymentOrderId","in":"path","description":"The identifier of the payment order","required":true,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PaymentOrderResponse","schema":{"$ref":"#/definitions/PaymentOrderResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/order/paymentOrders":{"get":{"operationId":"getPaymentOrders","produces":["application/json"],"parameters":[{"name":"paymentOrderId","in":"query","description":"The identifier of the payment order","required":false,"type":"string"},{"name":"currentPaymentState","in":"query","required":false,"type":"string"},{"name":"paymentStatus","in":"query","description":"","required":false,"type":"string"},{"name":"paymentOrderProductIdNE","in":"query","required":false,"type":"string"},{"name":"paymentOrderProductId","in":"query","description":"The identifier of the payment order product","required":false,"type":"string"},{"name":"debitAccountId","in":"query","description":"The identifier of the debit account","required":false,"type":"string"},{"name":"orderingCustomerId","in":"query","description":"The identifier of the ordering customer","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PaymentOrdersResponse","schema":{"$ref":"#/definitions/PaymentOrderResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}},"post":{"operationId":"createPaymentOrder","produces":["application/json"],"parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/PaymentOrder"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PaymentOrderResponse","schema":{"$ref":"#/definitions/PaymentOrderResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/order/paymentOrders/purposes":{"get":{"operationId":"getPaymentOrderPurposes","produces":["application/json"],"parameters":[{"name":"paymentOrderPurposeCodeId","in":"query","description":"The identifier of the payment order purpose code","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PaymentOrderPurposesResponse","schema":{"$ref":"#/definitions/PaymentOrderPurposesResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/order/paymentOrders/products":{"get":{"operationId":"getPaymentOrderProducts","produces":["application/json"],"parameters":[{"name":"paymentProductGroupId","in":"query","required":false,"type":"string"},{"name":"paymentOrderProductId","in":"query","description":"The identifier of the payment order product","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PaymentOrderProductsResponse","schema":{"$ref":"#/definitions/PaymentOrderProductsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/order/paymentOrders/countryRules":{"get":{"operationId":"getPaymentOrderCountryRules","produces":["application/json"],"parameters":[{"name":"countryId","in":"query","description":"The identifier of the country, normally the SWIFT code of the country.","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PaymentOrderCountryRulesResponse","schema":{"$ref":"#/definitions/PaymentOrderCountryRulesResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}},"audit":{"type":"object","properties":{"versionNumber":{"type":"string","description":"The CURR.NO. of the record"}}}}},"PaymentOrder":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/PaymentOrderBody"}},"description":"PaymentOrder"},"PaymentOrderBody":{"type":"object","properties":{"narratives":{"type":"array","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference","items":{"type":"object","properties":{"narrative":{"type":"string","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference"}}}},"additionalInformations":{"type":"array","description":"Additional Information provided to add context","items":{"type":"object","properties":{"additionalInformation":{"type":"string","description":"Additional Information provided to add context"}}}},"remittanceInformations":{"type":"array","description":"The Information about remittance","items":{"type":"object","properties":{"remittanceInformation":{"type":"string","description":"The Information about remittance"}}}},"signatories":{"type":"array","description":"The authorised signatories","items":{"type":"object","properties":{"signatory":{"type":"string","description":"The authorised signatories"}}}},"invoiceReferences":{"type":"array","description":"It provides the reference of the invoice ","items":{"type":"object","properties":{"invoiceReference":{"type":"string","description":"It provides the reference of the invoice "}}}},"charges":{"type":"array","description":"","items":{"type":"object","properties":{"chargeType":{"type":"string","description":"The type of charge"},"chargeName":{"type":"string","description":"The name that is displayed for the charge"},"chargeCurrency":{"type":"string","description":"Holds the currency code of the charge account from where the fee is deducted"},"chargeAmount":{"type":"number","description":"Holds the charge amount equivalent in charge account currency"},"chargeAccountCurrencyAmount":{"type":"number","description":""}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"paymentOrderProductId":{"type":"string","description":"The identifier of the payment order product"},"debitAccountId":{"type":"string","description":"The identifier of the debit account"},"debitAccountIBAN":{"type":"string","description":"IBAN of the debit account"},"debitCurrency":{"type":"string","description":"Currency of the debit account"},"debitValueDate":{"type":"string","format":"date","description":"The date on which the Invocation amount will be debited for settlement"},"creditAccountId":{"type":"string","description":"The identifier of the credit account"},"creditAccountIBAN":{"type":"string","description":"IBAN of the credit account"},"orderingCustomerId":{"type":"string","description":"The identifier of the ordering customer"},"orderingCustomerName":{"type":"string","description":"The name that is displayed for the ordering customer"},"paymentCurrencyId":{"type":"string","description":"The identifier of the payment currency"},"amount":{"type":"number","description":""},"executionDate":{"type":"string","format":"date","description":"Processing date of the transaction"},"treasuryRate":{"type":"string","description":"The Treasury rate for the conversion between payment currency and the ordering currency"},"forexSpread":{"type":"string","description":""},"forexCustomerRate":{"type":"string","description":""},"orderingPortfolio":{"type":"string","description":"The debit portfolio identifier"},"creditPortfolio":{"type":"string","description":"Portfolio id to be credit"},"orderingReference":{"type":"string","description":"The reference related to the ordering details"},"chargeBearer":{"type":"string","description":"Bearer of the charges of the order"},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary"},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account"},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer "},"beneficiaryName":{"type":"string","description":"The name displayed of the beneficiary"},"accountWithBankBIC":{"type":"string","description":"BIC of Account with Bank being the bank where the beneficiary maintains his account."},"beneficiaryBankClearingCode":{"type":"string","description":"Clearing code or sort code of the beneficiary bank"},"accountWithBankClearingCode":{"type":"string","description":"Clearing code or sort code of the account with bank being the bank where the beneficiary maintains his account."},"clearingChannel":{"type":"string","description":"Clearing channel for the payment order"},"structuredCreditorReference":{"type":"string","description":""},"beneficiaryCountryCode":{"type":"string","description":""},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"accountWithBankIBAN":{"type":"string","description":"IBAN of Account with Bank being the bank where the beneficiary maintains his account."},"requiredCreditValueDate":{"type":"string","format":"date","description":"The credit value date i.e. tentative date on which the payment system will process the payment"},"purpose":{"type":"string","description":""},"structuredCommunicationCode":{"type":"string","description":""},"structuredIssuer":{"type":"string","description":""},"endToEndReference":{"type":"string","description":"This field is used for SEPA"},"instructionIdReference":{"type":"string","description":"The reference used in SEPA payments to indicate the type of payment"},"termsAndConditions":{"type":"string","description":"The description of the terms and conditions"},"indicativeRate":{"type":"string","description":""},"chargeAccountId":{"type":"string","description":"The identifier of the charge account"},"chargeAccountCurrencyId":{"type":"string","description":"The identifier of the currency fo the charge account"},"creditValueDate":{"type":"string","format":"date","description":"The value date applied to the credit side of a payment"},"PSDCompliant":{"type":"string","description":"Defines whether the transaction is PSD (Payment Services Directive) compliant"},"totalDebitAmount":{"type":"number","description":"The total debit amount"},"localInstrumentCode":{"type":"string","description":"holds the local mode of clearing"},"recordStatus":{"type":"string","description":"The status of the record processed"}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"PaymentOrderResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/PaymentOrderResponseBody"}},"description":"PaymentOrderResponse"},"PaymentOrderResponseBody":{"type":"array","items":{"type":"object","properties":{"debits":{"type":"array","description":"","items":{"type":"object","properties":{"debitAccountId":{"type":"string","description":"The identifier of the debit account","maxLength":34},"debitAccountIBAN":{"type":"string","description":"IBAN of the debit account","maxLength":35},"debitCurrency":{"type":"string","description":"Currency of the debit account","maxLength":3},"debitValueDate":{"type":"string","format":"date","description":"The date on which the Invocation amount will be debited for settlement"},"totalDebitAmount":{"type":"number","description":"The total debit amount"}}}},"credits":{"type":"array","description":"","items":{"type":"object","properties":{"creditAccountId":{"type":"string","description":"The identifier of the credit account","maxLength":19},"creditAccountIBAN":{"type":"string","description":"IBAN of the credit account","maxLength":35},"requiredCreditValueDate":{"type":"string","format":"date","description":"The credit value date i.e. tentative date on which the payment system will process the payment"},"creditValueDate":{"type":"string","format":"date","description":"The value date applied to the credit side of a payment"}}}},"narratives":{"type":"array","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference","items":{"type":"object","properties":{"narrative":{"type":"string","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference","maxLength":65}}}},"additionalInformations":{"type":"array","description":"Additional Information provided to add context","items":{"type":"object","properties":{"additionalInformation":{"type":"string","description":"Additional Information provided to add context","maxLength":65}}}},"remittanceInformations":{"type":"array","description":"The Information about remittance","items":{"type":"object","properties":{"remittanceInformation":{"type":"string","description":"The Information about remittance","maxLength":35}}}},"beneficiaries":{"type":"array","description":"","items":{"type":"object","properties":{"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary","maxLength":17},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account","maxLength":34},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer ","maxLength":35},"beneficiaryName":{"type":"string","description":"The name displayed of the beneficiary","maxLength":70},"beneficiaryCountryCode":{"type":"string","description":"","maxLength":2},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account","maxLength":35},"accountWithBankIBAN":{"type":"string","description":"IBAN of Account with Bank being the bank where the beneficiary maintains his account.","maxLength":35}}}},"invoiceReferences":{"type":"array","description":"It provides the reference of the invoice ","items":{"type":"object","properties":{"invoiceReference":{"type":"string","description":"It provides the reference of the invoice ","maxLength":35}}}},"charges":{"type":"array","description":"","items":{"type":"object","properties":{"chargeAccountId":{"type":"string","description":"The identifier of the charge account","maxLength":34},"chargeAccountCurrencyId":{"type":"string","description":"The identifier of the currency fo the charge account","maxLength":3},"chargeType":{"type":"string","description":"The type of charge","maxLength":20},"chargeName":{"type":"string","description":"The name that is displayed for the charge","maxLength":50},"chargeCurrencyId":{"type":"string","description":"The identifier of the currency of the charge","maxLength":3},"chargeAmount":{"type":"string","description":"Holds the charge amount equivalent in charge account currency","maxLength":19},"chargeAccountCurrencyAmount":{"type":"number","description":""}}}},"paymentOrderId":{"type":"string","description":"The identifier of the payment order","maxLength":35},"paymentOrderProductId":{"type":"string","description":"The identifier of the payment order product","maxLength":35},"orderingCustomerId":{"type":"string","description":"The identifier of the ordering customer","maxLength":35},"orderingCustomerName":{"type":"string","description":"The name that is displayed for the ordering customer","maxLength":140},"paymentCurrencyId":{"type":"string","description":"The identifier of the payment currency","maxLength":3},"amount":{"type":"number","description":""},"executionDate":{"type":"string","format":"date","description":"Processing date of the transaction"},"treasuryRate":{"type":"string","description":"The Treasury rate for the conversion between payment currency and the ordering currency","maxLength":11},"forexSpread":{"type":"string","description":"","maxLength":12},"forexCustomerRate":{"type":"string","description":"","maxLength":11},"orderingPortfolio":{"type":"string","description":"The debit portfolio identifier","maxLength":18},"creditPortfolio":{"type":"string","description":"Portfolio id to be credit","maxLength":18},"orderingReference":{"type":"string","description":"The reference related to the ordering details","maxLength":18},"chargeBearer":{"type":"string","description":"Bearer of the charges of the order","maxLength":35},"accountWithBankBIC":{"type":"string","description":"BIC of Account with Bank being the bank where the beneficiary maintains his account.","maxLength":27},"beneficiaryBankClearingCode":{"type":"string","description":"Clearing code or sort code of the beneficiary bank","maxLength":35},"accountWithBankClearingCode":{"type":"string","description":"Clearing code or sort code of the account with bank being the bank where the beneficiary maintains his account.","maxLength":35},"clearingChannel":{"type":"string","description":"Clearing channel for the payment order","maxLength":35},"structuredCreditorReference":{"type":"string","description":"","maxLength":65},"signatory":{"type":"string","description":"The authorised signatories","maxLength":35},"purpose":{"type":"string","description":"","maxLength":65},"structuredCommunicationCode":{"type":"string","description":"","maxLength":35},"structuredIssuer":{"type":"string","description":"","maxLength":65},"endToEndReference":{"type":"string","description":"This field is used for SEPA","maxLength":35},"instructionIdReference":{"type":"string","description":"The reference used in SEPA payments to indicate the type of payment","maxLength":35},"termsAndConditions":{"type":"string","description":"The description of the terms and conditions","maxLength":120},"paymentStatus":{"type":"string","description":"","maxLength":35},"currentStatus":{"type":"string","description":"Current state of the payment order","maxLength":65},"internalStatus":{"type":"string","description":"This field shows the status of the payment order like: Cancel, Error, Reject & Return ","maxLength":10},"systemId":{"type":"string","description":"The system application identifier from which the entry was generated","maxLength":35},"indicativeRate":{"type":"string","description":"","maxLength":11},"PSDCompliant":{"type":"string","description":"Defines whether the transaction is PSD (Payment Services Directive) compliant","maxLength":35},"versionNumber":{"type":"string","description":"","maxLength":4}}}},"ErrorHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"ScreenErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/ScreenErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"ScreenErrorResponse"},"ScreenErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}},"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}},"PaymentOrderPurposesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/PaymentOrderPurposesResponseBody"}},"description":"PaymentOrderPurposesResponse"},"PaymentOrderPurposesResponseBody":{"type":"array","items":{"type":"object","properties":{"paymentOrderPurposeCodeId":{"type":"string","description":"The identifier of the payment order purpose code","maxLength":4},"displayName":{"type":"string","description":"The name used for display purposes","maxLength":70},"classification":{"type":"string","description":"","maxLength":70},"definition":{"type":"string","description":"","maxLength":120}}}},"PaymentOrderProductsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/PaymentOrderProductsResponseBody"}},"description":"PaymentOrderProductsResponse"},"PaymentOrderProductsResponseBody":{"type":"array","items":{"type":"object","properties":{"paymentProductGroupIds":{"type":"array","items":{"type":"object","properties":{"paymentProductGroupId":{"type":"string","description":"","maxLength":35}}}},"paymentCurrencyIds":{"type":"array","description":"The identifier of the payment currency","items":{"type":"object","properties":{"paymentCurrencyId":{"type":"string","description":"The identifier of the payment currency","maxLength":3}}}},"orderingCurrencyIds":{"type":"array","items":{"type":"object","properties":{"orderingCurrencyId":{"type":"string","description":"","maxLength":3}}}},"countryIds":{"type":"array","description":"The identifier of the country, normally the SWIFT code of the country.","items":{"type":"object","properties":{"countryId":{"type":"string","description":"The identifier of the country, normally the SWIFT code of the country.","maxLength":2}}}},"clearingChannelIds":{"type":"array","items":{"type":"object","properties":{"clearingChannelId":{"type":"string","description":"","maxLength":35}}}},"additionalInformations":{"type":"array","description":"Additional Information provided to add context","items":{"type":"object","properties":{"additionalInformation":{"type":"string","description":"Additional Information provided to add context","maxLength":120}}}},"paymentOrderProductId":{"type":"string","description":"The identifier of the payment order product","maxLength":10},"displayName":{"type":"string","description":"The name used for display purposes","maxLength":35},"rank":{"type":"string","description":"the rank of the product","maxLength":10},"payThroughBeneficiary":{"type":"string","description":"Defines whether Payment is done through the Beneficiary or not","maxLength":35},"futureDate":{"type":"string","format":"date","description":""},"requiredCreditValue":{"type":"string","description":"Defines whether the credit value date is required","maxLength":35},"IBANSupport":{"type":"string","description":"","maxLength":35},"BICSupport":{"type":"string","description":"","maxLength":35},"sortCodeSupport":{"type":"string","description":"","maxLength":35},"narrative":{"type":"string","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference","maxLength":65},"weblink":{"type":"string","description":"The weblink for additional information","maxLength":70},"forexSupport":{"type":"string","description":"","maxLength":3},"defaultChargeOption":{"type":"string","description":"Default Charger bearer for the product, e.g. a)None b)Recipient To Pay All Charges c)Pay My Bank's Charges d) Pay My Bank Charges Only.","maxLength":35},"checkTransparency":{"type":"string","description":"","maxLength":35},"awaitExternalSubmit":{"type":"string","description":"","maxLength":35}}}},"PaymentOrderCountryRulesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/PaymentOrderCountryRulesResponseBody"}},"description":"PaymentOrderCountryRulesResponse"},"PaymentOrderCountryRulesResponseBody":{"type":"array","items":{"type":"object","properties":{"clearingChannelIds":{"type":"array","items":{"type":"object","properties":{"clearingChannelId":{"type":"string","description":"","maxLength":35}}}},"paymentCurrencyIds":{"type":"array","description":"The identifier of the payment currency","items":{"type":"object","properties":{"paymentCurrencyId":{"type":"string","description":"The identifier of the payment currency","maxLength":3}}}},"countryId":{"type":"string","description":"The identifier of the country, normally the SWIFT code of the country.","maxLength":9},"displayName":{"type":"string","description":"The name used for display purposes","maxLength":65},"IBANSupport":{"type":"string","description":"","maxLength":35},"BICSupport":{"type":"string","description":"","maxLength":35},"sortCodeSupport":{"type":"string","description":"","maxLength":35}}}}}}