{
    "swagger": "2.0",
    "info":
    {
        "description": "Allows the creation, viewing and management of customers.",
        "version": "v1.0.0",
        "title": "Party Customers APIs"
    },
    "host": "api.temenos.com",
    "basePath": "/api/v1.0.0/",
    "schemes": ["http", "https"],
    "security": [
    {
        "basicAuth": []
    }],
    "paths":
    {
        "/party/customers/{customerId}/consents":
        {
            "get":
            {
                "operationId": "getCustomerConsents",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "customerId",
                    "in": "path",
                    "description": "The identifier of the customer",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "propertyClassId",
                    "in": "query",
                    "description": "The identifier of the property class",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "CustomerConsentsResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/CustomerConsentsResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/customers/{customerId}/travelNotifications":
        {
            "get":
            {
                "operationId": "getCustomerTravelNotifications",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "customerId",
                    "in": "path",
                    "description": "The identifier of the customer",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "overallStatus",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "overallStatusNE",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "travelNotificationId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "CustomerTravelNotificationsResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/CustomerTravelNotificationsResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/customers/{customerId}/contactDetails":
        {
            "get":
            {
                "operationId": "getCustomerContactDetails",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "customerId",
                    "in": "path",
                    "description": "The identifier of the customer",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "customerName",
                    "in": "query",
                    "description": "The name that is displayed for the customer",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "street",
                    "in": "query",
                    "description": "The first line of Customer's base address",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "town",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "countryId",
                    "in": "query",
                    "description": "The identifier of the country, normally the SWIFT code of the country.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "postcode",
                    "in": "query",
                    "description": "Identifies the postal code for customer.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "dateOfBirth",
                    "in": "query",
                    "description": "An individual's date of birth. ",
                    "required": false,
                    "type": "string",
                    "format": "date"
                },
                {
                    "name": "customerStatus",
                    "in": "query",
                    "description": "The internal bank status of a customer",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "customerType",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "CustomerContactDetailsResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/CustomerContactDetailsResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            },
            "put":
            {
                "operationId": "updateCustomerContactDetail",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "customerId",
                    "in": "path",
                    "description": "The identifier of the customer",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/CustomerContactDetail"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "CustomerContactDetailResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/CustomerContactDetailResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/customers/{customerId}/onlineBeneficiaries":
        {
            "get":
            {
                "operationId": "getCustomerBeneficiaries",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "customerId",
                    "in": "path",
                    "description": "The identifier of the customer",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "CustomerBeneficiariesResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/CustomerBeneficiariesResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/customers/{customerId}/deliveryPreferences":
        {
            "get":
            {
                "operationId": "getCustomerDeliveryPreferences",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "customerId",
                    "in": "path",
                    "description": "The identifier of the customer",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "CustomerDeliveryPreferencesResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/CustomerDeliveryPreferencesResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            },
            "post":
            {
                "operationId": "createCustomerDeliveryPreference",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "customerId",
                    "in": "path",
                    "description": "The identifier of the customer",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/CustomerDeliveryPreference"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "CustomerDeliveryPreferenceResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/CustomerDeliveryPreferenceResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    }
                }
            },
            "put":
            {
                "operationId": "updateCustomerDeliveryPreference",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "customerId",
                    "in": "path",
                    "description": "The identifier of the customer",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/CustomerDeliveryPreference"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "CustomerDeliveryPreferenceResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/CustomerDeliveryPreferenceResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    }
                }
            },
            "delete":
            {
                "operationId": "deleteCustomerDeliveryPreference",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "customerId",
                    "in": "path",
                    "description": "The identifier of the customer",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "CustomerDeliveryPreferenceResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/CustomerDeliveryPreferenceResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/customers/{customerId}/adverts":
        {
            "get":
            {
                "operationId": "getCustomerAdverts",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "customerId",
                    "in": "path",
                    "description": "The identifier of the customer",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "languageId",
                    "in": "query",
                    "description": "The identifier of the language",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "CustomerAdvertsResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/CustomerAdvertsResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/customers/adverts/{advertId}":
        {
            "put":
            {
                "operationId": "updateAdvert",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "advertId",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/Advert"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "AdvertResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/AdvertResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/customers/adverts":
        {
            "post":
            {
                "operationId": "createAdvert",
                "produces": ["application/json"],
                "parameters": [
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/Advert"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "AdvertResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/AdvertResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/customers/documents/{documentId}":
        {
            "put":
            {
                "operationId": "updateDocumentandImage",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "documentId",
                    "in": "path",
                    "description": "The identifier of the document",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/DocumentandImage"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "DocumentandImageResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/DocumentandImageResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    }
                }
            },
            "delete":
            {
                "operationId": "deleteDocumentandImage",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "documentId",
                    "in": "path",
                    "description": "The identifier of the document",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "DocumentandImageResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/DocumentandImageResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/customers/documents/fileUploads/{uploadId}":
        {
            "post":
            {
                "operationId": "createProfilePictureUpload",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "uploadId",
                    "in": "path",
                    "description": "The unique ID of the uploaded file",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/ProfilePictureUpload"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "ProfilePictureUploadResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ProfilePictureUploadResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    }
                }
            },
            "put":
            {
                "operationId": "updateProfilePictureUpload",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "uploadId",
                    "in": "path",
                    "description": "The unique ID of the uploaded file",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/ProfilePictureUpload"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "ProfilePictureUploadResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ProfilePictureUploadResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    }
                }
            },
            "delete":
            {
                "operationId": "deleteProfilePictureUpload",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "uploadId",
                    "in": "path",
                    "description": "The unique ID of the uploaded file",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "ProfilePictureUploadResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ProfilePictureUploadResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/customers/secureMessages":
        {
            "get":
            {
                "operationId": "getSecureMessages",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "messageId",
                    "in": "query",
                    "description": "The identifier of the message",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "parentMessageIdNE",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "parentMessageId",
                    "in": "query",
                    "description": "The identifier of the parent message.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "toCustomerId",
                    "in": "query",
                    "description": "The unique customer identifier, to whom the message is to be sent ",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "fromCustomerId",
                    "in": "query",
                    "description": "Identifies the first customerId in a range",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "messageStatus",
                    "in": "query",
                    "description": "The status of a financial message",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "SecureMessagesResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SecureMessagesResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            },
            "post":
            {
                "operationId": "createSecureMessage",
                "produces": ["application/json"],
                "parameters": [
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/SecureMessage"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "SecureMessageResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SecureMessageResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/customers/secureMessages/{secureMessageId}":
        {
            "get":
            {
                "operationId": "readSecureMessage",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "secureMessageId",
                    "in": "path",
                    "description": "The secure message identifier",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "SecureMessageResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/SecureMessageResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/customers/{customerId}/beneficiaries":
        {
            "get":
            {
                "operationId": "getCustomerBeneficiary",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "customerId",
                    "in": "path",
                    "description": "The identifier of the customer",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "nickName",
                    "in": "query",
                    "description": "The familiar form of a proper name.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "CustomerBeneficiaryResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/CustomerBeneficiaryResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        },
        "/party/customers/{customerId}/portfolios/{portfolioId}/overdueSettlements":
        {
            "get":
            {
                "operationId": "getOverdueSettlements",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "customerId",
                    "in": "path",
                    "description": "The identifier of the customer",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "portfolioId",
                    "in": "path",
                    "description": "The identifier of the portfolio",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "transactionId",
                    "in": "query",
                    "description": "The unique transaction identifier",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "brokerId",
                    "in": "query",
                    "description": "The identifier of the broker",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "tradeDate",
                    "in": "query",
                    "description": "The trade date of the contract",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "valueDate",
                    "in": "query",
                    "description": "The applicable value date",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "depository",
                    "in": "query",
                    "description": "",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "currency",
                    "in": "query",
                    "description": "",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "instrumentId",
                    "in": "query",
                    "description": "The identifier of the instrument",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "deliveryInstruction",
                    "in": "query",
                    "description": "",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "transactionType",
                    "in": "query",
                    "description": "",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "quantity",
                    "in": "query",
                    "description": "The nominal quantity",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "stockExchange",
                    "in": "query",
                    "description": "The stock exchange identifier",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "OverdueSettlementsResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/OverdueSettlementsResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        },       
        "/party/customers/{customerId}/alertRequests":
        {
            "get":
            {
                "operationId": "getAlertRequests",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "customerId",
                    "in": "path",
                    "description": "The identifier of the customer",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "contractReference",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "subscribe",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "alertRequestId",
                    "in": "query",
                    "description": "The identifier of the alert request",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request.",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "AlertRequestsResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/AlertRequestsResponse"
                        }
                    },
                    "default":
                    {
                        "description": "QueryErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/QueryErrorResponse"
                        }
                    }
                }
            }
        },       
        "/party/customers/documents":
        {
            "post":
            {
                "operationId": "createDocumentandImage",
                "produces": ["application/json"],
                "parameters": [
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/DocumentandImage"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "DocumentandImageResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/DocumentandImageResponse"
                        }
                    },
                    "default":
                    {
                        "description": "ScreenErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/ScreenErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions":
    {
        "basicAuth":
        {
            "type": "basic"
        }
    },
    "definitions":
    {
        "QueryHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                },
                "page_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records per page"
                },
                "page_start":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The record from which the response should be displayed"
                },
                "total_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records present"
                },
                "page_token":
                {
                    "type": "string",
                    "description": "Unique id expected to get as part of response from t24 on every enquiry request"
                }
            }
        },
        "CustomerConsentsResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/CustomerConsentsResponseBody"
                }
            },
            "description": "CustomerConsentsResponse"
        },
        "CustomerConsentsResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "consentTypes":
                    {
                        "type": "array",
                        "description": "Conset Type for which the consent is given.The pre-defined consent types are set at Product level and will default on to the arrangement.",
                        "items":
                        {
                            "type": "object",
                            "properties":
                            {
                                "consentType":
                                {
                                    "type": "string",
                                    "description": "Conset Type for which the consent is given.The pre-defined consent types are set at Product level and will default on to the arrangement."
                                },
                                "consentGiven":
                                {
                                    "type": "string",
                                    "description": ""
                                },
                                "consentBlock":
                                {
                                    "type": "string",
                                    "description": ""
                                },
                                "blockNotes":
                                {
                                    "type": "string",
                                    "description": ""
                                },
                                "consentWithdraw":
                                {
                                    "type": "string",
                                    "description": ""
                                },
                                "withdrawNotes":
                                {
                                    "type": "string",
                                    "description": ""
                                },
                                "consentTypeName":
                                {
                                    "type": "string",
                                    "description": ""
                                },
                                "subTypes":
                                {
                                    "type": "array",
                                    "items":
                                    {
                                        "type": "object",
                                        "properties":
                                        {
                                            "consentSubType":
                                            {
                                                "type": "string",
                                                "description": ""
                                            },
                                            "consentSubTypeGiven":
                                            {
                                                "type": "string",
                                                "description": ""
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "arrangementId":
                    {
                        "type": "string",
                        "description": "The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string."
                    },
                    "effectiveDate":
                    {
                        "type": "string",
                        "format": "date",
                        "description": "The date on which the principal movement is effected"
                    },
                    "productId":
                    {
                        "type": "string",
                        "description": "The identifier of the product"
                    },
                    "expiryDate":
                    {
                        "type": "string",
                        "format": "date",
                        "description": "The date an agreement such as a credit facility or limit is due to expire"
                    }
                }
            }
        },
        "ErrorHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "QueryErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/QueryErrorResponseBody"
                }
            },
            "description": "QueryErrorResponse"
        },
        "QueryErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "code":
                {
                    "type": "string",
                    "description": "The identifier of the error message"
                },
                "message":
                {
                    "type": "string",
                    "description": "The actual t24 error message"
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type"
                }
            }
        },
        "CustomerTravelNotificationsResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/CustomerTravelNotificationsResponseBody"
                }
            },
            "description": "CustomerTravelNotificationsResponse"
        },
        "CustomerTravelNotificationsResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "travelNotifications":
                    {
                        "type": "array",
                        "description": "The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.",
                        "items":
                        {
                            "type": "object",
                            "properties":
                            {
                                "countryId":
                                {
                                    "type": "string",
                                    "description": "The identifier of the country, normally the SWIFT code of the country.",
                                    "maxLength": 2
                                },
                                "startDate":
                                {
                                    "type": "string",
                                    "format": "date",
                                    "description": "The start date"
                                },
                                "endDate":
                                {
                                    "type": "string",
                                    "format": "date",
                                    "description": "The date an agreement or contract ceases - the opposite of start date"
                                },
                                "startTime":
                                {
                                    "type": "string",
                                    "description": "Indicates start time",
                                    "maxLength": 5
                                },
                                "endTime":
                                {
                                    "type": "string",
                                    "description": "Indicates end time",
                                    "maxLength": 5
                                },
                                "visitPurpose":
                                {
                                    "type": "string",
                                    "description": "",
                                    "maxLength": 15
                                },
                                "scheduleType":
                                {
                                    "type": "string",
                                    "description": "Schedule Type",
                                    "maxLength": 35
                                },
                                "travelStatus":
                                {
                                    "type": "string",
                                    "description": "",
                                    "maxLength": 35
                                },
                                "additionalInformation":
                                {
                                    "type": "string",
                                    "description": "Additional Information provided to add context",
                                    "maxLength": 100
                                },
                                "contactDetails":
                                {
                                    "type": "array",
                                    "items":
                                    {
                                        "type": "object",
                                        "properties":
                                        {
                                            "contactDetail":
                                            {
                                                "type": "string",
                                                "description": "Additional Information provided to add context",
                                                "maxLength": 100
                                            }
                                        }
                                    }
                                },
                                "accountIds":
                                {
                                    "type": "array",
                                    "items":
                                    {
                                        "type": "object",
                                        "properties":
                                        {
                                            "accountId":
                                            {
                                                "type": "string",
                                                "description": "Additional Information provided to add context",
                                                "maxLength": 100
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "travelNotificationId":
                    {
                        "type": "string",
                        "description": "",
                        "maxLength": 15
                    },
                    "customerId":
                    {
                        "type": "string",
                        "description": "The identifier of the customer",
                        "maxLength": 10
                    },
                    "overallStatus":
                    {
                        "type": "string",
                        "description": "",
                        "maxLength": 35
                    },
                    "versionNumber":
                    {
                        "type": "string",
                        "description": "",
                        "maxLength": 4
                    }
                }
            }
        },
        "CustomerContactDetailsResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/CustomerContactDetailsResponseBody"
                }
            },
            "description": "CustomerContactDetailsResponse"
        },
        "CustomerContactDetailsResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "addressDetails":
                    {
                        "type": "array",
                        "description": "Holds unstructured address information, e.g. Contact Person. Building, Floor, Apartment, Street Number, Street Name, Town, Area, Code",
                        "items":
                        {
                            "type": "object",
                            "properties":
                            {
                                "street":
                                {
                                    "type": "string",
                                    "description": "The first line of Customer's base address",
                                    "maxLength": 35
                                },
                                "address":
                                {
                                    "type": "string",
                                    "description": "",
                                    "maxLength": 35
                                },
                                "addressCity":
                                {
                                    "type": "string",
                                    "description": "",
                                    "maxLength": 35
                                },
                                "postCode":
                                {
                                    "type": "string",
                                    "description": "Identifies the postal code for customer.",
                                    "maxLength": 35
                                },
                                "country":
                                {
                                    "type": "string",
                                    "description": "",
                                    "maxLength": 35
                                }
                            }
                        }
                    },
                    "contactDetails":
                    {
                        "type": "array",
                        "items":
                        {
                            "type": "object",
                            "properties":
                            {
                                "phoneNumber":
                                {
                                    "type": "string",
                                    "description": "This field can contain the phone numbers of the customer.",
                                    "maxLength": 17
                                },
                                "officePhoneNumber":
                                {
                                    "type": "string",
                                    "description": "Office phone numbers.",
                                    "maxLength": 17
                                },
                                "smsNumber":
                                {
                                    "type": "string",
                                    "description": "The mobile telephone SMS number of the customer",
                                    "maxLength": 17
                                },
                                "emailId":
                                {
                                    "type": "string",
                                    "description": "",
                                    "maxLength": 50
                                },
                                "faxNumber":
                                {
                                    "type": "string",
                                    "description": "",
                                    "maxLength": 17
                                }
                            }
                        }
                    },
                    "customerId":
                    {
                        "type": "string",
                        "description": "The identifier of the customer",
                        "maxLength": 10
                    },
                    "customerName":
                    {
                        "type": "string",
                        "description": "The name that is displayed for the customer",
                        "maxLength": 35
                    },
                    "dateOfBirth":
                    {
                        "type": "string",
                        "format": "date",
                        "description": "An individual's date of birth. "
                    },
                    "customerStatus":
                    {
                        "type": "string",
                        "description": "The internal bank status of a customer",
                        "maxLength": 4
                    },
                    "customerStatusName":
                    {
                        "type": "string",
                        "description": "",
                        "maxLength": 4
                    },
                    "customerType":
                    {
                        "type": "string",
                        "description": "",
                        "maxLength": 35
                    },
                    "versionNumber":
                    {
                        "type": "string",
                        "description": "",
                        "maxLength": 4
                    }
                }
            }
        },
        "PayloadHeader":
        {
            "properties":
            {
                "override":
                {
                    "type": "object",
                    "properties":
                    {
                        "overrideDetails":
                        {
                            "type": "array",
                            "items":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "id":
                                    {
                                        "type": "string",
                                        "description": "The identifier of the override"
                                    },
                                    "description":
                                    {
                                        "type": "string",
                                        "description": "The actual override message"
                                    },
                                    "responseCode":
                                    {
                                        "type": "string",
                                        "description": "The user input to accept/reject the override."
                                    }
                                }
                            }
                        }
                    }
                },
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        }
                    }
                }
            }
        },
        "CustomerContactDetail":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/PayloadHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/CustomerContactDetailBody"
                }
            },
            "description": "CustomerContactDetail"
        },
        "CustomerContactDetailBody":
        {
            "type": "object",
            "properties":
            {
                "contactDetails":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "phoneNumber":
                            {
                                "type": "string",
                                "description": "This field can contain the phone numbers of the customer."
                            },
                            "smsNumber":
                            {
                                "type": "string",
                                "description": "The mobile telephone SMS number of the customer"
                            },
                            "emailId":
                            {
                                "type": "string",
                                "description": ""
                            }
                        }
                    }
                },
                "officePhoneNumbers":
                {
                    "type": "array",
                    "description": "Office phone numbers.",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "officePhoneNumber":
                            {
                                "type": "string",
                                "description": "Office phone numbers."
                            }
                        }
                    }
                },
                "faxNumbers":
                {
                    "type": "array",
                    "description": "",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "faxNumber":
                            {
                                "type": "string",
                                "description": ""
                            }
                        }
                    }
                },
                "overrides":
                {
                    "type": "array",
                    "description": "Records the override messages generated during processing of an activity. ",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "override":
                            {
                                "type": "string",
                                "description": "Records the override messages generated during processing of an activity. "
                            }
                        }
                    }
                }
            }
        },
        "ScreenHeader":
        {
            "properties":
            {
                "id":
                {
                    "type": "string",
                    "description": "The Identifier of the record created"
                },
                "status":
                {
                    "type": "string",
                    "description": "The status of the record"
                },
                "transactionStatus":
                {
                    "type": "string",
                    "description": "The status of the transaction"
                },
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "CustomerContactDetailResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ScreenHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/CustomerContactDetailResponseBody"
                }
            },
            "description": "CustomerContactDetailResponse"
        },
        "CustomerContactDetailResponseBody":
        {
            "type": "object",
            "properties":
            {
                "contactDetails":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "phoneNumber":
                            {
                                "type": "string",
                                "description": "This field can contain the phone numbers of the customer."
                            },
                            "smsNumber":
                            {
                                "type": "string",
                                "description": "The mobile telephone SMS number of the customer"
                            },
                            "emailId":
                            {
                                "type": "string",
                                "description": ""
                            }
                        }
                    }
                },
                "officePhoneNumbers":
                {
                    "type": "array",
                    "description": "Office phone numbers.",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "officePhoneNumber":
                            {
                                "type": "string",
                                "description": "Office phone numbers."
                            }
                        }
                    }
                },
                "faxNumbers":
                {
                    "type": "array",
                    "description": "",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "faxNumber":
                            {
                                "type": "string",
                                "description": ""
                            }
                        }
                    }
                },
                "overrides":
                {
                    "type": "array",
                    "description": "Records the override messages generated during processing of an activity. ",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "override":
                            {
                                "type": "string",
                                "description": "Records the override messages generated during processing of an activity. "
                            }
                        }
                    }
                }
            }
        },
        "overrideBody":
        {
            "properties":
            {
                "overrideDetails":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "id":
                            {
                                "type": "string",
                                "description": "The identifier of the override"
                            },
                            "description":
                            {
                                "type": "string",
                                "description": "The actual override message"
                            }
                        }
                    }
                }
            }
        },
        "ScreenErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/ScreenErrorResponseBody"
                },
                "override":
                {
                    "$ref": "#/definitions/overrideBody"
                }
            },
            "description": "ScreenErrorResponse"
        },
        "ScreenErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "errorDetails":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "fieldName":
                            {
                                "type": "string",
                                "description": "The name of the field"
                            },
                            "code":
                            {
                                "type": "string",
                                "description": "The identifier of the error message"
                            },
                            "message":
                            {
                                "type": "string",
                                "description": "The actual t24 error message"
                            }
                        }
                    }
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type"
                }
            }
        },
        "CustomerBeneficiariesResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/CustomerBeneficiariesResponseBody"
                }
            },
            "description": "CustomerBeneficiariesResponse"
        },
        "CustomerBeneficiariesResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "beneficiaries":
                    {
                        "type": "array",
                        "description": "",
                        "items":
                        {
                            "type": "object",
                            "properties":
                            {
                                "beneficiaryAccountId":
                                {
                                    "type": "string",
                                    "description": "The identifier of the beneficiary account"
                                },
                                "beneficiaryCustomerId":
                                {
                                    "type": "string",
                                    "description": "The customer identifier where the beneficiary is a customer of the bank"
                                },
                                "beneficiaryBIC":
                                {
                                    "type": "string",
                                    "description": "BIC (Bank Identifier Code) of the beneficiary customer "
                                },
                                "beneficiaryIBAN":
                                {
                                    "type": "string",
                                    "description": "The IBAN of the beneficiary's account"
                                },
                                "beneficiaryNickName":
                                {
                                    "type": "string",
                                    "description": "The nick name of the beneficiary"
                                },
                                "beneficiaryCustomerNickName":
                                {
                                    "type": "string",
                                    "description": "The nick name assigned to a benefeciary by the customer"
                                },
                                "beneficiaryOurCharges":
                                {
                                    "type": "string",
                                    "description": "Determines who will be responsible for charges."
                                }
                            }
                        }
                    },
                    "beneficiaryId":
                    {
                        "type": "string",
                        "description": "The identifier of the beneficiary"
                    },
                    "companyName":
                    {
                        "type": "string",
                        "description": "The name that is displayed for the company"
                    },
                    "categoryId":
                    {
                        "type": "string",
[...]
