{"swagger":"2.0","info":{"description":"getStandingOrderStatus","version":"v1.0.0","title":"getStandingOrderStatus"},"host":"api.server.com","basePath":"/api/v1.0.0","schemes":["http","https"],"paths":{"/party/standingOrder/{standingOrderId}":{"get":{"operationId":"getStandingOrderStatus","produces":["application/json"],"parameters":[{"name":"standingOrderId","in":"path","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getStandingOrderStatusResponse","schema":{"$ref":"#/definitions/getStandingOrderStatusResponse"}},"default":{"description":"getStandingOrderStatusErrorResponse","schema":{"$ref":"#/definitions/getStandingOrderStatusErrorResponse"}}}}}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}},"page_size":{"type":"integer","format":"int32"},"page_start":{"type":"integer","format":"int32"},"total_size":{"type":"integer","format":"int32"},"page_token":{"type":"string"}}},"getStandingOrderStatusResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getStandingOrderStatusResponseBody"}},"description":"getStandingOrderStatusResponse"},"getStandingOrderStatusResponseBody":{"type":"array","items":{"type":"object","properties":{"standingOrderId":{"type":"string","description":"The unique standing order identifier","maxLength":35},"transactionAmount":{"type":"number","format":"int64","description":"The transaction amount"},"paymentCurrency":{"type":"string","description":"Holds the list of currencies for which the payment order will be accepted for the country and payment order with any currencies other than one defined will not be allowed.When left undefined then payment order will be open for all currencies","maxLength":3},"creditAccountId":{"type":"string","description":"The identifier of the credit account","maxLength":35},"creditAccountIBAN":{"type":"string","description":"IBAN of the credit account","maxLength":35},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account","maxLength":34},"chargeAmount":{"type":"string","description":"Holds the charge amount equivalent in charge account currency","maxLength":22},"transactionStatus":{"type":"string","description":"The status of the transaction","maxLength":4}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}}}},"getStandingOrderStatusErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getStandingOrderStatusErrorResponseBody"}},"description":"getStandingOrderStatusErrorResponse"},"getStandingOrderStatusErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}}}}
