{"swagger":"2.0","info":{"description":"deletePayment","version":"v1.0.0","title":"deletePayment"},"host":"api.server.com","basePath":"/api/v1.0.0","schemes":["http","https"],"paths":{"/party/paymentStop/{paymentId}":{"delete":{"operationId":"deletePayment","produces":["application/json"],"parameters":[{"name":"paymentId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"deletePaymentResponse","schema":{"$ref":"#/definitions/deletePaymentResponse"}},"default":{"description":"deletePaymentErrorResponse","schema":{"$ref":"#/definitions/deletePaymentErrorResponse"}}}}}},"definitions":{"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"deletePaymentResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/deletePaymentResponseBody"}},"description":"deletePaymentResponse"},"deletePaymentResponseBody":{"type":"object"},"ErrorHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"deletePaymentErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/deletePaymentErrorResponseBody"}},"description":"deletePaymentErrorResponse"},"deletePaymentErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}}}}
