{"swagger":"2.0","info":{"description":"PartyCustomerSweepService","version":"v1.0.0","title":"PartyCustomerSweep"},"host":"api.server.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/party/customers/{customerId}/sweeps":{"get":{"operationId":"getCustomerSweeps","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","description":"The identifier of the customer","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"CustomerSweepsResponse","schema":{"$ref":"#/definitions/partyCustomerSweepsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"partyCustomerSweepsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/partyCustomerSweepsResponseBody"}},"description":"partyCustomerSweepsResponse"},"partyCustomerSweepsResponseBody":{"type":"array","items":{"type":"object","properties":{"toAccountDetails":{"type":"array","description":"To account details of the customer","items":{"type":"object","properties":{"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"accountName":{"type":"string","description":"The name of the account that is displayed"},"accountCurrency":{"type":"string","description":"The currency of the account"},"minimumBalance":{"type":"string","description":"The minimum account balance required."},"maximumBalance":{"type":"string","description":"The maximum account balance allowed."}}}},"fromAccountDetails":{"type":"array","description":"From account details of the customer","items":{"type":"object","properties":{"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"accountName":{"type":"string","description":"The name of the account that is displayed"},"accountCurrency":{"type":"string","description":"The currency of the account"}}}},"sweepId":{"type":"string","description":"Identifier of the sweep","maxLength":35},"sweepType":{"type":"string","description":"Sweep types defined to the user."},"frequency":{"type":"string","description":""},"chargeId":{"type":"string","description":"The identifier of the charge"},"chargeAmount":{"type":"string","description":"Holds the charge amount equivalent in charge account currency"},"chargeAccountId":{"type":"string","description":"The identifier of the charge account"}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}}}}