{"swagger":"2.0","info":{"description":"Creating Beneficiary","version":"v1.0.0","title":"CreateBeneficiary"},"host":"api.server.com","basePath":"/api/v1.0.0","schemes":["https"],"paths":{"/party/{beneficiaryId}/beneficiary":{"post":{"operationId":"createBeneficiary","produces":["application/json"],"parameters":[{"name":"beneficiaryId","in":"path","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/createBeneficiary"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"}],"responses":{"200":{"description":"createBeneficiaryResponse","schema":{"$ref":"#/definitions/createBeneficiaryResponse"}},"default":{"description":"createBeneficiaryErrorResponse","schema":{"$ref":"#/definitions/createBeneficiaryErrorResponse"}}}}}},"definitions":{"PayloadHeader":{"type":"object","properties":{"override_acceptId":{"type":"string","description":"pass the record Id to accept all its overrides"}}},"createBeneficiary":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/createBeneficiaryBody"}},"description":"createBeneficiary"},"createBeneficiaryBody":{"type":"object","properties":{"beneficiaryNickNames":{"type":"array","description":"The nick name of the beneficiary","items":{"type":"object","properties":{"beneficiaryNickName":{"type":"string","description":"The nick name of the beneficiary"}}}},"beneficiaryNames":{"type":"array","description":"The name displayed of the beneficiary","items":{"type":"object","properties":{"beneficiaryName":{"type":"string","description":"The name displayed of the beneficiary"}}}},"beneficiaryAddressAreas":{"type":"array","description":"","items":{"type":"object","properties":{"beneficiaryAddressArea":{"type":"string","description":""}}}},"beneficiaryAddressCities":{"type":"array","description":"","items":{"type":"object","properties":{"beneficiaryAddressCity":{"type":"string","description":""}}}},"beneficiaryAddressCodes":{"type":"array","description":"","items":{"type":"object","properties":{"beneficiaryAddressCode":{"type":"string","description":""}}}},"beneficiaryAddressCountryIds":{"type":"array","description":"","items":{"type":"object","properties":{"beneficiaryAddressCountryId":{"type":"string","description":""}}}},"beneficiaryBICNames":{"type":"array","description":"The name displayed of the beneficiary BIC","items":{"type":"object","properties":{"beneficiaryBICName":{"type":"string","description":"The name displayed of the beneficiary BIC"}}}},"accountWithBankDisplayNames":{"type":"array","description":"It Specifies the beneficiary's full name","items":{"type":"object","properties":{"accountWithBankDisplayName":{"type":"string","description":"It Specifies the beneficiary's full name"}}}},"accountWithBankStreets":{"type":"array","description":"It specifies the street for the beneficiary","items":{"type":"object","properties":{"accountWithBankStreet":{"type":"string","description":"It specifies the street for the beneficiary"}}}},"accountWithBankCities":{"type":"array","description":"It specifies the town or city beneficiary belongs","items":{"type":"object","properties":{"accountWithBankCity":{"type":"string","description":"It specifies the town or city beneficiary belongs"}}}},"accountWithBankPostCodes":{"type":"array","description":"It specifies the postal address of the beneficiary","items":{"type":"object","properties":{"accountWithBankPostCode":{"type":"string","description":"It specifies the postal address of the beneficiary"}}}},"accountWithBankCountryIds":{"type":"array","description":"It indicates the country that beneficiary belongs","items":{"type":"object","properties":{"accountWithBankCountryId":{"type":"string","description":"It indicates the country that beneficiary belongs"}}}},"paymentDetails":{"type":"array","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment.","items":{"type":"object","properties":{"paymentDetail":{"type":"string","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment."}}}},"ultimateCreditorAddressLine-1":{"type":"array","items":{"type":"object","properties":{"ultimateCreditorAddressLine":{"type":"string","description":"It specifies the address fields to be used for the Ultimate creditor of payment"}}}},"owningCustomerId":{"type":"string","description":"The identifier of the owning customer"},"linkToBeneficiaryId":{"type":"string","description":""},"hintText":{"type":"string","description":""},"categoryId":{"type":"string","description":"The identifier of the category"},"benAltKey":{"type":"string","description":""},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account"},"beneficiaryCustomerId":{"type":"string","description":"The customer identifier where the beneficiary is a customer of the bank"},"bankSortCode":{"type":"string","description":"Defines the bank sorting code of the bank and branch. The code entered must exist as a sort code. 6 numeric characters."},"transactionTypeId":{"type":"string","description":"The unique transaction type identifier"},"BIC":{"type":"string","description":""},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer "},"beneficiaryBICCity":{"type":"string","description":"The city of the beneficiary BIC"},"accountWithBank":{"type":"string","description":"Identifies the bank where the beneficiary maintains his account."},"accountWithBankIBAN":{"type":"string","description":"IBAN of Account with Bank being the bank where the beneficiary maintains his account."},"accountWithBankClearingCode":{"type":"string","description":"Clearing code or sort code of the account with bank being the bank where the beneficiary maintains his account."},"beneficiaryOtherIdType":{"type":"string","description":"It specifies the type of beneficiary like private or beneficiary"},"beneficiaryOtherId":{"type":"string","description":"Other Identifier of beneficiary"},"beneficiaryDOB":{"type":"string","description":"It provides Date of Birth of the beneficiary"},"beneficiaryBirthProvince":{"type":"string","description":"It indicates the place of birth"},"beneficiaryBirthCity":{"type":"string","description":"It indicates the city of birth for the beneficiary"},"beneficiaryBirthCountry":{"type":"string","description":"It denotes the country of birth"},"beneficiarySchemeCode":{"type":"string","description":"It indicates the scheme code"},"beneficiarySchemeProprietary":{"type":"string","description":"Scheme proprietaries of the beneficiary"},"beneficiarySchemeIssuer":{"type":"string","description":"Scheme Issuer of the beneficiary"},"customerReference":{"type":"string","description":"The reference quoted by customer of the ordering account in a payment that is to be communicated to the beneficiary when a payment takes place"},"paymentOrderPurposeCodeId":{"type":"string","description":"The identifier of the payment order purpose code"},"paymentCategory":{"type":"string","description":"A catgorisation code for a payment request"},"preferredPaymentProduct":{"type":"string","description":"The preferred payment order product which allows payment through the beneficiary"},"preferredPaymentAmount":{"type":"string","description":"The payment amount to be populated in the FT (Fund Transfer) or Payment Order when the Beneficiary will be used is displayed in this field "},"paymentCurrency":{"type":"string","description":"Holds the list of currencies for which the payment order will be accepted for the country and payment order with any currencies other than one defined will not be allowed.When left undefined then payment order will be open for all currencies"},"beneficiaryOurCharges":{"type":"string","description":"Determines who will be responsible for charges."},"ultimateCreditorDisplayName":{"type":"string","description":"It specifies the name of the ultimate creditor of the payment"},"ultimateCreditorAddressType":{"type":"string","description":"It specifies the address type to be used for the Ultimate creditor of payment"},"ultimateCreditorBIC":{"type":"string","description":"It specifies the BIC code of Ultimate creditor of payment"},"ultimateCreditorCountry":{"type":"string","description":"It specifies the Country of Ultimate creditor of payment"},"ultimateCreditorOtherIdType":{"type":"string","description":"It specifies the type of ultimate creditor"},"ultimateCreditorOtherId":{"type":"string","description":"Other identifier of ultimate creditor"},"ultimateCreditorDOB":{"type":"string","description":"It indicates the Date Of Birth of ultimate creditor"},"ultimateCreditorBirthProvince":{"type":"string","description":"It indicates the place of birth for creditor"},"ultimateCreditorBirthCity":{"type":"string","description":"It indicates the birth city of ultimate creditor"},"ultimateCreditorBirthCountry":{"type":"string","description":"It indicates the country of birth for the creditor"},"ultimateCreditorSchemeCode":{"type":"string","description":"Scheme codes of the creditor"},"ultimateCreditorSchemeProprietary":{"type":"string","description":"Scheme proprietaries of the ultimate creditor"},"ultimateCreditorSchemeIssuer":{"type":"string","description":"Scheme Issuer of the ultimate creditor"}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"createBeneficiaryResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/createBeneficiaryResponseBody"}},"description":"createBeneficiaryResponse"},"createBeneficiaryResponseBody":{"type":"object","properties":{"beneficiaryNickNames":{"type":"array","description":"The nick name of the beneficiary","items":{"type":"object","properties":{"beneficiaryNickName":{"type":"string","description":"The nick name of the beneficiary"}}}},"beneficiaryNames":{"type":"array","description":"The name displayed of the beneficiary","items":{"type":"object","properties":{"beneficiaryName":{"type":"string","description":"The name displayed of the beneficiary"}}}},"beneficiaryAddressAreas":{"type":"array","description":"","items":{"type":"object","properties":{"beneficiaryAddressArea":{"type":"string","description":""}}}},"beneficiaryAddressCities":{"type":"array","description":"","items":{"type":"object","properties":{"beneficiaryAddressCity":{"type":"string","description":""}}}},"beneficiaryAddressCodes":{"type":"array","description":"","items":{"type":"object","properties":{"beneficiaryAddressCode":{"type":"string","description":""}}}},"beneficiaryAddressCountryIds":{"type":"array","description":"","items":{"type":"object","properties":{"beneficiaryAddressCountryId":{"type":"string","description":""}}}},"beneficiaryBICNames":{"type":"array","description":"The name displayed of the beneficiary BIC","items":{"type":"object","properties":{"beneficiaryBICName":{"type":"string","description":"The name displayed of the beneficiary BIC"}}}},"accountWithBankDisplayNames":{"type":"array","description":"It Specifies the beneficiary's full name","items":{"type":"object","properties":{"accountWithBankDisplayName":{"type":"string","description":"It Specifies the beneficiary's full name"}}}},"accountWithBankStreets":{"type":"array","description":"It specifies the street for the beneficiary","items":{"type":"object","properties":{"accountWithBankStreet":{"type":"string","description":"It specifies the street for the beneficiary"}}}},"accountWithBankCities":{"type":"array","description":"It specifies the town or city beneficiary belongs","items":{"type":"object","properties":{"accountWithBankCity":{"type":"string","description":"It specifies the town or city beneficiary belongs"}}}},"accountWithBankPostCodes":{"type":"array","description":"It specifies the postal address of the beneficiary","items":{"type":"object","properties":{"accountWithBankPostCode":{"type":"string","description":"It specifies the postal address of the beneficiary"}}}},"accountWithBankCountryIds":{"type":"array","description":"It indicates the country that beneficiary belongs","items":{"type":"object","properties":{"accountWithBankCountryId":{"type":"string","description":"It indicates the country that beneficiary belongs"}}}},"paymentDetails":{"type":"array","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment.","items":{"type":"object","properties":{"paymentDetail":{"type":"string","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment."}}}},"ultimateCreditorAddressLine-1":{"type":"array","items":{"type":"object","properties":{"ultimateCreditorAddressLine":{"type":"string","description":"It specifies the address fields to be used for the Ultimate creditor of payment"}}}},"owningCustomerId":{"type":"string","description":"The identifier of the owning customer"},"linkToBeneficiaryId":{"type":"string","description":""},"hintText":{"type":"string","description":""},"categoryId":{"type":"string","description":"The identifier of the category"},"benAltKey":{"type":"string","description":""},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account"},"beneficiaryCustomerId":{"type":"string","description":"The customer identifier where the beneficiary is a customer of the bank"},"bankSortCode":{"type":"string","description":"Defines the bank sorting code of the bank and branch. The code entered must exist as a sort code. 6 numeric characters."},"transactionTypeId":{"type":"string","description":"The unique transaction type identifier"},"BIC":{"type":"string","description":""},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer "},"beneficiaryBICCity":{"type":"string","description":"The city of the beneficiary BIC"},"accountWithBank":{"type":"string","description":"Identifies the bank where the beneficiary maintains his account."},"accountWithBankIBAN":{"type":"string","description":"IBAN of Account with Bank being the bank where the beneficiary maintains his account."},"accountWithBankClearingCode":{"type":"string","description":"Clearing code or sort code of the account with bank being the bank where the beneficiary maintains his account."},"beneficiaryOtherIdType":{"type":"string","description":"It specifies the type of beneficiary like private or beneficiary"},"beneficiaryOtherId":{"type":"string","description":"Other Identifier of beneficiary"},"beneficiaryDOB":{"type":"string","description":"It provides Date of Birth of the beneficiary"},"beneficiaryBirthProvince":{"type":"string","description":"It indicates the place of birth"},"beneficiaryBirthCity":{"type":"string","description":"It indicates the city of birth for the beneficiary"},"beneficiaryBirthCountry":{"type":"string","description":"It denotes the country of birth"},"beneficiarySchemeCode":{"type":"string","description":"It indicates the scheme code"},"beneficiarySchemeProprietary":{"type":"string","description":"Scheme proprietaries of the beneficiary"},"beneficiarySchemeIssuer":{"type":"string","description":"Scheme Issuer of the beneficiary"},"customerReference":{"type":"string","description":"The reference quoted by customer of the ordering account in a payment that is to be communicated to the beneficiary when a payment takes place"},"paymentOrderPurposeCodeId":{"type":"string","description":"The identifier of the payment order purpose code"},"paymentCategory":{"type":"string","description":"A catgorisation code for a payment request"},"preferredPaymentProduct":{"type":"string","description":"The preferred payment order product which allows payment through the beneficiary"},"preferredPaymentAmount":{"type":"string","description":"The payment amount to be populated in the FT (Fund Transfer) or Payment Order when the Beneficiary will be used is displayed in this field "},"paymentCurrency":{"type":"string","description":"Holds the list of currencies for which the payment order will be accepted for the country and payment order with any currencies other than one defined will not be allowed.When left undefined then payment order will be open for all currencies"},"beneficiaryOurCharges":{"type":"string","description":"Determines who will be responsible for charges."},"ultimateCreditorDisplayName":{"type":"string","description":"It specifies the name of the ultimate creditor of the payment"},"ultimateCreditorAddressType":{"type":"string","description":"It specifies the address type to be used for the Ultimate creditor of payment"},"ultimateCreditorBIC":{"type":"string","description":"It specifies the BIC code of Ultimate creditor of payment"},"ultimateCreditorCountry":{"type":"string","description":"It specifies the Country of Ultimate creditor of payment"},"ultimateCreditorOtherIdType":{"type":"string","description":"It specifies the type of ultimate creditor"},"ultimateCreditorOtherId":{"type":"string","description":"Other identifier of ultimate creditor"},"ultimateCreditorDOB":{"type":"string","description":"It indicates the Date Of Birth of ultimate creditor"},"ultimateCreditorBirthProvince":{"type":"string","description":"It indicates the place of birth for creditor"},"ultimateCreditorBirthCity":{"type":"string","description":"It indicates the birth city of ultimate creditor"},"ultimateCreditorBirthCountry":{"type":"string","description":"It indicates the country of birth for the creditor"},"ultimateCreditorSchemeCode":{"type":"string","description":"Scheme codes of the creditor"},"ultimateCreditorSchemeProprietary":{"type":"string","description":"Scheme proprietaries of the ultimate creditor"},"ultimateCreditorSchemeIssuer":{"type":"string","description":"Scheme Issuer of the ultimate creditor"}}},"ErrorHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"createBeneficiaryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/createBeneficiaryErrorResponseBody"}},"description":"createBeneficiaryErrorResponse"},"createBeneficiaryErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}}}}