{"swagger":"2.0","info":{"description":"Get and Management of Party External users","version":"v1.0.0","title":"Party External Users APIs "},"host":"api.temenos.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/party/externalUsers/userProfiles":{"get":{"operationId":"getExternalUserProfile","produces":["application/json"],"parameters":[{"name":"channelId","in":"query","description":"The identifier of the channel","required":false,"type":"string"},{"name":"arrangementId","in":"query","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ExternalUserProfileResponse","schema":{"$ref":"#/definitions/ExternalUserProfileResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/party/externalUsers/externalUserPreferences/{externalUserPreferencesId}":{"get":{"operationId":"getExternalUserPreferences","produces":["application/json"],"parameters":[{"name":"externalUserPreferencesId","in":"path","required":true,"type":"string"},{"name":"externalUserPreferenceId","in":"query","description":"The identifier of the external user's preferences","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ExternalUserPreferencesResponse","schema":{"$ref":"#/definitions/ExternalUserPreferencesResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}},"post":{"operationId":"createExternalUserPreference","produces":["application/json"],"parameters":[{"name":"externalUserPreferencesId","in":"path","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/ExternalUserPreference"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ExternalUserPreferenceResponse","schema":{"$ref":"#/definitions/ExternalUserPreferenceResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}},"put":{"operationId":"updateExternalUserPreference","produces":["application/json"],"parameters":[{"name":"externalUserPreferencesId","in":"path","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/ExternalUserPreference"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ExternalUserPreferenceResponse","schema":{"$ref":"#/definitions/ExternalUserPreferenceResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}},"delete":{"operationId":"deleteExternalUserPreference","produces":["application/json"],"parameters":[{"name":"externalUserPreferencesId","in":"path","required":true,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ExternalUserPreferenceResponse","schema":{"$ref":"#/definitions/ExternalUserPreferenceResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/party/externalUsers/{externalUserId}":{"put":{"operationId":"updateExternalUser","produces":["application/json"],"parameters":[{"name":"externalUserId","in":"path","description":"The identifier of the external user","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/ExternalUser"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ExternalUserResponse","schema":{"$ref":"#/definitions/ExternalUserResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"ExternalUserProfileResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/ExternalUserProfileResponseBody"}},"description":"ExternalUserProfileResponse"},"ExternalUserProfileResponseBody":{"type":"array","items":{"type":"object","properties":{"supportedModules":{"type":"array","items":{"type":"object","properties":{"supportedModule":{"type":"string","description":""}}}},"extSmsServices":{"type":"array","items":{"type":"object","properties":{"extSmsService":{"type":"string","description":""},"extSmsOperations":{"type":"array","items":{"type":"object","properties":{"extSmsOperation":{"type":"string","description":""}}}}}}},"channels":{"type":"array","description":"","items":{"type":"object","properties":{"channelId":{"type":"string","description":"The identifier of the channel"},"channelPosition":{"type":"string","description":""},"channelStartDate":{"type":"string","format":"date","description":""},"channelArrangementType":{"type":"string","description":""},"arrangementId":{"type":"string","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string."},"productId":{"type":"string","description":"The identifier of the product"},"productName":{"type":"string","description":"The name that is displayed for the product"},"arrangementCustomerId":{"type":"string","description":""},"arrangementCustomerName":{"type":"string","description":""},"subArrangementId":{"type":"string","description":""},"subArrangementName":{"type":"string","description":""},"channelStatus":{"type":"string","description":""},"termsAccepted":{"type":"string","description":"Defines whether the user has accepted the Terms and Conditions first displayed when the user logs in to the system for the very first time."},"loginMethod":{"type":"string","description":"The type of login method e.g. password, PIN, OTP"},"dateUsed":{"type":"array","items":{"type":"object","properties":{"dateLastUsed":{"type":"string","description":"The type of login method e.g. password, PIN, OTP"}}}},"timeUsed":{"type":"array","items":{"type":"object","properties":{"timeLastUsed":{"type":"string","description":"The type of login method e.g. password, PIN, OTP"}}}}}}},"contactDetails":{"type":"array","items":{"type":"object","properties":{"email":{"type":"string","description":""},"smsNumber":{"type":"string","description":"The mobile telephone SMS number of the customer"},"phoneNumber":{"type":"string","description":"This field can contain the phone numbers of the customer."}}}},"homeScreen":{"type":"string","description":""},"extSmsCustomers":{"type":"string","description":""},"privilegesCheckEnabled":{"type":"string","description":""},"localCurrencyId":{"type":"string","description":"The identifier of the local currency of the institution"},"countryId":{"type":"string","description":"The identifier of the country, normally the SWIFT code of the country."},"currentWorkingDate":{"type":"string","format":"date","description":"Identifies the date of business being processed in the financial Instituion."},"companyId":{"type":"string","description":"The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001"},"noOfArrangements":{"type":"string","description":""},"externalUserName":{"type":"string","description":"The user's name"},"externalUserSignMethod":{"type":"string","description":""},"languageId":{"type":"string","description":"The identifier of the language"},"customerId":{"type":"string","description":"The identifier of the customer"},"customerName":{"type":"string","description":"The name that is displayed for the customer"},"gender":{"type":"string","description":"The gender of the individual"},"holdingsAvailable":{"type":"string","description":""},"versionNumber":{"type":"string","description":""}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}},"ExternalUserPreferencesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/ExternalUserPreferencesResponseBody"}},"description":"ExternalUserPreferencesResponse"},"ExternalUserPreferencesResponseBody":{"type":"array","items":{"type":"object","properties":{"balanceProductLines":{"type":"array","description":"","items":{"type":"object","properties":{"balanceProductLine":{"type":"string","description":"","maxLength":20}}}},"serviceNames":{"type":"array","description":"The service related to an arrangement","items":{"type":"object","properties":{"serviceName":{"type":"string","description":"The service related to an arrangement","maxLength":35}}}},"externalUserPreferenceId":{"type":"string","description":"The identifier of the external user's preferences","maxLength":110},"groupName":{"type":"string","description":"The name that is displayed for the group","maxLength":25},"groupDisplayName":{"type":"string","description":"","maxLength":40},"groupPosition":{"type":"string","description":"","maxLength":35},"favouriteGroup":{"type":"string","description":"","maxLength":35},"versionNumber":{"type":"string","description":"","maxLength":4}}}},"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}},"audit":{"type":"object","properties":{"versionNumber":{"type":"string","description":"The CURR.NO. of the record"}}}}},"ExternalUser":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/ExternalUserBody"}},"description":"ExternalUser"},"ExternalUserBody":{"type":"object","properties":{"channels":{"type":"array","description":"","items":{"type":"object","properties":{"externalUserStatus":{"type":"string","description":"The status of the external user"},"termsAccepted":{"type":"string","description":"Defines whether the user has accepted the Terms and Conditions first displayed when the user logs in to the system for the very first time."}}}},"languageId":{"type":"string","description":"The identifier of the language"}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"ExternalUserResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/ExternalUserResponseBody"}},"description":"ExternalUserResponse"},"ExternalUserResponseBody":{"type":"object","properties":{"channels":{"type":"array","description":"","items":{"type":"object","properties":{"externalUserStatus":{"type":"string","description":"The status of the external user"},"termsAccepted":{"type":"string","description":"Defines whether the user has accepted the Terms and Conditions first displayed when the user logs in to the system for the very first time."}}}},"languageId":{"type":"string","description":"The identifier of the language"}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"ScreenErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/ScreenErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"ScreenErrorResponse"},"ScreenErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}},"ExternalUserPreference":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/ExternalUserPreferenceBody"}},"description":"ExternalUserPreference"},"ExternalUserPreferenceBody":{"type":"object","properties":{"customers":{"type":"array","description":"","items":{"type":"object","properties":{"customerId":{"type":"string","description":"The identifier of the customer"},"products":{"type":"array","items":{"type":"object","properties":{"productLineId":{"type":"string","description":"The identifier of the product line"},"productGroupId":{"type":"string","description":"The identifier of the product group"},"product":{"type":"string","description":""},"productName":{"type":"string","description":"The name that is displayed for the product"},"productPosition":{"type":"string","description":""}}}}}}},"balanceCustomers":{"type":"array","description":"","items":{"type":"object","properties":{"balanceCustomer":{"type":"string","description":""},"products":{"type":"array","items":{"type":"object","properties":{"balanceProductLine":{"type":"string","description":""},"balanceProductGroup":{"type":"string","description":""},"balanceProduct":{"type":"string","description":""}}}}}}},"serviceNames":{"type":"array","description":"The service related to an arrangement","items":{"type":"object","properties":{"serviceName":{"type":"string","description":"The service related to an arrangement"}}}},"groupName":{"type":"string","description":"The name that is displayed for the group"},"groupDisplayName":{"type":"string","description":""},"groupPosition":{"type":"string","description":""},"favouriteGroup":{"type":"string","description":""}}},"ExternalUserPreferenceResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/ExternalUserPreferenceResponseBody"}},"description":"ExternalUserPreferenceResponse"},"ExternalUserPreferenceResponseBody":{"type":"object","properties":{"customers":{"type":"array","description":"","items":{"type":"object","properties":{"customerId":{"type":"string","description":"The identifier of the customer"},"products":{"type":"array","items":{"type":"object","properties":{"productLineId":{"type":"string","description":"The identifier of the product line"},"productGroupId":{"type":"string","description":"The identifier of the product group"},"product":{"type":"string","description":""},"productName":{"type":"string","description":"The name that is displayed for the product"},"productPosition":{"type":"string","description":""}}}}}}},"balanceCustomers":{"type":"array","description":"","items":{"type":"object","properties":{"balanceCustomer":{"type":"string","description":""},"products":{"type":"array","items":{"type":"object","properties":{"balanceProductLine":{"type":"string","description":""},"balanceProductGroup":{"type":"string","description":""},"balanceProduct":{"type":"string","description":""}}}}}}},"serviceNames":{"type":"array","description":"The service related to an arrangement","items":{"type":"object","properties":{"serviceName":{"type":"string","description":"The service related to an arrangement"}}}},"groupName":{"type":"string","description":"The name that is displayed for the group"},"groupDisplayName":{"type":"string","description":""},"groupPosition":{"type":"string","description":""},"favouriteGroup":{"type":"string","description":""}}}}}