{
    "swagger": "2.0",
    "info":
    {
        "description": "Allows the viewing, creation and management of MiFID client information",
        "version": "v1.0.0",
        "title": "Party Customers MiFID APIs"
    },
    "host": "api.server.com",
    "basePath": "/api",
    "schemes": ["http", "https"],
    "security": [
    {
        "basicAuth": []
    }],
    "paths":
    {
        "/party/customers/{customerId}/MiFID":
        {
            "get":
            {
                "operationId": "getMiFIDClientInfo",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "customerId",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "MiFIDClientInfoResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/MiFIDClientInfoResponse"
                        }
                    },
                    "default":
                    {
                        "description": "MiFIDClientInfoErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/MiFIDClientInfoErrorResponse"
                        }
                    }
                }
            },
            "post":
            {
                "operationId": "createMiFIDClientInfo",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "customerId",
                    "in": "path",
                    "description": "The identifier of the customer",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/MiFIDClientInfo"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "MiFIDClientInfoResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/MiFIDClientInfoResponse"
                        }
                    },
                    "default":
                    {
                        "description": "MiFIDClientInfoErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/MiFIDClientInfoErrorResponse"
                        }
                    }
                }
            },
            "put":
            {
                "operationId": "updateMiFIDClientInfo",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "customerId",
                    "in": "path",
                    "description": "The identifier of the customer",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/MiFIDClientInfo"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "MiFIDClientInfoResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/MiFIDClientInfoResponse"
                        }
                    },
                    "default":
                    {
                        "description": "MiFIDClientInfoErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/MiFIDClientInfoErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions":
    {
        "basicAuth":
        {
            "type": "basic"
        }
    },
    "definitions":
    {
        "PayloadHeader":
        {
            "properties":
            {
                "override":
                {
                    "type": "object",
                    "properties":
                    {
                        "overrideDetails":
                        {
                            "type": "array",
                            "items":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "id":
                                    {
                                        "type": "string",
                                        "description": "The identifier of the override"
                                    },
                                    "description":
                                    {
                                        "type": "string",
                                        "description": "The actual override message"
                                    },
                                    "responseCode":
                                    {
                                        "type": "string",
                                        "description": "The user input to accept/reject the override."
                                    }
                                }
                            }
                        }
                    }
                },
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        }
                    }
                }
            }
        },
        "MiFIDClientInfo":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/PayloadHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/MiFIDClientInfoBody"
                }
            },
            "description": "MiFIDClientInfo"
        },
        "MiFIDClientInfoBody":
        {
            "type": "object",
            "properties":
            {
                "classification":
                {
                    "type": "string",
                    "description": ""
                },
                "requestDate":
                {
                    "type": "string",
                    "format": "date",
                    "description": "Indicates the date on which the client?s request to be classified as professional has been received."
                },
                "MiFIDRequired":
                {
                    "type": "string",
                    "description": "Specifies whether MiFID check is required or not"
                },
                "reviewDate":
                {
                    "type": "string",
                    "format": "date",
                    "description": "review date returned for applicant"
                }
            }
        },
        "ScreenHeader":
        {
            "properties":
            {
                "id":
                {
                    "type": "string",
                    "description": "The Identifier of the record created"
                },
                "status":
                {
                    "type": "string",
                    "description": "The status of the record"
                },
                "transactionStatus":
                {
                    "type": "string",
                    "description": "The status of the transaction"
                },
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "MiFIDClientInfoResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ScreenHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/MiFIDClientInfoResponseBody"
                }
            },
            "description": "MiFIDClientInfoResponse"
        },
        "MiFIDClientInfoResponseBody":
        {
            "type": "object",
            "properties":
            {
                "classification":
                {
                    "type": "string",
                    "description": ""
                },
                "requestDate":
                {
                    "type": "string",
                    "format": "date",
                    "description": "Indicates the date on which the client?s request to be classified as professional has been received."
                },
                "MiFIDRequired":
                {
                    "type": "string",
                    "description": "Specifies whether MiFID check is required or not"
                },
                "reviewDate":
                {
                    "type": "string",
                    "format": "date",
                    "description": "review date returned for applicant"
                }
            }
        },
        "ErrorHeader":
        {
            "properties":
            {
                "id":
                {
                    "type": "string",
                    "description": "The Identifier of the record created"
                },
                "status":
                {
                    "type": "string",
                    "description": "The status of the record"
                },
                "transactionStatus":
                {
                    "type": "string",
                    "description": "The status of the transaction"
                },
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "overrideBody":
        {
            "properties":
            {
                "overrideDetails":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "id":
                            {
                                "type": "string",
                                "description": "The identifier of the override"
                            },
                            "description":
                            {
                                "type": "string",
                                "description": "The actual override message"
                            }
                        }
                    }
                }
            }
        },
        "MiFIDClientInfoErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/MiFIDClientInfoErrorResponseBody"
                },
                "override":
                {
                    "$ref": "#/definitions/overrideBody"
                }
            },
            "description": "MiFIDClientInfoErrorResponse"
        },
        "MiFIDClientInfoErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "errorDetails":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "fieldName":
                            {
                                "type": "string",
                                "description": "The name of the field"
                            },
                            "code":
                            {
                                "type": "string",
                                "description": "The identifier of the error message"
                            },
                            "message":
                            {
                                "type": "string",
                                "description": "The actual t24 error message"
                            }
                        }
                    }
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type"
                }
            }
        }
    }
}