{"swagger":"2.0","info":{"description":"PartyDigitalChannelService","version":"v1.0.0","title":"Party Digital Channels"},"host":"api.server.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/party/customers/{customerId}/channels":{"get":{"operationId":"getCustomerDigitalChannels","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","description":"The identifier of the customer","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"CustomerDigitalChannelsResponse","schema":{"$ref":"#/definitions/partyCustomerDigitalChannelsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"partyCustomerDigitalChannelsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/partyCustomerDigitalChannelsResponseBody"}},"description":"partyCustomerDigitalChannelsResponse"},"partyCustomerDigitalChannelsResponseBody":{"type":"array","items":{"type":"object","properties":{"digitalChannels":{"type":"array","description":"Digital channels of the customers.","items":{"type":"object","properties":{"channelName":{"type":"string","description":"The name that is displayed for the channel","maxLength":20},"status":{"type":"string","description":"Get a detail status of the specified service/services","maxLength":35},"productLine":{"type":"string","description":"","maxLength":35},"arrangementId":{"type":"string","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.","maxLength":35},"startDate":{"type":"string","format":"date","description":"The start date"},"endDate":{"type":"string","format":"date","description":"The date an agreement or contract ceases - the opposite of start date"},"userType":{"type":"string","description":"The type of the user","maxLength":12},"loginMethod":{"type":"string","description":"The type of login method e.g. password, PIN, OTP","maxLength":20},"lastSignOnDate":{"type":"string","format":"date","description":"Last date and time the user last logged in."}}}},"isInternetBankingService":{"type":"boolean","description":"Indicates whether is Customer is subscribed to the internet banking service or not."},"isMobileBankingService":{"type":"boolean","description":"Indicates whether is Customer is subscribed to the mobile banking service or not."},"externalUserId":{"type":"string","description":"The identifier of the external user","maxLength":70},"externalUserName":{"type":"string","description":"The user's name","maxLength":70},"authenticationType":{"type":"string","description":"The type of authentication for this external user.It should be either External or User Maintained.","maxLength":35},"customerId":{"type":"number","description":"The identifier of the customer"},"customerName":{"type":"string","description":"The name that is displayed for the customer","maxLength":10}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}}}}