{"swagger":"2.0","info":{"description":"getFundsTransferCancelStatus","version":"v1.0.0","title":"getFundsTransferCancelStatus"},"host":"api.server.com","basePath":"/api/v1.0.0","schemes":["http","https"],"paths":{"/party/paymentStatus/{paymentId}":{"get":{"operationId":"getFundsTransferCancelStatus","produces":["application/json"],"parameters":[{"name":"paymentId","in":"path","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Random and unique string for each page. Used for security purpose","required":false,"type":"string"}],"responses":{"200":{"description":"getFundsTransferCancelStatusResponse","schema":{"$ref":"#/definitions/getFundsTransferCancelStatusResponse"}},"default":{"description":"getFundsTransferCancelStatusErrorResponse","schema":{"$ref":"#/definitions/getFundsTransferCancelStatusErrorResponse"}}}}}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}},"page_size":{"type":"integer","format":"int32"},"page_start":{"type":"integer","format":"int32"},"total_size":{"type":"integer","format":"int32"},"page_token":{"type":"string"}}},"getFundsTransferCancelStatusResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getFundsTransferCancelStatusResponseBody"}},"description":"getFundsTransferCancelStatusResponse"},"getFundsTransferCancelStatusResponseBody":{"type":"array","items":{"type":"object","properties":{"paymentId":{"type":"string","description":"","maxLength":25},"transactionStatus":{"type":"string","description":"","maxLength":4}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}}}},"getFundsTransferCancelStatusErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getFundsTransferCancelStatusErrorResponseBody"}},"description":"getFundsTransferCancelStatusErrorResponse"},"getFundsTransferCancelStatusErrorResponseBody":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}}}}