{"swagger":"2.0","info":{"description":"PartyRelationshipDetails","version":"v1.0.0","title":"Party Relationship Details"},"host":"api.server.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/party/customers/{customerId}/relationships":{"get":{"operationId":"getCustomerRelationshipDetails","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","description":"The identifier of the customer","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"CustomerRelationshipDetailsResponse","schema":{"$ref":"#/definitions/partyCustomerRelationshipDetailsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"partyCustomerRelationshipDetailsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/partyCustomerRelationshipDetailsResponseBody"}},"description":"partyCustomerRelationshipDetailsResponse"},"partyCustomerRelationshipDetailsResponseBody":{"type":"array","items":{"type":"object","properties":{"relationshipDetails":{"type":"array","description":"Relationship details between the customers.","items":{"type":"object","properties":{"relationPartyId":{"type":"string","description":"Related customers or persons/entities that are part of the relationship.","maxLength":20},"relatedPartyName":{"type":"string","description":"Name of the related party.","maxLength":20},"relatedPartyType":{"type":"string","description":"Type of the related party which is part of relationship.","maxLength":10},"relatedAs":{"type":"string","description":"Represents the entity type for Customer or Person/Entity.","maxLength":13},"relationshipCode":{"type":"string","description":"Represents the relation between the parties.","maxLength":3},"relationship":{"type":"string","description":"","maxLength":3}}}},"partyRelationshipId":{"type":"string","description":"Id of the party relationship.","maxLength":35}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}}}}