{"swagger":"2.0","info":{"description":"PartyJointCustomerDetailService","version":"v1.0.0","title":"Party Joint Customer Details"},"host":"api.server.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/party/customers/{customerId}/jointCustomers":{"get":{"operationId":"getJointCustomerDetails","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","description":"The identifier of the customer","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"JointCustomerDetailsResponse","schema":{"$ref":"#/definitions/partyJointCustomerDetailsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"partyJointCustomerDetailsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/partyJointCustomerDetailsResponseBody"}},"description":"partyJointCustomerDetailsResponse"},"partyJointCustomerDetailsResponseBody":{"type":"array","items":{"type":"object","properties":{"jointCustomerDetails":{"type":"array","description":"Joint customer details about the customer.","items":{"type":"object","properties":{"jointRelationCode":{"type":"number","description":""},"jointRelationDisplayName":{"type":"string","description":"Describes the Relation code and is used for the enrichment of the code.","maxLength":3},"jointCustomer":{"type":"number","description":""},"jointCustomerName":{"type":"string","description":"Name of the joint customer.","maxLength":10},"reverseJointRelationCode":{"type":"number","description":"Relationship code for the Related Customer."},"reverseJointRelationName":{"type":"string","description":"Describes the Relation code and is used for the enrichment of the code for reverse joint relation.","maxLength":3},"deliveryOption":{"type":"array","items":{"type":"object","properties":{"jointRelationRoleId":{"type":"number","description":"Role of joint customer with this customer."},"jointRoleDisplayName":{"type":"string","description":"Description of the joint customer role.","maxLength":20},"jointRelationRoleNotes":{"type":"string","description":" Additional notes about the role.","maxLength":35},"jointRelationDeliveryOption":{"type":"string","description":"This is used to specify what delivery addressing is to be used for the link customer. ","maxLength":8},"jointRelationRoleInfo":{"type":"string","description":"Additional information of the role.","maxLength":35}}}}}}},"customerId":{"type":"number","description":"The identifier of the customer"}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}}}}