{"swagger":"2.0","info":{"description":"Management of Travel Notifications","version":"v1.0.0","title":"Party Travel Notifications APIs"},"host":"api.temenos.com","basePath":"/api/v1.0.0/","schemes":["http"],"security":[{"basicAuth":[]}],"paths":{"/party/travelNotifications/{travelNotificationId}":{"put":{"operationId":"updateTravelNotification","produces":["application/json"],"parameters":[{"name":"travelNotificationId","in":"path","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/TravelNotification"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"TravelNotificationResponse","schema":{"$ref":"#/definitions/TravelNotificationResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}},"delete":{"operationId":"deleteTravelNotification","produces":["application/json"],"parameters":[{"name":"travelNotificationId","in":"path","required":true,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"TravelNotificationResponse","schema":{"$ref":"#/definitions/TravelNotificationResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/party/travelNotifications":{"post":{"operationId":"createTravelNotification","produces":["application/json"],"parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/TravelNotification"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"TravelNotificationResponse","schema":{"$ref":"#/definitions/TravelNotificationResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}},"audit":{"type":"object","properties":{"versionNumber":{"type":"string","description":"The CURR.NO. of the record"}}}}},"TravelNotification":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/TravelNotificationBody"}},"description":"TravelNotification"},"TravelNotificationBody":{"type":"object","properties":{"travelNotifications":{"type":"array","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","items":{"type":"object","properties":{"countryId":{"type":"string","description":"The identifier of the country, normally the SWIFT code of the country."},"startDate":{"type":"string","format":"date","description":"The start date"},"startTime":{"type":"string","description":"Indicates start time"},"endTime":{"type":"string","description":"Indicates end time"},"endDate":{"type":"string","format":"date","description":"The date an agreement or contract ceases - the opposite of start date"},"visitPurpose":{"type":"string","description":""},"scheduleType":{"type":"string","description":"Schedule Type"},"travelStatus":{"type":"string","description":""},"additionalInformation":{"type":"string","description":"Additional Information provided to add context"},"contactDetails":{"type":"array","items":{"type":"object","properties":{"contactDetail":{"type":"string","description":""}}}},"accountIds":{"type":"array","items":{"type":"object","properties":{"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."}}}}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"customerId":{"type":"string","description":"The identifier of the customer"},"overallStatus":{"type":"string","description":""},"cancelRequest":{"type":"string","description":""}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"TravelNotificationResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/TravelNotificationResponseBody"}},"description":"TravelNotificationResponse"},"TravelNotificationResponseBody":{"type":"object","properties":{"travelNotifications":{"type":"array","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","items":{"type":"object","properties":{"countryId":{"type":"string","description":"The identifier of the country, normally the SWIFT code of the country."},"startDate":{"type":"string","format":"date","description":"The start date"},"startTime":{"type":"string","description":"Indicates start time"},"endTime":{"type":"string","description":"Indicates end time"},"endDate":{"type":"string","format":"date","description":"The date an agreement or contract ceases - the opposite of start date"},"visitPurpose":{"type":"string","description":""},"scheduleType":{"type":"string","description":"Schedule Type"},"travelStatus":{"type":"string","description":""},"additionalInformation":{"type":"string","description":"Additional Information provided to add context"},"contactDetails":{"type":"array","items":{"type":"object","properties":{"contactDetail":{"type":"string","description":""}}}},"accountIds":{"type":"array","items":{"type":"object","properties":{"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."}}}}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"customerId":{"type":"string","description":"The identifier of the customer"},"overallStatus":{"type":"string","description":""},"cancelRequest":{"type":"string","description":""}}},"ErrorHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"ScreenErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/ScreenErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"ScreenErrorResponse"},"ScreenErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}}}}