{"swagger":"2.0","info":{"description":"Management of Party Beneficiaries","version":"v1.0.0","title":"Party Beneficiaries APIs"},"host":"api.temenos.com","basePath":"/api/v1.0.0/","schemes":["http"],"security":[{"basicAuth":[]}],"paths":{"/party/beneficiaries/{beneficiaryId}":{"put":{"operationId":"updateBeneficiary","produces":["application/json"],"parameters":[{"name":"beneficiaryId","in":"path","description":"The identifier of the beneficiary","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/Beneficiary"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"BeneficiaryResponse","schema":{"$ref":"#/definitions/BeneficiaryResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}},"delete":{"operationId":"deleteBeneficiary","produces":["application/json"],"parameters":[{"name":"beneficiaryId","in":"path","description":"The identifier of the beneficiary","required":true,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"BeneficiaryResponse","schema":{"$ref":"#/definitions/BeneficiaryResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/party/beneficiaries":{"post":{"operationId":"createBeneficiary","produces":["application/json"],"parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/Beneficiary"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"BeneficiaryResponse","schema":{"$ref":"#/definitions/BeneficiaryResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}},"audit":{"type":"object","properties":{"versionNumber":{"type":"string","description":"The CURR.NO. of the record"}}}}},"Beneficiary":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/BeneficiaryBody"}},"description":"Beneficiary"},"BeneficiaryBody":{"type":"object","properties":{"beneficiaryNickNames":{"type":"array","description":"The nick name of the beneficiary","items":{"type":"object","properties":{"beneficiaryNickName":{"type":"string","description":"The nick name of the beneficiary"}}}},"beneficiaryBICIBANNames":{"type":"array","items":{"type":"object","properties":{"beneficiaryBICIBANName":{"type":"string","description":""}}}},"paymentDetails":{"type":"array","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment.","items":{"type":"object","properties":{"paymentDetail":{"type":"string","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment."}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"transactionType":{"type":"string","description":""},"beneficiaryCustomerId":{"type":"string","description":"The customer identifier where the beneficiary is a customer of the bank"},"customerId":{"type":"string","description":"The identifier of the customer"},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account"},"bankSortCode":{"type":"string","description":"Defines the bank sorting code of the bank and branch. The code entered must exist as a sort code. 6 numeric characters."},"customerReference":{"type":"string","description":"The reference quoted by customer of the ordering account in a payment that is to be communicated to the beneficiary when a payment takes place"},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer "},"defaultNarrative":{"type":"string","description":""},"linkToBeneficiaryId":{"type":"string","description":""},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"beneficiaryBICIBAN":{"type":"string","description":""},"beneficiaryBICIBANCity":{"type":"string","description":""},"preferredPaymentAmount":{"type":"number","description":"The payment amount to be populated in the FT (Fund Transfer) or Payment Order when the Beneficiary will be used is displayed in this field "},"preferredPaymentProduct":{"type":"string","description":"The preferred payment order product which allows payment through the beneficiary"},"accountWithBank":{"type":"string","description":"Identifies the bank where the beneficiary maintains his account."},"paymentCurrencyId":{"type":"string","description":"The identifier of the payment currency"},"beneficiaryOurCharges":{"type":"string","description":"Determines who will be responsible for charges."},"paymentCountry":{"type":"string","description":"The country to which a payment is sent, usually where the beneficiary resides"},"accountWithBankSortCode":{"type":"string","description":""},"recordStatus":{"type":"string","description":"The status of the record processed"}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"BeneficiaryResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/BeneficiaryResponseBody"}},"description":"BeneficiaryResponse"},"BeneficiaryResponseBody":{"type":"object","properties":{"beneficiaryNickNames":{"type":"array","description":"The nick name of the beneficiary","items":{"type":"object","properties":{"beneficiaryNickName":{"type":"string","description":"The nick name of the beneficiary"}}}},"beneficiaryBICIBANNames":{"type":"array","items":{"type":"object","properties":{"beneficiaryBICIBANName":{"type":"string","description":""}}}},"paymentDetails":{"type":"array","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment.","items":{"type":"object","properties":{"paymentDetail":{"type":"string","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment."}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"transactionType":{"type":"string","description":""},"beneficiaryCustomerId":{"type":"string","description":"The customer identifier where the beneficiary is a customer of the bank"},"customerId":{"type":"string","description":"The identifier of the customer"},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account"},"bankSortCode":{"type":"string","description":"Defines the bank sorting code of the bank and branch. The code entered must exist as a sort code. 6 numeric characters."},"customerReference":{"type":"string","description":"The reference quoted by customer of the ordering account in a payment that is to be communicated to the beneficiary when a payment takes place"},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer "},"defaultNarrative":{"type":"string","description":""},"linkToBeneficiaryId":{"type":"string","description":""},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"beneficiaryBICIBAN":{"type":"string","description":""},"beneficiaryBICIBANCity":{"type":"string","description":""},"preferredPaymentAmount":{"type":"number","description":"The payment amount to be populated in the FT (Fund Transfer) or Payment Order when the Beneficiary will be used is displayed in this field "},"preferredPaymentProduct":{"type":"string","description":"The preferred payment order product which allows payment through the beneficiary"},"accountWithBank":{"type":"string","description":"Identifies the bank where the beneficiary maintains his account."},"paymentCurrencyId":{"type":"string","description":"The identifier of the payment currency"},"beneficiaryOurCharges":{"type":"string","description":"Determines who will be responsible for charges."},"paymentCountry":{"type":"string","description":"The country to which a payment is sent, usually where the beneficiary resides"},"accountWithBankSortCode":{"type":"string","description":""},"recordStatus":{"type":"string","description":"The status of the record processed"}}},"ErrorHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"ScreenErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/ScreenErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"ScreenErrorResponse"},"ScreenErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}}}}