{"swagger":"2.0","info":{"description":"PartyPersonalDetailService","version":"v1.0.0","title":"Party Personal Details"},"host":"api.server.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/party/customers/{customerId}/personalProfiles":{"get":{"operationId":"getCustomerPersonalDetails","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","description":"The identifier of the customer","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"CustomerPersonalDetailsResponse","schema":{"$ref":"#/definitions/partyCustomerPersonalDetailsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"partyCustomerPersonalDetailsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/partyCustomerPersonalDetailsResponseBody"}},"description":"partyCustomerPersonalDetailsResponse"},"partyCustomerPersonalDetailsResponseBody":{"type":"array","items":{"type":"object","properties":{"employDetails":{"type":"array","description":"","items":{"type":"object","properties":{"employStatus":{"type":"string","description":"Employment status of the customer.","maxLength":35},"occupation":{"type":"string","description":"Occupation of the customer.","maxLength":35},"employJobTitle":{"type":"string","description":" Job Title of the customers.","maxLength":10},"employerName":{"type":"string","description":"Name of the customer's employer.","maxLength":35},"employStartDate":{"type":"string","format":"date","description":"Starting date of the customer's employment."},"salaryCurrency":{"type":"string","description":"Salary currency of the customer.","maxLength":3},"salaryAmount":{"type":"number","description":"Gross salary of the customer."},"employerBusiness":{"type":"string","description":"The business of customer's employer involved.","maxLength":35},"annualBonus":{"type":"number","description":"annual bonus Annual the individual"},"salaryFrequency":{"type":"string","description":"Indicates the payment frequency of salary.","maxLength":17},"netMonthlyIncome":{"type":"string","description":"Net income earned by customer each month.","maxLength":19},"netMonthlyExpense":{"type":"string","description":"Net expenses of customer each month.","maxLength":19},"Addresses":{"type":"array","items":{"type":"object","properties":{"employerAddress":{"type":"string","description":"The address of the customer's employer.","maxLength":35}}}}}}},"residenceDetails":{"type":"array","description":"Residential details of the customer.","items":{"type":"object","properties":{"residenceStatus":{"type":"string","description":"The residential status","maxLength":35},"residenceType":{"type":"string","description":"Residence type of the customer.Type should be one of Farmhouse, Independent house, Residential Apartment, Serviced Apartments","maxLength":35},"residenceValue":{"type":"number","description":"Price of the residence."},"residenceMortgageValue":{"type":"number","description":"Mortgage amount on property."},"residenceSince":{"type":"string","format":"date","description":"The date since the user has obtained the residence."}}}},"communicationDevice":{"type":"array","description":"communication devices used by the customer.","items":{"type":"object","properties":{"communicationType":{"type":"string","description":"Communication type to the customer.Type should be one of Proposals, Alert, Compaign, New Product Update,Robinsons List, Statements.","maxLength":35},"preferredChannel":{"type":"string","description":"Preferred method of contact to the customer.","maxLength":20}}}},"customerId":{"type":"number","description":"The identifier of the customer"},"customerName":{"type":"string","description":"The name that is displayed for the customer","maxLength":35},"isSecureMessage":{"type":"boolean","description":"To identify whether the customer will receive a SECURE message or not. "},"isInternetBankingService":{"type":"boolean","description":"Indicates whether is Customer is subscribed to the internet banking service or not."},"isMobileBankingService":{"type":"boolean","description":"Indicates whether is Customer is subscribed to the mobile banking service or not."},"customerSegment":{"type":"string","description":"Segment of the customer.","maxLength":6},"customerVisitCount":{"type":"number","description":"Count of the Number of visits to the bank."},"customerRecentVisitDate":{"type":"string","format":"date","description":"Recently visited date of the customer to the bank."},"assetCurrency":{"type":"string","description":"Asset Currency"},"assetAmount":{"type":"number","description":"Asset Amount"},"customerLiability":{"type":"string","description":"Indicates the customer consolidation number for credit grouping purposes,within the same branch/country."}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}}}}