{"swagger":"2.0","info":{"description":"PartyKycDetails","version":"v1.0.0","title":"Party Kyc Details"},"host":"api.server.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/party/customers/{customerId}/KYC":{"get":{"operationId":"getCustomerKYCDetails","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","description":"The identifier of the customer","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"CustomerKYCDetailsResponse","schema":{"$ref":"#/definitions/partyCustomerKYCDetailsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"partyCustomerKYCDetailsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/partyCustomerKYCDetailsResponseBody"}},"description":"partyCustomerKYCDetailsResponse"},"partyCustomerKYCDetailsResponseBody":{"type":"array","items":{"type":"object","properties":{"contactDate":{"type":"string","format":"date","description":"Date that first contact was made with the Customer."},"introducer":{"type":"string","description":"Name of the person who introduced the Customer to the bank","maxLength":35},"kycRelationship":{"type":"string","description":"Indicates the relationship this customer is being held in.","maxLength":35},"isKycComplete":{"type":"boolean","description":"To check information related to the customer has been collected and verified."},"kycLastReviewDate":{"type":"string","format":"date","description":"Date customer KYC information was last reviewed."},"kycNextSystemReviewDate":{"type":"string","format":"date","description":"Date system has calculated customer should next be reviewed."},"kycNextReviewDate":{"type":"string","format":"date","description":"Manual specification of next review date."},"amlCheck":{"type":"string","description":"Describe the legal controls that is required by institutions to prevent or report Anti Money Laundering activities. It can have YES, SENT or NULL values.","maxLength":4},"amlResult":{"type":"string","description":"Describe the results of Anti Money Laundering.","maxLength":14},"amlLastResultDate":{"type":"string","format":"date","description":"The last date of Anti Money Laundering result is performed."}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}}}}