{"swagger":"2.0","info":{"description":"standingorder","version":"v1.0.0","title":"standingorder"},"host":"api.server.com","basePath":"/api/v1.0.0","schemes":["http","https"],"paths":{"/party/standingOrders/{standingOrderId}":{"post":{"operationId":"createStanding Order","produces":["application/json"],"parameters":[{"name":"standingOrderId","in":"path","required":true,"type":"string"},{"in":"body","name":"payload","required":true,"schema":{"$ref":"#/definitions/createStandingOrder"}},{"name":"validate_only","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"createStanding OrderResponse","schema":{"$ref":"#/definitions/createStandingOrderResponse"}},"default":{"description":"createStanding OrderErrorResponse","schema":{"$ref":"#/definitions/createStandingOrderErrorResponse"}}}}}},"definitions":{"PayloadHeader":{"type":"object","properties":{"override_acceptId":{"type":"string"}}},"createStandingOrder":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/createStandingOrderBody"}},"description":"createStandingOrder"},"createStandingOrderBody":{"type":"object","properties":{"endToEndReference":{"type":"string","description":"This field is used for SEPA"},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"BIC":{"type":"string","description":""},"ultimateCreditor":{"type":"string","description":"The ultimate creditor"},"creditorAddress":{"type":"string","description":"The address of the creditor"},"instructionIdReference":{"type":"string","description":"The reference used in SEPA payments to indicate the type of payment"},"paymentDetail":{"type":"string","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment."},"currentFrequencyDate":{"type":"string","format":"date","description":"Identifies the date component of field CURRENT.FREQUENCY- The Standing Order Application will execute the Standing Order instruction (i.e. the currency and amount specified in the two previous fields) according to the frequency specified in this field "},"currentEndDate":{"type":"string","format":"date","description":"Identifies the Current End Date of the Standing Order for the Currency, "},"debitCurrency":{"type":"string","description":"Currency of the debit account"},"currentAmountBalance":{"type":"number","format":"int64","description":"The amount of the Standing Order, or for the Balance Maintenance Standing Order types, will define the Balance to be maintained in the Account.Balance Maintenance Standing Order types will always make reference to the CLEARED Balance."},"beneficiaryOurCharges":{"type":"string","description":"Determines who will be responsible for charges."}}},"ScreenHeader":{"properties":{"id":{"type":"string"},"status":{"type":"string"},"transactionStatus":{"type":"string"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}}}},"createStandingOrderResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/createStandingOrderResponseBody"}},"description":"createStandingOrderResponse"},"createStandingOrderResponseBody":{"type":"object","properties":{"endToEndReference":{"type":"string","description":"This field is used for SEPA"},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"BIC":{"type":"string","description":""},"ultimateCreditor":{"type":"string","description":"The ultimate creditor"},"creditorAddress":{"type":"string","description":"The address of the creditor"},"instructionIdReference":{"type":"string","description":"The reference used in SEPA payments to indicate the type of payment"},"paymentDetail":{"type":"string","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment."},"currentFrequencyDate":{"type":"string","format":"date","description":"Identifies the date component of field CURRENT.FREQUENCY- The Standing Order Application will execute the Standing Order instruction (i.e. the currency and amount specified in the two previous fields) according to the frequency specified in this field "},"currentEndDate":{"type":"string","format":"date","description":"Identifies the Current End Date of the Standing Order for the Currency, "},"debitCurrency":{"type":"string","description":"Currency of the debit account"},"currentAmountBalance":{"type":"number","format":"int64","description":"The amount of the Standing Order, or for the Balance Maintenance Standing Order types, will define the Balance to be maintained in the Account.Balance Maintenance Standing Order types will always make reference to the CLEARED Balance."},"beneficiaryOurCharges":{"type":"string","description":"Determines who will be responsible for charges."}}},"ErrorHeader":{"properties":{"id":{"type":"string"},"status":{"type":"string"},"transactionStatus":{"type":"string"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32"},"parse_time":{"type":"integer","format":"int32"}}}}},"createStandingOrderErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/createStandingOrderErrorResponseBody"}},"description":"createStandingOrderErrorResponse"},"createStandingOrderErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string"},"code":{"type":"string"},"message":{"type":"string"}}}},"type":{"type":"string"}}}}}