{"swagger":"2.0","info":{"description":"Get and Management of Payments","version":"v1.0.0","title":"Payments APIs"},"host":"api.temenos.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/payments/paymentOrders/External":{"post":{"operationId":"createExternalPaymentOrder","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/createExternalPaymentOrder"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"SepaInstantPaymentResponse","schema":{"$ref":"#/definitions/SepaInstantPaymentResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/payments/paymentOrders/{paymentOrderId}/cancelPaymentOrder":{"put":{"operationId":"cancelExternalPaymentOrder","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/cancelExternalPaymentOrder"}},{"name":"paymentOrderId","in":"path","required":true,"type":"string"},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ExternalPaymentOrderResponse","schema":{"$ref":"#/definitions/ExternalPaymentOrderResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/payments/IBANStructures/{countryId}":{"get":{"operationId":"getIBANStructures","parameters":[{"name":"countryId","in":"path","required":true,"type":"string"},{"name":"IBANCountryCode","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"IBANStructuresResponse","schema":{"$ref":"#/definitions/IBANStructuresResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/payments/IBANs/{inIBANPlusId}":{"get":{"operationId":"getIBANs","parameters":[{"name":"inIBANPlusId","in":"path","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"IBANsResponse","schema":{"$ref":"#/definitions/IBANsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/payments/paymentOrders":{"get":{"operationId":"getPaymentOrders","parameters":[{"name":"paymentOrderId","in":"query","description":"The identifier of the payment order","required":false,"type":"string"},{"name":"currentPaymentState","in":"query","required":false,"type":"string"},{"name":"paymentStatus","in":"query","description":"","required":false,"type":"string"},{"name":"paymentOrderProductIdNE","in":"query","required":false,"type":"string"},{"name":"paymentOrderProductId","in":"query","description":"The identifier of the payment order product","required":false,"type":"string"},{"name":"debitAccountId","in":"query","description":"The identifier of the debit account","required":false,"type":"string"},{"name":"orderingCustomerId","in":"query","description":"The identifier of the ordering customer","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PaymentOrdersResponse","schema":{"$ref":"#/definitions/PaymentOrdersResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/payments/paymentOrders/{paymentOrderId}":{"put":{"operationId":"updatePaymentOrder","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/updatePaymentOrder"}},{"name":"paymentOrderId","in":"path","required":true,"type":"string"},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PaymentOrderResponse","schema":{"$ref":"#/definitions/PaymentOrderResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}},"delete":{"operationId":"deletePaymentOrder","parameters":[{"name":"paymentOrderId","in":"path","required":true,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PaymentOrderResponse","schema":{"$ref":"#/definitions/PaymentOrderResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/payments/paymentOrders/":{"post":{"operationId":"createPaymentOrder","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/createPaymentOrder"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PaymentOrderResponse","schema":{"$ref":"#/definitions/PaymentOrderResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/payments/paymentOrders/domesticPayments":{"post":{"operationId":"createDomesticPayment","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/createDomesticPayment"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PaymentOrderResponse","schema":{"$ref":"#/definitions/PaymentOrderResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/payments/paymentOrders/internationalPayments":{"post":{"operationId":"createInternationalPayment","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/createInternationalPayment"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PaymentOrderResponse","schema":{"$ref":"#/definitions/PaymentOrderResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/payments/paymentOrders/utilityPayments":{"post":{"operationId":"createUtilityPayment","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/createUtilityPayment"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PaymentOrderResponse","schema":{"$ref":"#/definitions/PaymentOrderResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/payments/depositPayments":{"post":{"operationId":"createDepositPayment","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/createDepositPayment"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"FundsTransferResponse","schema":{"$ref":"#/definitions/FundsTransferResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/payments/depositWithdrawals":{"post":{"operationId":"createDepositWithdrawal","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/createDepositWithdrawal"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"FundsTransferResponse","schema":{"$ref":"#/definitions/FundsTransferResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/payments/loanPayments":{"post":{"operationId":"createLoanPayment","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/createLoanPayment"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"FundsTransferResponse","schema":{"$ref":"#/definitions/FundsTransferResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/payments/loanPartialPayments":{"post":{"operationId":"createLoanPartialPayment","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/createLoanPartialPayment"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"FundsTransferResponse","schema":{"$ref":"#/definitions/FundsTransferResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/payments/standingOrders":{"get":{"operationId":"getStandingOrders","parameters":[{"name":"debitCustomerId","in":"query","description":"The identifier of the customer that is debited","required":false,"type":"string"},{"name":"standingOrderId","in":"query","description":"The unique standing order identifier","required":false,"type":"string"},{"name":"accountId","in":"query","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","required":false,"type":"string"},{"name":"orderingCustomerId","in":"query","description":"The identifier of the ordering customer","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"StandingOrdersResponse","schema":{"$ref":"#/definitions/StandingOrdersResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/payments/standingOrders/{standingOrderId}":{"post":{"operationId":"createStandingOrder","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/createStandingOrder"}},{"name":"standingOrderId","in":"path","required":true,"type":"string"},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"StandingOrderResponse","schema":{"$ref":"#/definitions/StandingOrderResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}},"put":{"operationId":"updateStandingOrder","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/updateStandingOrder"}},{"name":"standingOrderId","in":"path","required":true,"type":"string"},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"StandingOrderResponse","schema":{"$ref":"#/definitions/StandingOrderResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}},"delete":{"operationId":"deleteStandingOrder","parameters":[{"name":"standingOrderId","in":"path","required":true,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"StandingOrderResponse","schema":{"$ref":"#/definitions/StandingOrderResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/payments/standingOrders/domesticStandingOrders/{standingOrderId}":{"post":{"operationId":"createDomesticStandingOrder","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/createDomesticStandingOrder"}},{"name":"standingOrderId","in":"path","required":true,"type":"string"},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"StandingOrderResponse","schema":{"$ref":"#/definitions/StandingOrderResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/payments/standingOrders/internationalStandingOrders/{standingOrderId}":{"post":{"operationId":"createInternationalStandingOrder","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/createInternationalStandingOrder"}},{"name":"standingOrderId","in":"path","required":true,"type":"string"},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"StandingOrderResponse","schema":{"$ref":"#/definitions/StandingOrderResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/payments/standingOrders/utilityStandingOrders/{standingOrderId}":{"post":{"operationId":"createUtilityStandingOrder","parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/createUtilityStandingOrder"}},{"name":"standingOrderId","in":"path","required":true,"type":"string"},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"StandingOrderResponse","schema":{"$ref":"#/definitions/StandingOrderResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/payments/products":{"get":{"operationId":"getPaymentOrderProducts","parameters":[{"name":"paymentProductGroupId","in":"query","required":false,"type":"string"},{"name":"paymentOrderProductId","in":"query","description":"The identifier of the payment order product","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PaymentOrderProductsResponse","schema":{"$ref":"#/definitions/PaymentOrderProductsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/payments/purposes":{"get":{"operationId":"getPaymentpurposeCodes","parameters":[{"name":"paymentOrderPurposeCodeId","in":"query","description":"The identifier of the payment order purpose code","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PaymentOrderPurposesResponse","schema":{"$ref":"#/definitions/PaymentOrderPurposesResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/payments/countryRules":{"get":{"operationId":"getPaymentOrderCountryRules","parameters":[{"name":"countryId","in":"query","description":"The identifier of the country, normally the SWIFT code of the country.","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PaymentOrderCountryRulesResponse","schema":{"$ref":"#/definitions/PaymentOrderCountryRulesResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/payments/BICs":{"get":{"operationId":"getBICs","parameters":[{"name":"BIC","in":"query","description":"","required":false,"type":"string"},{"name":"nationalityId","in":"query","description":"The identifier of the nationality of a legal entity","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"BICsResponse","schema":{"$ref":"#/definitions/BICsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"createExternalPaymentOrder":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/createExternalPaymentOrderBody"}},"description":"SepaInstantPayment"},"createExternalPaymentOrderBody":{"type":"object","properties":{"narratives":{"type":"array","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference","items":{"type":"object","properties":{"narrative":{"type":"string","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference"}}}},"contexts":{"type":"array","items":{"type":"object","properties":{"contextName":{"type":"string","description":"The name that is displayed for the context"},"contextValue":{"type":"string","description":""}}}},"charges":{"type":"array","description":"","items":{"type":"object","properties":{"chargeAmount":{"type":"number","description":"Holds the charge amount equivalent in charge account currency"},"chargeCurrencyId":{"type":"string","description":"The identifier of the currency of the charge"}}}},"paymentOrderProductId":{"type":"string","description":"The identifier of the payment order product"},"debitAccountIBAN":{"type":"string","description":"IBAN of the debit account"},"paymentCurrencyId":{"type":"string","description":"The identifier of the payment currency"},"amount":{"type":"number","description":""},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"consent":{"type":"string","description":""},"beneficiaryName":{"type":"string","description":"The name displayed of the beneficiary"},"endToEndReference":{"type":"string","description":"This field is used for SEPA"},"paymentScheme":{"type":"string","description":""}}},"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}},"audit":{"type":"object","properties":{"versionNumber":{"type":"string","description":"The CURR.NO. of the record"}}}}},"SepaInstantPaymentResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/SepaInstantPaymentResponseBody"}},"description":"SepaInstantPaymentResponse"},"SepaInstantPaymentResponseBody":{"type":"object","properties":{"narratives":{"type":"array","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference","items":{"type":"object","properties":{"narrative":{"type":"string","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference"}}}},"contexts":{"type":"array","items":{"type":"object","properties":{"contextName":{"type":"string","description":"The name that is displayed for the context"},"contextValue":{"type":"string","description":""}}}},"charges":{"type":"array","description":"","items":{"type":"object","properties":{"chargeAmount":{"type":"number","description":"Holds the charge amount equivalent in charge account currency"},"chargeCurrencyId":{"type":"string","description":"The identifier of the currency of the charge"}}}},"paymentOrderProductId":{"type":"string","description":"The identifier of the payment order product"},"debitAccountIBAN":{"type":"string","description":"IBAN of the debit account"},"paymentCurrencyId":{"type":"string","description":"The identifier of the payment currency"},"amount":{"type":"number","description":""},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"consent":{"type":"string","description":""},"beneficiaryName":{"type":"string","description":"The name displayed of the beneficiary"},"endToEndReference":{"type":"string","description":"This field is used for SEPA"},"paymentScheme":{"type":"string","description":""}}},"ScreenErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/ScreenErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"ScreenErrorResponse"},"ScreenErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}},"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"cancelExternalPaymentOrder":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/cancelExternalPaymentOrderBody"}},"description":"ExternalPaymentOrder"},"cancelExternalPaymentOrderBody":{"type":"object","properties":{"internalStatus":{"type":"string","description":"This field shows the status of the payment order like: Cancel, Error, Reject & Return "},"cancellationReason":{"type":"string","description":"The reason for the cancellation"},"remarks":{"type":"string","description":"Remarks"},"initiator":{"type":"string","description":""}}},"ExternalPaymentOrderResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/ExternalPaymentOrderResponseBody"}},"description":"ExternalPaymentOrderResponse"},"ExternalPaymentOrderResponseBody":{"type":"object","properties":{"internalStatus":{"type":"string","description":"This field shows the status of the payment order like: Cancel, Error, Reject & Return "},"cancellationReason":{"type":"string","description":"The reason for the cancellation"},"remarks":{"type":"string","description":"Remarks"},"initiator":{"type":"string","description":""}}},"IBANStructuresResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/IBANStructuresResponseBody"}},"description":"IBANStructuresResponse"},"IBANStructuresResponseBody":{"type":"array","items":{"type":"object","properties":{"IBANCountryId":{"type":"string","description":"","maxLength":35},"IBANCountryCode":{"type":"string","description":"","maxLength":35}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}},"IBANsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/IBANsResponseBody"}},"description":"IBANsResponse"},"IBANsResponseBody":{"type":"array","items":{"type":"object","properties":{"institutionNames":{"type":"array","items":{"type":"object","properties":{"institutionName":{"type":"string","description":"","maxLength":35}}}},"IBANPlusId":{"type":"string","description":"","maxLength":35},"countryName":{"type":"string","description":"The name that is displayed for the country, normalized to its ISO equivalent.","maxLength":70}}}},"PaymentOrdersResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/PaymentOrdersResponseBody"}},"description":"PaymentOrdersResponse"},"PaymentOrdersResponseBody":{"type":"array","items":{"type":"object","properties":{"debits":{"type":"array","description":"","items":{"type":"object","properties":{"debitAccountId":{"type":"string","description":"The identifier of the debit account","maxLength":34},"debitAccountIBAN":{"type":"string","description":"IBAN of the debit account","maxLength":35},"debitCurrency":{"type":"string","description":"Currency of the debit account","maxLength":3},"debitValueDate":{"type":"string","format":"date","description":"The date on which the Invocation amount will be debited for settlement"},"totalDebitAmount":{"type":"number","description":"The total debit amount"}}}},"credits":{"type":"array","description":"","items":{"type":"object","properties":{"creditAccountId":{"type":"string","description":"The identifier of the credit account","maxLength":19},"creditAccountIBAN":{"type":"string","description":"IBAN of the credit account","maxLength":35},"requiredCreditValueDate":{"type":"string","format":"date","description":"The credit value date i.e. tentative date on which the payment system will process the payment"},"creditValueDate":{"type":"string","format":"date","description":"The value date applied to the credit side of a payment"}}}},"narratives":{"type":"array","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference","items":{"type":"object","properties":{"narrative":{"type":"string","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference","maxLength":65}}}},"additionalInformations":{"type":"array","description":"Additional Information provided to add context","items":{"type":"object","properties":{"additionalInformation":{"type":"string","description":"Additional Information provided to add context","maxLength":65}}}},"remittanceInformations":{"type":"array","description":"The Information about remittance","items":{"type":"object","properties":{"remittanceInformation":{"type":"string","description":"The Information about remittance","maxLength":35}}}},"beneficiaries":{"type":"array","description":"","items":{"type":"object","properties":{"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary","maxLength":17},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account","maxLength":34},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer ","maxLength":35},"beneficiaryName":{"type":"string","description":"The name displayed of the beneficiary","maxLength":70},"beneficiaryCountryCode":{"type":"string","description":"","maxLength":2},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account","maxLength":35},"accountWithBankIBAN":{"type":"string","description":"IBAN of Account with Bank being the bank where the beneficiary maintains his account.","maxLength":35}}}},"invoiceReferences":{"type":"array","description":"It provides the reference of the invoice ","items":{"type":"object","properties":{"invoiceReference":{"type":"string","description":"It provides the reference of the invoice ","maxLength":35}}}},"charges":{"type":"array","description":"","items":{"type":"object","properties":{"chargeAccountId":{"type":"string","description":"The identifier of the charge account","maxLength":34},"chargeAccountCurrencyId":{"type":"string","description":"The identifier of the currency fo the charge account","maxLength":3},"chargeType":{"type":"string","description":"The type of charge","maxLength":20},"chargeName":{"type":"string","description":"The name that is displayed for the charge","maxLength":50},"chargeCurrencyId":{"type":"string","description":"The identifier of the currency of the charge","maxLength":3},"chargeAmount":{"type":"string","description":"Holds the charge amount equivalent in charge account currency","maxLength":19},"chargeAccountCurrencyAmount":{"type":"number","description":""}}}},"paymentOrderId":{"type":"string","description":"The identifier of the payment order","maxLength":35},"paymentOrderProductId":{"type":"string","description":"The identifier of the payment order product","maxLength":35},"orderingCustomerId":{"type":"string","description":"The identifier of the ordering customer","maxLength":35},"orderingCustomerName":{"type":"string","description":"The name that is displayed for the ordering customer","maxLength":140},"paymentCurrencyId":{"type":"string","description":"The identifier of the payment currency","maxLength":3},"amount":{"type":"number","description":""},"executionDate":{"type":"string","format":"date","description":"Processing date of the transaction"},"treasuryRate":{"type":"string","description":"The Treasury rate for the conversion between payment currency and the ordering currency","maxLength":11},"forexSpread":{"type":"string","description":"","maxLength":12},"forexCustomerRate":{"type":"string","description":"","maxLength":11},"orderingPortfolio":{"type":"string","description":"The debit portfolio identifier","maxLength":18},"creditPortfolio":{"type":"string","description":"Portfolio id to be credit","maxLength":18},"orderingReference":{"type":"string","description":"The reference related to the ordering details","maxLength":18},"chargeBearer":{"type":"string","description":"Bearer of the charges of the order","maxLength":35},"accountWithBankBIC":{"type":"string","description":"BIC of Account with Bank being the bank where the beneficiary maintains his account.","maxLength":27},"beneficiaryBankClearingCode":{"type":"string","description":"Clearing code or sort code of the beneficiary bank","maxLength":35},"accountWithBankClearingCode":{"type":"string","description":"Clearing code or sort code of the account with bank being the bank where the beneficiary maintains his account.","maxLength":35},"clearingChannel":{"type":"string","description":"Clearing channel for the payment order","maxLength":35},"structuredCreditorReference":{"type":"string","description":"","maxLength":65},"signatory":{"type":"string","description":"The authorised signatories","maxLength":35},"purpose":{"type":"string","description":"","maxLength":65},"structuredCommunicationCode":{"type":"string","description":"","maxLength":35},"structuredIssuer":{"type":"string","description":"","maxLength":65},"endToEndReference":{"type":"string","description":"This field is used for SEPA","maxLength":35},"instructionIdReference":{"type":"string","description":"The reference used in SEPA payments to indicate the type of payment","maxLength":35},"termsAndConditions":{"type":"string","description":"The description of the terms and conditions","maxLength":120},"paymentStatus":{"type":"string","description":"","maxLength":35},"currentStatus":{"type":"string","description":"Current state of the payment order","maxLength":65},"internalStatus":{"type":"string","description":"This field shows the status of the payment order like: Cancel, Error, Reject & Return ","maxLength":10},"systemId":{"type":"string","description":"The system application identifier from which the entry was generated","maxLength":35},"indicativeRate":{"type":"string","description":"","maxLength":11},"PSDCompliant":{"type":"string","description":"Defines whether the transaction is PSD (Payment Services Directive) compliant","maxLength":35},"versionNumber":{"type":"string","description":"","maxLength":4}}}},"updatePaymentOrder":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/updatePaymentOrderBody"}},"description":"PaymentOrder"},"updatePaymentOrderBody":{"type":"object","properties":{"narratives":{"type":"array","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference","items":{"type":"object","properties":{"narrative":{"type":"string","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference"}}}},"additionalInformations":{"type":"array","description":"Additional Information provided to add context","items":{"type":"object","properties":{"additionalInformation":{"type":"string","description":"Additional Information provided to add context"}}}},"remittanceInformations":{"type":"array","description":"The Information about remittance","items":{"type":"object","properties":{"remittanceInformation":{"type":"string","description":"The Information about remittance"}}}},"signatories":{"type":"array","description":"The authorised signatories","items":{"type":"object","properties":{"signatory":{"type":"string","description":"The authorised signatories"}}}},"invoiceReferences":{"type":"array","description":"It provides the reference of the invoice ","items":{"type":"object","properties":{"invoiceReference":{"type":"string","description":"It provides the reference of the invoice "}}}},"charges":{"type":"array","description":"","items":{"type":"object","properties":{"chargeType":{"type":"string","description":"The type of charge"},"chargeName":{"type":"string","description":"The name that is displayed for the charge"},"chargeCurrency":{"type":"string","description":"Holds the currency code of the charge account from where the fee is deducted"},"chargeAmount":{"type":"number","description":"Holds the charge amount equivalent in charge account currency"},"chargeAccountCurrencyAmount":{"type":"number","description":""}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"paymentOrderProductId":{"type":"string","description":"The identifier of the payment order product"},"debitAccountId":{"type":"string","description":"The identifier of the debit account"},"debitAccountIBAN":{"type":"string","description":"IBAN of the debit account"},"debitCurrency":{"type":"string","description":"Currency of the debit account"},"debitValueDate":{"type":"string","format":"date","description":"The date on which the Invocation amount will be debited for settlement"},"creditAccountId":{"type":"string","description":"The identifier of the credit account"},"creditAccountIBAN":{"type":"string","description":"IBAN of the credit account"},"orderingCustomerId":{"type":"string","description":"The identifier of the ordering customer"},"orderingCustomerName":{"type":"string","description":"The name that is displayed for the ordering customer"},"paymentCurrencyId":{"type":"string","description":"The identifier of the payment currency"},"amount":{"type":"number","description":""},"executionDate":{"type":"string","format":"date","description":"Processing date of the transaction"},"treasuryRate":{"type":"string","description":"The Treasury rate for the conversion between payment currency and the ordering currency"},"forexSpread":{"type":"string","description":""},"forexCustomerRate":{"type":"string","description":""},"orderingPortfolio":{"type":"string","description":"The debit portfolio identifier"},"creditPortfolio":{"type":"string","description":"Portfolio id to be credit"},"orderingReference":{"type":"string","description":"The reference related to the ordering details"},"chargeBearer":{"type":"string","description":"Bearer of the charges of the order"},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary"},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account"},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer "},"beneficiaryName":{"type":"string","description":"The name displayed of the beneficiary"},"accountWithBankBIC":{"type":"string","description":"BIC of Account with Bank being the bank where the beneficiary maintains his account."},"beneficiaryBankClearingCode":{"type":"string","description":"Clearing code or sort code of the beneficiary bank"},"accountWithBankClearingCode":{"type":"string","description":"Clearing code or sort code of the account with bank being the bank where the beneficiary maintains his account."},"clearingChannel":{"type":"string","description":"Clearing channel for the payment order"},"structuredCreditorReference":{"type":"string","description":""},"beneficiaryCountryCode":{"type":"string","description":""},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"accountWithBankIBAN":{"type":"string","description":"IBAN of Account with Bank being the bank where the beneficiary maintains his account."},"requiredCreditValueDate":{"type":"string","format":"date","description":"The credit value date i.e. tentative date on which the payment system will process the payment"},"purpose":{"type":"string","description":""},"structuredCommunicationCode":{"type":"string","description":""},"structuredIssuer":{"type":"string","description":""},"endToEndReference":{"type":"string","description":"This field is used for SEPA"},"instructionIdReference":{"type":"string","description":"The reference used in SEPA payments to indicate the type of payment"},"termsAndConditions":{"type":"string","description":"The description of the terms and conditions"},"indicativeRate":{"type":"string","description":""},"chargeAccountId":{"type":"string","description":"The identifier of the charge account"},"chargeAccountCurrencyId":{"type":"string","description":"The identifier of the currency fo the charge account"},"creditValueDate":{"type":"string","format":"date","description":"The value date applied to the credit side of a payment"},"PSDCompliant":{"type":"string","description":"Defines whether the transaction is PSD (Payment Services Directive) compliant"},"totalDebitAmount":{"type":"number","description":"The total debit amount"},"localInstrumentCode":{"type":"string","description":"holds the local mode of clearing"},"recordStatus":{"type":"string","description":"The status of the record processed"}}},"PaymentOrderResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/PaymentOrderResponseBody"}},"description":"PaymentOrderResponse"},"PaymentOrderResponseBody":{"type":"object","properties":{"narratives":{"type":"array","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference","items":{"type":"object","properties":{"narrative":{"type":"string","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference"}}}},"additionalInformations":{"type":"array","description":"Additional Information provided to add context","items":{"type":"object","properties":{"additionalInformation":{"type":"string","description":"Additional Information provided to add context"}}}},"remittanceInformations":{"type":"array","description":"The Information about remittance","items":{"type":"object","properties":{"remittanceInformation":{"type":"string","description":"The Information about remittance"}}}},"signatories":{"type":"array","description":"The authorised signatories","items":{"type":"object","properties":{"signatory":{"type":"string","description":"The authorised signatories"}}}},"invoiceReferences":{"type":"array","description":"It provides the reference of the invoice ","items":{"type":"object","properties":{"invoiceReference":{"type":"string","description":"It provides the reference of the invoice "}}}},"charges":{"type":"array","description":"","items":{"type":"object","properties":{"chargeType":{"type":"string","description":"The type of charge"},"chargeName":{"type":"string","description":"The name that is displayed for the charge"},"chargeCurrency":{"type":"string","description":"Holds the currency code of the charge account from where the fee is deducted"},"chargeAmount":{"type":"number","description":"Holds the charge amount equivalent in charge account currency"},"chargeAccountCurrencyAmount":{"type":"number","description":""}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"paymentOrderProductId":{"type":"string","description":"The identifier of the payment order product"},"debitAccountId":{"type":"string","description":"The identifier of the debit account"},"debitAccountIBAN":{"type":"string","description":"IBAN of the debit account"},"debitCurrency":{"type":"string","description":"Currency of the debit account"},"debitValueDate":{"type":"string","format":"date","description":"The date on which the Invocation amount will be debited for settlement"},"creditAccountId":{"type":"string","description":"The identifier of the credit account"},"creditAccountIBAN":{"type":"string","description":"IBAN of the credit account"},"orderingCustomerId":{"type":"string","description":"The identifier of the ordering customer"},"orderingCustomerName":{"type":"string","description":"The name that is displayed for the ordering customer"},"paymentCurrencyId":{"type":"string","description":"The identifier of the payment currency"},"amount":{"type":"number","description":""},"executionDate":{"type":"string","format":"date","description":"Processing date of the transaction"},"treasuryRate":{"type":"string","description":"The Treasury rate for the conversion between payment currency and the ordering currency"},"forexSpread":{"type":"string","description":""},"forexCustomerRate":{"type":"string","description":""},"orderingPortfolio":{"type":"string","description":"The debit portfolio identifier"},"creditPortfolio":{"type":"string","description":"Portfolio id to be credit"},"orderingReference":{"type":"string","description":"The reference related to the ordering details"},"chargeBearer":{"type":"string","description":"Bearer of the charges of the order"},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary"},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account"},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer "},"beneficiaryName":{"type":"string","description":"The name displayed of the beneficiary"},"accountWithBankBIC":{"type":"string","description":"BIC of Account with Bank being the bank where the beneficiary maintains his account."},"beneficiaryBankClearingCode":{"type":"string","description":"Clearing code or sort code of the beneficiary bank"},"accountWithBankClearingCode":{"type":"string","description":"Clearing code or sort code of the account with bank being the bank where the beneficiary maintains his account."},"clearingChannel":{"type":"string","description":"Clearing channel for the payment order"},"structuredCreditorReference":{"type":"string","description":""},"beneficiaryCountryCode":{"type":"string","description":""},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"accountWithBankIBAN":{"type":"string","description":"IBAN of Account with Bank being the bank where the beneficiary maintains his account."},"requiredCreditValueDate":{"type":"string","format":"date","description":"The credit value date i.e. tentative date on which the payment system will process the payment"},"purpose":{"type":"string","description":""},"structuredCommunicationCode":{"type":"string","description":""},"structuredIssuer":{"type":"string","description":""},"endToEndReference":{"type":"string","description":"This field is used for SEPA"},"instructionIdReference":{"type":"string","description":"The reference used in SEPA payments to indicate the type of payment"},"termsAndConditions":{"type":"string","description":"The description of the terms and conditions"},"indicativeRate":{"type":"string","description":""},"chargeAccountId":{"type":"string","description":"The identifier of the charge account"},"chargeAccountCurrencyId":{"type":"string","description":"The identifier of the currency fo the charge account"},"creditValueDate":{"type":"string","format":"date","description":"The value date applied to the credit side of a payment"},"PSDCompliant":{"type":"string","description":"Defines whether the transaction is PSD (Payment Services Directive) compliant"},"totalDebitAmount":{"type":"number","description":"The total debit amount"},"localInstrumentCode":{"type":"string","description":"holds the local mode of clearing"},"recordStatus":{"type":"string","description":"The status of the record processed"}}},"createPaymentOrder":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/createPaymentOrderBody"}},"description":"PaymentOrder"},"createPaymentOrderBody":{"type":"object","properties":{"narratives":{"type":"array","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference","items":{"type":"object","properties":{"narrative":{"type":"string","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference"}}}},"additionalInformations":{"type":"array","description":"Additional Information provided to add context","items":{"type":"object","properties":{"additionalInformation":{"type":"string","description":"Additional Information provided to add context"}}}},"remittanceInformations":{"type":"array","description":"The Information about remittance","items":{"type":"object","properties":{"remittanceInformation":{"type":"string","description":"The Information about remittance"}}}},"signatories":{"type":"array","description":"The authorised signatories","items":{"type":"object","properties":{"signatory":{"type":"string","description":"The authorised signatories"}}}},"invoiceReferences":{"type":"array","description":"It provides the reference of the invoice ","items":{"type":"object","properties":{"invoiceReference":{"type":"string","description":"It provides the reference of the invoice "}}}},"charges":{"type":"array","description":"","items":{"type":"object","properties":{"chargeType":{"type":"string","description":"The type of charge"},"chargeName":{"type":"string","description":"The name that is displayed for the charge"},"chargeCurrency":{"type":"string","description":"Holds the currency code of the charge account from where the fee is deducted"},"chargeAmount":{"type":"number","description":"Holds the charge amount equivalent in charge account currency"},"chargeAccountCurrencyAmount":{"type":"number","description":""}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"paymentOrderProductId":{"type":"string","description":"The identifier of the payment order product"},"debitAccountId":{"type":"string","description":"The identifier of the debit account"},"debitAccountIBAN":{"type":"string","description":"IBAN of the debit account"},"debitCurrency":{"type":"string","description":"Currency of the debit account"},"debitValueDate":{"type":"string","format":"date","description":"The date on which the Invocation amount will be debited for settlement"},"creditAccountId":{"type":"string","description":"The identifier of the credit account"},"creditAccountIBAN":{"type":"string","description":"IBAN of the credit account"},"orderingCustomerId":{"type":"string","description":"The identifier of the ordering customer"},"orderingCustomerName":{"type":"string","description":"The name that is displayed for the ordering customer"},"paymentCurrencyId":{"type":"string","description":"The identifier of the payment currency"},"amount":{"type":"number","description":""},"executionDate":{"type":"string","format":"date","description":"Processing date of the transaction"},"treasuryRate":{"type":"string","description":"The Treasury rate for the conversion between payment currency and the ordering currency"},"forexSpread":{"type":"string","description":""},"forexCustomerRate":{"type":"string","description":""},"orderingPortfolio":{"type":"string","description":"The debit portfolio identifier"},"creditPortfolio":{"type":"string","description":"Portfolio id to be credit"},"orderingReference":{"type":"string","description":"The reference related to the ordering details"},"chargeBearer":{"type":"string","description":"Bearer of the charges of the order"},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary"},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account"},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer "},"beneficiaryName":{"type":"string","description":"The name displayed of the beneficiary"},"accountWithBankBIC":{"type":"string","description":"BIC of Account with Bank being the bank where the beneficiary maintains his account."},"beneficiaryBankClearingCode":{"type":"string","description":"Clearing code or sort code of the beneficiary bank"},"accountWithBankClearingCode":{"type":"string","description":"Clearing code or sort code of the account with bank being the bank where the beneficiary maintains his account."},"clearingChannel":{"type":"string","description":"Clearing channel for the payment order"},"structuredCreditorReference":{"type":"string","description":""},"beneficiaryCountryCode":{"type":"string","description":""},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"accountWithBankIBAN":{"type":"string","description":"IBAN of Account with Bank being the bank where the beneficiary maintains his account."},"requiredCreditValueDate":{"type":"string","format":"date","description":"The credit value date i.e. tentative date on which the payment system will process the payment"},"purpose":{"type":"string","description":""},"structuredCommunicationCode":{"type":"string","description":""},"structuredIssuer":{"type":"string","description":""},"endToEndReference":{"type":"string","description":"This field is used for SEPA"},"instructionIdReference":{"type":"string","description":"The reference used in SEPA payments to indicate the type of payment"},"termsAndConditions":{"type":"string","description":"The description of the terms and conditions"},"indicativeRate":{"type":"string","description":""},"chargeAccountId":{"type":"string","description":"The identifier of the charge account"},"chargeAccountCurrencyId":{"type":"string","description":"The identifier of the currency fo the charge account"},"creditValueDate":{"type":"string","format":"date","description":"The value date applied to the credit side of a payment"},"PSDCompliant":{"type":"string","description":"Defines whether the transaction is PSD (Payment Services Directive) compliant"},"totalDebitAmount":{"type":"number","description":"The total debit amount"},"localInstrumentCode":{"type":"string","description":"holds the local mode of clearing"},"recordStatus":{"type":"string","description":"The status of the record processed"}}},"createDomesticPayment":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/createDomesticPaymentBody"}},"description":"PaymentOrder"},"createDomesticPaymentBody":{"type":"object","properties":{"narratives":{"type":"array","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference","items":{"type":"object","properties":{"narrative":{"type":"string","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference"}}}},"additionalInformations":{"type":"array","description":"Additional Information provided to add context","items":{"type":"object","properties":{"additionalInformation":{"type":"string","description":"Additional Information provided to add context"}}}},"remittanceInformations":{"type":"array","description":"The Information about remittance","items":{"type":"object","properties":{"remittanceInformation":{"type":"string","description":"The Information about remittance"}}}},"signatories":{"type":"array","description":"The authorised signatories","items":{"type":"object","properties":{"signatory":{"type":"string","description":"The authorised signatories"}}}},"invoiceReferences":{"type":"array","description":"It provides the reference of the invoice ","items":{"type":"object","properties":{"invoiceReference":{"type":"string","description":"It provides the reference of the invoice "}}}},"charges":{"type":"array","description":"","items":{"type":"object","properties":{"chargeType":{"type":"string","description":"The type of charge"},"chargeName":{"type":"string","description":"The name that is displayed for the charge"},"chargeCurrency":{"type":"string","description":"Holds the currency code of the charge account from where the fee is deducted"},"chargeAmount":{"type":"number","description":"Holds the charge amount equivalent in charge account currency"},"chargeAccountCurrencyAmount":{"type":"number","description":""}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"paymentOrderProductId":{"type":"string","description":"The identifier of the payment order product"},"debitAccountId":{"type":"string","description":"The identifier of the debit account"},"debitAccountIBAN":{"type":"string","description":"IBAN of the debit account"},"debitCurrency":{"type":"string","description":"Currency of the debit account"},"debitValueDate":{"type":"string","format":"date","description":"The date on which the Invocation amount will be debited for settlement"},"creditAccountId":{"type":"string","description":"The identifier of the credit account"},"creditAccountIBAN":{"type":"string","description":"IBAN of the credit account"},"orderingCustomerId":{"type":"string","description":"The identifier of the ordering customer"},"orderingCustomerName":{"type":"string","description":"The name that is displayed for the ordering customer"},"paymentCurrencyId":{"type":"string","description":"The identifier of the payment currency"},"amount":{"type":"number","description":""},"executionDate":{"type":"string","format":"date","description":"Processing date of the transaction"},"treasuryRate":{"type":"string","description":"The Treasury rate for the conversion between payment currency and the ordering currency"},"forexSpread":{"type":"string","description":""},"forexCustomerRate":{"type":"string","description":""},"orderingPortfolio":{"type":"string","description":"The debit portfolio identifier"},"creditPortfolio":{"type":"string","description":"Portfolio id to be credit"},"orderingReference":{"type":"string","description":"The reference related to the ordering details"},"chargeBearer":{"type":"string","description":"Bearer of the charges of the order"},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary"},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account"},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer "},"beneficiaryName":{"type":"string","description":"The name displayed of the beneficiary"},"accountWithBankBIC":{"type":"string","description":"BIC of Account with Bank being the bank where the beneficiary maintains his account."},"beneficiaryBankClearingCode":{"type":"string","description":"Clearing code or sort code of the beneficiary bank"},"accountWithBankClearingCode":{"type":"string","description":"Clearing code or sort code of the account with bank being the bank where the beneficiary maintains his account."},"clearingChannel":{"type":"string","description":"Clearing channel for the payment order"},"structuredCreditorReference":{"type":"string","description":""},"beneficiaryCountryCode":{"type":"string","description":""},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"accountWithBankIBAN":{"type":"string","description":"IBAN of Account with Bank being the bank where the beneficiary maintains his account."},"requiredCreditValueDate":{"type":"string","format":"date","description":"The credit value date i.e. tentative date on which the payment system will process the payment"},"purpose":{"type":"string","description":""},"structuredCommunicationCode":{"type":"string","description":""},"structuredIssuer":{"type":"string","description":""},"endToEndReference":{"type":"string","description":"This field is used for SEPA"},"instructionIdReference":{"type":"string","description":"The reference used in SEPA payments to indicate the type of payment"},"termsAndConditions":{"type":"string","description":"The description of the terms and conditions"},"indicativeRate":{"type":"string","description":""},"chargeAccountId":{"type":"string","description":"The identifier of the charge account"},"chargeAccountCurrencyId":{"type":"string","description":"The identifier of the currency fo the charge account"},"creditValueDate":{"type":"string","format":"date","description":"The value date applied to the credit side of a payment"},"PSDCompliant":{"type":"string","description":"Defines whether the transaction is PSD (Payment Services Directive) compliant"},"totalDebitAmount":{"type":"number","description":"The total debit amount"},"localInstrumentCode":{"type":"string","description":"holds the local mode of clearing"},"recordStatus":{"type":"string","description":"The status of the record processed"}}},"createInternationalPayment":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/createInternationalPaymentBody"}},"description":"PaymentOrder"},"createInternationalPaymentBody":{"type":"object","properties":{"narratives":{"type":"array","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference","items":{"type":"object","properties":{"narrative":{"type":"string","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference"}}}},"additionalInformations":{"type":"array","description":"Additional Information provided to add context","items":{"type":"object","properties":{"additionalInformation":{"type":"string","description":"Additional Information provided to add context"}}}},"remittanceInformations":{"type":"array","description":"The Information about remittance","items":{"type":"object","properties":{"remittanceInformation":{"type":"string","description":"The Information about remittance"}}}},"signatories":{"type":"array","description":"The authorised signatories","items":{"type":"object","properties":{"signatory":{"type":"string","description":"The authorised signatories"}}}},"invoiceReferences":{"type":"array","description":"It provides the reference of the invoice ","items":{"type":"object","properties":{"invoiceReference":{"type":"string","description":"It provides the reference of the invoice "}}}},"charges":{"type":"array","description":"","items":{"type":"object","properties":{"chargeType":{"type":"string","description":"The type of charge"},"chargeName":{"type":"string","description":"The name that is displayed for the charge"},"chargeCurrency":{"type":"string","description":"Holds the currency code of the charge account from where the fee is deducted"},"chargeAmount":{"type":"number","description":"Holds the charge amount equivalent in charge account currency"},"chargeAccountCurrencyAmount":{"type":"number","description":""}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"paymentOrderProductId":{"type":"string","description":"The identifier of the payment order product"},"debitAccountId":{"type":"string","description":"The identifier of the debit account"},"debitAccountIBAN":{"type":"string","description":"IBAN of the debit account"},"debitCurrency":{"type":"string","description":"Currency of the debit account"},"debitValueDate":{"type":"string","format":"date","description":"The date on which the Invocation amount will be debited for settlement"},"creditAccountId":{"type":"string","description":"The identifier of the credit account"},"creditAccountIBAN":{"type":"string","description":"IBAN of the credit account"},"orderingCustomerId":{"type":"string","description":"The identifier of the ordering customer"},"orderingCustomerName":{"type":"string","description":"The name that is displayed for the ordering customer"},"paymentCurrencyId":{"type":"string","description":"The identifier of the payment currency"},"amount":{"type":"number","description":""},"executionDate":{"type":"string","format":"date","description":"Processing date of the transaction"},"treasuryRate":{"type":"string","description":"The Treasury rate for the conversion between payment currency and the ordering currency"},"forexSpread":{"type":"string","description":""},"forexCustomerRate":{"type":"string","description":""},"orderingPortfolio":{"type":"string","description":"The debit portfolio identifier"},"creditPortfolio":{"type":"string","description":"Portfolio id to be credit"},"orderingReference":{"type":"string","description":"The reference related to the ordering details"},"chargeBearer":{"type":"string","description":"Bearer of the charges of the order"},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary"},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account"},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer "},"beneficiaryName":{"type":"string","description":"The name displayed of the beneficiary"},"accountWithBankBIC":{"type":"string","description":"BIC of Account with Bank being the bank where the beneficiary maintains his account."},"beneficiaryBankClearingCode":{"type":"string","description":"Clearing code or sort code of the beneficiary bank"},"accountWithBankClearingCode":{"type":"string","description":"Clearing code or sort code of the account with bank being the bank where the beneficiary maintains his account."},"clearingChannel":{"type":"string","description":"Clearing channel for the payment order"},"structuredCreditorReference":{"type":"string","description":""},"beneficiaryCountryCode":{"type":"string","description":""},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"accountWithBankIBAN":{"type":"string","description":"IBAN of Account with Bank being the bank where the beneficiary maintains his account."},"requiredCreditValueDate":{"type":"string","format":"date","description":"The credit value date i.e. tentative date on which the payment system will process the payment"},"purpose":{"type":"string","description":""},"structuredCommunicationCode":{"type":"string","description":""},"structuredIssuer":{"type":"string","description":""},"endToEndReference":{"type":"string","description":"This field is used for SEPA"},"instructionIdReference":{"type":"string","description":"The reference used in SEPA payments to indicate the type of payment"},"termsAndConditions":{"type":"string","description":"The description of the terms and conditions"},"indicativeRate":{"type":"string","description":""},"chargeAccountId":{"type":"string","description":"The identifier of the charge account"},"chargeAccountCurrencyId":{"type":"string","description":"The identifier of the currency fo the charge account"},"creditValueDate":{"type":"string","format":"date","description":"The value date applied to the credit side of a payment"},"PSDCompliant":{"type":"string","description":"Defines whether the transaction is PSD (Payment Services Directive) compliant"},"totalDebitAmount":{"type":"number","description":"The total debit amount"},"localInstrumentCode":{"type":"string","description":"holds the local mode of clearing"},"recordStatus":{"type":"string","description":"The status of the record processed"}}},"createUtilityPayment":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/createUtilityPaymentBody"}},"description":"PaymentOrder"},"createUtilityPaymentBody":{"type":"object","properties":{"narratives":{"type":"array","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference","items":{"type":"object","properties":{"narrative":{"type":"string","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference"}}}},"additionalInformations":{"type":"array","description":"Additional Information provided to add context","items":{"type":"object","properties":{"additionalInformation":{"type":"string","description":"Additional Information provided to add context"}}}},"remittanceInformations":{"type":"array","description":"The Information about remittance","items":{"type":"object","properties":{"remittanceInformation":{"type":"string","description":"The Information about remittance"}}}},"signatories":{"type":"array","description":"The authorised signatories","items":{"type":"object","properties":{"signatory":{"type":"string","description":"The authorised signatories"}}}},"invoiceReferences":{"type":"array","description":"It provides the reference of the invoice ","items":{"type":"object","properties":{"invoiceReference":{"type":"string","description":"It provides the reference of the invoice "}}}},"charges":{"type":"array","description":"","items":{"type":"object","properties":{"chargeType":{"type":"string","description":"The type of charge"},"chargeName":{"type":"string","description":"The name that is displayed for the charge"},"chargeCurrency":{"type":"string","description":"Holds the currency code of the charge account from where the fee is deducted"},"chargeAmount":{"type":"number","description":"Holds the charge amount equivalent in charge account currency"},"chargeAccountCurrencyAmount":{"type":"number","description":""}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"paymentOrderProductId":{"type":"string","description":"The identifier of the payment order product"},"debitAccountId":{"type":"string","description":"The identifier of the debit account"},"debitAccountIBAN":{"type":"string","description":"IBAN of the debit account"},"debitCurrency":{"type":"string","description":"Currency of the debit account"},"debitValueDate":{"type":"string","format":"date","description":"The date on which the Invocation amount will be debited for settlement"},"creditAccountId":{"type":"string","description":"The identifier of the credit account"},"creditAccountIBAN":{"type":"string","description":"IBAN of the credit account"},"orderingCustomerId":{"type":"string","description":"The identifier of the ordering customer"},"orderingCustomerName":{"type":"string","description":"The name that is displayed for the ordering customer"},"paymentCurrencyId":{"type":"string","description":"The identifier of the payment currency"},"amount":{"type":"number","description":""},"executionDate":{"type":"string","format":"date","description":"Processing date of the transaction"},"treasuryRate":{"type":"string","description":"The Treasury rate for the conversion between payment currency and the ordering currency"},"forexSpread":{"type":"string","description":""},"forexCustomerRate":{"type":"string","description":""},"orderingPortfolio":{"type":"string","description":"The debit portfolio identifier"},"creditPortfolio":{"type":"string","description":"Portfolio id to be credit"},"orderingReference":{"type":"string","description":"The reference related to the ordering details"},"chargeBearer":{"type":"string","description":"Bearer of the charges of the order"},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary"},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account"},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer "},"beneficiaryName":{"type":"string","description":"The name displayed of the beneficiary"},"accountWithBankBIC":{"type":"string","description":"BIC of Account with Bank being the bank where the beneficiary maintains his account."},"beneficiaryBankClearingCode":{"type":"string","description":"Clearing code or sort code of the beneficiary bank"},"accountWithBankClearingCode":{"type":"string","description":"Clearing code or sort code of the account with bank being the bank where the beneficiary maintains his account."},"clearingChannel":{"type":"string","description":"Clearing channel for the payment order"},"structuredCreditorReference":{"type":"string","description":""},"beneficiaryCountryCode":{"type":"string","description":""},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"accountWithBankIBAN":{"type":"string","description":"IBAN of Account with Bank being the bank where the beneficiary maintains his account."},"requiredCreditValueDate":{"type":"string","format":"date","description":"The credit value date i.e. tentative date on which the payment system will process the payment"},"purpose":{"type":"string","description":""},"structuredCommunicationCode":{"type":"string","description":""},"structuredIssuer":{"type":"string","description":""},"endToEndReference":{"type":"string","description":"This field is used for SEPA"},"instructionIdReference":{"type":"string","description":"The reference used in SEPA payments to indicate the type of payment"},"termsAndConditions":{"type":"string","description":"The description of the terms and conditions"},"indicativeRate":{"type":"string","description":""},"chargeAccountId":{"type":"string","description":"The identifier of the charge account"},"chargeAccountCurrencyId":{"type":"string","description":"The identifier of the currency fo the charge account"},"creditValueDate":{"type":"string","format":"date","description":"The value date applied to the credit side of a payment"},"PSDCompliant":{"type":"string","description":"Defines whether the transaction is PSD (Payment Services Directive) compliant"},"totalDebitAmount":{"type":"number","description":"The total debit amount"},"localInstrumentCode":{"type":"string","description":"holds the local mode of clearing"},"recordStatus":{"type":"string","description":"The status of the record processed"}}},"createDepositPayment":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/createDepositPaymentBody"}},"description":"FundsTransfer"},"createDepositPaymentBody":{"type":"object","properties":{"paymentDetails":{"type":"array","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment.","items":{"type":"object","properties":{"paymentDetail":{"type":"string","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment."}}}},"beneficiaryCustomerIds":{"type":"array","description":"The customer identifier where the beneficiary is a customer of the bank","items":{"type":"object","properties":{"beneficiaryCustomerId":{"type":"string","description":"The customer identifier where the beneficiary is a customer of the bank"}}}},"beneficiaryBICNames":{"type":"array","description":"The name displayed of the beneficiary BIC","items":{"type":"object","properties":{"beneficiaryBICName":{"type":"string","description":"The name displayed of the beneficiary BIC"}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"debitAccountId":{"type":"string","description":"The identifier of the debit account"},"debitCurrencyId":{"type":"string","description":"The identifier of the debit currency"},"debitAmount":{"type":"number","description":""},"creditAccountId":{"type":"string","description":"The identifier of the credit account"},"creditCurrencyId":{"type":"string","description":"The identifier of the credit currency"},"creditAmount":{"type":"number","description":"The amount to be credited in a payment transaction"},"beneficiaryOurCharges":{"type":"string","description":"Determines who will be responsible for charges."},"processingDate":{"type":"string","format":"date","description":"The bank date that an accounting movement is applied to the bank GL"},"transactionType":{"type":"string","description":""},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account"},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary"},"bankSortCode":{"type":"string","description":"Defines the bank sorting code of the bank and branch. The code entered must exist as a sort code. 6 numeric characters."},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer "},"beneficiaryBICCity":{"type":"string","description":"The city of the beneficiary BIC"},"customerRate":{"type":"string","description":"The exchange rate that is actually used to convert an amount from one currency to another in a payment transaction."}}},"FundsTransferResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/FundsTransferResponseBody"}},"description":"FundsTransferResponse"},"FundsTransferResponseBody":{"type":"object","properties":{"paymentDetails":{"type":"array","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment.","items":{"type":"object","properties":{"paymentDetail":{"type":"string","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment."}}}},"beneficiaryCustomerIds":{"type":"array","description":"The customer identifier where the beneficiary is a customer of the bank","items":{"type":"object","properties":{"beneficiaryCustomerId":{"type":"string","description":"The customer identifier where the beneficiary is a customer of the bank"}}}},"beneficiaryBICNames":{"type":"array","description":"The name displayed of the beneficiary BIC","items":{"type":"object","properties":{"beneficiaryBICName":{"type":"string","description":"The name displayed of the beneficiary BIC"}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"debitAccountId":{"type":"string","description":"The identifier of the debit account"},"debitCurrencyId":{"type":"string","description":"The identifier of the debit currency"},"debitAmount":{"type":"number","description":""},"creditAccountId":{"type":"string","description":"The identifier of the credit account"},"creditCurrencyId":{"type":"string","description":"The identifier of the credit currency"},"creditAmount":{"type":"number","description":"The amount to be credited in a payment transaction"},"beneficiaryOurCharges":{"type":"string","description":"Determines who will be responsible for charges."},"processingDate":{"type":"string","format":"date","description":"The bank date that an accounting movement is applied to the bank GL"},"transactionType":{"type":"string","description":""},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account"},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary"},"bankSortCode":{"type":"string","description":"Defines the bank sorting code of the bank and branch. The code entered must exist as a sort code. 6 numeric characters."},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer "},"beneficiaryBICCity":{"type":"string","description":"The city of the beneficiary BIC"},"customerRate":{"type":"string","description":"The exchange rate that is actually used to convert an amount from one currency to another in a payment transaction."}}},"createDepositWithdrawal":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/createDepositWithdrawalBody"}},"description":"FundsTransfer"},"createDepositWithdrawalBody":{"type":"object","properties":{"paymentDetails":{"type":"array","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment.","items":{"type":"object","properties":{"paymentDetail":{"type":"string","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment."}}}},"beneficiaryCustomerIds":{"type":"array","description":"The customer identifier where the beneficiary is a customer of the bank","items":{"type":"object","properties":{"beneficiaryCustomerId":{"type":"string","description":"The customer identifier where the beneficiary is a customer of the bank"}}}},"beneficiaryBICNames":{"type":"array","description":"The name displayed of the beneficiary BIC","items":{"type":"object","properties":{"beneficiaryBICName":{"type":"string","description":"The name displayed of the beneficiary BIC"}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"debitAccountId":{"type":"string","description":"The identifier of the debit account"},"debitCurrencyId":{"type":"string","description":"The identifier of the debit currency"},"debitAmount":{"type":"number","description":""},"creditAccountId":{"type":"string","description":"The identifier of the credit account"},"creditCurrencyId":{"type":"string","description":"The identifier of the credit currency"},"creditAmount":{"type":"number","description":"The amount to be credited in a payment transaction"},"beneficiaryOurCharges":{"type":"string","description":"Determines who will be responsible for charges."},"processingDate":{"type":"string","format":"date","description":"The bank date that an accounting movement is applied to the bank GL"},"transactionType":{"type":"string","description":""},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account"},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary"},"bankSortCode":{"type":"string","description":"Defines the bank sorting code of the bank and branch. The code entered must exist as a sort code. 6 numeric characters."},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer "},"beneficiaryBICCity":{"type":"string","description":"The city of the beneficiary BIC"},"customerRate":{"type":"string","description":"The exchange rate that is actually used to convert an amount from one currency to another in a payment transaction."}}},"createLoanPayment":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/createLoanPaymentBody"}},"description":"FundsTransfer"},"createLoanPaymentBody":{"type":"object","properties":{"paymentDetails":{"type":"array","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment.","items":{"type":"object","properties":{"paymentDetail":{"type":"string","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment."}}}},"beneficiaryCustomerIds":{"type":"array","description":"The customer identifier where the beneficiary is a customer of the bank","items":{"type":"object","properties":{"beneficiaryCustomerId":{"type":"string","description":"The customer identifier where the beneficiary is a customer of the bank"}}}},"beneficiaryBICNames":{"type":"array","description":"The name displayed of the beneficiary BIC","items":{"type":"object","properties":{"beneficiaryBICName":{"type":"string","description":"The name displayed of the beneficiary BIC"}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"debitAccountId":{"type":"string","description":"The identifier of the debit account"},"debitCurrencyId":{"type":"string","description":"The identifier of the debit currency"},"debitAmount":{"type":"number","description":""},"creditAccountId":{"type":"string","description":"The identifier of the credit account"},"creditCurrencyId":{"type":"string","description":"The identifier of the credit currency"},"creditAmount":{"type":"number","description":"The amount to be credited in a payment transaction"},"beneficiaryOurCharges":{"type":"string","description":"Determines who will be responsible for charges."},"processingDate":{"type":"string","format":"date","description":"The bank date that an accounting movement is applied to the bank GL"},"transactionType":{"type":"string","description":""},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account"},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary"},"bankSortCode":{"type":"string","description":"Defines the bank sorting code of the bank and branch. The code entered must exist as a sort code. 6 numeric characters."},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer "},"beneficiaryBICCity":{"type":"string","description":"The city of the beneficiary BIC"},"customerRate":{"type":"string","description":"The exchange rate that is actually used to convert an amount from one currency to another in a payment transaction."}}},"createLoanPartialPayment":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/createLoanPartialPaymentBody"}},"description":"FundsTransfer"},"createLoanPartialPaymentBody":{"type":"object","properties":{"paymentDetails":{"type":"array","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment.","items":{"type":"object","properties":{"paymentDetail":{"type":"string","description":"Identifies the Payment Details to enable the Beneficiary to apply the payment."}}}},"beneficiaryCustomerIds":{"type":"array","description":"The customer identifier where the beneficiary is a customer of the bank","items":{"type":"object","properties":{"beneficiaryCustomerId":{"type":"string","description":"The customer identifier where the beneficiary is a customer of the bank"}}}},"beneficiaryBICNames":{"type":"array","description":"The name displayed of the beneficiary BIC","items":{"type":"object","properties":{"beneficiaryBICName":{"type":"string","description":"The name displayed of the beneficiary BIC"}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"debitAccountId":{"type":"string","description":"The identifier of the debit account"},"debitCurrencyId":{"type":"string","description":"The identifier of the debit currency"},"debitAmount":{"type":"number","description":""},"creditAccountId":{"type":"string","description":"The identifier of the credit account"},"creditCurrencyId":{"type":"string","description":"The identifier of the credit currency"},"creditAmount":{"type":"number","description":"The amount to be credited in a payment transaction"},"beneficiaryOurCharges":{"type":"string","description":"Determines who will be responsible for charges."},"processingDate":{"type":"string","format":"date","description":"The bank date that an accounting movement is applied to the bank GL"},"transactionType":{"type":"string","description":""},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account"},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary"},"bankSortCode":{"type":"string","description":"Defines the bank sorting code of the bank and branch. The code entered must exist as a sort code. 6 numeric characters."},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer "},"beneficiaryBICCity":{"type":"string","description":"The city of the beneficiary BIC"},"customerRate":{"type":"string","description":"The exchange rate that is actually used to convert an amount from one currency to another in a payment transaction."}}},"StandingOrdersResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/StandingOrdersResponseBody"}},"description":"StandingOrdersResponse"},"StandingOrdersResponseBody":{"type":"array","items":{"type":"object","properties":{"displayNames":{"type":"array","description":"The name used for display purposes","items":{"type":"object","properties":{"displayName":{"type":"string","description":"The name used for display purposes","maxLength":35}}}},"accountWithBanks":{"type":"array","description":"Identifies the bank where the beneficiary maintains his account.","items":{"type":"object","properties":{"accountWithBank":{"type":"string","description":"Identifies the bank where the beneficiary maintains his account.","maxLength":35}}}},"standingOrderId":{"type":"string","description":"The unique standing order identifier","maxLength":35},"orderType":{"type":"string","description":"Defines the order type of the transaction","maxLength":5},"paymentMethod":{"type":"string","description":"The type of method used for the payment","maxLength":4},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","maxLength":3},"amount":{"type":"number","description":""},"currentFrequency":{"type":"string","description":"The present frequency","maxLength":50},"counterPartyAccountId":{"type":"string","description":"The identifier of the counter party's account","maxLength":35},"beneficiaryId":{"type":"string","description":"The identifier of the beneficiary","maxLength":17},"payTo":{"type":"string","description":""},"currentFrequencyDate":{"type":"string","format":"date","description":"Identifies the date component of field CURRENT.FREQUENCY- The Standing Order Application will execute the Standing Order instruction (i.e. the currency and amount specified in the two previous fields) according to the frequency specified in this field "},"frequency":{"type":"string","description":"","maxLength":35},"startDate":{"type":"string","format":"date","description":"The start date"},"currentEndDate":{"type":"string","format":"date","description":"Identifies the Current End Date of the Standing Order for the Currency, "},"futureNotice":{"type":"string","description":"","maxLength":10},"creditAccountId":{"type":"string","description":"The identifier of the credit account"},"creditAccountName":{"type":"string","description":""},"bankSortCode":{"type":"string","description":"Defines the bank sorting code of the bank and branch. The code entered must exist as a sort code. 6 numeric characters."},"stoStartDate":{"type":"string","format":"date","description":""},"beneficiaryBIC":{"type":"string","description":"BIC (Bank Identifier Code) of the beneficiary customer ","maxLength":11},"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account","maxLength":35},"beneficiaryOurCharges":{"type":"string","description":"Determines who will be responsible for charges.","maxLength":3},"paymentOrderProductName":{"type":"string","description":"The name that is displayed for the paymentOrderProduct","maxLength":10},"beneficiaryCountryId":{"type":"string","description":"The country of the beneficiary","maxLength":2},"versionNumber":{"type":"string","description":"","maxLength":4}}}},"updateStandingOrder":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/updateStandingOrderBody"}},"description":"StandingOrder"},"updateStandingOrderBody":{"type":"object","properties":{"beneficiaryNames":{"type":"array","description":"The name displayed of the beneficiary","items":{"type":"object","properties":{"beneficiaryName":{"type":"string","description":"The name displayed of the beneficiary"}}}},"accountWithBanks":{"type":"array","description":"Identifies the bank where the beneficiary maintains his account.","items":{"type":"object","properties":{"accountWithBank":{"type":"string","description":"Identifies the bank where the beneficiary maintains his account."}}}},"displayNames":{"type":"array","description":"The name used for display purposes","items":{"type":"object","properties":{"displayName":{"type":"string","description":"The name used for display purposes"}}}},"beneficiaryBICNames":{"type":"array","description":"The name displayed of the beneficiary BIC","items":{"type":"object","properties":{"beneficiaryBICName":{"type":"string","description":"The name displayed of the beneficiary BIC"}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"paymentMethod":{"type":"string","description":"The type of method used for the payment"},"currentFrequency":{"type":"string","description":"The present frequency"},"currentEndDate":{"type":"string","format":"date","description":"Identifies the Current End Date of the Standing Order for the Curr
[...]
