{"swagger":"2.0","info":{"description":"Import external products ","version":"v1.0.0","title":"Import External Products APIs"},"host":"api.server.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/product/loans/mortgages/externalProducts/{productId}":{"get":{"operationId":"getExternalMortgageProduct","produces":["application/json"],"parameters":[{"name":"productId","in":"path","description":"The identifier of the product","required":true,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ExternalMortgageProductResponse","schema":{"$ref":"#/definitions/ExternalMortgageProductResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}},"post":{"operationId":"createExternalMortgageProduct","produces":["application/json"],"parameters":[{"name":"productId","in":"path","description":"The identifier of the product","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/ExternalMortgageProduct"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ExternalMortgageProductResponse","schema":{"$ref":"#/definitions/ExternalMortgageProductResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}},"put":{"operationId":"updateExternalMortgageProduct","produces":["application/json"],"parameters":[{"name":"productId","in":"path","description":"The identifier of the product","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/ExternalMortgageProduct"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ExternalMortgageProductResponse","schema":{"$ref":"#/definitions/ExternalMortgageProductResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/product/accounts/currentAccounts/externalProducts/{productId}":{"get":{"operationId":"getExternalCurrentAccountProduct","produces":["application/json"],"parameters":[{"name":"productId","in":"path","description":"The identifier of the product","required":true,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ExternalCurrentAccountProductResponse","schema":{"$ref":"#/definitions/ExternalCurrentAccountProductResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}},"post":{"operationId":"createExternalCurrentAccountProduct","produces":["application/json"],"parameters":[{"name":"productId","in":"path","description":"The identifier of the product","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/ExternalCurrentAccountProduct"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ExternalCurrentAccountProductResponse","schema":{"$ref":"#/definitions/ExternalCurrentAccountProductResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}},"put":{"operationId":"updateExternalCurrentAccountProduct","produces":["application/json"],"parameters":[{"name":"productId","in":"path","description":"The identifier of the product","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/ExternalCurrentAccountProduct"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ExternalCurrentAccountProductResponse","schema":{"$ref":"#/definitions/ExternalCurrentAccountProductResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/product/accounts/savingsAccounts/externalProducts/{productId}":{"get":{"operationId":"getExternalSavingsAccountProduct","produces":["application/json"],"parameters":[{"name":"productId","in":"path","description":"The identifier of the product","required":true,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ExternalSavingsAccountProductResponse","schema":{"$ref":"#/definitions/ExternalSavingsAccountProductResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}},"post":{"operationId":"createExternalSavingsAccountProduct","produces":["application/json"],"parameters":[{"name":"productId","in":"path","description":"The identifier of the product","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/ExternalSavingsAccountProduct"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ExternalSavingsAccountProductResponse","schema":{"$ref":"#/definitions/ExternalSavingsAccountProductResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}},"put":{"operationId":"updateExternalSavingsAccountProduct","produces":["application/json"],"parameters":[{"name":"productId","in":"path","description":"The identifier of the product","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/ExternalSavingsAccountProduct"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ExternalSavingsAccountProductResponse","schema":{"$ref":"#/definitions/ExternalSavingsAccountProductResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/product/deposits/termDeposits/externalProducts/{productId}":{"post":{"operationId":"createExternalDepositProduct","produces":["application/json"],"parameters":[{"name":"productId","in":"path","description":"The identifier of the product","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/ExternalDepositProduct"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ExternalDepositProductResponse","schema":{"$ref":"#/definitions/ExternalDepositProductResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}},"put":{"operationId":"updateExternalDepositProduct","produces":["application/json"],"parameters":[{"name":"productId","in":"path","description":"The identifier of the product","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/ExternalDepositProduct"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ExternalDepositProductResponse","schema":{"$ref":"#/definitions/ExternalDepositProductResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/product/deposits/termDepsoits/externalProducts/{productId}":{"get":{"operationId":"getExternalDepositProduct","produces":["application/json"],"parameters":[{"name":"productId","in":"path","description":"The identifier of the product","required":true,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ExternalDepositProductResponse","schema":{"$ref":"#/definitions/ExternalDepositProductResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}},"audit":{"type":"object","properties":{"versionNumber":{"type":"string","description":"The CURR.NO. of the record"}}}}},"ExternalMortgageProduct":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/ExternalMortgageProductBody"}},"description":"ExternalMortgageProduct"},"ExternalMortgageProductBody":{"type":"object","properties":{"displayNames":{"type":"array","description":"The name used for display purposes","items":{"type":"object","properties":{"displayName":{"type":"string","description":"The name used for display purposes"}}}},"organizations":{"type":"array","description":"","items":{"type":"object","properties":{"organizationLevel":{"type":"string","description":""},"organizationCode":{"type":"string","description":""},"organizationExclude":{"type":"string","description":""}}}},"lineOfBusinesses":{"type":"array","items":{"type":"object","properties":{"lineOfBusiness":{"type":"string","description":""},"lineOfBusinessExclude":{"type":"string","description":""}}}},"channels":{"type":"array","description":"","items":{"type":"object","properties":{"channel":{"type":"string","description":""},"channelExclude":{"type":"string","description":""}}}},"principals":{"type":"array","items":{"type":"object","properties":{"fixedRate":{"type":"string","description":"A fixed rate is directly entered by the user specifying the Defined Property and is not defined by an index table.Three basic types of interest are supported by T24; Fixed, Floating, and Periodic. "}}}},"schedules":{"type":"array","items":{"type":"object","properties":{"schedulePaymentType":{"type":"string","description":"The payment schedule type"},"schedulepPaymentMethod":{"type":"string","description":""},"schedulepaymentFrequency":{"type":"string","description":"The frequency of the payment schedule"},"scheduleProperties":{"type":"array","items":{"type":"object","properties":{"scheduleProperty":{"type":"string","description":"The payment schedule property"}}}},"scheduleDates":{"type":"array","items":{"type":"object","properties":{"scheduleStartDate":{"type":"string","format":"date","description":""},"scheduleEndDate":{"type":"string","format":"date","description":""},"scheduleActualAmt":{"type":"string","description":""}}}}}}},"optionDescription":{"type":"string","description":"The description of the Option"},"product":{"type":"string","description":""},"availableFromDate":{"type":"string","format":"date","description":"The date when the product is available for creating arrangements"},"expiryDate":{"type":"string","format":"date","description":"The date an agreement such as a credit facility or limit is due to expire"},"effectiveDate":{"type":"string","format":"date","description":""},"currency":{"type":"string","description":""},"variation":{"type":"string","description":""},"commitmentTerm":{"type":"string","description":""},"commitmentCancelPeriod":{"type":"string","description":""},"commitmentCoolingPeriod":{"type":"string","description":""},"minCommitmentTerm":{"type":"string","description":""},"maxCommitmentTerm":{"type":"string","description":""},"newarrfeeFixedAmount":{"type":"number","description":""},"payofffeeFixedAmount":{"type":"number","description":""},"renewalChangeDateType":{"type":"string","format":"date","description":""},"renewalChangePeriod":{"type":"string","description":""}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"ExternalMortgageProductResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/ExternalMortgageProductResponseBody"}},"description":"ExternalMortgageProductResponse"},"ExternalMortgageProductResponseBody":{"type":"object","properties":{"displayNames":{"type":"array","description":"The name used for display purposes","items":{"type":"object","properties":{"displayName":{"type":"string","description":"The name used for display purposes"}}}},"organizations":{"type":"array","description":"","items":{"type":"object","properties":{"organizationLevel":{"type":"string","description":""},"organizationCode":{"type":"string","description":""},"organizationExclude":{"type":"string","description":""}}}},"lineOfBusinesses":{"type":"array","items":{"type":"object","properties":{"lineOfBusiness":{"type":"string","description":""},"lineOfBusinessExclude":{"type":"string","description":""}}}},"channels":{"type":"array","description":"","items":{"type":"object","properties":{"channel":{"type":"string","description":""},"channelExclude":{"type":"string","description":""}}}},"principals":{"type":"array","items":{"type":"object","properties":{"fixedRate":{"type":"string","description":"A fixed rate is directly entered by the user specifying the Defined Property and is not defined by an index table.Three basic types of interest are supported by T24; Fixed, Floating, and Periodic. "}}}},"schedules":{"type":"array","items":{"type":"object","properties":{"schedulePaymentType":{"type":"string","description":"The payment schedule type"},"schedulepPaymentMethod":{"type":"string","description":""},"schedulepaymentFrequency":{"type":"string","description":"The frequency of the payment schedule"},"scheduleProperties":{"type":"array","items":{"type":"object","properties":{"scheduleProperty":{"type":"string","description":"The payment schedule property"}}}},"scheduleDates":{"type":"array","items":{"type":"object","properties":{"scheduleStartDate":{"type":"string","format":"date","description":""},"scheduleEndDate":{"type":"string","format":"date","description":""},"scheduleActualAmt":{"type":"string","description":""}}}}}}},"optionDescription":{"type":"string","description":"The description of the Option"},"product":{"type":"string","description":""},"availableFromDate":{"type":"string","format":"date","description":"The date when the product is available for creating arrangements"},"expiryDate":{"type":"string","format":"date","description":"The date an agreement such as a credit facility or limit is due to expire"},"effectiveDate":{"type":"string","format":"date","description":""},"currency":{"type":"string","description":""},"variation":{"type":"string","description":""},"commitmentTerm":{"type":"string","description":""},"commitmentCancelPeriod":{"type":"string","description":""},"commitmentCoolingPeriod":{"type":"string","description":""},"minCommitmentTerm":{"type":"string","description":""},"maxCommitmentTerm":{"type":"string","description":""},"newarrfeeFixedAmount":{"type":"number","description":""},"payofffeeFixedAmount":{"type":"number","description":""},"renewalChangeDateType":{"type":"string","format":"date","description":""},"renewalChangePeriod":{"type":"string","description":""}}},"ErrorHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"ScreenErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/ScreenErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"ScreenErrorResponse"},"ScreenErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}},"ExternalCurrentAccountProduct":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/ExternalCurrentAccountProductBody"}},"description":"ExternalCurrentAccountProduct"},"ExternalCurrentAccountProductBody":{"type":"object","properties":{"displayNames":{"type":"array","description":"The name used for display purposes","items":{"type":"object","properties":{"displayName":{"type":"string","description":"The name used for display purposes"}}}},"organizations":{"type":"array","description":"","items":{"type":"object","properties":{"organizationLevel":{"type":"string","description":""},"organizationCode":{"type":"string","description":""},"organizationExclude":{"type":"string","description":""}}}},"lineOfBusinesses":{"type":"array","items":{"type":"object","properties":{"lineOfBusiness":{"type":"string","description":""},"lineofBusinessExclude":{"type":"string","description":""}}}},"channels":{"type":"array","description":"","items":{"type":"object","properties":{"channel":{"type":"string","description":""},"channelExclude":{"type":"string","description":""}}}},"creditInterests":{"type":"array","items":{"type":"object","properties":{"creditInterestFixedRate":{"type":"string","description":""}}}},"debitInterests":{"type":"array","items":{"type":"object","properties":{"debitInterestFixedRate":{"type":"string","description":""}}}},"schedules":{"type":"array","items":{"type":"object","properties":{"schedulePaymentType":{"type":"string","description":"The payment schedule type"},"schedulepaymentFrequency":{"type":"string","description":"The frequency of the payment schedule"}}}},"periodiccharges":{"type":"array","items":{"type":"object","properties":{"periodicchargeCurrency":{"type":"string","description":""},"periodicchargeMaxChgAmount":{"type":"number","description":""},"periodicchargeMinChgAmount":{"type":"number","description":""}}}},"optionDescription":{"type":"string","description":"The description of the Option"},"product":{"type":"string","description":""},"availableFromDate":{"type":"string","format":"date","description":"The date when the product is available for creating arrangements"},"expiryDate":{"type":"string","format":"date","description":"The date an agreement such as a credit facility or limit is due to expire"},"effectiveDate":{"type":"string","format":"date","description":""},"currency":{"type":"string","description":""},"variation":{"type":"string","description":""},"chequewdFixedAmount":{"type":"number","description":""},"highestdebitFixedAmount":{"type":"number","description":""},"balanceAvailabilityCreditCheck":{"type":"string","description":""},"balanceAvailabilityAvailBalanceUpdate":{"type":"string","description":""},"balanceAvailabilityOverdraftProcessing":{"type":"string","description":""},"mgmtfeeFixedAmount":{"type":"number","description":""},"cardissuefeeFixedAmount":{"type":"number","description":""},"limitfeesFixedAmount":{"type":"number","description":""},"payfeesFixedAmount":{"type":"number","description":""},"returnfeesFixedAmount":{"type":"number","description":""},"nsfreversalfeeFixedAmount":{"type":"number","description":""}}},"ExternalCurrentAccountProductResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/ExternalCurrentAccountProductResponseBody"}},"description":"ExternalCurrentAccountProductResponse"},"ExternalCurrentAccountProductResponseBody":{"type":"object","properties":{"displayNames":{"type":"array","description":"The name used for display purposes","items":{"type":"object","properties":{"displayName":{"type":"string","description":"The name used for display purposes"}}}},"organizations":{"type":"array","description":"","items":{"type":"object","properties":{"organizationLevel":{"type":"string","description":""},"organizationCode":{"type":"string","description":""},"organizationExclude":{"type":"string","description":""}}}},"lineOfBusinesses":{"type":"array","items":{"type":"object","properties":{"lineOfBusiness":{"type":"string","description":""},"lineofBusinessExclude":{"type":"string","description":""}}}},"channels":{"type":"array","description":"","items":{"type":"object","properties":{"channel":{"type":"string","description":""},"channelExclude":{"type":"string","description":""}}}},"creditInterests":{"type":"array","items":{"type":"object","properties":{"creditInterestFixedRate":{"type":"string","description":""}}}},"debitInterests":{"type":"array","items":{"type":"object","properties":{"debitInterestFixedRate":{"type":"string","description":""}}}},"schedules":{"type":"array","items":{"type":"object","properties":{"schedulePaymentType":{"type":"string","description":"The payment schedule type"},"schedulepaymentFrequency":{"type":"string","description":"The frequency of the payment schedule"}}}},"periodiccharges":{"type":"array","items":{"type":"object","properties":{"periodicchargeCurrency":{"type":"string","description":""},"periodicchargeMaxChgAmount":{"type":"number","description":""},"periodicchargeMinChgAmount":{"type":"number","description":""}}}},"optionDescription":{"type":"string","description":"The description of the Option"},"product":{"type":"string","description":""},"availableFromDate":{"type":"string","format":"date","description":"The date when the product is available for creating arrangements"},"expiryDate":{"type":"string","format":"date","description":"The date an agreement such as a credit facility or limit is due to expire"},"effectiveDate":{"type":"string","format":"date","description":""},"currency":{"type":"string","description":""},"variation":{"type":"string","description":""},"chequewdFixedAmount":{"type":"number","description":""},"highestdebitFixedAmount":{"type":"number","description":""},"balanceAvailabilityCreditCheck":{"type":"string","description":""},"balanceAvailabilityAvailBalanceUpdate":{"type":"string","description":""},"balanceAvailabilityOverdraftProcessing":{"type":"string","description":""},"mgmtfeeFixedAmount":{"type":"number","description":""},"cardissuefeeFixedAmount":{"type":"number","description":""},"limitfeesFixedAmount":{"type":"number","description":""},"payfeesFixedAmount":{"type":"number","description":""},"returnfeesFixedAmount":{"type":"number","description":""},"nsfreversalfeeFixedAmount":{"type":"number","description":""}}},"ExternalSavingsAccountProduct":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/ExternalSavingsAccountProductBody"}},"description":"ExternalSavingsAccountProduct"},"ExternalSavingsAccountProductBody":{"type":"object","properties":{"displayNames":{"type":"array","description":"The name used for display purposes","items":{"type":"object","properties":{"displayName":{"type":"string","description":"The name used for display purposes"}}}},"organizations":{"type":"array","description":"","items":{"type":"object","properties":{"organizationLevel":{"type":"string","description":""},"organizationCode":{"type":"string","description":""},"organizationExclude":{"type":"string","description":""}}}},"lineOfBusinesses":{"type":"array","items":{"type":"object","properties":{"lineOfBusiness":{"type":"string","description":""},"lineOfBusinessExclude":{"type":"string","description":""}}}},"channels":{"type":"array","description":"","items":{"type":"object","properties":{"channel":{"type":"string","description":""},"channelExclude":{"type":"string","description":""}}}},"creditInterests":{"type":"array","items":{"type":"object","properties":{"crinterestFixedRate":{"type":"string","description":""}}}},"schedules":{"type":"array","items":{"type":"object","properties":{"schedulePaymentType":{"type":"string","description":"The payment schedule type"},"schedulepaymentFrequency":{"type":"string","description":"The frequency of the payment schedule"},"scheduleProperties":{"type":"array","items":{"type":"object","properties":{"scheduleProperty":{"type":"string","description":"The payment schedule property"}}}}}}},"optionDescription":{"type":"string","description":"The description of the Option"},"product":{"type":"string","description":""},"availableFromDate":{"type":"string","format":"date","description":"The date when the product is available for creating arrangements"},"expiryDate":{"type":"string","format":"date","description":"The date an agreement such as a credit facility or limit is due to expire"},"effectiveDate":{"type":"string","format":"date","description":""},"currency":{"type":"string","description":""},"variation":{"type":"string","description":""},"balanceAvailabilityCreditCheck":{"type":"string","description":""},"balanceAvailabilityAvailBalanceUpdate":{"type":"string","description":""},"mgmtfeeFixedAmount":{"type":"number","description":""},"limitfeesFixedAmount":{"type":"number","description":""},"payfeesFixedAmount":{"type":"number","description":""},"returnfeesFixedAmount":{"type":"number","description":""},"nsfreversalfeeFixedAmount":{"type":"number","description":""},"minbalfeeFixedAmount":{"type":"number","description":""}}},"ExternalSavingsAccountProductResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/ExternalSavingsAccountProductResponseBody"}},"description":"ExternalSavingsAccountProductResponse"},"ExternalSavingsAccountProductResponseBody":{"type":"object","properties":{"displayNames":{"type":"array","description":"The name used for display purposes","items":{"type":"object","properties":{"displayName":{"type":"string","description":"The name used for display purposes"}}}},"organizations":{"type":"array","description":"","items":{"type":"object","properties":{"organizationLevel":{"type":"string","description":""},"organizationCode":{"type":"string","description":""},"organizationExclude":{"type":"string","description":""}}}},"lineOfBusinesses":{"type":"array","items":{"type":"object","properties":{"lineOfBusiness":{"type":"string","description":""},"lineOfBusinessExclude":{"type":"string","description":""}}}},"channels":{"type":"array","description":"","items":{"type":"object","properties":{"channel":{"type":"string","description":""},"channelExclude":{"type":"string","description":""}}}},"creditInterests":{"type":"array","items":{"type":"object","properties":{"crinterestFixedRate":{"type":"string","description":""}}}},"schedules":{"type":"array","items":{"type":"object","properties":{"schedulePaymentType":{"type":"string","description":"The payment schedule type"},"schedulepaymentFrequency":{"type":"string","description":"The frequency of the payment schedule"},"scheduleProperties":{"type":"array","items":{"type":"object","properties":{"scheduleProperty":{"type":"string","description":"The payment schedule property"}}}}}}},"optionDescription":{"type":"string","description":"The description of the Option"},"product":{"type":"string","description":""},"availableFromDate":{"type":"string","format":"date","description":"The date when the product is available for creating arrangements"},"expiryDate":{"type":"string","format":"date","description":"The date an agreement such as a credit facility or limit is due to expire"},"effectiveDate":{"type":"string","format":"date","description":""},"currency":{"type":"string","description":""},"variation":{"type":"string","description":""},"balanceAvailabilityCreditCheck":{"type":"string","description":""},"balanceAvailabilityAvailBalanceUpdate":{"type":"string","description":""},"mgmtfeeFixedAmount":{"type":"number","description":""},"limitfeesFixedAmount":{"type":"number","description":""},"payfeesFixedAmount":{"type":"number","description":""},"returnfeesFixedAmount":{"type":"number","description":""},"nsfreversalfeeFixedAmount":{"type":"number","description":""},"minbalfeeFixedAmount":{"type":"number","description":""}}},"ExternalDepositProduct":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/ExternalDepositProductBody"}},"description":"ExternalDepositProduct"},"ExternalDepositProductBody":{"type":"object","properties":{"displayNames":{"type":"array","description":"The name used for display purposes","items":{"type":"object","properties":{"displayName":{"type":"string","description":"The name used for display purposes"}}}},"organizations":{"type":"array","description":"","items":{"type":"object","properties":{"organizationLevel":{"type":"string","description":""},"organizationCode":{"type":"string","description":""},"organizationExclude":{"type":"string","description":""}}}},"lineOfBusinesses":{"type":"array","items":{"type":"object","properties":{"lineOfBusiness":{"type":"string","description":""},"lineOfBusinessExclude":{"type":"string","description":""}}}},"channels":{"type":"array","description":"","items":{"type":"object","properties":{"channel":{"type":"string","description":""},"channelExclude":{"type":"string","description":""}}}},"depositInterests":{"type":"array","items":{"type":"object","properties":{"depositintFixedRate":{"type":"string","description":""},"depositintTierNegativeRate":{"type":"string","description":""}}}},"schedules":{"type":"array","items":{"type":"object","properties":{"schedulePaymentType":{"type":"string","description":"The payment schedule type"},"schedulepPaymentMethod":{"type":"string","description":""},"schedulepaymentFrequency":{"type":"string","description":"The frequency of the payment schedule"},"scheduleProperties":{"type":"array","items":{"type":"object","properties":{"scheduleProperty":{"type":"string","description":"The payment schedule property"}}}},"scheduleDates":{"type":"array","items":{"type":"object","properties":{"scheduleStartDate":{"type":"string","format":"date","description":""},"scheduleEndDate":{"type":"string","format":"date","description":""},"scheduleActualAmt":{"type":"string","description":""}}}}}}},"optionDescription":{"type":"string","description":"The description of the Option"},"product":{"type":"string","description":""},"availableFromDate":{"type":"string","format":"date","description":"The date when the product is available for creating arrangements"},"expiryDate":{"type":"string","format":"date","description":"The date an agreement such as a credit facility or limit is due to expire"},"effectiveDate":{"type":"string","format":"date","description":""},"currency":{"type":"string","description":""},"variation":{"type":"string","description":""},"commitmentAmount":{"type":"number","description":""},"commitmentTerm":{"type":"string","description":""},"commitmentTermTolDays":{"type":"string","description":""},"commitmentCancelPeriod":{"type":"string","description":""},"commitmentCoolingPeriod":{"type":"string","description":""},"minCommitmentAmount":{"type":"number","description":""},"maxCommitmentAmount":{"type":"number","description":""},"maxCommitmentTerm":{"type":"string","description":""},"mgmtfeesFixedAmount":{"type":"number","description":""},"redemptionfeeFixedAmount":{"type":"number","description":""},"renewalChangeDateType":{"type":"string","format":"date","description":""},"renewalChangePeriod":{"type":"string","description":""}}},"ExternalDepositProductResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/ExternalDepositProductResponseBody"}},"description":"ExternalDepositProductResponse"},"ExternalDepositProductResponseBody":{"type":"object","properties":{"displayNames":{"type":"array","description":"The name used for display purposes","items":{"type":"object","properties":{"displayName":{"type":"string","description":"The name used for display purposes"}}}},"organizations":{"type":"array","description":"","items":{"type":"object","properties":{"organizationLevel":{"type":"string","description":""},"organizationCode":{"type":"string","description":""},"organizationExclude":{"type":"string","description":""}}}},"lineOfBusinesses":{"type":"array","items":{"type":"object","properties":{"lineOfBusiness":{"type":"string","description":""},"lineOfBusinessExclude":{"type":"string","description":""}}}},"channels":{"type":"array","description":"","items":{"type":"object","properties":{"channel":{"type":"string","description":""},"channelExclude":{"type":"string","description":""}}}},"depositInterests":{"type":"array","items":{"type":"object","properties":{"depositintFixedRate":{"type":"string","description":""},"depositintTierNegativeRate":{"type":"string","description":""}}}},"schedules":{"type":"array","items":{"type":"object","properties":{"schedulePaymentType":{"type":"string","description":"The payment schedule type"},"schedulepPaymentMethod":{"type":"string","description":""},"schedulepaymentFrequency":{"type":"string","description":"The frequency of the payment schedule"},"scheduleProperties":{"type":"array","items":{"type":"object","properties":{"scheduleProperty":{"type":"string","description":"The payment schedule property"}}}},"scheduleDates":{"type":"array","items":{"type":"object","properties":{"scheduleStartDate":{"type":"string","format":"date","description":""},"scheduleEndDate":{"type":"string","format":"date","description":""},"scheduleActualAmt":{"type":"string","description":""}}}}}}},"optionDescription":{"type":"string","description":"The description of the Option"},"product":{"type":"string","description":""},"availableFromDate":{"type":"string","format":"date","description":"The date when the product is available for creating arrangements"},"expiryDate":{"type":"string","format":"date","description":"The date an agreement such as a credit facility or limit is due to expire"},"effectiveDate":{"type":"string","format":"date","description":""},"currency":{"type":"string","description":""},"variation":{"type":"string","description":""},"commitmentAmount":{"type":"number","description":""},"commitmentTerm":{"type":"string","description":""},"commitmentTermTolDays":{"type":"string","description":""},"commitmentCancelPeriod":{"type":"string","description":""},"commitmentCoolingPeriod":{"type":"string","description":""},"minCommitmentAmount":{"type":"number","description":""},"maxCommitmentAmount":{"type":"number","description":""},"maxCommitmentTerm":{"type":"string","description":""},"mgmtfeesFixedAmount":{"type":"number","description":""},"redemptionfeeFixedAmount":{"type":"number","description":""},"renewalChangeDateType":{"type":"string","format":"date","description":""},"renewalChangePeriod":{"type":"string","description":""}}}}}