{
    "swagger": "2.0",
    "info":
    {
        "description": "Allows the creation, viewing and management of product builder projects to create and publish products",
        "version": "v1.0.0",
        "title": "Product Projects APIs"
    },
    "host": "api.server.com",
    "basePath": "/api/v1.0.0",
    "schemes": ["http", "https"],
    "paths":
    {
        "/product/projects/":
        {
            "get":
            {
                "operationId": "getProjects",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Random and unique string for each page. Used for security purpose",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "getProjectsResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/getProjectsResponse"
                        }
                    },
                    "default":
                    {
                        "description": "getProjectsErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/getProjectsErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions":
    {
        "QueryHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                },
                "page_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records per page"
                },
                "page_start":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The record from which the response should be displayed"
                },
                "total_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records present"
                },
                "page_token":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "Random and unique string for each page. Used for security purpose"
                }
            }
        },
        "getProjectsResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/getProjectsResponseBody"
                }
            },
            "description": "getProjectsResponse"
        },
        "getProjectsResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "placeholder":
                    {
                        "type": "string"
                    }
                }
            }
        },
        "ErrorHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "getProjectsErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/getProjectsErrorResponseBody"
                }
            },
            "description": "getProjectsErrorResponse"
        },
        "getProjectsErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "code":
                {
                    "type": "string",
                    "description": "The identifier of the error message"
                },
                "message":
                {
                    "type": "string",
                    "description": "The actual t24 error message"
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type"
                }
            }
        }
    }
}