{"swagger":"2.0","info":{"description":"Get and management of products","version":"v1.0.0","title":"Products APIs"},"host":"api.temenos.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/products/customers/{customerId}/eligibleProducts":{"get":{"operationId":"getEligibleProducts","parameters":[{"name":"customerId","in":"path","required":true,"type":"string"},{"name":"productLineId","in":"query","description":"The identifier of the product line","required":false,"type":"string"},{"name":"productGroupId","in":"query","description":"The identifier of the product group","required":false,"type":"string"},{"name":"eligibilityFilter","in":"query","required":false,"type":"string"},{"name":"multiBookEligible","in":"query","required":false,"type":"string"},{"name":"productId","in":"query","description":"The identifier of the product","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"EligibleProductsResponse","schema":{"$ref":"#/definitions/EligibleProductsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/products/interestCatalog/{interestCatalogId}":{"get":{"operationId":"getInterestCatalog","parameters":[{"name":"interestCatalogId","in":"path","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"InterestCatalogResponse","schema":{"$ref":"#/definitions/InterestCatalogResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/products/periodicInterests/{periodicInterestId}":{"get":{"operationId":"getPeriodicInterests","parameters":[{"name":"periodicInterestId","in":"path","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"PeriodicInterestsResponse","schema":{"$ref":"#/definitions/PeriodicInterestsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/products/deposits":{"post":{"operationId":"createDeposit","parameters":[{"in":"body","name":"payload","required":true,"schema":{"$ref":"#/definitions/createDeposit"}},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"createProductResponse","schema":{"$ref":"#/definitions/ProductResponse"}},"default":{"description":"ArrangementErrorResponse","schema":{"$ref":"#/definitions/ArrangementErrorResponse"}}}}},"/products/accounts":{"post":{"operationId":"createAccount","parameters":[{"in":"body","name":"payload","required":true,"schema":{"$ref":"#/definitions/createAccount"}},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"createProductResponse","schema":{"$ref":"#/definitions/ProductResponse"}},"default":{"description":"ArrangementErrorResponse","schema":{"$ref":"#/definitions/ArrangementErrorResponse"}}}}},"/products/nickNames/{arrangementId}":{"put":{"operationId":"updateProductNickName","parameters":[{"in":"body","name":"payload","required":true,"schema":{"$ref":"#/definitions/updateProductNickName"}},{"name":"arrangementId","in":"path","required":true,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"updateProductResponse","schema":{"$ref":"#/definitions/ProductResponse"}},"default":{"description":"ArrangementErrorResponse","schema":{"$ref":"#/definitions/ArrangementErrorResponse"}}}}},"/products/customers/consents/{arrangementId}":{"put":{"operationId":"updateCustomerConsent","parameters":[{"in":"body","name":"payload","required":true,"schema":{"$ref":"#/definitions/updateCustomerConsent"}},{"name":"arrangementId","in":"path","required":true,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"updateProductResponse","schema":{"$ref":"#/definitions/ProductResponse"}},"default":{"description":"ArrangementErrorResponse","schema":{"$ref":"#/definitions/ArrangementErrorResponse"}}}}},"/products/deposits/{arrangementId}":{"put":{"operationId":"updateDepositMaturity","parameters":[{"in":"body","name":"payload","required":true,"schema":{"$ref":"#/definitions/updateDepositMaturity"}},{"name":"arrangementId","in":"path","required":true,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"updateProductResponse","schema":{"$ref":"#/definitions/ProductResponse"}},"default":{"description":"ArrangementErrorResponse","schema":{"$ref":"#/definitions/ArrangementErrorResponse"}}}}},"/products/simulations/depositPartialWithdrawals/{arrangementId}":{"post":{"operationId":"simulateDepositPartialWithdrawals","parameters":[{"in":"body","name":"payload","required":true,"schema":{"$ref":"#/definitions/simulateDepositPartialWithdrawals"}},{"name":"arrangementId","in":"path","required":true,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"createSimulationCaptureResponse","schema":{"$ref":"#/definitions/SimulationCaptureResponse"}},"default":{"description":"ArrangementErrorResponse","schema":{"$ref":"#/definitions/ArrangementErrorResponse"}}}}},"/products/simulations/depositWithdrawals/{arrangementId}":{"post":{"operationId":"simulateDepositWithdrawals","parameters":[{"in":"body","name":"payload","required":true,"schema":{"$ref":"#/definitions/simulateDepositWithdrawals"}},{"name":"arrangementId","in":"path","required":true,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"createSimulationCaptureResponse","schema":{"$ref":"#/definitions/SimulationCaptureResponse"}},"default":{"description":"ArrangementErrorResponse","schema":{"$ref":"#/definitions/ArrangementErrorResponse"}}}}},"/products/simulations/loanPayments/{arrangementId}":{"post":{"operationId":"simulateLoanPayments","parameters":[{"in":"body","name":"payload","required":true,"schema":{"$ref":"#/definitions/simulateLoanPayments"}},{"name":"arrangementId","in":"path","required":true,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"createSimulationCaptureResponse","schema":{"$ref":"#/definitions/SimulationCaptureResponse"}},"default":{"description":"ArrangementErrorResponse","schema":{"$ref":"#/definitions/ArrangementErrorResponse"}}}}},"/products/{arrangementId}/accountIdentifiers":{"put":{"operationId":"updateAccountIdentifiers","parameters":[{"in":"body","name":"payload","required":true,"schema":{"$ref":"#/definitions/updateAccountIdentifiers"}},{"name":"arrangementId","in":"path","required":true,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"updateProductResponse","schema":{"$ref":"#/definitions/ProductResponse"}},"default":{"description":"ArrangementErrorResponse","schema":{"$ref":"#/definitions/ArrangementErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"EligibleProductsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/EligibleProductsResponseBody"}},"description":"EligibleProductsResponse"},"EligibleProductsResponseBody":{"type":"array","items":{"type":"object","properties":{"currencies":{"type":"array","description":"","items":{"type":"object","properties":{"currencyId":{"type":"array","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","items":{"type":"string"}},"currencyName":{"type":"array","description":"The name that is displayed for the currency","items":{"type":"string"}}}}},"termDetails":{"type":"array","items":{"type":"object","properties":{"minimumTerm":{"type":"array","description":"","items":{"type":"string"}},"maximumTerm":{"type":"array","description":"","items":{"type":"string"}}}}},"productLineId":{"type":"string","description":"The identifier of the product line"},"productLineName":{"type":"string","description":"The name that is displayed for the product line"},"productGroupId":{"type":"string","description":"The identifier of the product group","maxLength":35},"productGroupName":{"type":"string","description":"The name that is displayed for the product group","maxLength":35},"productId":{"type":"string","description":"The identifier of the product","maxLength":30},"productName":{"type":"string","description":"The name that is displayed for the product","maxLength":35},"availableFromDate":{"type":"string","format":"date","description":"The date when the product is available for creating arrangements"}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}},"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"InterestCatalogResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/InterestCatalogResponseBody"}},"description":"InterestCatalogResponse"},"InterestCatalogResponseBody":{"type":"array","items":{"type":"object","properties":{"periodicIndexes":{"type":"array","items":{"type":"object","properties":{"periodicIndex":{"type":"string","description":"","maxLength":4}}}},"periodicInterestId":{"type":"string","description":"","maxLength":80}}}},"PeriodicInterestsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/PeriodicInterestsResponseBody"}},"description":"PeriodicInterestsResponse"},"PeriodicInterestsResponseBody":{"type":"array","items":{"type":"object","properties":{"periodicInterests":{"type":"array","items":{"type":"object","properties":{"amount":{"type":"string","description":""},"interestRate":{"type":"string","description":"","maxLength":11}}}},"term":{"type":"string","description":"The period to which the rate applies","maxLength":5}}}},"createDeposit":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/createDepositBody"}},"description":"Product"},"createDepositBody":{"type":"object","properties":{"customerIds":{"type":"array","description":"The identifier of the customer","items":{"type":"object","properties":{"customerId":{"type":"string","description":"The identifier of the customer"}}}},"properties":{"type":"array","description":"","items":{"type":"object","properties":{"propertyId":{"type":"string","description":"The identifier of the property, being an instances of a property class, e.g. Interest is property class and Debit Interest is property"},"fields":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"fieldValue":{"type":"string","description":""}}}}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"productId":{"type":"string","description":"The identifier of the product"},"masterArrangementId":{"type":"string","description":""},"roleName":{"type":"string","description":""},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"effectiveDate":{"type":"string","format":"date","description":"The date on which the principal movement is effected"},"activityId":{"type":"string","description":"The identifier of the activity"},"account":{"type":"object","properties":{"alternateIds":{"type":"array","items":{"type":"object","properties":{"alternateIdType":{"type":"string","description":""},"alternateId":{"type":"string","description":""}}}},"accountType":{"type":"string","description":""},"accountName":{"type":"string","description":"The name of the account that is displayed"},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"portfolioId":{"type":"string","description":"The identifier of the portfolio"},"anniversary":{"type":"string","description":""}}},"balance":{"type":"object","properties":{"alternateIds":{"type":"array","items":{"type":"object","properties":{"alternateIdType":{"type":"string","description":""},"alternateId":{"type":"string","description":""}}}},"accountType":{"type":"string","description":""},"accountName":{"type":"string","description":"The name of the account that is displayed"},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"portfolioId":{"type":"string","description":"The identifier of the portfolio"},"anniversary":{"type":"string","description":""}}},"customer":{"type":"object","properties":{"customers":{"type":"array","description":"","items":{"type":"object","properties":{"customer":{"type":"string","description":""},"customerRole":{"type":"string","description":"Customer Role"},"taxLiabilityPercentage":{"type":"number","description":""},"limitAllocactionPercentage":{"type":"number","description":""},"GLAllocactionPercentage":{"type":"number","description":""}}}},"jointLiability":{"type":"string","description":""}}},"schedule":{"type":"object","properties":{"payment":{"type":"array","description":"","items":{"type":"object","properties":{"paymentType":{"type":"string","description":"The payment type identifier"},"paymentMethod":{"type":"string","description":"The type of method used for the payment"},"paymentFrequency":{"type":"string","description":"The frequency at which a payment is required to be generated"},"billType":{"type":"string","description":"This signifies the type of the bill generated"},"billProduced":{"type":"string","description":""},"autoSettle":{"type":"string","description":""},"property":{"type":"array","items":{"type":"object","properties":{"propertyId":{"type":"string","description":"The identifier of the property, being an instances of a property class, e.g. Interest is property class and Debit Interest is property"},"dueFrequency":{"type":"string","description":""}}}},"payments":{"type":"array","items":{"type":"object","properties":{"percentage":{"type":"number","description":"The percentage of holdings redeemed/subscribed"},"startDate":{"type":"string","format":"date","description":"The start date"},"endDate":{"type":"string","format":"date","description":"The date an agreement or contract ceases - the opposite of start date"},"numberPayments":{"type":"string","description":""},"calcAmount":{"type":"number","description":""},"actualAmount":{"type":"number","description":""}}}}}}},"amortisationTerm":{"type":"string","description":""},"residualAmount":{"type":"number","description":""},"billsCombined":{"type":"string","description":""},"recalcFrequency":{"type":"string","description":""}}},"settlement":{"type":"object","properties":{"settlement":{"type":"array","description":"","items":{"type":"object","properties":{"payinSettlement":{"type":"string","description":""},"payoutSettlement":{"type":"string","description":""},"reference":{"type":"array","items":{"type":"object","properties":{"ddMandateReference":{"type":"string","format":"date","description":""},"payinAccount":{"type":"string","description":""},"payinBeneficiary":{"type":"string","description":""},"payinPercentage":{"type":"number","description":""},"payinAmount":{"type":"number","description":""},"payoutAccount":{"type":"string","description":""},"payoutBeneficiary":{"type":"string","description":""},"payoutPercentage":{"type":"number","description":""},"payoutAmount":{"type":"number","description":""}}}}}}},"assocSettlement":{"type":"array","description":"","items":{"type":"object","properties":{"payinSettlement":{"type":"string","description":""},"payinRule":{"type":"string","description":""},"payinSettlementActivity":{"type":"string","description":""},"payinRCType":{"type":"string","description":""},"payinRCCondition":{"type":"string","description":""},"reference":{"type":"array","items":{"type":"object","properties":{"ddMandateReference":{"type":"string","format":"date","description":""},"payinAccount":{"type":"string","description":""},"payinBeneficiary":{"type":"string","description":""},"payinPOProduct":{"type":"string","description":""},"payinPercentage":{"type":"number","description":""},"payinAmount":{"type":"number","description":""},"payinActivity":{"type":"string","description":""}}}}}}},"payout":{"type":"array","description":"","items":{"type":"object","properties":{"payoutSettlement":{"type":"string","description":""},"payoutSettlementActivity":{"type":"string","description":""},"property":{"type":"array","items":{"type":"object","properties":{"payoutPropertyClass":{"type":"string","description":""},"payoutProperty":{"type":"string","description":""},"payoutAccount":{"type":"string","description":""},"payoutBeneficiary":{"type":"string","description":""},"payoutPOProduct":{"type":"string","description":""},"payoutPercentage":{"type":"number","description":""},"payoutAmount":{"type":"number","description":""},"payoutActivity":{"type":"string","description":""}}}}}}},"paymentType":{"type":"string","description":"The payment type identifier"},"defaultSettlementAccount":{"type":"string","description":""}}},"tax":{"type":"object","properties":{"property":{"type":"array","description":"","items":{"type":"object","properties":{"propertyValue":{"type":"string","description":""},"netTax":{"type":"string","description":""},"tax":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":""}}}},"taxCondition":{"type":"array","items":{"type":"object","properties":{"taxCondition":{"type":"string","description":""}}}}}}},"netTax":{"type":"string","description":""}}},"commitment":{"type":"object","properties":{"amount":{"type":"number","description":""},"changeAmount":{"type":"number","description":""},"term":{"type":"string","description":"The period to which the rate applies"},"revolving":{"type":"string","description":"","enum":["NO","PAYMENT","PREPAYMENT"]},"updateLimit":{"type":"string","description":"Decision field, if the limits to be booked or not at the time of issuing the pre-advise LC","enum":["YES","NO"]}}},"cdpConsent":{"type":"object","properties":{"consentTypes":{"type":"array","description":"Conset Type for which the consent is given.The pre-defined consent types are set at Product level and will default on to the arrangement.","items":{"type":"object","properties":{"consentType":{"type":"string","description":"Conset Type for which the consent is given.The pre-defined consent types are set at Product level and will default on to the arrangement."},"consentGiven":{"type":"string","description":""},"consentGivenDate":{"type":"string","format":"date","description":""},"consentExpiryDate":{"type":"string","format":"date","description":""},"consentWithdraw":{"type":"string","description":""},"withdrawDate":{"type":"string","format":"date","description":""},"consentBlocks":{"type":"string","description":""},"subTypes":{"type":"array","items":{"type":"object","properties":{"consentSubType":{"type":"string","description":"Consent types may have sub-types under it which may require explicit consent from the customer.These sub-types are set at Product level and will default on to the arrangement."},"subTypeConsentGiven":{"type":"string","description":""}}}},"withdrawNotes":{"type":"array","items":{"type":"object","properties":{"withdrawNote":{"type":"string","description":""}}}},"blockNotes":{"type":"array","items":{"type":"object","properties":{"blockNote":{"type":"string","description":""}}}}}}},"expiryDate":{"type":"string","format":"date","description":"The date an agreement such as a credit facility or limit is due to expire"}}},"supplementaryAttirbs":{"type":"object","properties":{"totalPaymentAmount":{"type":"number","description":""},"statementCutDate":{"type":"string","format":"date","description":""},"nextPaymentAmount":{"type":"number","description":""},"nextPaymentDate":{"type":"string","format":"date","description":""},"sortCode":{"type":"string","description":"The bank identifier code which identifies both the bank and the branch where the account is held"},"status":{"type":"string","description":"Get a detail status of the specified service/services"},"clientName":{"type":"string","description":""},"swiftReference":{"type":"string","description":""},"cardType":{"type":"string","description":"The type of the card, e.g. Visa, Mastercard, etc."},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"blockedAmount":{"type":"number","description":""},"availableAmount":{"type":"number","description":""},"creditLimit":{"type":"string","description":""},"expiryDate":{"type":"string","format":"date","description":"The date an agreement such as a credit facility or limit is due to expire"},"openDate":{"type":"string","format":"date","description":""},"cards":{"type":"string","description":""},"closingBalance":{"type":"string","description":"Closing balance of the arrangement"},"openingBalance":{"type":"string","description":""},"ownBankIndicator":{"type":"string","description":""}}}}},"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}},"audit":{"type":"object","properties":{"versionNumber":{"type":"string","description":"The CURR.NO. of the record"}}}}},"ProductResponse":{"properties":{"header":{"$ref":"#/definitions/ArrangementHeader"},"body":{"$ref":"#/definitions/ProductResponseBody"}},"description":"ProductResponse"},"ProductResponseBody":{"type":"object","properties":{"arrangementActivity":{"type":"object","properties":{"customerIds":{"type":"array","description":"The identifier of the customer","items":{"type":"object","properties":{"customerId":{"type":"string","description":"The identifier of the customer"}}}},"properties":{"type":"array","description":"","items":{"type":"object","properties":{"propertyId":{"type":"string","description":"The identifier of the property, being an instances of a property class, e.g. Interest is property class and Debit Interest is property"},"fields":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"fieldValue":{"type":"string","description":""}}}}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"arrangementId":{"type":"string","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string."},"productId":{"type":"string","description":"The identifier of the product"},"masterArrangementId":{"type":"string","description":""},"roleName":{"type":"string","description":""},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"effectiveDate":{"type":"string","format":"date","description":"The date on which the principal movement is effected"},"activityId":{"type":"string","description":"The identifier of the activity"}}},"activities":{"type":"object","properties":{"{activityName}":{"type":"object","properties":{"activity":{"type":"string"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"id":{"type":"string","description":"The Identifier of the record created"}}}}},"properties":{"type":"object","properties":{"account":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"alternateIds":{"type":"array","items":{"type":"object","properties":{"alternateIdType":{"type":"string","description":""},"alternateId":{"type":"string","description":""}}}},"accountType":{"type":"string","description":""},"accountName":{"type":"string","description":"The name of the account that is displayed"},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"portfolioId":{"type":"string","description":"The identifier of the portfolio"},"anniversary":{"type":"string","description":""}}}}},"balance":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"alternateIds":{"type":"array","items":{"type":"object","properties":{"alternateIdType":{"type":"string","description":""},"alternateId":{"type":"string","description":""}}}},"accountType":{"type":"string","description":""},"accountName":{"type":"string","description":"The name of the account that is displayed"},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"portfolioId":{"type":"string","description":"The identifier of the portfolio"},"anniversary":{"type":"string","description":""}}}}},"activityCharges":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"messaging":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"arrangementRules":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"agentCommission":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"rewardsPoints":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"alerts":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"adminfees":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"redemptionfee":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"withdrawalfees":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"insurance":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"bonus":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"dormancyfees":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"mgmtfees":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"closure":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"customer":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"customers":{"type":"array","description":"","items":{"type":"object","properties":{"customer":{"type":"string","description":""},"customerRole":{"type":"string","description":"Customer Role"},"taxLiabilityPercentage":{"type":"number","description":""},"limitAllocactionPercentage":{"type":"number","description":""},"GLAllocactionPercentage":{"type":"number","description":""}}}},"jointLiability":{"type":"string","description":""}}}}},"depositint":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"officers":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"prDeposit":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"prCurrentBalances":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"schedule":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"payment":{"type":"array","description":"","items":{"type":"object","properties":{"paymentType":{"type":"string","description":"The payment type identifier"},"paymentMethod":{"type":"string","description":"The type of method used for the payment"},"paymentFrequency":{"type":"string","description":"The frequency at which a payment is required to be generated"},"billType":{"type":"string","description":"This signifies the type of the bill generated"},"billProduced":{"type":"string","description":""},"autoSettle":{"type":"string","description":""},"property":{"type":"array","items":{"type":"object","properties":{"propertyId":{"type":"string","description":"The identifier of the property, being an instances of a property class, e.g. Interest is property class and Debit Interest is property"},"dueFrequency":{"type":"string","description":""}}}},"payments":{"type":"array","items":{"type":"object","properties":{"percentage":{"type":"number","description":"The percentage of holdings redeemed/subscribed"},"startDate":{"type":"string","format":"date","description":"The start date"},"endDate":{"type":"string","format":"date","description":"The date an agreement or contract ceases - the opposite of start date"},"numberPayments":{"type":"string","description":""},"calcAmount":{"type":"number","description":""},"actualAmount":{"type":"number","description":""}}}}}}},"amortisationTerm":{"type":"string","description":""},"residualAmount":{"type":"number","description":""},"billsCombined":{"type":"string","description":""},"recalcFrequency":{"type":"string","description":""}}}}},"poEarlyWithdrawal":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"poWithdrawal":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"periodiccharge":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"deppricing":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"renewal":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"reporting":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"settlement":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"settlement":{"type":"array","description":"","items":{"type":"object","properties":{"payinSettlement":{"type":"string","description":""},"payoutSettlement":{"type":"string","description":""},"reference":{"type":"array","items":{"type":"object","properties":{"ddMandateReference":{"type":"string","format":"date","description":""},"payinAccount":{"type":"string","description":""},"payinBeneficiary":{"type":"string","description":""},"payinPercentage":{"type":"number","description":""},"payinAmount":{"type":"number","description":""},"payoutAccount":{"type":"string","description":""},"payoutBeneficiary":{"type":"string","description":""},"payoutPercentage":{"type":"number","description":""},"payoutAmount":{"type":"number","description":""}}}}}}},"assocSettlement":{"type":"array","description":"","items":{"type":"object","properties":{"payinSettlement":{"type":"string","description":""},"payinRule":{"type":"string","description":""},"payinSettlementActivity":{"type":"string","description":""},"payinRCType":{"type":"string","description":""},"payinRCCondition":{"type":"string","description":""},"reference":{"type":"array","items":{"type":"object","properties":{"ddMandateReference":{"type":"string","format":"date","description":""},"payinAccount":{"type":"string","description":""},"payinBeneficiary":{"type":"string","description":""},"payinPOProduct":{"type":"string","description":""},"payinPercentage":{"type":"number","description":""},"payinAmount":{"type":"number","description":""},"payinActivity":{"type":"string","description":""}}}}}}},"payout":{"type":"array","description":"","items":{"type":"object","properties":{"payoutSettlement":{"type":"string","description":""},"payoutSettlementActivity":{"type":"string","description":""},"property":{"type":"array","items":{"type":"object","properties":{"payoutPropertyClass":{"type":"string","description":""},"payoutProperty":{"type":"string","description":""},"payoutAccount":{"type":"string","description":""},"payoutBeneficiary":{"type":"string","description":""},"payoutPOProduct":{"type":"string","description":""},"payoutPercentage":{"type":"number","description":""},"payoutAmount":{"type":"number","description":""},"payoutActivity":{"type":"string","description":""}}}}}}},"paymentType":{"type":"string","description":"The payment type identifier"},"defaultSettlementAccount":{"type":"string","description":""}}}}},"tax":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"property":{"type":"array","description":"","items":{"type":"object","properties":{"propertyValue":{"type":"string","description":""},"netTax":{"type":"string","description":""},"tax":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":""}}}},"taxCondition":{"type":"array","items":{"type":"object","properties":{"taxCondition":{"type":"string","description":""}}}}}}},"netTax":{"type":"string","description":""}}}}},"commitment":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"amount":{"type":"number","description":""},"changeAmount":{"type":"number","description":""},"term":{"type":"string","description":"The period to which the rate applies"},"revolving":{"type":"string","description":"","enum":["NO","PAYMENT","PREPAYMENT"]},"updateLimit":{"type":"string","description":"Decision field, if the limits to be booked or not at the time of issuing the pre-advise LC","enum":["YES","NO"]}}}}},"cdpConsent":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"consentTypes":{"type":"array","description":"Conset Type for which the consent is given.The pre-defined consent types are set at Product level and will default on to the arrangement.","items":{"type":"object","properties":{"consentType":{"type":"string","description":"Conset Type for which the consent is given.The pre-defined consent types are set at Product level and will default on to the arrangement."},"consentGiven":{"type":"string","description":""},"consentGivenDate":{"type":"string","format":"date","description":""},"consentExpiryDate":{"type":"string","format":"date","description":""},"consentWithdraw":{"type":"string","description":""},"withdrawDate":{"type":"string","format":"date","description":""},"consentBlocks":{"type":"string","description":""},"subTypes":{"type":"array","items":{"type":"object","properties":{"consentSubType":{"type":"string","description":"Consent types may have sub-types under it which may require explicit consent from the customer.These sub-types are set at Product level and will default on to the arrangement."},"subTypeConsentGiven":{"type":"string","description":""}}}},"withdrawNotes":{"type":"array","items":{"type":"object","properties":{"withdrawNote":{"type":"string","description":""}}}},"blockNotes":{"type":"array","items":{"type":"object","properties":{"blockNote":{"type":"string","description":""}}}}}}},"expiryDate":{"type":"string","format":"date","description":"The date an agreement such as a credit facility or limit is due to expire"}}}}},"dormancy":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"statement":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string"},"id":{"type":"string"},"status":{"type":"string"}}}}},"supplementaryAttirbs":{"type":"object","properties":{"header":{"type":"object","properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"parseTime":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"}}},"body":{"type":"object","properties":{"totalPaymentAmount":{"type":"number","description":""},"statementCutDate":{"type":"string","format":"date","description":""},"nextPaymentAmount":{"type":"number","description":""},"nextPaymentDate":{"type":"string","format":"date","description":""},"sortCode":{"type":"string","description":"The bank identifier code which identifies both the bank and the branch where the account is held"},"status":{"type":"string","description":"Get a detail status of the specified service/services"},"clientName":{"type":"string","description":""},"swiftReference":{"type":"string","description":""},"cardType":{"type":"string","description":"The type of the card, e.g. Visa, Mastercard, etc."},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"blockedAmount":{"type":"number","description":""},"availableAmount":{"type":"number","description":""},"creditLimit":{"type":"string","description":""},"expiryDate":{"type":"string","format":"date","description":"The date an agreement such as a credit facility or limit is due to expire"},"openDate":{"type":"string","format":"date","description":""},"cards":{"type":"string","description":""},"closingBalance":{"type":"string","description":"Closing balance of the arrangement"},"openingBalance":{"type":"string","description":""},"ownBankIndicator":{"type":"string","description":""}}}}}}}}},"ArrangementErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ArrangementHeader"},"error":{"$ref":"#/definitions/ArrangementErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"ArrangementErrorResponse"},"ArrangementErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"property":{"type":"string","description":"The corresponding property"}}}},"type":{"type":"string","description":"The identifier of error type"}}},"ArrangementHeader":{"properties":{"transactionStatus":{"type":"string","description":"The status of the transaction"},"aaaId":{"type":"string","description":"The Identifier of the aa record created"},"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"createAccount":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/createAccountBody"}},"description":"Product"},"createAccountBody":{"type":"object","properties":{"customerIds":{"type":"array","description":"The identifier of the customer","items":{"type":"object","properties":{"customerId":{"type":"string","description":"The identifier of the customer"}}}},"properties":{"type":"array","description":"","items":{"type":"object","properties":{"propertyId":{"type":"string","description":"The identifier of the property, being an instances of a property class, e.g. Interest is property class and Debit Interest is property"},"fields":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"fieldValue":{"type":"string","description":""}}}}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"productId":{"type":"string","description":"The identifier of the product"},"masterArrangementId":{"type":"string","description":""},"roleName":{"type":"string","description":""},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"effectiveDate":{"type":"string","format":"date","description":"The date on which the principal movement is effected"},"activityId":{"type":"string","description":"The identifier of the activity"},"account":{"type":"object","properties":{"alternateIds":{"type":"array","items":{"type":"object","properties":{"alternateIdType":{"type":"string","description":""},"alternateId":{"type":"string","description":""}}}},"accountType":{"type":"string","description":""},"accountName":{"type":"string","description":"The name of the account that is displayed"},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"portfolioId":{"type":"string","description":"The identifier of the portfolio"},"anniversary":{"type":"string","description":""}}},"balance":{"type":"object","properties":{"alternateIds":{"type":"array","items":{"type":"object","properties":{"alternateIdType":{"type":"string","description":""},"alternateId":{"type":"string","description":""}}}},"accountType":{"type":"string","description":""},"accountName":{"type":"string","description":"The name of the account that is displayed"},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"portfolioId":{"type":"string","description":"The identifier of the portfolio"},"anniversary":{"type":"string","description":""}}},"customer":{"type":"object","properties":{"customers":{"type":"array","description":"","items":{"type":"object","properties":{"customer":{"type":"string","description":""},"customerRole":{"type":"string","description":"Customer Role"},"taxLiabilityPercentage":{"type":"number","description":""},"limitAllocactionPercentage":{"type":"number","description":""},"GLAllocactionPercentage":{"type":"number","description":""}}}},"jointLiability":{"type":"string","description":""}}},"schedule":{"type":"object","properties":{"payment":{"type":"array","description":"","items":{"type":"object","properties":{"paymentType":{"type":"string","description":"The payment type identifier"},"paymentMethod":{"type":"string","description":"The type of method used for the payment"},"paymentFrequency":{"type":"string","description":"The frequency at which a payment is required to be generated"},"billType":{"type":"string","description":"This signifies the type of the bill generated"},"billProduced":{"type":"string","description":""},"autoSettle":{"type":"string","description":""},"property":{"type":"array","items":{"type":"object","properties":{"propertyId":{"type":"string","description":"The identifier of the property, being an instances of a property class, e.g. Interest is property class and Debit Interest is property"},"dueFrequency":{"type":"string","description":""}}}},"payments":{"type":"array","items":{"type":"object","properties":{"percentage":{"type":"number","description":"The percentage of holdings redeemed/subscribed"},"startDate":{"type":"string","format":"date","description":"The start date"},"endDate":{"type":"string","format":"date","description":"The date an agreement or contract ceases - the opposite of start date"},"numberPayments":{"type":"string","description":""},"calcAmount":{"type":"number","description":""},"actualAmount":{"type":"number","description":""}}}}}}},"amortisationTerm":{"type":"string","description":""},"residualAmount":{"type":"number","description":""},"billsCombined":{"type":"string","description":""},"recalcFrequency":{"type":"string","description":""}}},"settlement":{"type":"object","properties":{"settlement":{"type":"array","description":"","items":{"type":"object","properties":{"payinSettlement":{"type":"string","description":""},"payoutSettlement":{"type":"string","description":""},"reference":{"type":"array","items":{"type":"object","properties":{"ddMandateReference":{"type":"string","format":"date","description":""},"payinAccount":{"type":"string","description":""},"payinBeneficiary":{"type":"string","description":""},"payinPercentage":{"type":"number","description":""},"payinAmount":{"type":"number","description":""},"payoutAccount":{"type":"string","description":""},"payoutBeneficiary":{"type":"string","description":""},"payoutPercentage":{"type":"number","description":""},"payoutAmount":{"type":"number","description":""}}}}}}},"assocSettlement":{"type":"array","description":"","items":{"type":"object","properties":{"payinSettlement":{"type":"string","description":""},"payinRule":{"type":"string","description":""},"payinSettlementActivity":{"type":"string","description":""},"payinRCType":{"type":"string","description":""},"payinRCCondition":{"type":"string","description":""},"reference":{"type":"array","items":{"type":"object","properties":{"ddMandateReference":{"type":"string","format":"date","description":""},"payinAccount":{"type":"string","description":""},"payinBeneficiary":{"type":"string","description":""},"payinPOProduct":{"type":"string","description":""},"payinPercentage":{"type":"number","description":""},"payinAmount":{"type":"number","description":""},"payinActivity":{"type":"string","description":""}}}}}}},"payout":{"type":"array","description":"","items":{"type":"object","properties":{"payoutSettlement":{"type":"string","description":""},"payoutSettlementActivity":{"type":"string","description":""},"property":{"type":"array","items":{"type":"object","properties":{"payoutPropertyClass":{"type":"string","description":""},"payoutProperty":{"type":"string","description":""},"payoutAccount":{"type":"string","description":""},"payoutBeneficiary":{"type":"string","description":""},"payoutPOProduct":{"type":"string","description":""},"payoutPercentage":{"type":"number","description":""},"payoutAmount":{"type":"number","description":""},"payoutActivity":{"type":"string","description":""}}}}}}},"paymentType":{"type":"string","description":"The payment type identifier"},"defaultSettlementAccount":{"type":"string","description":""}}},"tax":{"type":"object","properties":{"property":{"type":"array","description":"","items":{"type":"object","properties":{"propertyValue":{"type":"string","description":""},"netTax":{"type":"string","description":""},"tax":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":""}}}},"taxCondition":{"type":"array","items":{"type":"object","properties":{"taxCondition":{"type":"string","description":""}}}}}}},"netTax":{"type":"string","description":""}}},"commitment":{"type":"object","properties":{"amount":{"type":"number","description":""},"changeAmount":{"type":"number","description":""},"term":{"type":"string","description":"The period to which the rate applies"},"revolving":{"type":"string","description":"","enum":["NO","PAYMENT","PREPAYMENT"]},"updateLimit":{"type":"string","description":"Decision field, if the limits to be booked or not at the time of issuing the pre-advise LC","enum":["YES","NO"]}}},"cdpConsent":{"type":"object","properties":{"consentTypes":{"type":"array","description":"Conset Type for which the consent is given.The pre-defined consent types are set at Product level and will default on to the arrangement.","items":{"type":"object","properties":{"consentType":{"type":"string","description":"Conset Type for which the consent is given.The pre-defined consent types are set at Product level and will default on to the arrangement."},"consentGiven":{"type":"string","description":""},"consentGivenDate":{"type":"string","format":"date","description":""},"consentExpiryDate":{"type":"string","format":"date","description":""},"consentWithdraw":{"type":"string","description":""},"withdrawDate":{"type":"string","format":"date","description":""},"consentBlocks":{"type":"string","description":""},"subTypes":{"type":"array","items":{"type":"object","properties":{"consentSubType":{"type":"string","description":"Consent types may have sub-types under it which may require explicit consent from the customer.These sub-types are set at Product level and will default on to the arrangement."},"subTypeConsentGiven":{"type":"string","description":""}}}},"withdrawNotes":{"type":"array","items":{"type":"object","properties":{"withdrawNote":{"type":"string","description":""}}}},"blockNotes":{"type":"array","items":{"type":"object","properties":{"blockNote":{"type":"string","description":""}}}}}}},"expiryDate":{"type":"string","format":"date","description":"The date an agreement such as a credit facility or limit is due to expire"}}},"supplementaryAttirbs":{"type":"object","properties":{"totalPaymentAmount":{"type":"number","description":""},"statementCutDate":{"type":"string","format":"date","description":""},"nextPaymentAmount":{"type":"number","description":""},"nextPaymentDate":{"type":"string","format":"date","description":""},"sortCode":{"type":"string","description":"The bank identifier code which identifies both the bank and the branch where the account is held"},"status":{"type":"string","description":"Get a detail status of the specified service/services"},"clientName":{"type":"string","description":""},"swiftReference":{"type":"string","description":""},"cardType":{"type":"string","description":"The type of the card, e.g. Visa, Mastercard, etc."},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"blockedAmount":{"type":"number","description":""},"availableAmount":{"type":"number","description":""},"creditLimit":{"type":"string","description":""},"expiryDate":{"type":"string","format":"date","description":"The date an agreement such as a credit facility or limit is due to expire"},"openDate":{"type":"string","format":"date","description":""},"cards":{"type":"string","description":""},"closingBalance":{"type":"string","description":"Closing balance of the arrangement"},"openingBalance":{"type":"string","description":""},"ownBankIndicator":{"type":"string","description":""}}}}},"updateProductNickName":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/updateProductNickNameBody"}},"description":"Product"},"updateProductNickNameBody":{"type":"object","properties":{"customerIds":{"type":"array","description":"The identifier of the customer","items":{"type":"object","properties":{"customerId":{"type":"string","description":"The identifier of the customer"}}}},"properties":{"type":"array","description":"","items":{"type":"object","properties":{"propertyId":{"type":"string","description":"The identifier of the property, being an instances of a property class, e.g. Interest is property class and Debit Interest is property"},"fields":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"fieldValue":{"type":"string","description":""}}}}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"productId":{"type":"string","description":"The identifier of the product"},"masterArrangementId":{"type":"string","description":""},"roleName":{"type":"string","description":""},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"effectiveDate":{"type":"string","format":"date","description":"The date on which the principal movement is effected"},"activityId":{"type":"string","description":"The identifier of the activity"},"account":{"type":"object","properties":{"alternateIds":{"type":"array","items":{"type":"object","properties":{"alternateIdType":{"type":"string","description":""},"alternateId":{"type":"string","description":""}}}},"accountType":{"type":"string","description":""},"accountName":{"type":"string","description":"The name of the account that is displayed"},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"portfolioId":{"type":"string","description":"The identifier of the portfolio"},"anniversary":{"type":"string","description":""}}},"balance":{"type":"object","properties":{"alternateIds":{"type":"array","items":{"type":"object","properties":{"alternateIdType":{"type":"string","description":""},"alternateId":{"type":"string","description":""}}}},"accountType":{"type":"string","description":""},"accountName":{"type":"string","description":"The name of the account that is displayed"},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"portfolioId":{"type":"string","description":"The identifier of the portfolio"},"anniversary":{"type":"string","description":""}}},"customer":{"type":"object","properties":{"customers":{"type":"array","description":"","items":{"type":"object","properties":{"customer":{"type":"string","description":""},"customerRole":{"type":"string","description":"Customer Role"},"taxLiabilityPercentage":{"type":"number","description":""},"limitAllocactionPercentage":{"type":"number","description":""},"GLAllocactionPercentage":{"type":"number","description":""}}}},"jointLiability":{"type":"string","description":""}}},"schedule":{"type":"object","properties":{"payment":{"type":"array","description":"","items":{"type":"object","properties":{"paymentType":{"type":"string","description":"The payment type identifier"},"paymentMethod":{"type":"string","description":"The type of method used for the payment"},"paymentFrequency":{"type":"string","description":"The frequency at which a payment is required to be generated"},"billType":{"type":"string","description":"This signifies the type of the bill generated"},"billProduced":{"type":"string","description":""},"autoSettle":{"type":"string","description":""},"property":{"type":"array","items":{"type":"object","properties":{"propertyId":{"type":"string","description":"The identifier of the property, being an instances of a property class, e.g. Interest is property class and Debit Interest is property"},"dueFrequency":{"type":"string","description":""}}}},"payments":{"type":"array","items":{"type":"object","properties":{"percentage":{"type":"number","description":"The percentage of holdings redeemed/subscribed"},"startDate":{"type":"string","format":"date","description":"The start date"},"endDate":{"type":"string","format":"date","description":"The date an agreement or contract ceases - the opposite of start date"},"numberPayments":{"type":"string","description":""},"calcAmount":{"type":"number","description":""},"actualAmount":{"type":"number","description":""}}}}}}},"amortisationTerm":{"type":"string","description":""},"residualAmount":{"type":"number","description":""},"billsCombined":{"type":"string","description":""},"recalcFrequency":{"type":"string","description":""}}},"settlement":{"type":"object","properties":{"settlement":{"type":"array","description":"","items":{"type":"object","properties":{"payinSettlement":{"type":"string","description":""},"payoutSettlement":{"type":"string","description":""},"reference":{"type":"array","items":{"type":"object","properties":{"ddMandateReference":{"type":"string","format":"date","description":""},"payinAccount":{"type":"string","description":""},"payinBeneficiary":{"type":"string","description":""},"payinPercentage":{"type":"number","description":""},"payinAmount":{"type":"number","description":""},"payoutAccount":{"type":"string","description":""},"payoutBeneficiary":{"type":"string","description":""},"payoutPercentage":{"type":"number","description":""},"payoutAmount":{"type":"number","description":""}}}}}}},"assocSettlement":{"type":"array","description":"","items":{"type":"object","properties":{"payinSettlement":{"type":"string","description":""},"payinRule":{"type":"string","description":""},"payinSettlementActivity":{"type":"string","description":""},"payinRCType":{"type":"string","description":""},"payinRCCondition":{"type":"string","description":""},"reference":{"type":"array","items":{"type":"object","properties":{"ddMandateReference":{"type":"string","format":"date","description":""},"payinAccount":{"type":"string","description":""},"payinBeneficiary":{"type":"string","description":""},"payinPOProduct":{"type":"string","description":""},"payinPercentage":{"type":"number","description":""},"payinAmount":{"type":"number","description":""},"payinActivity":{"type":"string","description":""}}}}}}},"payout":{"type":"array","description":"","items":{"type":"object","properties":{"payoutSettlement":{"type":"string","description":""},"payoutSettlementActivity":{"type":"string","description":""},"property":{"type":"array","items":{"type":"object","properties":{"payoutPropertyClass":{"type":"string","description":""},"payoutProperty":{"type":"string","description":""},"payoutAccount":{"type":"string","description":""},"payoutBeneficiary":{"type":"string","description":""},"payoutPOProduct":{"type":"string","description":""},"payoutPercentage":{"type":"number","description":""},"payoutAmount":{"type":"number","description":""},"payoutActivity":{"type":"string","description":""}}}}}}},"paymentType":{"type":"string","description":"The payment type identifier"},"defaultSettlementAccount":{"type":"string","description":""}}},"tax":{"type":"object","properties":{"property":{"type":"array","description":"","items":{"type":"object","properties":{"propertyValue":{"type":"string","description":""},"netTax":{"type":"string","description":""},"tax":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":""}}}},"taxCondition":{"type":"array","items":{"type":"object","properties":{"taxCondition":{"type":"string","description":""}}}}}}},"netTax":{"type":"string","description":""}}},"commitment":{"type":"object","properties":{"amount":{"type":"number","description":""},"changeAmount":{"type":"number","description":""},"term":{"type":"string","description":"The period to which the rate applies"},"revolving":{"type":"string","description":"","enum":["NO","PAYMENT","PREPAYMENT"]},"updateLimit":{"type":"string","description":"Decision field, if the limits to be booked or not at the time of issuing the pre-advise LC","enum":["YES","NO"]}}},"cdpConsent":{"type":"object","properties":{"consentTypes":{"type":"array","description":"Conset Type for which the consent is given.The pre-defined consent types are set at Product level and will default on to the arrangement.","items":{"type":"object","properties":{"consentType":{"type":"string","description":"Conset Type for which the consent is given.The pre-defined consent types are set at Product level and will default on to the arrangement."},"consentGiven":{"type":"string","description":""},"consentGivenDate":{"type":"string","format":"date","description":""},"consentExpiryDate":{"type":"string","format":"date","description":""},"consentWithdraw":{"type":"string","description":""},"withdrawDate":{"type":"string","format":"date","description":""},"consentBlocks":{"type":"string","description":""},"subTypes":{"type":"array","items":{"type":"object","properties":{"consentSubType":{"type":"string","description":"Consent types may have sub-types under it which may require explicit consent from the customer.These sub-types are set at Product level and will default on to the arrangement."},"subTypeConsentGiven":{"type":"string","description":""}}}},"withdrawNotes":{"type":"array","items":{"type":"object","properties":{"withdrawNote":{"type":"string","description":""}}}},"blockNotes":{"type":"array","items":{"type":"object","properties":{"blockNote":{"type":"string","description":""}}}}}}},"expiryDate":{"type":"string","format":"date","description":"The date an agreement such as a credit facility or limit is due to expire"}}},"supplementaryAttirbs":{"type":"object","properties":{"totalPaymentAmount":{"type":"number","description":""},"statementCutDate":{"type":"string","format":"date","description":""},"nextPaymentAmount":{"type":"number","description":""},"nextPaymentDate":{"type":"string","format":"date","description":""},"sortCode":{"type":"string","description":"The bank identifier code which identifies both the bank and the branch where the account is held"},"status":{"type":"string","description":"Get a detail status of the specified service/services"},"clientName":{"type":"string","description":""},"swiftReference":{"type":"string","description":""},"cardType":{"type":"string","description":"The type of the card, e.g. Visa, Mastercard, etc."},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"blockedAmount":{"type":"number","description":""},"availableAmount":{"type":"number","description":""},"creditLimit":{"type":"string","description":""},"expiryDate":{"type":"string","format":"date","description":"The date an agreement such as a credit facility or limit is due to expire"},"openDate":{"type":"string","format":"date","description":""},"cards":{"type":"string","description":""},"closingBalance":{"type":"string","description":"Closing balance of the arrangement"},"openingBalance":{"type":"string","description":""},"ownBankIndicator":{"type":"string","description":""}}}}},"updateCustomerConsent":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/updateCustomerConsentBody"}},"description":"Product"},"updateCustomerConsentBody":{"type":"object","properties":{"customerIds":{"type":"array","description":"The identifier of the customer","items":{"type":"object","properties":{"customerId":{"type":"string","description":"The identifier of the customer"}}}},"properties":{"type":"array","description":"","items":{"type":"object","properties":{"propertyId":{"type":"string","description":"The identifier of the property, being an instances of a property class, e.g. Interest is property class and Debit Interest is property"},"fields":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"fieldValue":{"type":"string","description":""}}}}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"productId":{"type":"string","description":"The identifier of the product"},"masterArrangementId":{"type":"string","description":""},"roleName":{"type":"string","description":""},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"effectiveDate":{"type":"string","format":"date","description":"The date on which the principal movement is effected"},"activityId":{"type":"string","description":"The identifier of the activity"},"account":{"type":"object","properties":{"alternateIds":{"type":"array","items":{"type":"object","properties":{"alternateIdType":{"type":"string","description":""},"alternateId":{"type":"string","description":""}}}},"accountType":{"type":"string","description":""},"accountName":{"type":"string","description":"The name of the account that is displayed"},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"portfolioId":{"type":"string","description":"The identifier of the portfolio"},"anniversary":{"type":"string","description":""}}},"balance":{"type":"object","properties":{"alternateIds":{"type":"array","items":{"type":"object","properties":{"alternateIdType":{"type":"string","description":""},"alternateId":{"type":"string","description":""}}}},"accountType":{"type":"string","description":""},"accountName":{"type":"string","description":"The name of the account that is displayed"},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"portfolioId":{"type":"string","description":"The identifier of the portfolio"},"anniversary":{"type":"string","description":""}}},"customer":{"type":"object","properties":{"customers":{"type":"array","description":"","items":{"type":"object","properties":{"customer":{"type":"string","description":""},"customerRole":{"type":"string","description":"Customer Role"},"taxLiabilityPercentage":{"type":"number","description":""},"limitAllocactionPercentage":{"type":"number","description":""},"GLAllocactionPercentage":{"type":"number","description":""}}}},"jointLiability":{"type":"string","description":""}}},"schedule":{"type":"object","properties":{"payment":{"type":"array","description":"","items":{"type":"object","properties":{"paymentType":{"type":"string","description":"The payment type identifier"},"paymentMethod":{"type":"string","description":"The type of method used for the payment"},"paymentFrequency":{"type":"string","description":"The frequency at which a payment is required to be generated"},"billType":{"type":"string","description":"This signifies the type of the bill generated"},"billProduced":{"type":"string","description":""},"autoSettle":{"type":"string","description":""},"property":{"type":"array","items":{"type":"object","properties":{"propertyId":{"type":"string","description":"The identifier of the property, being an instances of a property class, e.g. Interest is property class and Debit Interest is property"},"dueFrequency":{"type":"string","description":""}}}},"payments":{"type":"array","items":{"type":"object","properties":{"percentage":{"type":"number","description":"The percentage of holdings redeemed/subscribed"},"startDate":{"type":"string","format":"date","description":"The start date"},"endDate":{"type":"string","format":"date","description":"The date an agreement or contract ceases - the opposite of start date"},"numberPayments":{"type":"string","description":""},"calcAmount":{"type":"number","description":""},"actualAmount":{"type":"number","description":""}}}}}}},"amortisationTerm":{"type":"string","description":""},"residualAmount":{"type":"number","description":""},"billsCombined":{"type":"string","description":""},"recalcFrequency":{"type":"string","description":""}}},"settlement":{"type":"object","properties":{"settlement":{"type":"array","description":"","items":{"type":"object","properties":{"payinSettlement":{"type":"string","description":""},"payoutSettlement":{"type":"string","description":""},"reference":{"type":"array","items":{"type":"object","properties":{"ddMandateReference":{"type":"string","format":"date","description":""},"payinAccount":{"type":"string","description":""},"payinBeneficiary":{"type":"string","description":""},"payinPercentage":{"type":"number","description":""},"payinAmount":{"type":"number","description":""},"payoutAccount":{"type":"string","description":""},"payoutBeneficiary":{"type":"string","description":""},"payoutPercentage":{"type":"number","description":""},"payoutAmount":{"type":"number","description":""}}}}}}},"assocSettlement":{"type":"array","description":"","items":{"type":"object","properties":{"payinSettlement":{"type":"string","description":""},"payinRule":{"type":"string","description":""},"payinSettlementActivity":{"type":"string","description":""},"payinRCType":{"type":"string","description":""},"payinRCCondition":{"type":"string","description":""},"reference":{"type":"array","items":{"type":"object","properties":{"ddMandateReference":{"type":"string","format":"date","description":""},"payinAccount":{"type":"string","description":""},"payinBeneficiary":{"type":"string","description":""},"payinPOProduct":{"type":"string","description":""},"payinPercentage":{"type":"number","description":""},"payinAmount":{"type":"number","description":""},"payinActivity":{"type":"string","description":""}}}}}}},"payout":{"type":"array","description":"","items":{"type":"object","properties":{"payoutSettlement":{"type":"string","description":""},"payoutSettlementActivity":{"type":"string","description":""},"property":{"type":"array","items":{"type":"object","properties":{"payoutPropertyClass":{"type":"string","description":""},"payoutProperty":{"type":"string","description":""},"payoutAccount":{"type":"string","description":""},"payoutBeneficiary":{"type":"string","description":""},"payoutPOProduct":{"type":"string","description":""},"payoutPercentage":{"type":"number","description":""},"payoutAmount":{"type":"number","description":""},"payoutActivity":{"type":"string","description":""}}}}}}},"paymentType":{"type":"string","description":"The payment type identifier"},"defaultSettlementAccount":{"type":"string","description":""}}},"tax":{"type":"object","properties":{"property":{"type":"array","description":"","items":{"type":"object","properties":{"propertyValue":{"type":"string","description":""},"netTax":{"type":"string","description":""},"tax":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":""}}}},"taxCondition":{"type":"array","items":{"type":"object","properties":{"taxCondition":{"type":"string","description":""}}}}}}},"netTax":{"type":"string","description":""}}},"commitment":{"type":"object","properties":{"amount":{"type":"number","description":""},"changeAmount":{"type":"number","description":""},"term":{"type":"string","description":"The period to which the rate applies"},"revolving":{"type":"string","description":"","enum":["NO","PAYMENT","PREPAYMENT"]},"updateLimit":{"type":"string","description":"Decision field, if the limits to be booked or not at the time of issuing the pre-advise LC","enum":["YES","NO"]}}},"cdpConsent":{"type":"object","properties":{"consentTypes":{"type":"array","description":"Conset Type for which the consent is given.The pre-defined consent types are set at Product level and will default on to the arrangement.","items":{"type":"object","properties":{"consentType":{"type":"string","description":"Conset Type for which the consent is given.The pre-defined consent types are set at Product level and will default on to the arrangement."},"consentGiven":{"type":"string","description":""},"consentGivenDate":{"type":"string","format":"date","description":""},"consentExpiryDate":{"type":"string","format":"date","description":""},"consentWithdraw":{"type":"string","description":""},"withdrawDate":{"type":"string","format":"date","description":""},"consentBlocks":{"type":"string","description":""},"subTypes":{"type":"array","items":{"type":"object","properties":{"consentSubType":{"type":"string","description":"Consent types may have sub-types under it which may require explicit consent from the customer.These sub-types are set at Product level and will default on to the arrangement."},"subTypeConsentGiven":{"type":"string","description":""}}}},"withdrawNotes":{"type":"array","items":{"type":"object","properties":{"withdrawNote":{"type":"string","description":""}}}},"blockNotes":{"type":"array","items":{"type":"object","properties":{"blockNote":{"type":"string","description":""}}}}}}},"expiryDate":{"type":"string","format":"date","description":"The date an agreement such as a credit facility or limit is due to expire"}}},"supplementaryAttirbs":{"type":"object","properties":{"totalPaymentAmount":{"type":"number","description":""},"statementCutDate":{"type":"string","format":"date","description":""},"nextPaymentAmount":{"type":"number","description":""},"nextPaymentDate":{"type":"string","format":"date","description":""},"sortCode":{"type":"string","description":"The bank identifier code which identifies both the bank and the branch where the account is held"},"status":{"type":"string","description":"Get a detail status of the specified service/services"},"clientName":{"type":"string","description":""},"swiftReference":{"type":"string","description":""},"cardType":{"type":"string","description":"The type of the card, e.g. Visa, Mastercard, etc."},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"blockedAmount":{"type":"number","description":""},"availableAmount":{"type":"number","description":""},"creditLimit":{"type":"string","description":""},"expiryDate":{"type":"string","format":"date","description":"The date an agreement such as a credit facility or limit is due to expire"},"openDate":{"type":"string","format":"date","description":""},"cards":{"type":"string","description":""},"closingBalance":{"type":"string","description":"Closing balance of the arrangement"},"openingBalance":{"type":"string","description":""},"ownBankIndicator":{"type":"string","description":""}}}}},"updateDepositMaturity":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/updateDepositMaturityBody"}},"description":"Product"},"updateDepositMaturityBody":{"type":"object","properties":{"customerIds":{"type":"array","description":"The identifier of the customer","items":{"type":"object","properties":{"customerId":{"type":"string","description":"The identifier of the customer"}}}},"properties":{"type":"array","description":"","items":{"type":"object","properties":{"propertyId":{"type":"string","description":"The identifier of the property, being an instances of a property class, e.g. Interest is property class and Debit Interest is property"},"fields":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"fieldValue":{"type":"string","description":""}}}}}}},"overrides":{"type":"array","description":"Records the override messages generated during processing of an activity. ","items":{"type":"object","properties":{"override":{"type":"string","description":"Records the override messages generated during processing of an activity. "}}}},"productId":{"type":"string","description":"The identifier of the product"},"masterArrangementId":{"type":"string","description":""},"roleName":{"type":"string","description":""},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"effectiveDate":{"type":"string","format":"date","description":"The date on which the principal movement is effected"},"activityId":{"type":"string","description":"The identifier of the activity"},"account":{"type":"object","properties":{"alternateIds":{"type":"array","items":{"type":"object","properties":{"alternateIdType":{"type":"string","description":""},"alternateId":{"type":"string","description":""}}}},"accountType":{"type":"string","description":""},"accountName":{"type":"string","description":"The name of the account that is displayed"},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"portfolioId":{"type":"string","description":"The identifier of the portfolio"},"anniversary":{"type":"string","description":""}}},"balance":{"type":"object","properties":{"alternateIds":{"type":"array","items":{"type":"object","properties":{"alternateIdType":{"type":"string","description":""},"alternateId":{"type":"string","description":""}}}},"accountType":{"type":"string","description":""},"accountName":{"type":"string","description":"The name of the account that is displayed"},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"portfolioId":{"type":"string","description":"The identifier of the portfolio"},"anniversary":{"type":"string","description":""}}},"customer":{"type":"object","properties":{"customers":{"type":"array","description":"","items":{"type":"object","properties":{"customer":{"type":"string","description":""},"customerRole":{"type":"string","description":"Customer Role"},"taxLiabilityPercentage":{"type":"number","description":""},"limitAllocactionPercentage":{"type":"number","description":""},"GLAllocactionPercentage":{"type":"number","description":""}}}},"jointLiability":{"type":"string","description":""}}},"schedule":{"type":"object","properties":{"payment":{"type":"array","description":"","items":{"type":"object","properties":{"paymentType":{"type":"string","description":"The payment type identifier"},"paymentMethod":{"type":"string","description":"The type of method used for the payment"},"paymentFrequency":{"type":"string","description":"The frequency at which a payment is required to be generated"},"billType":{"type":"string","description":"This signifies the type of the bill generated"},"billProduced":{"type":"string","description":""},"autoSettle":{"type":"string","description":""},"property":{"type":"array","items":{"type":"object","properties":{"propertyId":{"type":"string","description":"The identifier of the property, being an instances of a property class, e.g. Interest is property class and Debit Interest is property"},"dueFrequency":{"type":"string","description":""}}}},"payments":{"type":"array","items":{"type":"object","properties":{"percentage":{"type":"number","description":"The percentage of holdings redeemed/subscribed"},"startDate":{"type":"string","format":"date","description":"The start date"},"endDate":{"type":"string","format":"date","description":"The date an agreement or contract ceases - the opposite of start date"},"numberPayments":{"type":"string","description":""},"calcAmount":{"type":"number","description":""},"actualAmount":{"type":"number","description":""}}}}}}},"amortisationTerm":{"type":"string","description":""},"residualAmount":{"type":"number","description":""},"billsCombined":{"type":"string","description":""},"recalcFrequency":{"type":"string","description":""}}},"settlement":{"type":"object","properties":{"settlement":{"type":"array","description":"","items":{"type":"object","properties":{"payinSettlement":{"type":"string","description":""},"payoutSettlement":{"type":"string","description":""},"reference":{"type":"array","items":{"type":"object","properties":{"ddMandateReference":{"type":"string","format":"date","description":""},"payinAccount":{"type":"string","description":""},"payinBeneficiary":{"type":"string","description":""},"payinPercentage":{"type":"number","description":""},"payinAmount":{"type":"number","description":""},"payoutAccount":{"type":"string","description":""},"payoutBeneficiary":{"type":"string","description":""},"payoutPercentage":{"type":"number","description":""},"payoutAmount":{"type":"number","description":""}}}}}}},"assocSettlement":{"type":"array","description":"","items":{"type":"object","properties":{"payinSettlement":{"type":"string","description":""},"payinRule":{"type":"string","description":""},"payinSettlementActivity":{"type":"string","description":""},"payinRCType":{"type":"string","description":""},"payinRCCondition":{"type":"string","description":""},"reference":{"type":"array","items":{"type":"object","properties":{"ddMandateReference":{"type":"string","format":"date","description":""},"payinAccount":{"type":"string","description":""},"payinBeneficiary":{"type":"string","description":""},"payinPOProduct":{"type":"string","description":""},"payinPercentage":{"type":"number","description":""},"payinAmount":{"type":"number","description":""},"payinActivity":{"type":"string","description":""}}}}}}},"payout":{"type":"array","description":"","items":{"type":"object","properties":{"payoutSettlement":{"type":"string","description":""},"payoutSettlementActivity":{"type":"string","description":""},"property":{"type":"array","items":{"type":"object","properties":{"payoutPropertyClass":{"type":"string","description":""},"payoutProperty":{"type":"string","description":""},"payoutAccount":{"type":"string","description":""},"payoutBeneficiary":{"type":"string","description":""},"payoutPOProduct":{"type":"string","description":""},"payoutPercentage":{"type":"number","description":""},"payoutAmount":{"type":"number","description":""},"payoutActivity":{"type":"string","description":""}}}}}}},"paymentType":{"type":"string","description":"The payment type identifier"},"defaultSettlementAccount":{"type":"string","description":""}}},"tax":{"type":"object","properties":{"property":{"type":"array","description":"","items":{"type":"object","properties":{"propertyValue":{"type":"string","description":""},"netTax":{"type":"string","description":""},"tax":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":""}}}},"taxCondition":{"type":"array","items":{"type":"object","properties":{"taxCondition":{"type":"string","description":""}}}}}}},"netTax":{"type":"string","description":""}}},"commitment":{"type":"object","properties":{"amount":{"type":"number","description":""},"changeAmount":{"type":"number","description":""},"term":{"type":"string","description":"The period to which the rate applies"},"revolving":{"type":"string","description":"","enum":["NO","PAYMENT","PREPAYMENT"]},"updateLimit":{"type":"string","description":"Decision field, if the limits to be booked or not at the time of issuing the pre-advise LC","enum":["YES","NO"]}}},"cdpConsent":{"type":"object","properties":{"consentTypes":{"type":"array","description":"Conset Type for which the consent is given.The pre-defined consent types are set at Product level and will default on to the arrangement.","items":{"type":"object","properties":{"consentType":{"type":"string","description":"Conset Type for which the consent is given.The pre-defined consent types are set at Product level and will default on to the arrangement."},"consentGiven":{"type":"string","description":""},"consentGivenDate":{"type":"string","format":"date","description":""},"consentExpiryDate":{"type":"string","format":"date","description":""},"consentWithdraw":{"type":"string","description":""},"withdrawDate":{"type":"string","format":"date","description":""},"consentBlocks":{"type":"string","description":""},"subTypes":{"type":"array","items":{"type":"object","properties":{"consentSubType":{"type":"string","description":"Consent types may have sub-types under it which may require explicit consent from the customer.These sub-types are set at Product level and will default on to the arrangement."},"subTypeConsentGiven":{"type":"string","description":""}}}},"withdrawNotes":{"type":"array","items":{"type":"object","properties":{"withdrawNote":{"type":"string","description":""}}}},"blockNotes":{"type":"array","items":{"type":"object","properties":{"blockNote":{"type":"string","description":""}}}}}}},"expiryDate":{"type":"string","format":"date","description":"The date an agreement such as a credit facility or limit is due to expire"}}},"supplementaryAttirbs":{"type":"object","properties":{"totalPaymentAmount":{"type":"number","description":""},"statementCutDate":{"type":"string","format":"date","description":""},"nextPaymentAmount":{"type":"number","description":""},"nextPaymentDate":{"type":"string","format":"date","description":""},"sortCode":{"type":"string","description":"The bank identifier code which identifies both the bank and the branch where the account is held"},"status":{"type":"string","description":"Get a detail status of the specified service/services"},"clientName":{"type":"string","description":""},"swiftReference":{"type":"string","description":""},"cardType":{"type":"string","description":"The type of the card, e.g. Visa, Mastercard, etc."},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"blockedAmount":{"type":"number","description":""},"availableAmount":{"type":"number","description":""},"creditLimit":{"type":"string","description":""},"expiryDate":{"type":"string","format":"date","description":"The date an agreement such as a credit facility or limit is due to expire"},"openDate":{"type":"string","format":"date","description":""},"cards":{"type":"string","description":""},"closingBalance":{"type":"string","description":"Closing balance of the arrangement"},"openingBalance":{"type":"string","description":""},"ownBankIndicator":{"type":"string","description":""}}}}},"simulateDepositPartialWithdrawals":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/simulateDepositPartialWithdrawalsBody"}},"description":"SimulationCapture"},"simulateDepositPartialWithdrawalsBody":{"type":"object","properties":{"closureNotes":{"type":"array","items":{"type":"object","properties":{"closureNote":{"type":"string","description":""}}}},"activityId":{"type":"string","description":"The identifier of the activity"},"automaticRun":{"type":"string","description":""},"simulationRunReference":{"type":"string","description":""},"effectiveDate":{"type":"string","format":"date","description":"The date on which the principal movement is effected"},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"transactionAmount":{"type":"number","description":"The transaction amount"},"closureReason":{"type":"string","description":""},"payoff":{"type":"object","properties":{"amount":{"type":"array","description":"","items":{"type":"object","properties":{"fixedamount":{"type":"number","description":""}}}},"expiryDays":{"type":"string","description":""},"settleDues":{"type":"string","description":""},"percentage":{"type":"number","description":"The percentage of holdings redeemed/subscribed"},"action":{"type":"string","description":"view or cancel options"}}},"settlement":{"type":"object","properties":{"settlement":{"type":"array","description":"","items":{"type":"object","properties":{"payinSettlement":{"type":"string","description":""},"payoutSettlement":{"type":"string","description":""},"reference":{"type":"array","items":{"type":"object","properties":{"ddMandateReference":{"type":"string","format":"date","description":""},"payinAccount":{"type":"string","description":""},"payinBeneficiary":{"type":"string","description":""},"payinPercentage":{"type":"number","description":""},"payinAmount":{"type":"number","description":""},"payoutAccount":{"type":"string","description":""},"payoutBeneficiary":{"type":"string","description":""},"payoutPercentage":{"type":"number","description":""},"payoutAmount":{"type":"number","description":""}}}}}}},"assocSettlement":{"type":"array","description":"","items":{"type":"object","properties":{"payinSettlement":{"type":"string","description":""},"payinRule":{"type":"string","description":""},"payinSettlementActivity":{"type":"string","description":""},"payinRCType":{"type":"string","description":""},"payinRCCondition":{"type":"string","description":""},"reference":{"type":"array","items":{"type":"object","properties":{"ddMandateReference":{"type":"string","format":"date","description":""},"payinAccount":{"type":"string","description":""},"payinBeneficiary":{"type":"string","description":""},"payinPOProduct":{"type":"string","description":""},"payinPercentage":{"type":"number","description":""},"payinAmount":{"type":"number","description":""},"payinActivity":{"type":"string","description":""}}}}}}},"payout":{"type":"array","description":"","items":{"type":"object","properties":{"payoutSettlement":{"type":"string","description":""},"payoutSettlementActivity":{"type":"string","description":""},"property":{"type":"array","items":{"type":"object","properties":{"payoutPropertyClass":{"type":"string","description":""},"payoutProperty":{"type":"string","description":""},"payoutAccount":{"type":"string","description":""},"payoutBeneficiary":{"type":"string","description":""},"payoutPOProduct":{"type":"string","description":""},"payoutPercentage":{"type":"number","description":""},"payoutAmount":{"type":"number","description":""},"payoutActivity":{"type":"string","description":""}}}}}}},"paymentType":{"type":"string","description":"The payment type identifier"},"defaultSettlementAccount":{"type":"string","description":""}}}}},"SimulationCaptureResponse":{"properties":{"header":{"$ref":"#/definitions/ArrangementHeader"},"body":{"$ref":"#/definitions/SimulationCaptureResponseBody"}},"description":"SimulationCaptureResponse"},"SimulationCaptureResponseBody":{"type":"object","properties":{"arrangementActivity":{"type":"object","properties":{"closureNotes":{"type":"array","items":{"type":"object","properties":{"closureNote":{"type":"string","description":""}}}},"arrangementId":{"type":"string","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string."},"activityId":{"type":"string","description":"The identifier of the activity"},"automaticRun":{"type":"string","description":""},"simulationRunReference":{"type":"string","description":""},"effectiveDate":{"type":"string","format":"date","description":"The date on which the principal movement is effected"},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"transactionAmount":{"type":"number","description":"The transaction amount"},"closureReason":{"type":"string","description":""}}},"activities":{"type":"object","properties":{"{activityName}":{"type":"object","properties":{"activity":{"type":"string"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"id":{"type":"string","description":"The Identifier of the record created"}}}}},"properties":{"type":"object","properties":{"payoff":{"type":"object","properties":{"header":{"type":"object","properties":{
[...]
