{
    "swagger": "2.0",
    "info":
    {
        "description": "Version for creating Back to Back LC",
        "version": "v1.0.0",
        "title": "createIssuanceOfBackToBackLC"
    },
    "host": "api.server.com",
    "basePath": "/api/v1.0.0/",
    "schemes": ["http", "https"],
    "security": [
    {
        "basicAuth": []
    }],
    "paths":
    {
        "/product/letterOfCredit/issuanceOfBackToBackLC":
        {
            "post":
            {
                "operationId": "createIssuanceOfBackToBackLC",
                "produces": ["application/json"],
                "parameters": [
                {
                    "in": "body",
                    "name": "payload",
                    "description": "body Payload",
                    "required": true,
                    "schema":
                    {
                        "$ref": "#/definitions/createIssuanceOfBackToBackLC"
                    }
                },
                {
                    "name": "validate_only",
                    "in": "query",
                    "description": "The identifier to indicate if it is set to only validate or not.",
                    "required": false,
                    "type": "boolean"
                },
                {
                    "name": "credentials",
                    "in": "query",
                    "required": false,
                    "type": "string"
                },
                {
                    "name": "companyId",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "createIssuanceOfBackToBackLCResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/createIssuanceOfBackToBackLCResponse"
                        }
                    },
                    "default":
                    {
                        "description": "createIssuanceOfBackToBackLCErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/createIssuanceOfBackToBackLCErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions":
    {
        "basicAuth":
        {
            "type": "basic"
        }
    },
    "definitions":
    {
        "PayloadHeader":
        {
            "properties":
            {
                "override":
                {
                    "type": "object",
                    "properties":
                    {
                        "overrideDetails":
                        {
                            "type": "array",
                            "items":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "id":
                                    {
                                        "type": "string",
                                        "description": "The identifier of the override"
                                    },
                                    "description":
                                    {
                                        "type": "string",
                                        "description": "The actual override message"
                                    },
                                    "responseCode":
                                    {
                                        "type": "string",
                                        "description": "The user input to accept/reject the override."
                                    }
                                }
                            }
                        }
                    }
                },
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        }
                    }
                }
            }
        },
        "createIssuanceOfBackToBackLC":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/PayloadHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/createIssuanceOfBackToBackLCBody"
                }
            },
            "description": "createIssuanceOfBackToBackLC"
        },
        "createIssuanceOfBackToBackLCBody":
        {
            "type": "object",
            "properties":
            {
                "limitReferences":
                {
                    "type": "array",
                    "description": "Identifies the type of limit applicable to the Account",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "limitReference":
                            {
                                "type": "string",
                                "description": "Identifies the type of limit applicable to the Account"
                            }
                        }
                    }
                },
                "beneficiaryAddresses":
                {
                    "type": "array",
                    "description": "The address of the Beneficiary if the customer number of the Beneficiary is not known",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "beneficiaryAddress":
                            {
                                "type": "string",
                                "description": "The address of the Beneficiary if the customer number of the Beneficiary is not known"
                            }
                        }
                    }
                },
                "applicantNames":
                {
                    "type": "array",
                    "description": "Indicates the name and address of the applicant of the LC.",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "applicantName":
                            {
                                "type": "string",
                                "description": "Indicates the name and address of the applicant of the LC."
                            }
                        }
                    }
                },
                "availableWithBanks":
                {
                    "type": "array",
                    "description": "Indicates the bank name and address that is authorised to pay, accept, or negotiate document presented under the letter of credit",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "availableWithBank":
                            {
                                "type": "string",
                                "description": "Indicates the bank name and address that is authorised to pay, accept, or negotiate document presented under the letter of credit"
                            }
                        }
                    }
                },
                "adviseThroughBanks":
                {
                    "type": "array",
                    "description": "Indicates the second advising bank under the LC, through whom Letter of Credit is advised to beneficiary. They act as an intermediary between advising bank and the beneficairy.",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "adviseThroughBank":
                            {
                                "type": "string",
                                "description": "Indicates the second advising bank under the LC, through whom Letter of Credit is advised to beneficiary. They act as an intermediary between advising bank and the beneficairy."
                            }
                        }
                    }
                },
                "charges":
                {
                    "type": "array",
                    "description": "",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "chargeCode":
                            {
                                "type": "string",
                                "description": ""
                            },
                            "partyCharged":
                            {
                                "type": "string",
                                "description": ""
                            },
                            "chargeDebitAccount":
                            {
                                "type": "string",
                                "description": ""
                            },
                            "chargeCurrency":
                            {
                                "type": "string",
                                "description": "Holds the currency code of the charge account from where the fee is deducted"
                            },
                            "chargeExchangeRate":
                            {
                                "type": "string",
                                "description": ""
                            },
                            "chargeAmount":
                            {
                                "type": "string",
                                "description": "Holds the charge amount equivalent in charge account currency"
                            },
                            "amortiseCharge":
                            {
                                "type": "string",
                                "description": ""
                            },
                            "chargeStatus":
                            {
                                "type": "string",
                                "description": ""
                            },
                            "taxCurrency":
                            {
                                "type": "string",
                                "description": ""
                            },
                            "taxAmount":
                            {
                                "type": "string",
                                "description": "The tax amount"
                            },
                            "charge":
                            {
                                "type": "string",
                                "description": ""
                            }
                        }
                    }
                },
                "drawings":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "drawingType":
                            {
                                "type": "string",
                                "description": ""
                            },
                            "paymentPercent":
                            {
                                "type": "string",
                                "description": ""
                            },
                            "paymentPortion":
                            {
                                "type": "string",
                                "description": ""
                            },
                            "AcptTimeBand":
                            {
                                "type": "string",
                                "description": ""
                            },
                            "AdditionalCoveredAmount":
                            {
                                "type": "string",
                                "description": ""
                            },
                            "portionNo":
                            {
                                "type": "string",
                                "description": ""
                            },
                            "drawingAmount":
                            {
                                "type": "number",
                                "description": ""
                            },
                            "provisionOutstandingAmount":
                            {
                                "type": "number",
                                "description": ""
                            },
                            "provisionAwaitAmount":
                            {
                                "type": "number",
                                "description": ""
                            },
                            "liabilityPortionAmount":
                            {
                                "type": "string",
                                "description": ""
                            },
                            "localCurrencyPortiomAmount":
                            {
                                "type": "number",
                                "description": ""
                            },
                            "limitReference":
                            {
                                "type": "string",
                                "description": "Identifies the type of limit applicable to the Account"
                            },
                            "portionOverdrawn":
                            {
                                "type": "string",
                                "description": ""
                            }
                        }
                    }
                },
                "accountWithBanks":
                {
                    "type": "array",
                    "description": "Identifies the bank where the beneficiary maintains his account.",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "accountWithBank":
                            {
                                "type": "string",
                                "description": "Identifies the bank where the beneficiary maintains his account."
                            }
                        }
                    }
                },
                "senderReceiversInfoMT730":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "senderReceiverInfoMT730":
                            {
                                "type": "string",
                                "description": ""
                            }
                        }
                    }
                },
                "exportLCType":
                {
                    "type": "string",
                    "description": "Identifies the Export type of LC"
                },
                "backToBackLCRequired":
                {
                    "type": "string",
                    "description": "This field indicates if Back to Back LC required to be generated."
                },
                "relatedImportLCReference":
                {
                    "type": "string",
                    "description": "It?s a system updated field for displaying the corresponding import letter of credit number when a back to back LC transaction is generated."
                },
                "advisingBankReference":
                {
                    "type": "string",
                    "description": "Advising Bank reference number for use on messages and advices under the LC contract."
                },
                "lcAdvisingReference":
                {
                    "type": "string",
                    "description": "Identifies the Advising banks LCs number (or reference of the L/C from legacy system)"
                },
                "issuingBankLCReference":
                {
                    "type": "string",
                    "description": "Indicates the Issuing Bank's reference of the Documentary Credit."
                },
                "issuingBankId":
                {
                    "type": "string",
                    "description": "Identifies the Issuing bank ID under the LC, who issues the LC"
                },
                "issuingBankName":
                {
                    "type": "string",
                    "description": "Identifies the Issuing bank name and address of the bank issuing the LC."
                },
                "lcCurrency":
                {
                    "type": "string",
                    "description": "Denote the currency of the Letter of Credit."
                },
                "lcAmount":
                {
                    "type": "number",
                    "description": "This field indicates the amount of the Letter of Credit that will always be expressed in the currency of Letter of Credit."
                },
                "creditTolerance":
                {
                    "type": "string",
                    "description": "This field defines the tolerance percentage to be added to the letter of credit amount to calculate the full liability amount or maximum amount that can be drawn."
                },
                "debitTolerance":
                {
                    "type": "string",
                    "description": "This field defines the negative tolerance percentage under the letter of credit, to calculate the minimum amount that can be presented under the LC."
                },
                "issueDate":
                {
                    "type": "string",
                    "format": "date",
                    "description": "The date the item was issued."
                },
                "expiryDate":
                {
                    "type": "string",
                    "format": "date",
                    "description": "The date an agreement such as a credit facility or limit is due to expire"
                },
                "expiryPlace":
                {
                    "type": "string",
                    "description": "Expiry place for presentation under the documentary credit."
                },
                "liabilityReversalDate":
                {
                    "type": "string",
                    "format": "date",
                    "description": "Date on which the contigent entries and the limits raised on the LC will be reversed."
                },
                "autoExpiry":
                {
                    "type": "string",
                    "description": "Decision field to determine whether the contingent entries are to be reversed after the deal expiry date or not"
                },
                "beneficiaryId":
                {
                    "type": "string",
                    "description": "The identifier of the beneficiary"
                },
                "applicant":
                {
                    "type": "string",
                    "description": "Indicates the  applicant on whose behalf the Letter of Credit is issued"
                },
                "availableWithBankId":
                {
                    "type": "string",
                    "description": "Indicates the bank ID that is authorised to pay, accept, or negotiate document presented under the letter of credit"
                },
                "adviseThroughBankID":
                {
                    "type": "string",
                    "description": "Indicates the second advising bank ID under the LC, through whom Letter of Credit is advised to beneficiary. They act as an intermediary between advising bank and the beneficairy."
                },
                "applicableRuleCodesMT740":
                {
                    "type": "string",
                    "description": "Indicates that the LC contract is subject to reimbursement rules or not. Valid input URR LATEST VERSION or NOTURR."
                },
                "confirmationInstruction":
                {
                    "type": "string",
                    "description": ""
                },
                "chargeFrom":
                {
                    "type": "string",
                    "description": ""
                },
                "chargeDefaultAccount":
                {
                    "type": "string",
                    "description": ""
                },
                "waiveCharge":
                {
                    "type": "string",
                    "description": "Defines whether charges are to be collected or waived"
                },
                "revolvingType":
                {
                    "type": "string",
                    "description": ""
                },
                "nunmberOfRevolution":
                {
                    "type": "string",
                    "description": ""
                },
                "revolvingFrequency":
                {
                    "type": "string",
                    "description": ""
                },
                "limitForRevolving":
                {
                    "type": "string",
                    "description": ""
                },
                "curRevolLiab":
                {
                    "type": "string",
                    "description": ""
                },
                "advisingBank":
                {
                    "type": "string",
                    "description": "Identifies the advising bank under the LC, through whom Letter of Credit to be advised to second advising bank or beneficiary"
                },
                "amountOfChargeMT730":
                {
                    "type": "string",
                    "description": ""
                }
            }
        },
        "ScreenHeader":
        {
            "properties":
            {
                "id":
                {
                    "type": "string",
                    "description": "The Identifier of the record created"
                },
                "status":
                {
                    "type": "string",
                    "description": "The status of the record"
                },
                "transactionStatus":
                {
                    "type": "string",
                    "description": "The status of the transaction"
                },
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "createIssuanceOfBackToBackLCResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ScreenHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/createIssuanceOfBackToBackLCResponseBody"
                }
            },
            "description": "createIssuanceOfBackToBackLCResponse"
        },
        "createIssuanceOfBackToBackLCResponseBody":
        {
            "type": "object",
            "properties":
            {
                "limitReferences":
                {
                    "type": "array",
                    "description": "Identifies the type of limit applicable to the Account",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "limitReference":
                            {
                                "type": "string",
                                "description": "Identifies the type of limit applicable to the Account"
                            }
                        }
                    }
                },
                "beneficiaryAddresses":
                {
                    "type": "array",
                    "description": "The address of the Beneficiary if the customer number of the Beneficiary is not known",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "beneficiaryAddress":
                            {
                                "type": "string",
                                "description": "The address of the Beneficiary if the customer number of the Beneficiary is not known"
                            }
                        }
                    }
                },
                "applicantNames":
                {
                    "type": "array",
                    "description": "Indicates the name and address of the applicant of the LC.",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "applicantName":
                            {
                                "type": "string",
                                "description": "Indicates the name and address of the applicant of the LC."
                            }
                        }
                    }
                },
                "availableWithBanks":
                {
                    "type": "array",
                    "description": "Indicates the bank name and address that is authorised to pay, accept, or negotiate document presented under the letter of credit",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "availableWithBank":
                            {
                                "type": "string",
                                "description": "Indicates the bank name and address that is authorised to pay, accept, or negotiate document presented under the letter of credit"
                            }
                        }
                    }
                },
                "adviseThroughBanks":
                {
                    "type": "array",
                    "description": "Indicates the second advising bank under the LC, through whom Letter of Credit is advised to beneficiary. They act as an intermediary between advising bank and the beneficairy.",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "adviseThroughBank":
                            {
                                "type": "string",
                                "description": "Indicates the second advising bank under the LC, through whom Letter of Credit is advised to beneficiary. They act as an intermediary between advising bank and the beneficairy."
                            }
                        }
                    }
                },
                "charges":
                {
                    "type": "array",
                    "description": "",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "chargeCode":
                            {
                                "type": "string",
                                "description": ""
                            },
                            "partyCharged":
                            {
                                "type": "string",
                                "description": ""
                            },
                            "chargeDebitAccount":
                            {
                                "type": "string",
                                "description": ""
                            },
                            "chargeCurrency":
                            {
                                "type": "string",
                                "description": "Holds the currency code of the charge account from where the fee is deducted"
                            },
                            "chargeExchangeRate":
                            {
                                "type": "string",
                                "description": ""
                            },
                            "chargeAmount":
                            {
                                "type": "string",
                                "description": "Holds the charge amount equivalent in charge account currency"
                            },
                            "amortiseCharge":
                            {
                                "type": "string",
                                "description": ""
                            },
                            "chargeStatus":
                            {
                                "type": "string",
                                "description": ""
                            },
                            "taxCurrency":
                            {
                                "type": "string",
                                "description": ""
                            },
                            "taxAmount":
                            {
                                "type": "string",
                                "description": "The tax amount"
                            },
                            "charge":
                            {
                                "type": "string",
                                "description": ""
                            }
                        }
                    }
                },
                "drawings":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "drawingType":
                            {
                                "type": "string",
                                "description": ""
                            },
                            "paymentPercent":
                            {
                                "type": "string",
                                "description": ""
                            },
                            "paymentPortion":
                            {
                                "type": "string",
                                "description": ""
                            },
                            "acptTimeBand":
                            {
                                "type": "string",
                                "description": ""
                            },
                            "additionalCoveredAmount":
                            {
                                "type": "string",
                                "description": ""
                            },
                            "portionNo":
                            {
                                "type": "string",
                                "description": ""
                            },
                            "drawingAmount":
                            {
                                "type": "number",
                                "description": ""
                            },
                            "provisionOutstandingAmount":
                            {
                                "type": "number",
                                "description": ""
                            },
                            "provisionAwaitAmount":
                            {
                                "type": "number",
                                "description": ""
                            },
                            "liabilityPortionAmount":
                            {
                                "type": "string",
                                "description": ""
                            },
                            "localCurrencyPortiomAmount":
                            {
                                "type": "number",
                                "description": ""
                            },
                            "limitReference":
                            {
                                "type": "string",
                                "description": "Identifies the type of limit applicable to the Account"
                            },
                            "portionOverdrawn":
                            {
                                "type": "string",
                                "description": ""
                            }
                        }
                    }
                },
                "accountWithBanks":
                {
                    "type": "array",
                    "description": "Identifies the bank where the beneficiary maintains his account.",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "accountWithBank":
                            {
                                "type": "string",
                                "description": "Identifies the bank where the beneficiary maintains his account."
                            }
                        }
                    }
                },
                "senderReceiversInfoMT730":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "senderReceiverInfoMT730":
                            {
                                "type": "string",
                                "description": ""
                            }
                        }
                    }
                },
                "exportLCType":
                {
                    "type": "string",
                    "description": "Identifies the Export type of LC"
                },
                "backToBackLCRequired":
                {
                    "type": "string",
                    "description": "This field indicates if Back to Back LC required to be generated."
                },
                "relatedImportLCReference":
                {
                    "type": "string",
                    "description": "It?s a system updated field for displaying the corresponding import letter of credit number when a back to back LC transaction is generated."
                },
                "advisingBankReference":
                {
                    "type": "string",
                    "description": "Advising Bank reference number for use on messages and advices under the LC contract."
                },
                "lcAdvisingReference":
                {
                    "type": "string",
                    "description": "Identifies the Advising banks LCs number (or reference of the L/C from legacy system)"
                },
                "issuingBankLCReference":
                {
                    "type": "string",
                    "description": "Indicates the Issuing Bank's reference of the Documentary Credit."
                },
                "issuingBankId":
                {
                    "type": "string",
                    "description": "Identifies the Issuing bank ID under the LC, who issues the LC"
                },
                "issuingBankName":
                {
                    "type": "string",
                    "description": "Identifies the Issuing bank name and address of the bank issuing the LC."
                },
                "lcCurrency":
                {
                    "type": "string",
                    "description": "Denote the currency of the Letter of Credit."
                },
                "lcAmount":
                {
                    "type": "number",
                    "description": "This field indicates the amount of the Letter of Credit that will always be expressed in the currency of Letter of Credit."
                },
                "creditTolerance":
                {
                    "type": "string",
                    "description": "This field defines the tolerance percentage to be added to the letter of credit amount to calculate the full liability amount or maximum amount that can be drawn."
                },
                "debitTolerance":
                {
                    "type": "string",
                    "description": "This field defines the negative tolerance percentage under the letter of credit, to calculate the minimum amount that can be presented under the LC."
                },
                "issueDate":
                {
                    "type": "string",
                    "format": "date",
                    "description": "The date the item was issued."
                },
                "expiryDate":
                {
                    "type": "string",
                    "format": "date",
                    "description": "The date an agreement such as a credit facility or limit is due to expire"
                },
                "expiryPlace":
                {
                    "type": "string",
                    "description": "Expiry place for presentation under the documentary credit."
                },
                "liabilityReversalDate":
                {
                    "type": "string",
                    "format": "date",
                    "description": "Date on which the contigent entries and the limits raised on the LC will be reversed."
                },
                "autoExpiry":
                {
                    "type": "string",
                    "description": "Decision field to determine whether the contingent entries are to be reversed after the deal expiry date or not"
                },
                "beneficiaryId":
                {
                    "type": "string",
                    "description": "The identifier of the beneficiary"
                },
                "applicant":
                {
                    "type": "string",
                    "description": "Indicates the  applicant on whose behalf the Letter of Credit is issued"
                },
                "availableWithBankId":
                {
                    "type": "string",
                    "description": "Indicates the bank ID that is authorised to pay, accept, or negotiate document presented under the letter of credit"
                },
                "adviseThroughBankID":
                {
                    "type": "string",
                    "description": "Indicates the second advising bank ID under the LC, through whom Letter of Credit is advised to beneficiary. They act as an intermediary between advising bank and the beneficairy."
                },
                "applicableRuleCodes":
                {
                    "type": "string",
                    "description": "Indicates that the LC contract is subject to reimbursement rules or not. Valid input URR LATEST VERSION or NOTURR."
                },
                "confirmationInstruction":
                {
                    "type": "string",
                    "description": ""
                },
                "chargeFrom":
                {
                    "type": "string",
                    "description": ""
                },
                "chargeDefaultAccount":
                {
                    "type": "string",
                    "description": ""
                },
                "waiveCharge":
                {
                    "type": "string",
                    "description": "Defines whether charges are to be collected or waived"
                },
                "revolvingType":
                {
                    "type": "string",
                    "description": ""
                },
                "nunmberOfRevolution":
                {
                    "type": "string",
                    "description": ""
                },
                "revolvingFrequency":
                {
                    "type": "string",
                    "description": ""
                },
                "limitForRevolving":
                {
                    "type": "string",
                    "description": ""
                },
                "curRevolLiab":
                {
                    "type": "string",
                    "description": ""
                },
                "advisingBank":
                {
                    "type": "string",
                    "description": "Identifies the advising bank under the LC, through whom Letter of Credit to be advised to second advising bank or beneficiary"
                },
                "amountOfChargeMT730":
                {
                    "type": "string",
                    "description": ""
                }
            }
        },
        "ErrorHeader":
        {
            "properties":
            {
                "id":
                {
                    "type": "string",
                    "description": "The Identifier of the record created"
                },
                "status":
                {
                    "type": "string",
                    "description": "The status of the record"
                },
                "transactionStatus":
                {
                    "type": "string",
                    "description": "The status of the transaction"
                },
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "versionNumber":
                        {
                            "type": "string",
                            "description": "The CURR.NO. of the record"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "overrideBody":
        {
            "properties":
            {
                "overrideDetails":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "id":
                            {
                                "type": "string",
                                "description": "The identifier of the override"
                            },
                            "description":
                            {
                                "type": "string",
                                "description": "The actual override message"
                            }
                        }
                    }
                }
            }
        },
        "createIssuanceOfBackToBackLCErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/createIssuanceOfBackToBackLCErrorResponseBody"
                },
                "override":
                {
                    "$ref": "#/definitions/overrideBody"
                }
            },
            "description": "createIssuanceOfBackToBackLCErrorResponse"
        },
        "createIssuanceOfBackToBackLCErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "errorDetails":
                {
                    "type": "array",
                    "items":
                    {
                        "type": "object",
                        "properties":
                        {
                            "fieldName":
                            {
                                "type": "string",
                                "description": "The name of the field"
                            },
                            "code":
                            {
                                "type": "string",
                                "description": "The identifier of the error message"
                            },
                            "message":
                            {
                                "type": "string",
                                "description": "The actual t24 error message"
                            }
                        }
                    }
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type"
                }
            }
        }
    }
}