{"swagger":"2.0","info":{"description":"Get Eligible Products for the Customer","version":"v1.0.0","title":"Customer Products APIs"},"host":"api.temenos.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/product/customers/{customerId}/eligibleProducts":{"get":{"operationId":"getEligibleProducts","produces":["application/json"],"parameters":[{"name":"customerId","in":"path","description":"The identifier of the customer","required":true,"type":"string"},{"name":"productLineId","in":"query","description":"The identifier of the product line","required":false,"type":"string"},{"name":"productGroupId","in":"query","description":"The identifier of the product group","required":false,"type":"string"},{"name":"eligibilityFilter","in":"query","required":false,"type":"string"},{"name":"multiBookEligible","in":"query","required":false,"type":"string"},{"name":"productId","in":"query","description":"The identifier of the product","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"EligibleProductsResponse","schema":{"$ref":"#/definitions/EligibleProductsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"EligibleProductsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/EligibleProductsResponseBody"}},"description":"EligibleProductsResponse"},"EligibleProductsResponseBody":{"type":"array","items":{"type":"object","properties":{"currencies":{"type":"array","description":"","items":{"type":"object","properties":{"currencyId":{"type":"array","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","items":{"type":"string"}},"currencyName":{"type":"array","description":"The name that is displayed for the currency","items":{"type":"string"}}}}},"termDetails":{"type":"array","items":{"type":"object","properties":{"minimumTerm":{"type":"array","description":"","items":{"type":"string"}},"maximumTerm":{"type":"array","description":"","items":{"type":"string"}}}}},"productLineId":{"type":"string","description":"The identifier of the product line"},"productLineName":{"type":"string","description":"The name that is displayed for the product line"},"productGroupId":{"type":"string","description":"The identifier of the product group","maxLength":35},"productGroupName":{"type":"string","description":"The name that is displayed for the product group","maxLength":35},"productId":{"type":"string","description":"The identifier of the product","maxLength":30},"productName":{"type":"string","description":"The name that is displayed for the product","maxLength":35},"availableFromDate":{"type":"string","format":"date","description":"The date when the product is available for creating arrangements"}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}}}}