{"swagger":"2.0","info":{"description":"AA Arrangements List","version":"v1.0.0","title":"AA Arrangements List"},"host":"api.server.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/reference/arrangements/":{"get":{"operationId":"getAaArrangements","produces":["application/json"],"parameters":[{"name":"customerId","in":"query","description":"The identifier of the customer","required":false,"type":"string"},{"name":"productLine","in":"query","description":"","required":false,"type":"string"},{"name":"currency","in":"query","description":"","required":false,"type":"string"},{"name":"arrangementId","in":"query","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string.","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"getAaArrangementsResponse","schema":{"$ref":"#/definitions/getAaArrangementsResponse"}},"default":{"description":"getAaArrangementsErrorResponse","schema":{"$ref":"#/definitions/getAaArrangementsErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"getAaArrangementsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getAaArrangementsResponseBody"}},"description":"getAaArrangementsResponse"},"getAaArrangementsResponseBody":{"type":"array","items":{"type":"object","properties":{"arrangementId":{"type":"string","description":"The unique identifiier of an arrangement contract. The format of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of input in julian date format, XXXXX - is a random generated string."},"arrangementName":{"type":"string","description":"The name of the arrangement that is displayed"},"customerName":{"type":"string","description":"The name that is displayed for the customer","maxLength":35},"customerId":{"type":"number","description":"The identifier of the customer"}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"getAaArrangementsErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getAaArrangementsErrorResponseBody"}},"description":"getAaArrangementsErrorResponse"},"getAaArrangementsErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}}}}