{"swagger":"2.0","info":{"description":"Get information of BICs ","version":"v1.0.0","title":"Reference BICs API"},"host":"api.temenos.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/reference/BICs":{"get":{"operationId":"getBICs","produces":["application/json"],"parameters":[{"name":"BIC","in":"query","description":"","required":false,"type":"string"},{"name":"nationalityId","in":"query","description":"The identifier of the nationality of a legal entity","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"BICsResponse","schema":{"$ref":"#/definitions/BICsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"BICsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/BICsResponseBody"}},"description":"BICsResponse"},"BICsResponseBody":{"type":"array","items":{"type":"object","properties":{"institutionNames":{"type":"array","items":{"type":"object","properties":{"institutionName":{"type":"string","description":"","maxLength":35}}}},"branchBICs":{"type":"array","items":{"type":"object","properties":{"branchBIC":{"type":"string","description":"","maxLength":35}}}},"countryNames":{"type":"array","description":"The name that is displayed for the country, normalized to its ISO equivalent.","items":{"type":"object","properties":{"countryName":{"type":"string","description":"The name that is displayed for the country, normalized to its ISO equivalent.","maxLength":35}}}},"addresses":{"type":"array","description":"","items":{"type":"object","properties":{"address":{"type":"string","description":"","maxLength":35}}}},"BIC":{"type":"string","description":"","maxLength":12},"addressCity":{"type":"string","description":"","maxLength":35},"countryCode":{"type":"string","description":"","maxLength":2},"nationalityName":{"type":"string","description":"","maxLength":17},"nationalityId":{"type":"string","description":"The identifier of the nationality of a legal entity","maxLength":15}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}}}}