{
    "swagger": "2.0",
    "info":
    {
        "description": "Retrieves the legal entity information that is used by the organization",
        "version": "v1.0.0",
        "title": "Reference Companies API"
    },
    "host": "api.temenos.com",
    "basePath": "/api/v1.0.0",
    "schemes": ["http", "https"],
    "paths":
    {
        "/reference/companies":
        {
            "get":
            {
                "operationId": "getCompanies",
                "produces": ["application/json"],
                "parameters": [
                {
                    "name": "page_size",
                    "in": "query",
                    "description": "The total number of records per page",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_start",
                    "in": "query",
                    "description": "The record from which the response should be displayed",
                    "required": false,
                    "type": "integer",
                    "format": "int32"
                },
                {
                    "name": "page_token",
                    "in": "query",
                    "description": "Random and unique string for each page. Used for security purpose",
                    "required": false,
                    "type": "string"
                }],
                "responses":
                {
                    "200":
                    {
                        "description": "getCompaniesResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/getCompaniesResponse"
                        }
                    },
                    "default":
                    {
                        "description": "getCompaniesErrorResponse",
                        "schema":
                        {
                            "$ref": "#/definitions/getCompaniesErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions":
    {
        "QueryHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                },
                "page_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records per page"
                },
                "page_start":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The record from which the response should be displayed"
                },
                "total_size":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of records present"
                },
                "page_token":
                {
                    "type": "integer",
                    "format": "int32",
                    "description": "Random and unique string for each page. Used for security purpose"
                }
            }
        },
        "getCompaniesResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/QueryHeader"
                },
                "body":
                {
                    "$ref": "#/definitions/getCompaniesResponseBody"
                }
            },
            "description": "getCompaniesResponse"
        },
        "getCompaniesResponseBody":
        {
            "type": "array",
            "items":
            {
                "type": "object",
                "properties":
                {
                    "companyId":
                    {
                        "type": "string",
                        "description": "The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001",
                        "maxLength": 11
                    },
                    "displayName":
                    {
                        "type": "string",
                        "description": "The name used for display purposes",
                        "maxLength": 22
                    },
                    "mnemonic":
                    {
                        "type": "string",
                        "description": "The alternative means of referencing the record",
                        "maxLength": 3
                    },
                    "languageId":
                    {
                        "type": "number",
                        "description": "The identifier of the language"
                    }
                }
            }
        },
        "ErrorHeader":
        {
            "properties":
            {
                "audit":
                {
                    "type": "object",
                    "properties":
                    {
                        "T24_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to response by T24"
                        },
                        "parse_time":
                        {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time taken to parse the response by IRIS"
                        }
                    }
                }
            }
        },
        "getCompaniesErrorResponse":
        {
            "properties":
            {
                "header":
                {
                    "$ref": "#/definitions/ErrorHeader"
                },
                "error":
                {
                    "$ref": "#/definitions/getCompaniesErrorResponseBody"
                }
            },
            "description": "getCompaniesErrorResponse"
        },
        "getCompaniesErrorResponseBody":
        {
            "type": "object",
            "properties":
            {
                "code":
                {
                    "type": "string",
                    "description": "The identifier of the error message"
                },
                "message":
                {
                    "type": "string",
                    "description": "The actual t24 error message"
                },
                "type":
                {
                    "type": "string",
                    "description": "The identifier of error type"
                }
            }
        }
    }
}