{"swagger":"2.0","info":{"description":"Allows the viewing and creation of Instruments Structure Note","version":"v1.0.0","title":"Reference Instrument Structure Note APIs"},"host":"api.server.com","basePath":"/api/v1.0.0/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/reference/instruments/structuredNotes":{"post":{"operationId":"createStructuredNotes","produces":["application/json"],"parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/referenceStructuredNotes"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"StructuredNotesResponse","schema":{"$ref":"#/definitions/referenceStructuredNotesResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/reference/instruments/{instrumentId}/structuredNotes":{"get":{"operationId":"getStructuredNote","produces":["application/json"],"parameters":[{"name":"instrumentId","in":"path","description":"The identifier of the instrument","required":true,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"StructuredNoteResponse","schema":{"$ref":"#/definitions/referenceStructuredNotesResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}},"audit":{"type":"object","properties":{"versionNumber":{"type":"string","description":"The CURR.NO. of the record"}}}}},"referenceStructuredNotes":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/referenceStructuredNotesBody"}},"description":"referenceStructuredNotes"},"referenceStructuredNotesBody":{"type":"object","required":["lastPrice","maturityDate"],"properties":{"alternateInstrumentDetails":{"type":"array","items":{"type":"object","properties":{"alternateInstrument":{"type":"string","description":"The alternate security identifier"},"alternateInstrumentId":{"type":"string","description":"The alternate security reference for the instrument"}}}},"interestRates":{"type":"array","description":"","items":{"type":"object","properties":{"interestRate":{"type":"number","description":""}},"required":["interestRate"]}},"instrumentName":{"type":"string","description":"The name that is displayed for the instrument, taken from securityMaster"},"ISIN":{"type":"string","description":"The International Securities Identification Number of the instrument"},"structureNote":{"type":"boolean","description":"indicates if the instrument is a structured note"},"subAssetTypeId":{"type":"number","description":"Identifies the group of like Securities, which are reported together "},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"priceType":{"type":"string","description":"Defines the calculation method to be used when calculating the price of a trade"},"lastPrice":{"type":"number","description":"Indicates the last recorded price of the instrument"},"companyDomicile":{"type":"string","description":"Specifies the country of domicile, of the parent company or government or establishment issuing the Security"},"instrumentDomicile":{"type":"string","description":"Specifies the country domicile of the Security being issued"},"priceUpdateCode":{"type":"string","description":"Specifies the type of price update that will update the price of this security"},"industryId":{"type":"number","description":"The identifier of the industry"},"stockExchange":{"type":"string","description":"The stock exchange identifier"},"issueDate":{"type":"string","format":"date","description":"The date the item was issued."},"maturityDate":{"type":"string","format":"date","description":"The delivery period or maturity date of the contract transacted"},"initialPaymentdate":{"type":"string","format":"date","description":"Specifies the date on which the 1st interest payment or coupon falls due"},"accrualDate":{"type":"string","format":"date","description":"The date to which interest has been or will be accrued to"},"displayName":{"type":"string","description":"The name used for display purposes"}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"referenceStructuredNotesResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/referenceStructuredNotesResponseBody"}},"description":"referenceStructuredNotesResponse"},"referenceStructuredNotesResponseBody":{"type":"object","properties":{"alternateInstrumentDetails":{"type":"array","items":{"type":"object","properties":{"alternateInstrument":{"type":"string","description":"The alternate security identifier"},"alternateInstrumentId":{"type":"string","description":"The alternate security reference for the instrument"}}}},"interestRates":{"type":"array","description":"","items":{"type":"object","properties":{"interestRate":{"type":"number","description":""}}}},"instrumentName":{"type":"string","description":"The name that is displayed for the instrument, taken from securityMaster"},"ISIN":{"type":"string","description":"The International Securities Identification Number of the instrument"},"structureNote":{"type":"boolean","description":"indicates if the instrument is a structured note"},"subAssetTypeId":{"type":"number","description":"Identifies the group of like Securities, which are reported together "},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"priceType":{"type":"string","description":"Defines the calculation method to be used when calculating the price of a trade"},"instrumentType":{"type":"string","description":"Indicates the type of the security "},"lastPrice":{"type":"number","description":"Indicates the last recorded price of the instrument"},"companyDomicile":{"type":"string","description":"Specifies the country of domicile, of the parent company or government or establishment issuing the Security"},"instrumentDomicile":{"type":"string","description":"Specifies the country domicile of the Security being issued"},"priceUpdateCode":{"type":"string","description":"Specifies the type of price update that will update the price of this security"},"industryId":{"type":"number","description":"The identifier of the industry"},"stockExchange":{"type":"string","description":"The stock exchange identifier"},"issueDate":{"type":"string","format":"date","description":"The date the item was issued."},"maturityDate":{"type":"string","format":"date","description":"The delivery period or maturity date of the contract transacted"},"initialPaymentdate":{"type":"string","format":"date","description":"Specifies the date on which the 1st interest payment or coupon falls due"},"accrualDate":{"type":"string","format":"date","description":"The date to which interest has been or will be accrued to"},"displayName":{"type":"string","description":"The name used for display purposes"}}},"ErrorHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"ScreenErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/ScreenErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"ScreenErrorResponse"},"ScreenErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}}}}