{"swagger":"2.0","info":{"description":"Retrieves the currency information that is used by the legal entity, either a list of currencies or a specific currency by ISO 4217  code.","version":"v1.0.0","title":"Reference Currencies API"},"host":"api.temenos.com","basePath":"/api/v1.0.0/","schemes":["http"],"security":[{"basicAuth":[]}],"paths":{"/reference/currencies":{"get":{"operationId":"getCurrencies","produces":["application/json"],"parameters":[{"name":"currencyId","in":"query","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","required":false,"type":"string"},{"name":"currencyIdNE","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"CurrenciesResponse","schema":{"$ref":"#/definitions/CurrenciesResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/reference/currencies/{currencyId}":{"get":{"operationId":"getCurrency","produces":["application/json"],"parameters":[{"name":"currencyId","in":"path","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"CurrencyResponse","schema":{"$ref":"#/definitions/CurrenciesResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"CurrenciesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/CurrenciesResponseBody"}},"description":"CurrenciesResponse"},"CurrenciesResponseBody":{"type":"array","items":{"type":"object","properties":{"markets":{"type":"array","description":"","items":{"type":"object","properties":{"market":{"type":"string","description":"","maxLength":2},"buyRate":{"type":"string","description":"The rate of the purchase","maxLength":16},"sellRate":{"type":"string","description":"The market sell rate of the transaction","maxLength":16}}}},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","maxLength":3},"displayName":{"type":"string","description":"The name used for display purposes","maxLength":35}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}}}}