{"swagger":"2.0","info":{"description":"Tod and outstanding lists","version":"v1.0.0","title":"Work Lists"},"host":"api.server.com","basePath":"/api/v1.0.0/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/reference/processWorkflow/outstandingList":{"get":{"operationId":"getWorkList","produces":["application/json"],"parameters":[{"name":"data","in":"query","description":"Used to pass any data values which may be required by the job when it is being run.","required":false,"type":"string"},{"name":"processNumber","in":"query","description":"Process No","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"WorkListResponse","schema":{"$ref":"#/definitions/WorkListResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/reference/processWorkflow/todoList":{"get":{"operationId":"getToDoList","produces":["application/json"],"parameters":[{"name":"activityTransaction","in":"query","description":"Activity Transactions","required":false,"type":"string"},{"name":"user","in":"query","description":"","required":false,"type":"string"},{"name":"transactionReference","in":"query","description":"The transaction reference identifier","required":false,"type":"string"},{"name":"process","in":"query","description":"Process","required":false,"type":"string"},{"name":"pwActivityStatus","in":"query","description":"Process workflow activity status","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ToDoListResponse","schema":{"$ref":"#/definitions/ToDoListResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"WorkListResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/WorkListResponseBody"}},"description":"WorkListResponse"},"WorkListResponseBody":{"type":"array","items":{"type":"object","properties":{"dueDate":{"type":"string","format":"date","description":"Due Date"},"type":{"type":"string","description":"Activity Type"},"clientName":{"type":"string","description":"Client Name"},"displayName":{"type":"string","description":"The name used for display purposes"},"owner":{"type":"string","description":"owner"},"referenceId":{"type":"string","description":"Reference ID"},"transactionReference":{"type":"string","description":"The transaction reference identifier"},"status":{"type":"string","description":"Get a detail status of the specified service/services"}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}},"ToDoListResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/ToDoListResponseBody"}},"description":"ToDoListResponse"},"ToDoListResponseBody":{"type":"array","items":{"type":"object","properties":{"processId":{"type":"string","description":"Process ID","maxLength":35},"activityId":{"type":"string","description":"The identifier of the activity","maxLength":15},"activityName":{"type":"string","description":"The name of the activity that is displayed","maxLength":35},"activityStatus":{"type":"string","description":"Activity Status","maxLength":15},"transactionReference":{"type":"string","description":"The transaction reference identifier","maxLength":35},"user":{"type":"string","description":"","maxLength":35},"owner":{"type":"string","description":"owner","maxLength":35}}}}}}