{"swagger":"2.0","info":{"description":"Retrieves the working day information that is used by the organization, either a list for all legal entities or for a specific legal entity.","version":"v1.0.0","title":"Reference Dates API"},"host":"api.temenos.com","basePath":"/api/v1.0.0/","schemes":["http"],"security":[{"basicAuth":[]}],"paths":{"/reference/dates":{"get":{"operationId":"getDates","produces":["application/json"],"parameters":[{"name":"companyId","in":"query","description":"The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001","required":false,"type":"string"},{"name":"today","in":"query","description":"Identifies the date of business being processed in the financial Instituion.","required":false,"type":"string","format":"date"},{"name":"lastWorkingDay","in":"query","description":"The last working day","required":false,"type":"string","format":"date"},{"name":"nextWorkingDay","in":"query","description":"This is the state of the next business day which will be processed in this Company.","required":false,"type":"string","format":"date"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"DatesResponse","schema":{"$ref":"#/definitions/DatesResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/reference/dates/{companyId}":{"get":{"operationId":"getDatesByCompany","produces":["application/json"],"parameters":[{"name":"companyId","in":"path","description":"The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001","required":true,"type":"string"},{"name":"today","in":"query","description":"Identifies the date of business being processed in the financial Instituion.","required":false,"type":"string","format":"date"},{"name":"lastWorkingDay","in":"query","description":"The last working day","required":false,"type":"string","format":"date"},{"name":"nextWorkingDay","in":"query","description":"This is the state of the next business day which will be processed in this Company.","required":false,"type":"string","format":"date"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"DatesByCompanyResponse","schema":{"$ref":"#/definitions/DatesResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"DatesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/DatesResponseBody"}},"description":"DatesResponse"},"DatesResponseBody":{"type":"array","items":{"type":"object","properties":{"companyId":{"type":"string","description":"The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001","maxLength":15},"currentWorkingDate":{"type":"string","format":"date","description":"Identifies the date of business being processed in the financial Instituion."},"lastWorkingDate":{"type":"string","format":"date","description":"Date of the last business day processed for the financial institution"},"nextWorkingDate":{"type":"string","format":"date","description":"This is the state of the next business day which will be processed in this Company."}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}}}}