{"swagger":"2.0","info":{"description":"Get mid revaluation rates","version":"v1.0.0","title":"Get mid revaluation rate"},"host":"api.server.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/reference/revaluation/rates":{"get":{"operationId":"getMidRevaluationRate","produces":["application/json"],"parameters":[{"name":"currency","in":"query","description":"","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"getMidRevaluationRateResponse","schema":{"$ref":"#/definitions/getMidRevaluationRateResponse"}},"default":{"description":"getMidRevaluationRateErrorResponse","schema":{"$ref":"#/definitions/getMidRevaluationRateErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"getMidRevaluationRateResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/getMidRevaluationRateResponseBody"}},"description":"getMidRevaluationRateResponse"},"getMidRevaluationRateResponseBody":{"type":"array","items":{"type":"object","properties":{"currency":{"type":"string","description":"","maxLength":3},"midRevalRate":{"type":"string","description":"Mid Reval Rates","maxLength":16},"quotationCode":{"type":"string","description":"Quotation Code","maxLength":10}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"getMidRevaluationRateErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/getMidRevaluationRateErrorResponseBody"}},"description":"getMidRevaluationRateErrorResponse"},"getMidRevaluationRateErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}}}}