{"swagger":"2.0","info":{"description":"POSTPUTRequests","version":"v2.0.0","title":"Serviceautomation"},"host":"api.server.com","basePath":"/api/v2.0.0/v2.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/system/services/processes/{processId}":{"post":{"operationId":"createCloseOfBusinessProcess","produces":["application/json"],"parameters":[{"name":"processId","in":"path","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/systemCloseOfBusinessProcess"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"CloseOfBusinessProcessResponse","schema":{"$ref":"#/definitions/systemCloseOfBusinessProcessResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}},"put":{"operationId":"updateCloseOfBusinessProcess","produces":["application/json"],"parameters":[{"name":"processId","in":"path","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/systemCloseOfBusinessProcess"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"CloseOfBusinessProcessResponse","schema":{"$ref":"#/definitions/systemCloseOfBusinessProcessResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/system/services/{serviceId}":{"post":{"operationId":"createService","produces":["application/json"],"parameters":[{"name":"serviceId","in":"path","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/systemService"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ServiceResponse","schema":{"$ref":"#/definitions/systemServiceResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}},"put":{"operationId":"updateService","produces":["application/json"],"parameters":[{"name":"serviceId","in":"path","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/systemService"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ServiceResponse","schema":{"$ref":"#/definitions/systemServiceResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/system/services/workProfiles/{workProfileId}":{"post":{"operationId":"createWorkloadProfile","produces":["application/json"],"parameters":[{"name":"workProfileId","in":"path","description":"resource for workload profile URL","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/systemWorkloadProfile"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"WorkloadProfileResponse","schema":{"$ref":"#/definitions/systemWorkloadProfileResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}},"put":{"operationId":"updateWorkloadProfile","produces":["application/json"],"parameters":[{"name":"workProfileId","in":"path","description":"resource for workload profile URL","required":true,"type":"string"},{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/systemWorkloadProfile"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"WorkloadProfileResponse","schema":{"$ref":"#/definitions/systemWorkloadProfileResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}},"audit":{"type":"object","properties":{"versionNumber":{"type":"string","description":"The CURR.NO. of the record"}}}}},"systemCloseOfBusinessProcess":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/systemCloseOfBusinessProcessBody"}},"description":"systemCloseOfBusinessProcess"},"systemCloseOfBusinessProcessBody":{"type":"object","properties":{"batchStage":{"type":"string","description":"Indicates which Stage of the  Batch and in which sequence number the service will run"},"batchEnvironment":{"type":"string","description":"Indicates whether service should run as a background process or a foreground process","enum":["B","F"]},"jobId":{"type":"string","description":"The identifier of the job"},"verificationJobId":{"type":"string","description":"Same as jobID, but functionally it does the verififcation as to whether a job is completed before the jobID is executed"},"jobFrequency":{"type":"string","description":"Defines the frequency at which the job is processed next."},"nextRunDate":{"type":"string","format":"date","description":"Specifies bank date on which the job is to be next run"},"data":{"type":"string","description":"Used to pass any data values which may be required by the job when it is being run."},"userId":{"type":"string","description":"The unique user identifier"},"recordStatus":{"type":"string","description":"The status of the record processed"},"currNo":{"type":"string","description":"Current Number which indicates how many times the record is modified"},"inputter":{"type":"string","description":"This shows the user who entered the transaction"},"authoriser":{"type":"string","description":"This indicates the user who authorised the transaction"},"dateTime":{"type":"string","format":"date","description":""},"companyId":{"type":"string","description":"The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001"},"deptCode":{"type":"string","description":"This indicates the department code where the transaction was authorised"},"auditorCode":{"type":"string","description":"This indicates the auditor code"},"auditTimeDate":{"type":"string","format":"date","description":"This indicates the audit date time"}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"systemCloseOfBusinessProcessResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/systemCloseOfBusinessProcessResponseBody"}},"description":"systemCloseOfBusinessProcessResponse"},"systemCloseOfBusinessProcessResponseBody":{"type":"object","properties":{"batchStage":{"type":"string","description":"Indicates which Stage of the  Batch and in which sequence number the service will run"},"batchEnvironment":{"type":"string","description":"Indicates whether service should run as a background process or a foreground process","enum":["B","F"]},"jobId":{"type":"string","description":"The identifier of the job"},"verificationJobId":{"type":"string","description":"Same as jobID, but functionally it does the verififcation as to whether a job is completed before the jobID is executed"},"jobFrequency":{"type":"string","description":"Defines the frequency at which the job is processed next."},"nextRunDate":{"type":"string","format":"date","description":"Specifies bank date on which the job is to be next run"},"data":{"type":"string","description":"Used to pass any data values which may be required by the job when it is being run."},"userId":{"type":"string","description":"The unique user identifier"},"recordStatus":{"type":"string","description":"The status of the record processed"},"currNo":{"type":"string","description":"Current Number which indicates how many times the record is modified"},"inputter":{"type":"string","description":"This shows the user who entered the transaction"},"authoriser":{"type":"string","description":"This indicates the user who authorised the transaction"},"dateTime":{"type":"string","format":"date","description":""},"companyId":{"type":"string","description":"The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001"},"deptCode":{"type":"string","description":"This indicates the department code where the transaction was authorised"},"auditorCode":{"type":"string","description":"This indicates the auditor code"},"auditTimeDate":{"type":"string","format":"date","description":"This indicates the audit date time"}}},"ErrorHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"ScreenErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/ScreenErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"ScreenErrorResponse"},"ScreenErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}},"systemService":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/systemServiceBody"}},"description":"systemService"},"systemServiceBody":{"type":"object","properties":{"jobServerProfiles":{"type":"array","items":{"type":"object","properties":{"jobProfileId":{"type":"string","description":"Reference to the record in TSA.WORKLOAD.PROFILE"},"serverName":{"type":"string","description":"Hostname of the Server on which the service will run"},"jobServerStatus":{"type":"string","description":"Status of Server"}}}},"serviceDescription":{"type":"string","description":"Description of the Service"},"userId":{"type":"string","description":"The unique user identifier"},"jobOperation":{"type":"string","description":"","enum":["START","STOP","AUTO"]},"recordStatus":{"type":"string","description":"The status of the record processed","enum":["Status of record -authorised/on hold/unauth etc"]},"currNo":{"type":"string","description":"Current Number which indicates how many times the record is modified","enum":["No of times record has been changed"]},"inputter":{"type":"string","description":"This shows the user who entered the transaction","enum":["User who has input or changed the record"]},"dateTime":{"type":"string","format":"date","description":""},"authoriser":{"type":"string","description":"This indicates the user who authorised the transaction","enum":["User who has authorised the input or change"]},"deptCode":{"type":"string","description":"This indicates the department code where the transaction was authorised","enum":["Department handling the record"]},"auditorCode":{"type":"string","description":"This indicates the auditor code","enum":["Code of Auditor who has audited the record"]},"auditTimeDate":{"type":"string","format":"date","description":"This indicates the audit date time"}}},"systemServiceResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/systemServiceResponseBody"}},"description":"systemServiceResponse"},"systemServiceResponseBody":{"type":"object","properties":{"jobServerProfiles":{"type":"array","items":{"type":"object","properties":{"jobProfileId":{"type":"string","description":"Reference to the record in TSA.WORKLOAD.PROFILE"},"serverName":{"type":"string","description":"Hostname of the Server on which the service will run"},"jobServerStatus":{"type":"string","description":"Status of Server"}}}},"serviceDescription":{"type":"string","description":"Description of the Service"},"userId":{"type":"string","description":"The unique user identifier"},"jobOperation":{"type":"string","description":"","enum":["START","STOP","AUTO"]},"recordStatus":{"type":"string","description":"The status of the record processed","enum":["Status of record -authorised/on hold/unauth etc"]},"currNo":{"type":"string","description":"Current Number which indicates how many times the record is modified","enum":["No of times record has been changed"]},"inputter":{"type":"string","description":"This shows the user who entered the transaction","enum":["User who has input or changed the record"]},"dateTime":{"type":"string","format":"date","description":""},"authoriser":{"type":"string","description":"This indicates the user who authorised the transaction","enum":["User who has authorised the input or change"]},"deptCode":{"type":"string","description":"This indicates the department code where the transaction was authorised","enum":["Department handling the record"]},"auditorCode":{"type":"string","description":"This indicates the auditor code","enum":["Code of Auditor who has audited the record"]},"auditTimeDate":{"type":"string","format":"date","description":"This indicates the audit date time"}}},"systemWorkloadProfile":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/systemWorkloadProfileBody"}},"description":"systemWorkloadProfile"},"systemWorkloadProfileBody":{"type":"object","properties":{"displayName":{"type":"string","description":"The name used for display purposes"},"startTime":{"type":"string","description":"Indicates start time"},"agentsRequired":{"type":"string","description":"Indicates the number of agents required"},"recordStatus":{"type":"string","description":"The status of the record processed"},"CurrNo":{"type":"number","description":"Current Number which indicates how many times the record is modified"},"inputter":{"type":"string","description":"This shows the user who entered the transaction"},"authoriser":{"type":"string","description":"This indicates the user who authorised the transaction"},"datetime":{"type":"string","format":"date-time","description":""},"coCode":{"type":"string","description":""},"deptCode":{"type":"string","description":"This indicates the department code where the transaction was authorised"},"auditorCode":{"type":"string","description":"This indicates the auditor code"},"auditTimeDate":{"type":"string","format":"date","description":"This indicates the audit date time"}}},"systemWorkloadProfileResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/systemWorkloadProfileResponseBody"}},"description":"systemWorkloadProfileResponse"},"systemWorkloadProfileResponseBody":{"type":"object","properties":{"displayName":{"type":"string","description":"The name used for display purposes"},"startTime":{"type":"string","description":"Indicates start time"},"agentsRequired":{"type":"string","description":"Indicates the number of agents required"},"recordStatus":{"type":"string","description":"The status of the record processed"},"CurrNo":{"type":"number","description":"Current Number which indicates how many times the record is modified"},"inputter":{"type":"string","description":"This shows the user who entered the transaction"},"authoriser":{"type":"string","description":"This indicates the user who authorised the transaction"},"datetime":{"type":"string","format":"date-time","description":""},"coCode":{"type":"string","description":""},"deptCode":{"type":"string","description":"This indicates the department code where the transaction was authorised"},"auditorCode":{"type":"string","description":"This indicates the auditor code"},"auditTimeDate":{"type":"string","format":"date","description":"This indicates the audit date time"}}}}}