{"swagger":"2.0","info":{"description":"OnlineUpgradePUT","version":"v1.0.0","title":"OnlineUpgrade"},"host":"api.server.com","basePath":"/api/v1.0.0/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/system/settings/cacheResetPeriod":{"put":{"operationId":"updateCacheResetPeriod","produces":["application/json"],"parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/systemCacheResetPeriod"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"CacheResetPeriodResponse","schema":{"$ref":"#/definitions/systemCacheResetPeriodResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/system/settings/upgrades":{"put":{"operationId":"updateOnlineUpgradeAttributes","produces":["application/json"],"parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/systemOnlineUpgradeAttributes"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OnlineUpgradeAttributesResponse","schema":{"$ref":"#/definitions/systemOnlineUpgradeAttributesResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}},"/system/settings/upgrades/cancellations":{"put":{"operationId":"updateOnlineUpgrade","produces":["application/json"],"parameters":[{"in":"body","name":"payload","description":"body Payload","required":true,"schema":{"$ref":"#/definitions/systemOnlineUpgrade"}},{"name":"validate_only","in":"query","description":"The identifier to indicate if it is set to only validate or not.","required":false,"type":"boolean"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OnlineUpgradeResponse","schema":{"$ref":"#/definitions/systemOnlineUpgradeResponse"}},"default":{"description":"ScreenErrorResponse","schema":{"$ref":"#/definitions/ScreenErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"PayloadHeader":{"properties":{"override":{"type":"object","properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"},"responseCode":{"type":"string","description":"The user input to accept/reject the override."}}}}}},"audit":{"type":"object","properties":{"versionNumber":{"type":"string","description":"The CURR.NO. of the record"}}}}},"systemCacheResetPeriod":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/systemCacheResetPeriodBody"}},"description":"systemCacheResetPeriod"},"systemCacheResetPeriodBody":{"type":"object","properties":{"cacheResetPeriod":{"type":"string","description":"cache rests after the time period.field in SPF to reset cache"}}},"ScreenHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"systemCacheResetPeriodResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/systemCacheResetPeriodResponseBody"}},"description":"systemCacheResetPeriodResponse"},"systemCacheResetPeriodResponseBody":{"type":"object","properties":{"cacheResetPeriod":{"type":"string","description":"cache rests after the time period.field in SPF to reset cache"}}},"ErrorHeader":{"properties":{"id":{"type":"string","description":"The Identifier of the record created"},"status":{"type":"string","description":"The status of the record"},"transactionStatus":{"type":"string","description":"The status of the transaction"},"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"overrideBody":{"properties":{"overrideDetails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The identifier of the override"},"description":{"type":"string","description":"The actual override message"}}}}}},"ScreenErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/ScreenErrorResponseBody"},"override":{"$ref":"#/definitions/overrideBody"}},"description":"ScreenErrorResponse"},"ScreenErrorResponseBody":{"type":"object","properties":{"errorDetails":{"type":"array","items":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field"},"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"}}}},"type":{"type":"string","description":"The identifier of error type"}}},"systemOnlineUpgradeAttributes":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/systemOnlineUpgradeAttributesBody"}},"description":"systemOnlineUpgradeAttributes"},"systemOnlineUpgradeAttributesBody":{"type":"object","properties":{"attribute":{"type":"array","items":{"type":"object","properties":{"attributeType":{"type":"string","description":""},"attributeValue":{"type":"string","description":""}}}}}},"systemOnlineUpgradeAttributesResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/systemOnlineUpgradeAttributesResponseBody"}},"description":"systemOnlineUpgradeAttributesResponse"},"systemOnlineUpgradeAttributesResponseBody":{"type":"object","properties":{"attribute":{"type":"array","items":{"type":"object","properties":{"attributeType":{"type":"string","description":""},"attributeValue":{"type":"string","description":""}}}}}},"systemOnlineUpgrade":{"properties":{"header":{"$ref":"#/definitions/PayloadHeader"},"body":{"$ref":"#/definitions/systemOnlineUpgradeBody"}},"description":"systemOnlineUpgrade"},"systemOnlineUpgradeBody":{"type":"object","properties":{"serviceControl":{"type":"string","description":"Indicates whether service is in START,STOP,AUTO"}}},"systemOnlineUpgradeResponse":{"properties":{"header":{"$ref":"#/definitions/ScreenHeader"},"body":{"$ref":"#/definitions/systemOnlineUpgradeResponseBody"}},"description":"systemOnlineUpgradeResponse"},"systemOnlineUpgradeResponseBody":{"type":"object","properties":{"serviceControl":{"type":"string","description":"Indicates whether service is in START,STOP,AUTO"}}}}}