{"swagger":"2.0","info":{"description":"GETRequests","version":"v2.0.0","title":"Serviceautomation"},"host":"api.server.com","basePath":"/api/v2.0.0/v2.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/system/services":{"get":{"operationId":"getAvailableServices","produces":["application/json"],"parameters":[{"name":"serviceId","in":"query","description":"This indicates the id of the TSA.SERVICE","required":false,"type":"string"},{"name":"serverName","in":"query","description":"Hostname of the Server on which the service will run","required":false,"type":"string"},{"name":"serverStatus","in":"query","description":"Status of Server","required":false,"type":"string"},{"name":"workloadProfileId","in":"query","description":"Indicates the TSA.WORKLOAD profile Id","required":false,"type":"string"},{"name":"processStatus","in":"query","description":"Indicates whether process is started or finished","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"AvailableServicesResponse","schema":{"$ref":"#/definitions/systemAvailableServicesResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/system/services/{serviceId}":{"get":{"operationId":"getAvailableService","produces":["application/json"],"parameters":[{"name":"serviceId","in":"path","description":"This indicates the id of the TSA.SERVICE","required":true,"type":"string"},{"name":"serverName","in":"query","description":"Hostname of the Server on which the service will run","required":false,"type":"string"},{"name":"serverStatus","in":"query","description":"Status of Server","required":false,"type":"string"},{"name":"workloadProfileId","in":"query","description":"Indicates the TSA.WORKLOAD profile Id","required":false,"type":"string"},{"name":"processStatus","in":"query","description":"Indicates whether process is started or finished","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"AvailableServiceResponse","schema":{"$ref":"#/definitions/systemAvailableServicesResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/system/services/{serviceId}/status":{"get":{"operationId":"getServiceStatus","produces":["application/json"],"parameters":[{"name":"serviceId","in":"path","description":"This indicates the id of the TSA.SERVICE","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ServiceStatusResponse","schema":{"$ref":"#/definitions/systemServiceStatusResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/system/services/status":{"get":{"operationId":"getServicesStatus","produces":["application/json"],"parameters":[{"name":"serviceId","in":"query","description":"This indicates the id of the TSA.SERVICE","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ServicesStatusResponse","schema":{"$ref":"#/definitions/systemServiceStatusResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/system/services/workProfiles":{"get":{"operationId":"getWorkLoadProfiles","produces":["application/json"],"parameters":[{"name":"workloadProfileId","in":"query","description":"Indicates the TSA.WORKLOAD profile Id","required":false,"type":"string"},{"name":"agentsRequired","in":"query","description":"Indicates the number of agents required","required":false,"type":"string"},{"name":"workLoadProfileTime","in":"query","description":"Indicates the work load profile time","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"WorkLoadProfilesResponse","schema":{"$ref":"#/definitions/systemWorkLoadProfilesResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/system/services/workProfiles/{workProfileId}":{"get":{"operationId":"getWorkLoadProfile","produces":["application/json"],"parameters":[{"name":"workProfileId","in":"path","description":"resource for workload profile URL","required":true,"type":"string"},{"name":"agentsRequired","in":"query","description":"Indicates the number of agents required","required":false,"type":"string"},{"name":"workLoadProfileTime","in":"query","description":"Indicates the work load profile time","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"WorkLoadProfileResponse","schema":{"$ref":"#/definitions/systemWorkLoadProfilesResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/system/services/{servicesId}/companies/{companyId}":{"get":{"operationId":"getCompanyCloseBusinessStatus","produces":["application/json"],"parameters":[{"name":"servicesId","in":"path","required":true,"type":"string"},{"name":"companyId","in":"path","description":"The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001","required":true,"type":"string"},{"name":"cobDate","in":"query","description":"Indicates date on which cob run","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"CompanyCloseBusinessStatusResponse","schema":{"$ref":"#/definitions/systemCompanyCloseBusinessStatusResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/system/services/jobTimes":{"get":{"operationId":"getJobTimes","produces":["application/json"],"parameters":[{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"JobTimesResponse","schema":{"$ref":"#/definitions/systemJobTimesResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/system/services/reportTimes":{"get":{"operationId":"getReportTimes","produces":["application/json"],"parameters":[{"name":"batchDate","in":"query","description":"Indicates batch date","required":false,"type":"string"},{"name":"report","in":"query","description":"","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"ReportTimesResponse","schema":{"$ref":"#/definitions/systemReportTimesResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"systemAvailableServicesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/systemAvailableServicesResponseBody"}},"description":"systemAvailableServicesResponse"},"systemAvailableServicesResponseBody":{"type":"array","items":{"type":"object","properties":{"serverDetails":{"type":"array","items":{"type":"object","properties":{"serverName":{"type":"string","description":"Hostname of the Server on which the service will run","maxLength":50},"serverStatus":{"type":"string","description":"Status of Server","maxLength":7},"workloadProfileId":{"type":"string","description":"Indicates the TSA.WORKLOAD profile Id","maxLength":25}}}},"jobs":{"type":"array","items":{"type":"object","properties":{"jobId":{"type":"string","description":"The identifier of the job"},"jobStatus":{"type":"string","description":"Indicates the job status","maxLength":2},"verificationJobId":{"type":"string","description":"Same as jobID, but functionally it does the verififcation as to whether a job is completed before the jobID is executed","maxLength":50},"jobFrequency":{"type":"string","description":"Defines the frequency at which the job is processed next.","maxLength":50}}}},"serviceId":{"type":"string","description":"This indicates the id of the TSA.SERVICE","maxLength":50},"serviceControl":{"type":"string","description":"Indicates whether service is in START,STOP,AUTO"},"processStatus":{"type":"string","description":"Indicates whether process is started or finished","maxLength":2},"jobLastStartedAt":{"type":"string","description":""},"jobLastStoppedAt":{"type":"string","description":""}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}},"systemServiceStatusResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/systemServiceStatusResponseBody"}},"description":"systemServiceStatusResponse"},"systemServiceStatusResponseBody":{"type":"array","items":{"type":"object","properties":{"serviceId":{"type":"string","description":"This indicates the id of the TSA.SERVICE","maxLength":30},"agentId":{"type":"string","description":"Indicates the agent ID","maxLength":10},"serverName":{"type":"string","description":"Hostname of the Server on which the service will run","maxLength":35},"agentStatus":{"type":"string","description":"The status of the agent","maxLength":35},"portId":{"type":"string","description":"The port in which agent is running","maxLength":12},"sessionNo":{"type":"number","description":"The session number in which agent is running"},"lastContactTime":{"type":"string","format":"date-time","description":"Last contact time of agent"}}}},"systemWorkLoadProfilesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/systemWorkLoadProfilesResponseBody"}},"description":"systemWorkLoadProfilesResponse"},"systemWorkLoadProfilesResponseBody":{"type":"array","items":{"type":"object","properties":{"group":{"type":"array","items":{"type":"object","properties":{"agentsRequired":{"type":"number","description":"Indicates the number of agents required"},"workLoadProfileTime":{"type":"string","format":"date-time","description":"Indicates the work load profile time"}}}},"workloadProfileId":{"type":"string","description":"Indicates the TSA.WORKLOAD profile Id","maxLength":30}}}},"systemCompanyCloseBusinessStatusResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/systemCompanyCloseBusinessStatusResponseBody"}},"description":"systemCompanyCloseBusinessStatusResponse"},"systemCompanyCloseBusinessStatusResponseBody":{"type":"array","items":{"type":"object","properties":{"cobDate":{"type":"string","format":"date","description":"Indicates date on which cob run"},"companyId":{"type":"string","description":"The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001","maxLength":3},"detailKey":{"type":"string","description":"Indicates the detail key","maxLength":30},"dateTime":{"type":"string","format":"date-time","description":""},"errorMessage":{"type":"string","description":"Indicates the error message","maxLength":30},"applicationId":{"type":"string","description":"The identifier of the application","maxLength":2},"isFixRequired":{"type":"string","description":"Indicates whether fix required","maxLength":3},"dateResolved":{"type":"string","format":"date-time","description":"Indicates date resolved or not"}}}},"systemJobTimesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/systemJobTimesResponseBody"}},"description":"systemJobTimesResponse"},"systemJobTimesResponseBody":{"type":"array","items":{"type":"object","properties":{"group":{"type":"array","items":{"type":"object","properties":{"controlList":{"type":"string","description":"Indicates Control List","maxLength":70},"processedJob":{"type":"string","description":"Indicates processed Jobs","maxLength":70},"completed":{"type":"string","description":"Indicates whether completed or not","maxLength":70}}}},"serviceId":{"type":"string","description":"This indicates the id of the TSA.SERVICE","maxLength":70},"startTime":{"type":"string","format":"date-time","description":"Indicates start time"},"endTime":{"type":"string","format":"date-time","description":"Indicates end time"},"throughPut":{"type":"string","description":"Indicates throughtput of job","maxLength":70},"lastTime":{"type":"string","format":"date-time","description":"Indicates last time"}}}},"systemReportTimesResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/systemReportTimesResponseBody"}},"description":"systemReportTimesResponse"},"systemReportTimesResponseBody":{"type":"array","items":{"type":"object","properties":{"group":{"type":"array","items":{"type":"object","properties":{"batchDate":{"type":"string","format":"date-time","description":"Indicates batch date"},"sessionNo":{"type":"number","description":"The session number in which agent is running"},"startTime":{"type":"string","format":"date-time","description":"Indicates start time"},"endTime":{"type":"string","format":"date-time","description":"Indicates end time"},"elapsedTime":{"type":"string","format":"date-time","description":"Indicates elapsed time"}}}},"processReport":{"type":"string","description":"Indicates report times id","maxLength":70}}}}}}