{"swagger":"2.0","info":{"description":"OnlineUpgradeGET","version":"v1.0.0","title":"OnlineUpgrade"},"host":"api.server.com","basePath":"/api/v1.0.0/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/system/upgrades/criticalRecords":{"get":{"operationId":"getOnlineUpgradeCriticalRecord","produces":["application/json"],"parameters":[{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OnlineUpgradeCriticalRecordResponse","schema":{"$ref":"#/definitions/systemOnlineUpgradeCriticalRecordResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/system/upgrades/nonCriticalRecords":{"get":{"operationId":"getOnlineUpgradeNonCriticalRecords","produces":["application/json"],"parameters":[{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OnlineUpgradeNonCriticalRecordsResponse","schema":{"$ref":"#/definitions/systemOnlineUpgradeNonCriticalRecordsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/system/upgrades/restructureFiles":{"get":{"operationId":"getOnlineUpgradeRestructureFIlelist","produces":["application/json"],"parameters":[{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OnlineUpgradeRestructureFIlelistResponse","schema":{"$ref":"#/definitions/systemOnlineUpgradeRestructureFIlelistResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/system/upgrades/feederDrilldowns":{"get":{"operationId":"getOnlineUpgradeFeederDrilldown","produces":["application/json"],"parameters":[{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OnlineUpgradeFeederDrilldownResponse","schema":{"$ref":"#/definitions/systemOnlineUpgradeFeederDrilldownResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/system/upgrades/feederDrilldownChannels":{"get":{"operationId":"getOnlineUpgradeFeederDrilldownChannel","produces":["application/json"],"parameters":[{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OnlineUpgradeFeederDrilldownChannelResponse","schema":{"$ref":"#/definitions/systemOnlineUpgradeFeederDrilldownChannelResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/system/upgrades/jobTimes/primary":{"get":{"operationId":"getOnlineUpgradeJobTimesPrimary","produces":["application/json"],"parameters":[{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OnlineUpgradeJobTimesPrimaryResponse","schema":{"$ref":"#/definitions/systemOnlineUpgradeJobTimesPrimaryResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/system/upgrades/jobTimes/secondary":{"get":{"operationId":"getOnlineUpgradeJobTimesSecondary","produces":["application/json"],"parameters":[{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OnlineUpgradeJobTimesSecondaryResponse","schema":{"$ref":"#/definitions/systemOnlineUpgradeJobTimesSecondaryResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"systemOnlineUpgradeCriticalRecordResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/systemOnlineUpgradeCriticalRecordResponseBody"}},"description":"systemOnlineUpgradeCriticalRecordResponse"},"systemOnlineUpgradeCriticalRecordResponseBody":{"type":"array","items":{"type":"object","properties":{"applicationName":{"type":"string","description":"Application Name","maxLength":70},"recordId":{"type":"string","description":"record Id name for NOFILE enquiry for online upgrade","maxLength":70},"newOrExisting":{"type":"string","description":"new or exisitng record for name for NOFILE enquiry for online upgrade","maxLength":70}}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}},"systemOnlineUpgradeNonCriticalRecordsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/systemOnlineUpgradeNonCriticalRecordsResponseBody"}},"description":"systemOnlineUpgradeNonCriticalRecordsResponse"},"systemOnlineUpgradeNonCriticalRecordsResponseBody":{"type":"array","items":{"type":"object","properties":{"applicationName":{"type":"string","description":"Application Name","maxLength":70},"recordId":{"type":"string","description":"record Id name for NOFILE enquiry for online upgrade","maxLength":70},"newOrExisting":{"type":"string","description":"new or exisitng record for name for NOFILE enquiry for online upgrade","maxLength":70}}}},"systemOnlineUpgradeRestructureFIlelistResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/systemOnlineUpgradeRestructureFIlelistResponseBody"}},"description":"systemOnlineUpgradeRestructureFIlelistResponse"},"systemOnlineUpgradeRestructureFIlelistResponseBody":{"type":"array","items":{"type":"object","properties":{"restructureRecordsRel":{"type":"string","description":"restructure information for NOFILE enquiry for online upgrade","maxLength":70},"release":{"type":"string","description":"Release information for NOFILE enquiry for online upgrade","maxLength":70},"typeOfRestructure":{"type":"string","description":"Type of restructure information for NOFILE enquiry for online upgrade"}}}},"systemOnlineUpgradeFeederDrilldownResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/systemOnlineUpgradeFeederDrilldownResponseBody"}},"description":"systemOnlineUpgradeFeederDrilldownResponse"},"systemOnlineUpgradeFeederDrilldownResponseBody":{"type":"array","items":{"type":"object","properties":{"table":{"type":"string","description":"","maxLength":70},"countOfRecords":{"type":"number","description":"Total count of records information for NOFILE enquiry for online upgrade"}}}},"systemOnlineUpgradeFeederDrilldownChannelResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/systemOnlineUpgradeFeederDrilldownChannelResponseBody"}},"description":"systemOnlineUpgradeFeederDrilldownChannelResponse"},"systemOnlineUpgradeFeederDrilldownChannelResponseBody":{"type":"array","items":{"type":"object","properties":{"channel":{"type":"string","description":"","maxLength":70},"channelDescription":{"type":"string","description":"Channel information for NOFILE enquiry for online upgrade","maxLength":70},"countOfRecords":{"type":"string","description":"Total count of records information for NOFILE enquiry for online upgrade","maxLength":70}}}},"systemOnlineUpgradeJobTimesPrimaryResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/systemOnlineUpgradeJobTimesPrimaryResponseBody"}},"description":"systemOnlineUpgradeJobTimesPrimaryResponse"},"systemOnlineUpgradeJobTimesPrimaryResponseBody":{"type":"array","items":{"type":"object","properties":{"startTimeValue":{"type":"string","format":"date-time","description":"start time for primary and secondary upgrade service"},"endTimeValue":{"type":"string","format":"date-time","description":"end time for primary and secondary upgrade service"}}}},"systemOnlineUpgradeJobTimesSecondaryResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/systemOnlineUpgradeJobTimesSecondaryResponseBody"}},"description":"systemOnlineUpgradeJobTimesSecondaryResponse"},"systemOnlineUpgradeJobTimesSecondaryResponseBody":{"type":"array","items":{"type":"object","properties":{"startTimeValue":{"type":"string","format":"date-time","description":"start time for primary and secondary upgrade service"},"endTimeValue":{"type":"string","format":"date-time","description":"end time for primary and secondary upgrade service"}}}}}}