{"swagger":"2.0","info":{"description":"Get Transactions Details","version":"v1.0.0","title":"Transactions APIs"},"host":"api.temenos.com","basePath":"/api/v1.0.0/","schemes":["http","https"],"security":[{"basicAuth":[]}],"paths":{"/transactions":{"get":{"operationId":"getAccountTransactions","parameters":[{"name":"accountId","in":"query","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","required":false,"type":"string"},{"name":"customerId","in":"query","description":"The identifier of the customer","required":false,"type":"string"},{"name":"listType","in":"query","required":false,"type":"string"},{"name":"transactionCount","in":"query","required":false,"type":"string"},{"name":"payType","in":"query","required":false,"type":"string"},{"name":"dateFrom","in":"query","description":"Payment schedule from date","required":false,"type":"string","format":"date"},{"name":"dateTo","in":"query","description":"Payment schedule to date","required":false,"type":"string","format":"date"},{"name":"minimumAmount","in":"query","required":false,"type":"string"},{"name":"maximumAmount","in":"query","required":false,"type":"string"},{"name":"displayName","in":"query","description":"The name used for display purposes","required":false,"type":"string"},{"name":"transactionCode","in":"query","required":false,"type":"string"},{"name":"statementReference","in":"query","required":false,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"AccountTransactionsResponse","schema":{"$ref":"#/definitions/AccountTransactionsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/transactions/{transactionId}":{"get":{"operationId":"getTransactionDetails","parameters":[{"name":"transactionId","in":"path","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"TransactionDetailsResponse","schema":{"$ref":"#/definitions/TransactionDetailsResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}},"/transactions/{transactionReference}/transactions":{"get":{"operationId":"getStatementForTransaction","parameters":[{"name":"transactionReference","in":"path","required":true,"type":"string"},{"name":"page_size","in":"query","description":"The total number of records per page","required":false,"type":"integer","format":"int32"},{"name":"page_start","in":"query","description":"The record from which the response should be displayed","required":false,"type":"integer","format":"int32"},{"name":"page_token","in":"query","description":"Unique id expected to get as part of response from t24 on every enquiry request.","required":false,"type":"string"},{"name":"credentials","in":"query","required":false,"type":"string"},{"name":"companyId","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"StatementForTransactionResponse","schema":{"$ref":"#/definitions/StatementForTransactionResponse"}},"default":{"description":"QueryErrorResponse","schema":{"$ref":"#/definitions/QueryErrorResponse"}}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"AccountTransactionsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/AccountTransactionsResponseBody"}},"description":"AccountTransactionsResponse"},"AccountTransactionsResponseBody":{"type":"array","items":{"type":"object","properties":{"statementId":{"type":"string","description":""},"bookingDate":{"type":"string","format":"date","description":"The date on which the entry was generated. Normally, but not necessarily, the actual date at the time the entry is generated, e.g. if the previous day's business is still being processed after midnight, the actual date changes, but the run date is still the previous day."},"narrative":{"type":"string","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference"},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"statementAmount":{"type":"number","description":""},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"accountName":{"type":"string","description":"The name of the account that is displayed"},"companyId":{"type":"string","description":"The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001"},"imageDocId":{"type":"string","description":""},"notes":{"type":"string","description":""},"imageId":{"type":"string","description":"The identifier of the image used for advertisement"},"statementBalance":{"type":"number","description":""},"transactionReference":{"type":"string","description":"The transaction reference identifier"}}}},"QueryErrorResponse":{"properties":{"header":{"$ref":"#/definitions/ErrorHeader"},"error":{"$ref":"#/definitions/QueryErrorResponseBody"}},"description":"QueryErrorResponse"},"QueryErrorResponseBody":{"type":"object","properties":{"code":{"type":"string","description":"The identifier of the error message"},"message":{"type":"string","description":"The actual t24 error message"},"type":{"type":"string","description":"The identifier of error type"}}},"QueryHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}},"page_size":{"type":"integer","format":"int32","description":"The total number of records per page"},"page_start":{"type":"integer","format":"int32","description":"The record from which the response should be displayed"},"total_size":{"type":"integer","format":"int32","description":"The total number of records present"},"page_token":{"type":"string","description":"Unique id expected to get as part of response from t24 on every enquiry request"}}},"ErrorHeader":{"properties":{"audit":{"type":"object","properties":{"T24_time":{"type":"integer","format":"int32","description":"Time taken to response by T24"},"versionNumber":{"type":"string","description":"The CURR.NO. of the record"},"parse_time":{"type":"integer","format":"int32","description":"Time taken to parse the response by IRIS"}}}}},"TransactionDetailsResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/TransactionDetailsResponseBody"}},"description":"TransactionDetailsResponse"},"TransactionDetailsResponseBody":{"type":"array","items":{"type":"object","properties":{"debits":{"type":"array","description":"","items":{"type":"object","properties":{"debitCurrencyId":{"type":"string","description":"The identifier of the debit currency"},"debitAmount":{"type":"string","description":""},"debitValueDate":{"type":"string","format":"date","description":"The date on which the Invocation amount will be debited for settlement"},"debitAccountId":{"type":"string","description":"The identifier of the debit account"},"debitAccountIBAN":{"type":"string","description":"IBAN of the debit account"}}}},"credits":{"type":"array","description":"","items":{"type":"object","properties":{"creditCurrencyId":{"type":"string","description":"The identifier of the credit currency"},"creditAmount":{"type":"string","description":"The amount to be credited in a payment transaction"},"creditValueDate":{"type":"string","format":"date","description":"The value date applied to the credit side of a payment"},"creditAccountId":{"type":"string","description":"The identifier of the credit account"},"creditAccountIBAN":{"type":"string","description":"IBAN of the credit account"}}}},"beneficiaries":{"type":"array","description":"","items":{"type":"object","properties":{"beneficiaryIBAN":{"type":"string","description":"The IBAN of the beneficiary's account"},"beneficiaryAccountId":{"type":"string","description":"The identifier of the beneficiary account"},"beneficiaryCustomerId":{"type":"string","description":"The customer identifier where the beneficiary is a customer of the bank"},"beneficiaryBankName":{"type":"string","description":""}}}},"statementReference":{"type":"string","description":""},"bookingDate":{"type":"string","format":"date","description":"The date on which the entry was generated. Normally, but not necessarily, the actual date at the time the entry is generated, e.g. if the previous day's business is still being processed after midnight, the actual date changes, but the run date is still the previous day."},"narrative":{"type":"string","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference"},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency."},"exposureDate":{"type":"string","format":"date","description":""},"valueDate":{"type":"string","format":"date","description":"The applicable value date"},"transactionReference":{"type":"string","description":"The transaction reference identifier"},"transactionName":{"type":"string","description":"The name of the transaction"},"baseCurrencyId":{"type":"string","description":""},"chargeType":{"type":"string","description":"The type of charge"},"chargeAmount":{"type":"string","description":"Holds the charge amount equivalent in charge account currency"},"authorisationDate":{"type":"string","format":"date","description":""},"processingDate":{"type":"string","format":"date","description":"The bank date that an accounting movement is applied to the bank GL"},"chequeNumber":{"type":"string","description":"The cheque number. Formed as chequeType.accountId.chequeOrDraftNumber. See chequeId"},"chequeDrawn":{"type":"string","description":""},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId."},"customerRate":{"type":"string","description":"The exchange rate that is actually used to convert an amount from one currency to another in a payment transaction."}}}},"StatementForTransactionResponse":{"properties":{"header":{"$ref":"#/definitions/QueryHeader"},"body":{"$ref":"#/definitions/StatementForTransactionResponseBody"}},"description":"StatementForTransactionResponse"},"StatementForTransactionResponseBody":{"type":"array","items":{"type":"object","properties":{"images":{"type":"array","description":"","items":{"type":"object","properties":{"imageDocId":{"type":"string","description":"","maxLength":11},"imageId":{"type":"string","description":"The identifier of the image used for advertisement","maxLength":11},"imageType":{"type":"string","description":"Identifies the type of image to be stored and its location. Typical usage would be to segregate images by criteria such as PASSPORTS, PHOTOGRAPHS, SIGNATURES and DOCUMENTS. Image types can be used to assist selection of records in Enquiries as well as the physical distribution of files.Must be a valid record on IM.IMAGE.TYPE.","maxLength":11}}}},"statementId":{"type":"string","description":"","maxLength":11},"bookingDate":{"type":"string","format":"date","description":"The date on which the entry was generated. Normally, but not necessarily, the actual date at the time the entry is generated, e.g. if the previous day's business is still being processed after midnight, the actual date changes, but the run date is still the previous day."},"narrative":{"type":"string","description":"The additional text printed on descriptive statements in addition to the standard narrative and/or reference","maxLength":11},"statementAmount":{"type":"number","description":""},"currencyId":{"type":"string","description":"The identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.","maxLength":11},"accountId":{"type":"string","description":"The identifier of the account. Often referred to as the account number, yet for consistency this is always referred to as accountId.","maxLength":11},"accountName":{"type":"string","description":"The name of the account that is displayed","maxLength":11},"companyId":{"type":"string","description":"The identifier of the company, following the format CCGGGLLLL, where: CC is the country code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be a valid countryCode, Company Group Code must be 3 numeric characters in the range 001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters in the range 0001-9999, e.g. GB0010001","maxLength":11},"notes":{"type":"string","description":"","maxLength":11},"transactionId":{"type":"string","description":"The unique transaction identifier","maxLength":11}}}}}}